In [1]:
import pandas as pd

weather_train_time_path='C:/Users/44093454/OneDrive - Macquarie University/Thesis preparation/2nd model/weather_train_time.csv'
weather_train_time=pd.read_csv(weather_train_time_path)

In [2]:
weather_train_time.head()

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
0,0,2016-01-01 00:00:00,25.0,6.0,20.0,NaN,1019.7,0.0,0.0,1,1,2016
1,0,2016-01-01 01:00:00,24.4,NaN,21.1,-1.0,1020.2,70.0,1.5,1,1,2016
2,0,2016-01-01 02:00:00,22.8,2.0,21.1,0.0,1020.2,0.0,0.0,1,1,2016
3,0,2016-01-01 03:00:00,21.1,2.0,20.6,0.0,1020.1,0.0,0.0,1,1,2016
4,0,2016-01-01 04:00:00,20.0,2.0,20.0,-1.0,1020.0,250.0,2.6,1,1,2016

In [3]:
weather_train_time.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,139773.000000,139718.000000,70600.000000,139660.000000,89484.000000,129155.000000,133505.000000,139469.000000,139773.000000,139773.000000,139773.0
mean,7.478977,14.418106,2.149306,7.350158,0.983047,1016.158038,180.526632,3.560527,6.523871,15.771043,2016.0
std,4.604744,10.626595,2.599150,9.790235,8.463678,7.629684,111.523629,2.335874,3.447111,8.809815,0.0
min,0.000000,-28.900000,0.000000,-35.000000,-1.000000,968.200000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,3.000000,7.200000,0.000000,0.600000,0.000000,1011.800000,80.000000,2.100000,4.000000,8.000000,2016.0
50%,7.000000,15.000000,2.000000,8.300000,0.000000,1016.400000,190.000000,3.100000,7.000000,16.000000,2016.0
75%,11.000000,22.200000,4.000000,14.400000,0.000000,1020.800000,280.000000,5.000000,10.000000,23.000000,2016.0
max,15.000000,47.200000,9.000000,26.100000,343.000000,1045.500000,360.000000,19.000000,12.000000,31.000000,2016.0

In [4]:
total=weather_train_time.isnull().sum().sort_values(ascending=False)
percent=(weather_train_time.isnull().sum()/weather_train_time.isnull().count()).sort_values(ascending=False)
missing_data=pd.concat([total,percent],axis=1,keys=['total','percent'])
missing_data.head(20)

                    total   percent
cloud_coverage      69173  0.494895
precip_depth_1_hr   50289  0.359791
sea_level_pressure  10618  0.075966
wind_direction       6268  0.044844
wind_speed            304  0.002175
dew_temperature       113  0.000808
air_temperature        55  0.000393
year                    0  0.000000
Day_date                0  0.000000
Month                   0  0.000000
timestamp               0  0.000000
site_id                 0  0.000000

# air_temperature site_id=0

In [5]:
weather_air_temp0=weather_train_time[weather_train_time['site_id']==0]

In [6]:
weather_air_temp0.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8784.0,8781.000000,4954.00000,8781.000000,8783.000000,8699.000000,8534.000000,8784.000000,8784.000000,8784.000000,8784.0
mean,0.0,22.836021,3.04461,16.817880,1.382557,1017.988378,156.494024,3.375114,6.513661,15.756831,2016.0
std,0.0,6.037417,2.11878,6.519374,12.956933,4.036187,118.344523,2.154266,3.451430,8.812031,0.0
min,0.0,1.700000,0.00000,-9.400000,-1.000000,992.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,0.0,18.900000,2.00000,13.300000,0.000000,1015.500000,60.000000,2.100000,4.000000,8.000000,2016.0
50%,0.0,23.900000,2.00000,18.300000,0.000000,1018.000000,140.000000,3.100000,7.000000,16.000000,2016.0
75%,0.0,26.700000,4.00000,22.200000,0.000000,1020.600000,260.000000,4.600000,10.000000,23.000000,2016.0
max,0.0,36.100000,9.00000,25.600000,343.000000,1030.200000,360.000000,15.400000,12.000000,31.000000,2016.0

In [7]:
weather_air_temp0_mean=weather_air_temp0['air_temperature'].mean()
weather_air_temp0['air_temperature'].fillna(weather_air_temp0_mean,inplace=True)

C:\Users\44093454\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [8]:
weather_air_temp0_mean

22.836020954333176

In [9]:
weather_air_temp0.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8784.0,8784.000000,4954.00000,8781.000000,8783.000000,8699.000000,8534.000000,8784.000000,8784.000000,8784.000000,8784.0
mean,0.0,22.836021,3.04461,16.817880,1.382557,1017.988378,156.494024,3.375114,6.513661,15.756831,2016.0
std,0.0,6.036386,2.11878,6.519374,12.956933,4.036187,118.344523,2.154266,3.451430,8.812031,0.0
min,0.0,1.700000,0.00000,-9.400000,-1.000000,992.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,0.0,18.900000,2.00000,13.300000,0.000000,1015.500000,60.000000,2.100000,4.000000,8.000000,2016.0
50%,0.0,23.900000,2.00000,18.300000,0.000000,1018.000000,140.000000,3.100000,7.000000,16.000000,2016.0
75%,0.0,26.700000,4.00000,22.200000,0.000000,1020.600000,260.000000,4.600000,10.000000,23.000000,2016.0
max,0.0,36.100000,9.00000,25.600000,343.000000,1030.200000,360.000000,15.400000,12.000000,31.000000,2016.0

# air_temperature site_id=1

In [10]:
weather_air_temp1=weather_train_time[weather_train_time['site_id']==1]

In [11]:
weather_air_temp1.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8763.0,8762.000000,1701.000000,8762.000000,0.0,8711.000000,8760.000000,8763.000000,8763.000000,8763.000000,8763.0
mean,1.0,11.711801,0.084656,7.646473,NaN,1015.989795,195.584475,3.967043,6.519799,15.748716,2016.0
std,0.0,6.139000,0.869012,5.216089,NaN,10.746261,98.418020,2.211536,3.449630,8.818108,0.0
min,1.0,-3.900000,0.000000,-8.900000,NaN,973.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,1.0,7.000000,0.000000,3.500000,NaN,1009.700000,120.000000,2.600000,4.000000,8.000000,2016.0
50%,1.0,11.300000,0.000000,7.800000,NaN,1017.600000,220.000000,3.600000,7.000000,16.000000,2016.0
75%,1.0,16.200000,0.000000,11.700000,NaN,1023.000000,270.000000,5.100000,10.000000,23.000000,2016.0
max,1.0,32.900000,9.000000,20.700000,NaN,1045.500000,360.000000,18.500000,12.000000,31.000000,2016.0

In [12]:
weather_air_temp1_mean=weather_air_temp1['air_temperature'].mean()
weather_air_temp1['air_temperature'].fillna(weather_air_temp1_mean,inplace=True)

In [13]:
weather_air_temp1_mean

11.711800958685233

In [14]:
weather_air_temp1.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8763.0,8763.000000,1701.000000,8762.000000,0.0,8711.000000,8760.000000,8763.000000,8763.000000,8763.000000,8763.0
mean,1.0,11.711801,0.084656,7.646473,NaN,1015.989795,195.584475,3.967043,6.519799,15.748716,2016.0
std,0.0,6.138649,0.869012,5.216089,NaN,10.746261,98.418020,2.211536,3.449630,8.818108,0.0
min,1.0,-3.900000,0.000000,-8.900000,NaN,973.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,1.0,7.000000,0.000000,3.500000,NaN,1009.700000,120.000000,2.600000,4.000000,8.000000,2016.0
50%,1.0,11.300000,0.000000,7.800000,NaN,1017.600000,220.000000,3.600000,7.000000,16.000000,2016.0
75%,1.0,16.200000,0.000000,11.700000,NaN,1023.000000,270.000000,5.100000,10.000000,23.000000,2016.0
max,1.0,32.900000,9.000000,20.700000,NaN,1045.500000,360.000000,18.500000,12.000000,31.000000,2016.0

# air_temperature site_id=2

In [15]:
weather_air_temp2=weather_train_time[weather_train_time['site_id']==2]

In [16]:
weather_air_temp2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8782.000000,6429.000000,8782.000000,8717.000000,8739.000000,8192.000000,8778.000000,8783.000000,8783.000000,8783.0
mean,2.0,24.940321,1.958469,4.069506,0.157738,1011.679311,152.777100,2.932764,6.513037,15.757144,2016.0
std,0.0,9.119835,1.914228,7.619125,2.857446,4.934105,104.020345,1.963932,3.451130,8.812484,0.0
min,2.0,2.200000,0.000000,-17.200000,-1.000000,999.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,2.0,17.800000,0.000000,-1.700000,0.000000,1008.300000,80.000000,1.500000,4.000000,8.000000,2016.0
50%,2.0,25.600000,2.000000,3.300000,0.000000,1011.000000,120.000000,2.600000,7.000000,16.000000,2016.0
75%,2.0,32.200000,4.000000,10.000000,0.000000,1014.700000,250.000000,4.100000,10.000000,23.000000,2016.0
max,2.0,47.200000,9.000000,23.300000,132.000000,1028.200000,360.000000,15.400000,12.000000,31.000000,2016.0

In [17]:
weather_air_temp2_mean=weather_air_temp2['air_temperature'].mean()
weather_air_temp2['air_temperature'].fillna(weather_air_temp2_mean,inplace=True)

In [18]:
weather_air_temp2_mean

24.94032111136416

In [19]:
weather_air_temp2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,6429.000000,8782.000000,8717.000000,8739.000000,8192.000000,8778.000000,8783.000000,8783.000000,8783.0
mean,2.0,24.940321,1.958469,4.069506,0.157738,1011.679311,152.777100,2.932764,6.513037,15.757144,2016.0
std,0.0,9.119316,1.914228,7.619125,2.857446,4.934105,104.020345,1.963932,3.451130,8.812484,0.0
min,2.0,2.200000,0.000000,-17.200000,-1.000000,999.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,2.0,17.800000,0.000000,-1.700000,0.000000,1008.300000,80.000000,1.500000,4.000000,8.000000,2016.0
50%,2.0,25.600000,2.000000,3.300000,0.000000,1011.000000,120.000000,2.600000,7.000000,16.000000,2016.0
75%,2.0,32.200000,4.000000,10.000000,0.000000,1014.700000,250.000000,4.100000,10.000000,23.000000,2016.0
max,2.0,47.200000,9.000000,23.300000,132.000000,1028.200000,360.000000,15.400000,12.000000,31.000000,2016.0

# air_temperature site_id=3

In [20]:
weather_air_temp3=weather_train_time[weather_train_time['site_id']==3]

In [21]:
weather_air_temp3.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8780.0,8776.000000,5138.000000,8774.000000,8743.000000,8622.000000,8627.000000,8776.000000,8780.000000,8780.000000,8780.0
mean,3.0,15.520579,3.879136,8.126214,0.691868,1017.938692,185.063174,3.910893,6.512870,15.760251,2016.0
std,0.0,10.061688,2.733435,10.688443,5.575544,6.931980,111.054554,2.282695,3.451708,8.812344,0.0
min,3.0,-10.600000,0.000000,-22.800000,-1.000000,991.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,3.0,7.800000,2.000000,0.000000,0.000000,1013.600000,80.000000,2.600000,4.000000,8.000000,2016.0
50%,3.0,15.600000,4.000000,9.400000,0.000000,1018.000000,190.000000,3.600000,7.000000,16.000000,2016.0
75%,3.0,23.900000,6.000000,17.800000,0.000000,1022.200000,290.000000,5.100000,10.000000,23.000000,2016.0
max,3.0,37.800000,9.000000,26.100000,198.000000,1040.900000,360.000000,17.000000,12.000000,31.000000,2016.0

In [22]:
weather_air_temp3_mean=weather_air_temp3['air_temperature'].mean()
weather_air_temp3['air_temperature'].fillna(weather_air_temp3_mean,inplace=True)

In [23]:
weather_air_temp3_mean

15.520578851412871

In [24]:
weather_air_temp3.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8780.0,8780.000000,5138.000000,8774.000000,8743.000000,8622.000000,8627.000000,8776.000000,8780.000000,8780.000000,8780.0
mean,3.0,15.520579,3.879136,8.126214,0.691868,1017.938692,185.063174,3.910893,6.512870,15.760251,2016.0
std,0.0,10.059395,2.733435,10.688443,5.575544,6.931980,111.054554,2.282695,3.451708,8.812344,0.0
min,3.0,-10.600000,0.000000,-22.800000,-1.000000,991.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,3.0,7.800000,2.000000,0.000000,0.000000,1013.600000,80.000000,2.600000,4.000000,8.000000,2016.0
50%,3.0,15.600000,4.000000,9.400000,0.000000,1018.000000,190.000000,3.600000,7.000000,16.000000,2016.0
75%,3.0,23.900000,6.000000,17.800000,0.000000,1022.200000,290.000000,5.100000,10.000000,23.000000,2016.0
max,3.0,37.800000,9.000000,26.100000,198.000000,1040.900000,360.000000,17.000000,12.000000,31.000000,2016.0

# air_temperature site_id=4

In [25]:
weather_air_temp4=weather_train_time[weather_train_time['site_id']==4]

In [26]:
weather_air_temp4.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,4553.000000,8781.000000,7466.000000,8710.000000,8678.000000,8783.000000,8783.000000,8783.000000,8783.0
mean,4.0,15.236366,1.867999,9.894750,0.248594,1016.887750,207.864715,3.858226,6.514289,15.758511,2016.0
std,0.0,4.014637,1.360669,3.529137,3.335185,4.519844,109.723916,2.536447,3.451125,8.811126,0.0
min,4.0,1.100000,0.000000,-9.400000,-1.000000,999.800000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,4.0,12.800000,0.000000,8.300000,0.000000,1013.600000,130.000000,2.100000,4.000000,8.000000,2016.0
50%,4.0,15.000000,2.000000,10.600000,0.000000,1016.600000,260.000000,3.600000,7.000000,16.000000,2016.0
75%,4.0,17.800000,2.000000,12.200000,0.000000,1019.800000,290.000000,5.700000,10.000000,23.000000,2016.0
max,4.0,35.000000,9.000000,18.300000,124.000000,1031.700000,360.000000,16.500000,12.000000,31.000000,2016.0

# air_temperature site_id=5

In [27]:
weather_air_temp5=weather_train_time[weather_train_time['site_id']==5]

In [28]:
weather_air_temp5.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8755.0,8753.000000,2725.000000,8753.000000,0.0,0.0,8460.000000,8752.000000,8755.000000,8755.000000,8755.0
mean,5.0,10.867931,0.290642,8.194676,NaN,NaN,200.053191,4.768087,6.523587,15.747230,2016.0
std,0.0,5.091477,1.591300,4.968643,NaN,NaN,100.094220,2.340060,3.448831,8.818296,0.0
min,5.0,-3.000000,0.000000,-6.000000,NaN,NaN,0.000000,0.000000,1.000000,1.000000,2016.0
25%,5.0,7.000000,0.000000,4.000000,NaN,NaN,100.000000,3.100000,4.000000,8.000000,2016.0
50%,5.0,11.000000,0.000000,8.000000,NaN,NaN,240.000000,4.600000,7.000000,16.000000,2016.0
75%,5.0,15.000000,0.000000,12.000000,NaN,NaN,280.000000,6.200000,10.000000,23.000000,2016.0
max,5.0,30.000000,9.000000,19.000000,NaN,NaN,360.000000,18.500000,12.000000,31.000000,2016.0

In [29]:
weather_air_temp5_mean=weather_air_temp5['air_temperature'].mean()
weather_air_temp5['air_temperature'].fillna(weather_air_temp5_mean,inplace=True)

In [30]:
weather_air_temp5_mean

10.867930995087399

In [31]:
weather_air_temp5.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8755.0,8755.000000,2725.000000,8753.000000,0.0,0.0,8460.000000,8752.000000,8755.000000,8755.000000,8755.0
mean,5.0,10.867931,0.290642,8.194676,NaN,NaN,200.053191,4.768087,6.523587,15.747230,2016.0
std,0.0,5.090896,1.591300,4.968643,NaN,NaN,100.094220,2.340060,3.448831,8.818296,0.0
min,5.0,-3.000000,0.000000,-6.000000,NaN,NaN,0.000000,0.000000,1.000000,1.000000,2016.0
25%,5.0,7.000000,0.000000,4.000000,NaN,NaN,100.000000,3.100000,4.000000,8.000000,2016.0
50%,5.0,11.000000,0.000000,8.000000,NaN,NaN,240.000000,4.600000,7.000000,16.000000,2016.0
75%,5.0,15.000000,0.000000,12.000000,NaN,NaN,280.000000,6.200000,10.000000,23.000000,2016.0
max,5.0,30.000000,9.000000,19.000000,NaN,NaN,360.000000,18.500000,12.000000,31.000000,2016.0

# air_temperature site_id=6

In [32]:
weather_air_temp6=weather_train_time[weather_train_time['site_id']==6]

In [33]:
weather_air_temp6.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8782.0,8772.000000,5790.000000,8772.000000,8782.000000,8607.000000,8003.000000,8743.000000,8782.000000,8782.000000,8782.0
mean,6.0,15.141678,0.647668,7.320691,0.797768,1017.527954,131.618143,2.197758,6.514006,15.757345,2016.0
std,0.0,9.941153,1.628221,11.108064,6.368168,6.646051,120.664838,1.875501,3.451220,8.810950,0.0
min,6.0,-13.300000,0.000000,-23.300000,-1.000000,991.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,6.0,7.200000,0.000000,-1.100000,0.000000,1013.550000,0.000000,0.000000,4.000000,8.000000,2016.0
50%,6.0,16.100000,0.000000,9.400000,0.000000,1017.500000,150.000000,2.100000,7.000000,16.000000,2016.0
75%,6.0,22.800000,0.000000,17.200000,0.000000,1021.600000,210.000000,3.100000,10.000000,23.000000,2016.0
max,6.0,37.200000,9.000000,24.400000,198.000000,1039.800000,360.000000,11.300000,12.000000,31.000000,2016.0

In [34]:
weather_air_temp6_mean=weather_air_temp6['air_temperature'].mean()
weather_air_temp6['air_temperature'].fillna(weather_air_temp6_mean,inplace=True)

In [35]:
weather_air_temp6_mean

15.141678066575404

In [36]:
weather_air_temp6.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8782.0,8782.000000,5790.000000,8772.000000,8782.000000,8607.000000,8003.000000,8743.000000,8782.000000,8782.000000,8782.0
mean,6.0,15.141678,0.647668,7.320691,0.797768,1017.527954,131.618143,2.197758,6.514006,15.757345,2016.0
std,0.0,9.935490,1.628221,11.108064,6.368168,6.646051,120.664838,1.875501,3.451220,8.810950,0.0
min,6.0,-13.300000,0.000000,-23.300000,-1.000000,991.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,6.0,7.200000,0.000000,-1.100000,0.000000,1013.550000,0.000000,0.000000,4.000000,8.000000,2016.0
50%,6.0,16.100000,0.000000,9.400000,0.000000,1017.500000,150.000000,2.100000,7.000000,16.000000,2016.0
75%,6.0,22.800000,0.000000,17.200000,0.000000,1021.600000,210.000000,3.100000,10.000000,23.000000,2016.0
max,6.0,37.200000,9.000000,24.400000,198.000000,1039.800000,360.000000,11.300000,12.000000,31.000000,2016.0

# air_temperature site_id=7

In [37]:
weather_air_temp7=weather_train_time[weather_train_time['site_id']==7]

In [38]:
weather_air_temp7.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8614.0,8614.000000,0.0,8591.000000,731.000000,8606.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.0
mean,7.0,7.888867,NaN,1.905913,11.350205,1015.252010,208.931739,3.445565,6.561412,15.837938,2016.0
std,0.0,12.218509,NaN,10.773200,21.274216,8.446564,103.375537,1.995291,3.422306,8.793355,0.0
min,7.0,-28.800000,NaN,-35.000000,2.000000,983.600000,10.000000,0.000000,1.000000,1.000000,2016.0
25%,7.0,-0.900000,NaN,-5.500000,2.000000,1010.000000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,7.0,7.700000,NaN,2.500000,5.000000,1015.200000,230.000000,3.100000,7.000000,16.000000,2016.0
75%,7.0,18.200000,NaN,10.750000,11.500000,1020.900000,290.000000,4.600000,10.000000,23.000000,2016.0
max,7.0,33.900000,NaN,22.900000,262.000000,1043.800000,360.000000,12.800000,12.000000,31.000000,2016.0

# air_temperature site_id=8

In [39]:
weather_air_temp8=weather_train_time[weather_train_time['site_id']==8]

In [40]:
weather_air_temp8.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8784.0,8781.000000,4954.00000,8781.000000,8783.000000,8699.000000,8534.000000,8784.000000,8784.000000,8784.000000,8784.0
mean,8.0,22.836021,3.04461,16.817880,1.382557,1017.988378,156.494024,3.375114,6.513661,15.756831,2016.0
std,0.0,6.037417,2.11878,6.519374,12.956933,4.036187,118.344523,2.154266,3.451430,8.812031,0.0
min,8.0,1.700000,0.00000,-9.400000,-1.000000,992.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,8.0,18.900000,2.00000,13.300000,0.000000,1015.500000,60.000000,2.100000,4.000000,8.000000,2016.0
50%,8.0,23.900000,2.00000,18.300000,0.000000,1018.000000,140.000000,3.100000,7.000000,16.000000,2016.0
75%,8.0,26.700000,4.00000,22.200000,0.000000,1020.600000,260.000000,4.600000,10.000000,23.000000,2016.0
max,8.0,36.100000,9.00000,25.600000,343.000000,1030.200000,360.000000,15.400000,12.000000,31.000000,2016.0

In [41]:
weather_air_temp8_mean=weather_air_temp8['air_temperature'].mean()
weather_air_temp8['air_temperature'].fillna(weather_air_temp8_mean,inplace=True)

In [42]:
weather_air_temp8_mean

22.836020954333176

In [43]:
weather_air_temp8.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8784.0,8784.000000,4954.00000,8781.000000,8783.000000,8699.000000,8534.000000,8784.000000,8784.000000,8784.000000,8784.0
mean,8.0,22.836021,3.04461,16.817880,1.382557,1017.988378,156.494024,3.375114,6.513661,15.756831,2016.0
std,0.0,6.036386,2.11878,6.519374,12.956933,4.036187,118.344523,2.154266,3.451430,8.812031,0.0
min,8.0,1.700000,0.00000,-9.400000,-1.000000,992.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,8.0,18.900000,2.00000,13.300000,0.000000,1015.500000,60.000000,2.100000,4.000000,8.000000,2016.0
50%,8.0,23.900000,2.00000,18.300000,0.000000,1018.000000,140.000000,3.100000,7.000000,16.000000,2016.0
75%,8.0,26.700000,4.00000,22.200000,0.000000,1020.600000,260.000000,4.600000,10.000000,23.000000,2016.0
max,8.0,36.100000,9.00000,25.600000,343.000000,1030.200000,360.000000,15.400000,12.000000,31.000000,2016.0

# air_temperature site_id=9

In [44]:
weather_air_temp9=weather_train_time[weather_train_time['site_id']==9]

In [45]:
weather_air_temp9.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8780.0,8775.000000,5322.000000,8773.000000,8773.000000,8541.000000,6222.000000,8683.000000,8780.000000,8780.000000,8780.0
mean,9.0,21.367499,0.610673,14.613302,0.755158,1016.625114,116.648987,2.083658,6.514009,15.756264,2016.0
std,0.0,7.986912,1.337819,8.502967,7.274596,6.065054,117.050797,1.519628,3.451143,8.811064,0.0
min,9.0,-5.000000,0.000000,-13.300000,-1.000000,999.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,9.0,16.100000,0.000000,8.900000,0.000000,1012.800000,0.000000,1.500000,4.000000,8.000000,2016.0
50%,9.0,22.200000,0.000000,17.200000,0.000000,1015.800000,120.000000,2.100000,7.000000,16.000000,2016.0
75%,9.0,26.700000,0.000000,21.700000,0.000000,1020.000000,180.000000,3.100000,10.000000,23.000000,2016.0
max,9.0,39.400000,9.000000,26.100000,203.000000,1041.600000,360.000000,9.300000,12.000000,31.000000,2016.0

In [46]:
weather_air_temp9_mean=weather_air_temp9['air_temperature'].mean()
weather_air_temp9['air_temperature'].fillna(weather_air_temp9_mean,inplace=True)

In [47]:
weather_air_temp9_mean

21.36749857549873

In [48]:
weather_air_temp9.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8780.0,8780.000000,5322.000000,8773.000000,8773.000000,8541.000000,6222.000000,8683.000000,8780.000000,8780.000000,8780.0
mean,9.0,21.367499,0.610673,14.613302,0.755158,1016.625114,116.648987,2.083658,6.514009,15.756264,2016.0
std,0.0,7.984637,1.337819,8.502967,7.274596,6.065054,117.050797,1.519628,3.451143,8.811064,0.0
min,9.0,-5.000000,0.000000,-13.300000,-1.000000,999.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,9.0,16.100000,0.000000,8.900000,0.000000,1012.800000,0.000000,1.500000,4.000000,8.000000,2016.0
50%,9.0,22.200000,0.000000,17.200000,0.000000,1015.800000,120.000000,2.100000,7.000000,16.000000,2016.0
75%,9.0,26.700000,0.000000,21.700000,0.000000,1020.000000,180.000000,3.100000,10.000000,23.000000,2016.0
max,9.0,39.400000,9.000000,26.100000,203.000000,1041.600000,360.000000,9.300000,12.000000,31.000000,2016.0

# air_temperature site_id=10

In [49]:
weather_air_temp10=weather_train_time[weather_train_time['site_id']==10]

In [50]:
weather_air_temp10.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8782.0,8758.000000,6332.00000,8755.000000,8755.000000,8641.000000,8248.000000,8678.000000,8782.000000,8782.000000,8782.0
mean,10.0,11.644679,0.37650,0.082273,0.457453,1015.668788,179.879971,3.158677,6.513664,15.757458,2016.0
std,0.0,11.156459,1.33104,5.582579,3.361151,8.363580,101.919364,2.035429,3.450825,8.811075,0.0
min,10.0,-16.700000,0.00000,-20.000000,-1.000000,990.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,10.0,2.800000,0.00000,-3.300000,0.000000,1009.900000,150.000000,2.100000,4.000000,8.000000,2016.0
50%,10.0,11.700000,0.00000,0.600000,0.000000,1014.400000,170.000000,3.100000,7.000000,16.000000,2016.0
75%,10.0,20.000000,0.00000,3.900000,0.000000,1020.700000,260.000000,4.100000,10.000000,23.000000,2016.0
max,10.0,37.200000,9.00000,15.000000,79.000000,1042.600000,360.000000,16.500000,12.000000,31.000000,2016.0

In [51]:
weather_air_temp10_mean=weather_air_temp10['air_temperature'].mean()
weather_air_temp10['air_temperature'].fillna(weather_air_temp10_mean,inplace=True)

In [52]:
weather_air_temp10_mean

11.644679150491024

In [53]:
weather_air_temp10.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8782.0,8782.000000,6332.00000,8755.000000,8755.000000,8641.000000,8248.000000,8678.000000,8782.000000,8782.000000,8782.0
mean,10.0,11.644679,0.37650,0.082273,0.457453,1015.668788,179.879971,3.158677,6.513664,15.757458,2016.0
std,0.0,11.141203,1.33104,5.582579,3.361151,8.363580,101.919364,2.035429,3.450825,8.811075,0.0
min,10.0,-16.700000,0.00000,-20.000000,-1.000000,990.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,10.0,2.800000,0.00000,-3.300000,0.000000,1009.900000,150.000000,2.100000,4.000000,8.000000,2016.0
50%,10.0,11.700000,0.00000,0.600000,0.000000,1014.400000,170.000000,3.100000,7.000000,16.000000,2016.0
75%,10.0,20.000000,0.00000,3.900000,0.000000,1020.700000,260.000000,4.100000,10.000000,23.000000,2016.0
max,10.0,37.200000,9.00000,15.000000,79.000000,1042.600000,360.000000,16.500000,12.000000,31.000000,2016.0

# air_temperature site_id=11

In [54]:
weather_air_temp11=weather_train_time[weather_train_time['site_id']==11]

In [55]:
weather_air_temp11.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8614.0,8614.000000,0.0,8591.000000,731.000000,8606.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.0
mean,11.0,7.888867,NaN,1.905913,11.350205,1015.252010,208.931739,3.445565,6.561412,15.837938,2016.0
std,0.0,12.218509,NaN,10.773200,21.274216,8.446564,103.375537,1.995291,3.422306,8.793355,0.0
min,11.0,-28.800000,NaN,-35.000000,2.000000,983.600000,10.000000,0.000000,1.000000,1.000000,2016.0
25%,11.0,-0.900000,NaN,-5.500000,2.000000,1010.000000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,11.0,7.700000,NaN,2.500000,5.000000,1015.200000,230.000000,3.100000,7.000000,16.000000,2016.0
75%,11.0,18.200000,NaN,10.750000,11.500000,1020.900000,290.000000,4.600000,10.000000,23.000000,2016.0
max,11.0,33.900000,NaN,22.900000,262.000000,1043.800000,360.000000,12.800000,12.000000,31.000000,2016.0

# air_temperature site_id=12

In [56]:
weather_air_temp12=weather_train_time[weather_train_time['site_id']==12]

In [57]:
weather_air_temp12.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8755.0,8755.000000,8696.000000,8755.000000,0.0,8699.000000,8754.000000,8755.000000,8755.000000,8755.000000,8755.0
mean,12.0,9.843232,5.723091,6.519966,NaN,1014.425474,202.774732,5.511399,6.521645,15.743232,2016.0
std,0.0,5.157759,2.242288,4.615672,NaN,11.527693,86.639340,2.733220,3.449572,8.819781,0.0
min,12.0,-4.800000,0.000000,-5.300000,NaN,968.200000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,12.0,6.000000,4.000000,2.700000,NaN,1007.700000,140.000000,4.000000,4.000000,8.000000,2016.0
50%,12.0,9.800000,7.000000,6.700000,NaN,1015.800000,230.000000,5.000000,7.000000,16.000000,2016.0
75%,12.0,13.700000,7.000000,10.100000,NaN,1022.300000,260.000000,7.000000,10.000000,23.000000,2016.0
max,12.0,26.000000,8.000000,18.300000,NaN,1041.900000,360.000000,19.000000,12.000000,31.000000,2016.0

# air_temperature site_id=13

In [58]:
weather_air_temp13=weather_train_time[weather_train_time['site_id']==13]

In [59]:
weather_air_temp13.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8782.000000,4485.000000,8782.000000,8771.000000,8663.000000,8566.000000,8782.000000,8783.000000,8783.000000,8783.0
mean,13.0,9.879617,2.873133,3.401731,0.880515,1015.895371,187.969881,4.197358,6.513037,15.757372,2016.0
std,0.0,12.405877,2.713202,11.385367,7.803157,7.652373,105.086402,2.324516,3.451130,8.812387,0.0
min,13.0,-28.900000,0.000000,-31.700000,-1.000000,981.600000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,13.0,0.600000,0.000000,-3.900000,0.000000,1011.100000,120.000000,2.600000,4.000000,8.000000,2016.0
50%,13.0,11.100000,2.000000,3.900000,0.000000,1015.900000,180.000000,4.100000,7.000000,16.000000,2016.0
75%,13.0,20.000000,4.000000,13.300000,0.000000,1020.900000,280.000000,5.700000,10.000000,23.000000,2016.0
max,13.0,35.600000,9.000000,25.000000,216.000000,1040.200000,360.000000,16.000000,12.000000,31.000000,2016.0

In [60]:
weather_air_temp13_mean=weather_air_temp13['air_temperature'].mean()
weather_air_temp13['air_temperature'].fillna(weather_air_temp13_mean,inplace=True)

In [61]:
weather_air_temp13_mean

9.879617399225754

In [62]:
weather_air_temp13.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,4485.000000,8782.000000,8771.000000,8663.000000,8566.000000,8782.000000,8783.000000,8783.000000,8783.0
mean,13.0,9.879617,2.873133,3.401731,0.880515,1015.895371,187.969881,4.197358,6.513037,15.757372,2016.0
std,0.0,12.405170,2.713202,11.385367,7.803157,7.652373,105.086402,2.324516,3.451130,8.812387,0.0
min,13.0,-28.900000,0.000000,-31.700000,-1.000000,981.600000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,13.0,0.600000,0.000000,-3.900000,0.000000,1011.100000,120.000000,2.600000,4.000000,8.000000,2016.0
50%,13.0,11.100000,2.000000,3.900000,0.000000,1015.900000,180.000000,4.100000,7.000000,16.000000,2016.0
75%,13.0,20.000000,4.000000,13.300000,0.000000,1020.900000,280.000000,5.700000,10.000000,23.000000,2016.0
max,13.0,35.600000,9.000000,25.000000,216.000000,1040.200000,360.000000,16.000000,12.000000,31.000000,2016.0

# air_temperature site_id=14

In [63]:
weather_air_temp14=weather_train_time[weather_train_time['site_id']==14]

In [64]:
weather_air_temp14.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8777.0,8776.000000,5466.000000,8776.000000,8746.000000,8667.000000,8487.000000,8754.000000,8777.000000,8777.000000,8777.0
mean,14.0,13.258409,0.562203,5.775160,0.742740,1016.377985,187.723813,3.076776,6.514641,15.761080,2016.0
std,0.0,10.254210,1.480298,10.606409,5.661837,7.251592,122.693604,2.073463,3.452279,8.813589,0.0
min,14.0,-15.600000,0.000000,-25.600000,-1.000000,989.600000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,14.0,5.000000,0.000000,-2.800000,0.000000,1011.700000,70.000000,1.500000,4.000000,8.000000,2016.0
50%,14.0,13.300000,0.000000,6.100000,0.000000,1016.500000,210.000000,2.600000,7.000000,16.000000,2016.0
75%,14.0,21.700000,0.000000,15.000000,0.000000,1021.000000,300.000000,4.100000,10.000000,23.000000,2016.0
max,14.0,35.600000,9.000000,25.600000,150.000000,1040.300000,360.000000,13.400000,12.000000,31.000000,2016.0

In [65]:
weather_air_temp14_mean=weather_air_temp14['air_temperature'].mean()
weather_air_temp14['air_temperature'].fillna(weather_air_temp14_mean,inplace=True)

In [66]:
weather_air_temp14_mean

13.25840929808574

In [67]:
weather_air_temp14.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8777.0,8777.000000,5466.000000,8776.000000,8746.000000,8667.000000,8487.000000,8754.000000,8777.000000,8777.000000,8777.0
mean,14.0,13.258409,0.562203,5.775160,0.742740,1016.377985,187.723813,3.076776,6.514641,15.761080,2016.0
std,0.0,10.253626,1.480298,10.606409,5.661837,7.251592,122.693604,2.073463,3.452279,8.813589,0.0
min,14.0,-15.600000,0.000000,-25.600000,-1.000000,989.600000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,14.0,5.000000,0.000000,-2.800000,0.000000,1011.700000,70.000000,1.500000,4.000000,8.000000,2016.0
50%,14.0,13.300000,0.000000,6.100000,0.000000,1016.500000,210.000000,2.600000,7.000000,16.000000,2016.0
75%,14.0,21.700000,0.000000,15.000000,0.000000,1021.000000,300.000000,4.100000,10.000000,23.000000,2016.0
max,14.0,35.600000,9.000000,25.600000,150.000000,1040.300000,360.000000,13.400000,12.000000,31.000000,2016.0

# air_temperature site_id=15

In [68]:
weather_air_temp15=weather_train_time[weather_train_time['site_id']==15]

In [69]:
weather_air_temp15.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8454.0,8454.000000,4055.000000,8451.000000,1703.000000,7945.000000,8212.000000,8426.000000,8454.000000,8454.000000,8454.0
mean,15.0,9.357618,1.109988,4.140469,3.495009,1016.980579,186.525816,3.645490,6.559972,15.847764,2016.0
std,0.0,10.846760,1.679775,9.998072,16.366106,7.496048,110.812030,2.457482,3.448856,8.800610,0.0
min,15.0,-23.900000,0.000000,-26.700000,-1.000000,987.400000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,15.0,1.100000,0.000000,-3.600000,-1.000000,1012.300000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,15.0,9.400000,0.000000,4.400000,-1.000000,1017.300000,180.000000,3.100000,7.000000,16.000000,2016.0
75%,15.0,18.300000,2.000000,12.800000,3.000000,1022.000000,300.000000,5.100000,10.000000,23.000000,2016.0
max,15.0,33.900000,9.000000,24.400000,333.000000,1042.200000,360.000000,15.400000,12.000000,31.000000,2016.0

# Merging the above cells to create air_temperature_filled

In [70]:
air_temperature_filled = pd.concat([weather_air_temp0,weather_air_temp1,weather_air_temp2,
                           weather_air_temp3,weather_air_temp4,weather_air_temp5,
                           weather_air_temp6,weather_air_temp7,weather_air_temp8,
                           weather_air_temp9,weather_air_temp10,weather_air_temp11,
                           weather_air_temp12,weather_air_temp13,weather_air_temp14,
                           weather_air_temp15], axis=0)

In [71]:
air_temperature_filled.head()

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
0,0,2016-01-01 00:00:00,25.0,6.0,20.0,NaN,1019.7,0.0,0.0,1,1,2016
1,0,2016-01-01 01:00:00,24.4,NaN,21.1,-1.0,1020.2,70.0,1.5,1,1,2016
2,0,2016-01-01 02:00:00,22.8,2.0,21.1,0.0,1020.2,0.0,0.0,1,1,2016
3,0,2016-01-01 03:00:00,21.1,2.0,20.6,0.0,1020.1,0.0,0.0,1,1,2016
4,0,2016-01-01 04:00:00,20.0,2.0,20.0,-1.0,1020.0,250.0,2.6,1,1,2016

In [72]:
air_temperature_filled.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,139773.000000,139773.000000,70600.000000,139660.000000,89484.000000,129155.000000,133505.000000,139469.000000,139773.000000,139773.000000,139773.0
mean,7.478977,14.418288,2.149306,7.350158,0.983047,1016.158038,180.526632,3.560527,6.523871,15.771043,2016.0
std,4.604744,10.624850,2.599150,9.790235,8.463678,7.629684,111.523629,2.335874,3.447111,8.809815,0.0
min,0.000000,-28.900000,0.000000,-35.000000,-1.000000,968.200000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,3.000000,7.200000,0.000000,0.600000,0.000000,1011.800000,80.000000,2.100000,4.000000,8.000000,2016.0
50%,7.000000,15.000000,2.000000,8.300000,0.000000,1016.400000,190.000000,3.100000,7.000000,16.000000,2016.0
75%,11.000000,22.200000,4.000000,14.400000,0.000000,1020.800000,280.000000,5.000000,10.000000,23.000000,2016.0
max,15.000000,47.200000,9.000000,26.100000,343.000000,1045.500000,360.000000,19.000000,12.000000,31.000000,2016.0

After this take air_temperature_filled and then start filling in missing columns

# cloud_coverage site_id=0

In [73]:
weather_cloud_cov0=air_temperature_filled[air_temperature_filled['site_id']==0]

In [74]:
weather_cloud_cov0.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8784.0,8784.000000,4954.00000,8781.000000,8783.000000,8699.000000,8534.000000,8784.000000,8784.000000,8784.000000,8784.0
mean,0.0,22.836021,3.04461,16.817880,1.382557,1017.988378,156.494024,3.375114,6.513661,15.756831,2016.0
std,0.0,6.036386,2.11878,6.519374,12.956933,4.036187,118.344523,2.154266,3.451430,8.812031,0.0
min,0.0,1.700000,0.00000,-9.400000,-1.000000,992.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,0.0,18.900000,2.00000,13.300000,0.000000,1015.500000,60.000000,2.100000,4.000000,8.000000,2016.0
50%,0.0,23.900000,2.00000,18.300000,0.000000,1018.000000,140.000000,3.100000,7.000000,16.000000,2016.0
75%,0.0,26.700000,4.00000,22.200000,0.000000,1020.600000,260.000000,4.600000,10.000000,23.000000,2016.0
max,0.0,36.100000,9.00000,25.600000,343.000000,1030.200000,360.000000,15.400000,12.000000,31.000000,2016.0

In [75]:
weather_cloud_cov0_mean=weather_cloud_cov0['cloud_coverage'].mean()
weather_cloud_cov0['cloud_coverage'].fillna(weather_cloud_cov0_mean,inplace=True)

In [76]:
weather_cloud_cov0_mean

3.0446104158255953

In [77]:
weather_cloud_cov0.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8784.0,8784.000000,8784.000000,8781.000000,8783.000000,8699.000000,8534.000000,8784.000000,8784.000000,8784.000000,8784.0
mean,0.0,22.836021,3.044610,16.817880,1.382557,1017.988378,156.494024,3.375114,6.513661,15.756831,2016.0
std,0.0,6.036386,1.591104,6.519374,12.956933,4.036187,118.344523,2.154266,3.451430,8.812031,0.0
min,0.0,1.700000,0.000000,-9.400000,-1.000000,992.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,0.0,18.900000,2.000000,13.300000,0.000000,1015.500000,60.000000,2.100000,4.000000,8.000000,2016.0
50%,0.0,23.900000,3.044610,18.300000,0.000000,1018.000000,140.000000,3.100000,7.000000,16.000000,2016.0
75%,0.0,26.700000,4.000000,22.200000,0.000000,1020.600000,260.000000,4.600000,10.000000,23.000000,2016.0
max,0.0,36.100000,9.000000,25.600000,343.000000,1030.200000,360.000000,15.400000,12.000000,31.000000,2016.0

# cloud_coverage site_id=1

In [78]:
weather_cloud_cov1=air_temperature_filled[air_temperature_filled['site_id']==1]

In [79]:
weather_cloud_cov1.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8763.0,8763.000000,1701.000000,8762.000000,0.0,8711.000000,8760.000000,8763.000000,8763.000000,8763.000000,8763.0
mean,1.0,11.711801,0.084656,7.646473,NaN,1015.989795,195.584475,3.967043,6.519799,15.748716,2016.0
std,0.0,6.138649,0.869012,5.216089,NaN,10.746261,98.418020,2.211536,3.449630,8.818108,0.0
min,1.0,-3.900000,0.000000,-8.900000,NaN,973.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,1.0,7.000000,0.000000,3.500000,NaN,1009.700000,120.000000,2.600000,4.000000,8.000000,2016.0
50%,1.0,11.300000,0.000000,7.800000,NaN,1017.600000,220.000000,3.600000,7.000000,16.000000,2016.0
75%,1.0,16.200000,0.000000,11.700000,NaN,1023.000000,270.000000,5.100000,10.000000,23.000000,2016.0
max,1.0,32.900000,9.000000,20.700000,NaN,1045.500000,360.000000,18.500000,12.000000,31.000000,2016.0

In [80]:
weather_cloud_cov1_mean=weather_cloud_cov1['cloud_coverage'].mean()
weather_cloud_cov1['cloud_coverage'].fillna(weather_cloud_cov1_mean,inplace=True)

In [81]:
weather_cloud_cov1_mean

0.08465608465608465

In [82]:
weather_cloud_cov1.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8763.0,8763.000000,8763.000000,8762.000000,0.0,8711.000000,8760.000000,8763.000000,8763.000000,8763.000000,8763.0
mean,1.0,11.711801,0.084656,7.646473,NaN,1015.989795,195.584475,3.967043,6.519799,15.748716,2016.0
std,0.0,6.138649,0.382780,5.216089,NaN,10.746261,98.418020,2.211536,3.449630,8.818108,0.0
min,1.0,-3.900000,0.000000,-8.900000,NaN,973.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,1.0,7.000000,0.084656,3.500000,NaN,1009.700000,120.000000,2.600000,4.000000,8.000000,2016.0
50%,1.0,11.300000,0.084656,7.800000,NaN,1017.600000,220.000000,3.600000,7.000000,16.000000,2016.0
75%,1.0,16.200000,0.084656,11.700000,NaN,1023.000000,270.000000,5.100000,10.000000,23.000000,2016.0
max,1.0,32.900000,9.000000,20.700000,NaN,1045.500000,360.000000,18.500000,12.000000,31.000000,2016.0

# cloud_coverage site_id=2

In [83]:
weather_cloud_cov2=air_temperature_filled[air_temperature_filled['site_id']==2]

In [84]:
weather_cloud_cov2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,6429.000000,8782.000000,8717.000000,8739.000000,8192.000000,8778.000000,8783.000000,8783.000000,8783.0
mean,2.0,24.940321,1.958469,4.069506,0.157738,1011.679311,152.777100,2.932764,6.513037,15.757144,2016.0
std,0.0,9.119316,1.914228,7.619125,2.857446,4.934105,104.020345,1.963932,3.451130,8.812484,0.0
min,2.0,2.200000,0.000000,-17.200000,-1.000000,999.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,2.0,17.800000,0.000000,-1.700000,0.000000,1008.300000,80.000000,1.500000,4.000000,8.000000,2016.0
50%,2.0,25.600000,2.000000,3.300000,0.000000,1011.000000,120.000000,2.600000,7.000000,16.000000,2016.0
75%,2.0,32.200000,4.000000,10.000000,0.000000,1014.700000,250.000000,4.100000,10.000000,23.000000,2016.0
max,2.0,47.200000,9.000000,23.300000,132.000000,1028.200000,360.000000,15.400000,12.000000,31.000000,2016.0

In [85]:
weather_cloud_cov2_mean=weather_cloud_cov2['cloud_coverage'].mean()
weather_cloud_cov2['cloud_coverage'].fillna(weather_cloud_cov2_mean,inplace=True)

In [86]:
weather_cloud_cov2_mean

1.9584694353709753

In [87]:
weather_cloud_cov2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8782.000000,8717.000000,8739.000000,8192.000000,8778.000000,8783.000000,8783.000000,8783.0
mean,2.0,24.940321,1.958469,4.069506,0.157738,1011.679311,152.777100,2.932764,6.513037,15.757144,2016.0
std,0.0,9.119316,1.637702,7.619125,2.857446,4.934105,104.020345,1.963932,3.451130,8.812484,0.0
min,2.0,2.200000,0.000000,-17.200000,-1.000000,999.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,2.0,17.800000,0.000000,-1.700000,0.000000,1008.300000,80.000000,1.500000,4.000000,8.000000,2016.0
50%,2.0,25.600000,1.958469,3.300000,0.000000,1011.000000,120.000000,2.600000,7.000000,16.000000,2016.0
75%,2.0,32.200000,2.000000,10.000000,0.000000,1014.700000,250.000000,4.100000,10.000000,23.000000,2016.0
max,2.0,47.200000,9.000000,23.300000,132.000000,1028.200000,360.000000,15.400000,12.000000,31.000000,2016.0

# cloud_coverage site_id=3

In [88]:
weather_cloud_cov3=air_temperature_filled[air_temperature_filled['site_id']==3]

In [89]:
weather_cloud_cov3.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8780.0,8780.000000,5138.000000,8774.000000,8743.000000,8622.000000,8627.000000,8776.000000,8780.000000,8780.000000,8780.0
mean,3.0,15.520579,3.879136,8.126214,0.691868,1017.938692,185.063174,3.910893,6.512870,15.760251,2016.0
std,0.0,10.059395,2.733435,10.688443,5.575544,6.931980,111.054554,2.282695,3.451708,8.812344,0.0
min,3.0,-10.600000,0.000000,-22.800000,-1.000000,991.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,3.0,7.800000,2.000000,0.000000,0.000000,1013.600000,80.000000,2.600000,4.000000,8.000000,2016.0
50%,3.0,15.600000,4.000000,9.400000,0.000000,1018.000000,190.000000,3.600000,7.000000,16.000000,2016.0
75%,3.0,23.900000,6.000000,17.800000,0.000000,1022.200000,290.000000,5.100000,10.000000,23.000000,2016.0
max,3.0,37.800000,9.000000,26.100000,198.000000,1040.900000,360.000000,17.000000,12.000000,31.000000,2016.0

In [90]:
weather_cloud_cov3_mean=weather_cloud_cov3['cloud_coverage'].mean()
weather_cloud_cov3['cloud_coverage'].fillna(weather_cloud_cov3_mean,inplace=True)

In [91]:
weather_cloud_cov3_mean

3.8791358505254965

In [92]:
weather_cloud_cov3.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8780.0,8780.000000,8780.000000,8774.000000,8743.000000,8622.000000,8627.000000,8776.000000,8780.000000,8780.000000,8780.0
mean,3.0,15.520579,3.879136,8.126214,0.691868,1017.938692,185.063174,3.910893,6.512870,15.760251,2016.0
std,0.0,10.059395,2.090937,10.688443,5.575544,6.931980,111.054554,2.282695,3.451708,8.812344,0.0
min,3.0,-10.600000,0.000000,-22.800000,-1.000000,991.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,3.0,7.800000,3.879136,0.000000,0.000000,1013.600000,80.000000,2.600000,4.000000,8.000000,2016.0
50%,3.0,15.600000,3.879136,9.400000,0.000000,1018.000000,190.000000,3.600000,7.000000,16.000000,2016.0
75%,3.0,23.900000,4.000000,17.800000,0.000000,1022.200000,290.000000,5.100000,10.000000,23.000000,2016.0
max,3.0,37.800000,9.000000,26.100000,198.000000,1040.900000,360.000000,17.000000,12.000000,31.000000,2016.0

# cloud_coverage site_id=4

In [93]:
weather_cloud_cov4=air_temperature_filled[air_temperature_filled['site_id']==4]

In [94]:
weather_cloud_cov4.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,4553.000000,8781.000000,7466.000000,8710.000000,8678.000000,8783.000000,8783.000000,8783.000000,8783.0
mean,4.0,15.236366,1.867999,9.894750,0.248594,1016.887750,207.864715,3.858226,6.514289,15.758511,2016.0
std,0.0,4.014637,1.360669,3.529137,3.335185,4.519844,109.723916,2.536447,3.451125,8.811126,0.0
min,4.0,1.100000,0.000000,-9.400000,-1.000000,999.800000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,4.0,12.800000,0.000000,8.300000,0.000000,1013.600000,130.000000,2.100000,4.000000,8.000000,2016.0
50%,4.0,15.000000,2.000000,10.600000,0.000000,1016.600000,260.000000,3.600000,7.000000,16.000000,2016.0
75%,4.0,17.800000,2.000000,12.200000,0.000000,1019.800000,290.000000,5.700000,10.000000,23.000000,2016.0
max,4.0,35.000000,9.000000,18.300000,124.000000,1031.700000,360.000000,16.500000,12.000000,31.000000,2016.0

In [95]:
weather_cloud_cov4_mean=weather_cloud_cov4['cloud_coverage'].mean()
weather_cloud_cov4['cloud_coverage'].fillna(weather_cloud_cov4_mean,inplace=True)

In [96]:
weather_cloud_cov4_mean

1.867999121458379

In [97]:
weather_cloud_cov4.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8781.000000,7466.000000,8710.000000,8678.000000,8783.000000,8783.000000,8783.000000,8783.0
mean,4.0,15.236366,1.867999,9.894750,0.248594,1016.887750,207.864715,3.858226,6.514289,15.758511,2016.0
std,0.0,4.014637,0.979619,3.529137,3.335185,4.519844,109.723916,2.536447,3.451125,8.811126,0.0
min,4.0,1.100000,0.000000,-9.400000,-1.000000,999.800000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,4.0,12.800000,1.867999,8.300000,0.000000,1013.600000,130.000000,2.100000,4.000000,8.000000,2016.0
50%,4.0,15.000000,1.867999,10.600000,0.000000,1016.600000,260.000000,3.600000,7.000000,16.000000,2016.0
75%,4.0,17.800000,2.000000,12.200000,0.000000,1019.800000,290.000000,5.700000,10.000000,23.000000,2016.0
max,4.0,35.000000,9.000000,18.300000,124.000000,1031.700000,360.000000,16.500000,12.000000,31.000000,2016.0

# cloud_coverage site_id=5

In [98]:
weather_cloud_cov5=air_temperature_filled[air_temperature_filled['site_id']==5]

In [99]:
weather_cloud_cov5.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8755.0,8755.000000,2725.000000,8753.000000,0.0,0.0,8460.000000,8752.000000,8755.000000,8755.000000,8755.0
mean,5.0,10.867931,0.290642,8.194676,NaN,NaN,200.053191,4.768087,6.523587,15.747230,2016.0
std,0.0,5.090896,1.591300,4.968643,NaN,NaN,100.094220,2.340060,3.448831,8.818296,0.0
min,5.0,-3.000000,0.000000,-6.000000,NaN,NaN,0.000000,0.000000,1.000000,1.000000,2016.0
25%,5.0,7.000000,0.000000,4.000000,NaN,NaN,100.000000,3.100000,4.000000,8.000000,2016.0
50%,5.0,11.000000,0.000000,8.000000,NaN,NaN,240.000000,4.600000,7.000000,16.000000,2016.0
75%,5.0,15.000000,0.000000,12.000000,NaN,NaN,280.000000,6.200000,10.000000,23.000000,2016.0
max,5.0,30.000000,9.000000,19.000000,NaN,NaN,360.000000,18.500000,12.000000,31.000000,2016.0

In [100]:
weather_cloud_cov5_mean=weather_cloud_cov5['cloud_coverage'].mean()
weather_cloud_cov5['cloud_coverage'].fillna(weather_cloud_cov5_mean,inplace=True)

In [101]:
weather_cloud_cov5_mean

0.2906422018348624

In [102]:
weather_cloud_cov5.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8755.0,8755.000000,8755.000000,8753.000000,0.0,0.0,8460.000000,8752.000000,8755.000000,8755.000000,8755.0
mean,5.0,10.867931,0.290642,8.194676,NaN,NaN,200.053191,4.768087,6.523587,15.747230,2016.0
std,0.0,5.090896,0.887672,4.968643,NaN,NaN,100.094220,2.340060,3.448831,8.818296,0.0
min,5.0,-3.000000,0.000000,-6.000000,NaN,NaN,0.000000,0.000000,1.000000,1.000000,2016.0
25%,5.0,7.000000,0.000000,4.000000,NaN,NaN,100.000000,3.100000,4.000000,8.000000,2016.0
50%,5.0,11.000000,0.290642,8.000000,NaN,NaN,240.000000,4.600000,7.000000,16.000000,2016.0
75%,5.0,15.000000,0.290642,12.000000,NaN,NaN,280.000000,6.200000,10.000000,23.000000,2016.0
max,5.0,30.000000,9.000000,19.000000,NaN,NaN,360.000000,18.500000,12.000000,31.000000,2016.0

# cloud_coverage site_id=6

In [103]:
weather_cloud_cov6=air_temperature_filled[air_temperature_filled['site_id']==6]

In [104]:
weather_cloud_cov6.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8782.0,8782.000000,5790.000000,8772.000000,8782.000000,8607.000000,8003.000000,8743.000000,8782.000000,8782.000000,8782.0
mean,6.0,15.141678,0.647668,7.320691,0.797768,1017.527954,131.618143,2.197758,6.514006,15.757345,2016.0
std,0.0,9.935490,1.628221,11.108064,6.368168,6.646051,120.664838,1.875501,3.451220,8.810950,0.0
min,6.0,-13.300000,0.000000,-23.300000,-1.000000,991.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,6.0,7.200000,0.000000,-1.100000,0.000000,1013.550000,0.000000,0.000000,4.000000,8.000000,2016.0
50%,6.0,16.100000,0.000000,9.400000,0.000000,1017.500000,150.000000,2.100000,7.000000,16.000000,2016.0
75%,6.0,22.800000,0.000000,17.200000,0.000000,1021.600000,210.000000,3.100000,10.000000,23.000000,2016.0
max,6.0,37.200000,9.000000,24.400000,198.000000,1039.800000,360.000000,11.300000,12.000000,31.000000,2016.0

In [105]:
weather_cloud_cov6_mean=weather_cloud_cov6['cloud_coverage'].mean()
weather_cloud_cov6['cloud_coverage'].fillna(weather_cloud_cov6_mean,inplace=True)

In [106]:
weather_cloud_cov6_mean

0.6476683937823834

In [107]:
weather_cloud_cov6.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8782.0,8782.000000,8782.000000,8772.000000,8782.000000,8607.000000,8003.000000,8743.000000,8782.000000,8782.000000,8782.0
mean,6.0,15.141678,0.647668,7.320691,0.797768,1017.527954,131.618143,2.197758,6.514006,15.757345,2016.0
std,0.0,9.935490,1.322036,11.108064,6.368168,6.646051,120.664838,1.875501,3.451220,8.810950,0.0
min,6.0,-13.300000,0.000000,-23.300000,-1.000000,991.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,6.0,7.200000,0.000000,-1.100000,0.000000,1013.550000,0.000000,0.000000,4.000000,8.000000,2016.0
50%,6.0,16.100000,0.000000,9.400000,0.000000,1017.500000,150.000000,2.100000,7.000000,16.000000,2016.0
75%,6.0,22.800000,0.647668,17.200000,0.000000,1021.600000,210.000000,3.100000,10.000000,23.000000,2016.0
max,6.0,37.200000,9.000000,24.400000,198.000000,1039.800000,360.000000,11.300000,12.000000,31.000000,2016.0

# cloud_coverage site_id=7

In [108]:
weather_cloud_cov7=air_temperature_filled[air_temperature_filled['site_id']==7]

In [109]:
weather_cloud_cov7.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8614.0,8614.000000,0.0,8591.000000,731.000000,8606.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.0
mean,7.0,7.888867,NaN,1.905913,11.350205,1015.252010,208.931739,3.445565,6.561412,15.837938,2016.0
std,0.0,12.218509,NaN,10.773200,21.274216,8.446564,103.375537,1.995291,3.422306,8.793355,0.0
min,7.0,-28.800000,NaN,-35.000000,2.000000,983.600000,10.000000,0.000000,1.000000,1.000000,2016.0
25%,7.0,-0.900000,NaN,-5.500000,2.000000,1010.000000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,7.0,7.700000,NaN,2.500000,5.000000,1015.200000,230.000000,3.100000,7.000000,16.000000,2016.0
75%,7.0,18.200000,NaN,10.750000,11.500000,1020.900000,290.000000,4.600000,10.000000,23.000000,2016.0
max,7.0,33.900000,NaN,22.900000,262.000000,1043.800000,360.000000,12.800000,12.000000,31.000000,2016.0

In [110]:
weather_cloud_cov7['cloud_coverage'].fillna(0,inplace=True)

In [111]:
weather_cloud_cov7.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8614.0,8614.000000,8614.0,8591.000000,731.000000,8606.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.0
mean,7.0,7.888867,0.0,1.905913,11.350205,1015.252010,208.931739,3.445565,6.561412,15.837938,2016.0
std,0.0,12.218509,0.0,10.773200,21.274216,8.446564,103.375537,1.995291,3.422306,8.793355,0.0
min,7.0,-28.800000,0.0,-35.000000,2.000000,983.600000,10.000000,0.000000,1.000000,1.000000,2016.0
25%,7.0,-0.900000,0.0,-5.500000,2.000000,1010.000000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,7.0,7.700000,0.0,2.500000,5.000000,1015.200000,230.000000,3.100000,7.000000,16.000000,2016.0
75%,7.0,18.200000,0.0,10.750000,11.500000,1020.900000,290.000000,4.600000,10.000000,23.000000,2016.0
max,7.0,33.900000,0.0,22.900000,262.000000,1043.800000,360.000000,12.800000,12.000000,31.000000,2016.0

# cloud_coverage site_id=8

In [112]:
weather_cloud_cov8=air_temperature_filled[air_temperature_filled['site_id']==8]

In [113]:
weather_cloud_cov8.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8784.0,8784.000000,4954.00000,8781.000000,8783.000000,8699.000000,8534.000000,8784.000000,8784.000000,8784.000000,8784.0
mean,8.0,22.836021,3.04461,16.817880,1.382557,1017.988378,156.494024,3.375114,6.513661,15.756831,2016.0
std,0.0,6.036386,2.11878,6.519374,12.956933,4.036187,118.344523,2.154266,3.451430,8.812031,0.0
min,8.0,1.700000,0.00000,-9.400000,-1.000000,992.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,8.0,18.900000,2.00000,13.300000,0.000000,1015.500000,60.000000,2.100000,4.000000,8.000000,2016.0
50%,8.0,23.900000,2.00000,18.300000,0.000000,1018.000000,140.000000,3.100000,7.000000,16.000000,2016.0
75%,8.0,26.700000,4.00000,22.200000,0.000000,1020.600000,260.000000,4.600000,10.000000,23.000000,2016.0
max,8.0,36.100000,9.00000,25.600000,343.000000,1030.200000,360.000000,15.400000,12.000000,31.000000,2016.0

In [114]:
weather_cloud_cov8_mean=weather_cloud_cov8['cloud_coverage'].mean()
weather_cloud_cov8['cloud_coverage'].fillna(weather_cloud_cov8_mean,inplace=True)

In [115]:
weather_cloud_cov8_mean

3.0446104158255953

In [116]:
weather_cloud_cov8.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8784.0,8784.000000,8784.000000,8781.000000,8783.000000,8699.000000,8534.000000,8784.000000,8784.000000,8784.000000,8784.0
mean,8.0,22.836021,3.044610,16.817880,1.382557,1017.988378,156.494024,3.375114,6.513661,15.756831,2016.0
std,0.0,6.036386,1.591104,6.519374,12.956933,4.036187,118.344523,2.154266,3.451430,8.812031,0.0
min,8.0,1.700000,0.000000,-9.400000,-1.000000,992.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,8.0,18.900000,2.000000,13.300000,0.000000,1015.500000,60.000000,2.100000,4.000000,8.000000,2016.0
50%,8.0,23.900000,3.044610,18.300000,0.000000,1018.000000,140.000000,3.100000,7.000000,16.000000,2016.0
75%,8.0,26.700000,4.000000,22.200000,0.000000,1020.600000,260.000000,4.600000,10.000000,23.000000,2016.0
max,8.0,36.100000,9.000000,25.600000,343.000000,1030.200000,360.000000,15.400000,12.000000,31.000000,2016.0

# cloud_coverage site_id=9

In [117]:
weather_cloud_cov9=air_temperature_filled[air_temperature_filled['site_id']==9]

In [118]:
weather_cloud_cov9.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8780.0,8780.000000,5322.000000,8773.000000,8773.000000,8541.000000,6222.000000,8683.000000,8780.000000,8780.000000,8780.0
mean,9.0,21.367499,0.610673,14.613302,0.755158,1016.625114,116.648987,2.083658,6.514009,15.756264,2016.0
std,0.0,7.984637,1.337819,8.502967,7.274596,6.065054,117.050797,1.519628,3.451143,8.811064,0.0
min,9.0,-5.000000,0.000000,-13.300000,-1.000000,999.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,9.0,16.100000,0.000000,8.900000,0.000000,1012.800000,0.000000,1.500000,4.000000,8.000000,2016.0
50%,9.0,22.200000,0.000000,17.200000,0.000000,1015.800000,120.000000,2.100000,7.000000,16.000000,2016.0
75%,9.0,26.700000,0.000000,21.700000,0.000000,1020.000000,180.000000,3.100000,10.000000,23.000000,2016.0
max,9.0,39.400000,9.000000,26.100000,203.000000,1041.600000,360.000000,9.300000,12.000000,31.000000,2016.0

In [119]:
weather_cloud_cov9_mean=weather_cloud_cov9['cloud_coverage'].mean()
weather_cloud_cov9['cloud_coverage'].fillna(weather_cloud_cov9_mean,inplace=True)

In [120]:
weather_cloud_cov9_mean

0.6106726794438181

In [121]:
weather_cloud_cov9.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8780.0,8780.000000,8780.000000,8773.000000,8773.000000,8541.000000,6222.000000,8683.000000,8780.000000,8780.000000,8780.0
mean,9.0,21.367499,0.610673,14.613302,0.755158,1016.625114,116.648987,2.083658,6.514009,15.756264,2016.0
std,0.0,7.984637,1.041529,8.502967,7.274596,6.065054,117.050797,1.519628,3.451143,8.811064,0.0
min,9.0,-5.000000,0.000000,-13.300000,-1.000000,999.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,9.0,16.100000,0.000000,8.900000,0.000000,1012.800000,0.000000,1.500000,4.000000,8.000000,2016.0
50%,9.0,22.200000,0.610673,17.200000,0.000000,1015.800000,120.000000,2.100000,7.000000,16.000000,2016.0
75%,9.0,26.700000,0.610673,21.700000,0.000000,1020.000000,180.000000,3.100000,10.000000,23.000000,2016.0
max,9.0,39.400000,9.000000,26.100000,203.000000,1041.600000,360.000000,9.300000,12.000000,31.000000,2016.0

# cloud_coverage site_id=10

In [122]:
weather_cloud_cov10=air_temperature_filled[air_temperature_filled['site_id']==10]

In [123]:
weather_cloud_cov10.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8782.0,8782.000000,6332.00000,8755.000000,8755.000000,8641.000000,8248.000000,8678.000000,8782.000000,8782.000000,8782.0
mean,10.0,11.644679,0.37650,0.082273,0.457453,1015.668788,179.879971,3.158677,6.513664,15.757458,2016.0
std,0.0,11.141203,1.33104,5.582579,3.361151,8.363580,101.919364,2.035429,3.450825,8.811075,0.0
min,10.0,-16.700000,0.00000,-20.000000,-1.000000,990.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,10.0,2.800000,0.00000,-3.300000,0.000000,1009.900000,150.000000,2.100000,4.000000,8.000000,2016.0
50%,10.0,11.700000,0.00000,0.600000,0.000000,1014.400000,170.000000,3.100000,7.000000,16.000000,2016.0
75%,10.0,20.000000,0.00000,3.900000,0.000000,1020.700000,260.000000,4.100000,10.000000,23.000000,2016.0
max,10.0,37.200000,9.00000,15.000000,79.000000,1042.600000,360.000000,16.500000,12.000000,31.000000,2016.0

In [124]:
weather_cloud_cov10_mean=weather_cloud_cov10['cloud_coverage'].mean()
weather_cloud_cov10['cloud_coverage'].fillna(weather_cloud_cov10_mean,inplace=True)

In [125]:
weather_cloud_cov10_mean

0.37650031585596966

In [126]:
weather_cloud_cov10.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8782.0,8782.000000,8782.0000,8755.000000,8755.000000,8641.000000,8248.000000,8678.000000,8782.000000,8782.000000,8782.0
mean,10.0,11.644679,0.3765,0.082273,0.457453,1015.668788,179.879971,3.158677,6.513664,15.757458,2016.0
std,0.0,11.141203,1.1302,5.582579,3.361151,8.363580,101.919364,2.035429,3.450825,8.811075,0.0
min,10.0,-16.700000,0.0000,-20.000000,-1.000000,990.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,10.0,2.800000,0.0000,-3.300000,0.000000,1009.900000,150.000000,2.100000,4.000000,8.000000,2016.0
50%,10.0,11.700000,0.0000,0.600000,0.000000,1014.400000,170.000000,3.100000,7.000000,16.000000,2016.0
75%,10.0,20.000000,0.3765,3.900000,0.000000,1020.700000,260.000000,4.100000,10.000000,23.000000,2016.0
max,10.0,37.200000,9.0000,15.000000,79.000000,1042.600000,360.000000,16.500000,12.000000,31.000000,2016.0

# cloud_coverage site_id=11

In [127]:
weather_cloud_cov11=air_temperature_filled[air_temperature_filled['site_id']==11]

In [128]:
weather_cloud_cov11.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8614.0,8614.000000,0.0,8591.000000,731.000000,8606.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.0
mean,11.0,7.888867,NaN,1.905913,11.350205,1015.252010,208.931739,3.445565,6.561412,15.837938,2016.0
std,0.0,12.218509,NaN,10.773200,21.274216,8.446564,103.375537,1.995291,3.422306,8.793355,0.0
min,11.0,-28.800000,NaN,-35.000000,2.000000,983.600000,10.000000,0.000000,1.000000,1.000000,2016.0
25%,11.0,-0.900000,NaN,-5.500000,2.000000,1010.000000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,11.0,7.700000,NaN,2.500000,5.000000,1015.200000,230.000000,3.100000,7.000000,16.000000,2016.0
75%,11.0,18.200000,NaN,10.750000,11.500000,1020.900000,290.000000,4.600000,10.000000,23.000000,2016.0
max,11.0,33.900000,NaN,22.900000,262.000000,1043.800000,360.000000,12.800000,12.000000,31.000000,2016.0

In [129]:
weather_cloud_cov11['cloud_coverage'].fillna(0,inplace=True)

In [130]:
weather_cloud_cov11.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8614.0,8614.000000,8614.0,8591.000000,731.000000,8606.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.0
mean,11.0,7.888867,0.0,1.905913,11.350205,1015.252010,208.931739,3.445565,6.561412,15.837938,2016.0
std,0.0,12.218509,0.0,10.773200,21.274216,8.446564,103.375537,1.995291,3.422306,8.793355,0.0
min,11.0,-28.800000,0.0,-35.000000,2.000000,983.600000,10.000000,0.000000,1.000000,1.000000,2016.0
25%,11.0,-0.900000,0.0,-5.500000,2.000000,1010.000000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,11.0,7.700000,0.0,2.500000,5.000000,1015.200000,230.000000,3.100000,7.000000,16.000000,2016.0
75%,11.0,18.200000,0.0,10.750000,11.500000,1020.900000,290.000000,4.600000,10.000000,23.000000,2016.0
max,11.0,33.900000,0.0,22.900000,262.000000,1043.800000,360.000000,12.800000,12.000000,31.000000,2016.0

# cloud_coverage site_id=12

In [131]:
weather_cloud_cov12=air_temperature_filled[air_temperature_filled['site_id']==12]

In [132]:
weather_cloud_cov12.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8755.0,8755.000000,8696.000000,8755.000000,0.0,8699.000000,8754.000000,8755.000000,8755.000000,8755.000000,8755.0
mean,12.0,9.843232,5.723091,6.519966,NaN,1014.425474,202.774732,5.511399,6.521645,15.743232,2016.0
std,0.0,5.157759,2.242288,4.615672,NaN,11.527693,86.639340,2.733220,3.449572,8.819781,0.0
min,12.0,-4.800000,0.000000,-5.300000,NaN,968.200000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,12.0,6.000000,4.000000,2.700000,NaN,1007.700000,140.000000,4.000000,4.000000,8.000000,2016.0
50%,12.0,9.800000,7.000000,6.700000,NaN,1015.800000,230.000000,5.000000,7.000000,16.000000,2016.0
75%,12.0,13.700000,7.000000,10.100000,NaN,1022.300000,260.000000,7.000000,10.000000,23.000000,2016.0
max,12.0,26.000000,8.000000,18.300000,NaN,1041.900000,360.000000,19.000000,12.000000,31.000000,2016.0

In [133]:
weather_cloud_cov12_mean=weather_cloud_cov12['cloud_coverage'].mean()
weather_cloud_cov12['cloud_coverage'].fillna(weather_cloud_cov12_mean,inplace=True)

In [134]:
weather_cloud_cov12_mean

5.723091076356946

In [135]:
weather_cloud_cov12.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8755.0,8755.000000,8755.000000,8755.000000,0.0,8699.000000,8754.000000,8755.000000,8755.000000,8755.000000,8755.0
mean,12.0,9.843232,5.723091,6.519966,NaN,1014.425474,202.774732,5.511399,6.521645,15.743232,2016.0
std,0.0,5.157759,2.234719,4.615672,NaN,11.527693,86.639340,2.733220,3.449572,8.819781,0.0
min,12.0,-4.800000,0.000000,-5.300000,NaN,968.200000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,12.0,6.000000,4.000000,2.700000,NaN,1007.700000,140.000000,4.000000,4.000000,8.000000,2016.0
50%,12.0,9.800000,7.000000,6.700000,NaN,1015.800000,230.000000,5.000000,7.000000,16.000000,2016.0
75%,12.0,13.700000,7.000000,10.100000,NaN,1022.300000,260.000000,7.000000,10.000000,23.000000,2016.0
max,12.0,26.000000,8.000000,18.300000,NaN,1041.900000,360.000000,19.000000,12.000000,31.000000,2016.0

# cloud_coverage site_id=13

In [136]:
weather_cloud_cov13=air_temperature_filled[air_temperature_filled['site_id']==13]

In [137]:
weather_cloud_cov13.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,4485.000000,8782.000000,8771.000000,8663.000000,8566.000000,8782.000000,8783.000000,8783.000000,8783.0
mean,13.0,9.879617,2.873133,3.401731,0.880515,1015.895371,187.969881,4.197358,6.513037,15.757372,2016.0
std,0.0,12.405170,2.713202,11.385367,7.803157,7.652373,105.086402,2.324516,3.451130,8.812387,0.0
min,13.0,-28.900000,0.000000,-31.700000,-1.000000,981.600000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,13.0,0.600000,0.000000,-3.900000,0.000000,1011.100000,120.000000,2.600000,4.000000,8.000000,2016.0
50%,13.0,11.100000,2.000000,3.900000,0.000000,1015.900000,180.000000,4.100000,7.000000,16.000000,2016.0
75%,13.0,20.000000,4.000000,13.300000,0.000000,1020.900000,280.000000,5.700000,10.000000,23.000000,2016.0
max,13.0,35.600000,9.000000,25.000000,216.000000,1040.200000,360.000000,16.000000,12.000000,31.000000,2016.0

In [138]:
weather_cloud_cov13_mean=weather_cloud_cov13['cloud_coverage'].mean()
weather_cloud_cov13['cloud_coverage'].fillna(weather_cloud_cov13_mean,inplace=True)

In [139]:
weather_cloud_cov13_mean

2.873132664437012

In [140]:
weather_cloud_cov13.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8782.000000,8771.000000,8663.000000,8566.000000,8782.000000,8783.000000,8783.000000,8783.0
mean,13.0,9.879617,2.873133,3.401731,0.880515,1015.895371,187.969881,4.197358,6.513037,15.757372,2016.0
std,0.0,12.405170,1.938734,11.385367,7.803157,7.652373,105.086402,2.324516,3.451130,8.812387,0.0
min,13.0,-28.900000,0.000000,-31.700000,-1.000000,981.600000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,13.0,0.600000,2.000000,-3.900000,0.000000,1011.100000,120.000000,2.600000,4.000000,8.000000,2016.0
50%,13.0,11.100000,2.873133,3.900000,0.000000,1015.900000,180.000000,4.100000,7.000000,16.000000,2016.0
75%,13.0,20.000000,2.873133,13.300000,0.000000,1020.900000,280.000000,5.700000,10.000000,23.000000,2016.0
max,13.0,35.600000,9.000000,25.000000,216.000000,1040.200000,360.000000,16.000000,12.000000,31.000000,2016.0

# cloud_coverage site_id=14

In [141]:
weather_cloud_cov14=air_temperature_filled[air_temperature_filled['site_id']==14]

In [142]:
weather_cloud_cov14.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8777.0,8777.000000,5466.000000,8776.000000,8746.000000,8667.000000,8487.000000,8754.000000,8777.000000,8777.000000,8777.0
mean,14.0,13.258409,0.562203,5.775160,0.742740,1016.377985,187.723813,3.076776,6.514641,15.761080,2016.0
std,0.0,10.253626,1.480298,10.606409,5.661837,7.251592,122.693604,2.073463,3.452279,8.813589,0.0
min,14.0,-15.600000,0.000000,-25.600000,-1.000000,989.600000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,14.0,5.000000,0.000000,-2.800000,0.000000,1011.700000,70.000000,1.500000,4.000000,8.000000,2016.0
50%,14.0,13.300000,0.000000,6.100000,0.000000,1016.500000,210.000000,2.600000,7.000000,16.000000,2016.0
75%,14.0,21.700000,0.000000,15.000000,0.000000,1021.000000,300.000000,4.100000,10.000000,23.000000,2016.0
max,14.0,35.600000,9.000000,25.600000,150.000000,1040.300000,360.000000,13.400000,12.000000,31.000000,2016.0

In [143]:
weather_cloud_cov14_mean=weather_cloud_cov14['cloud_coverage'].mean()
weather_cloud_cov14['cloud_coverage'].fillna(weather_cloud_cov14_mean,inplace=True)

In [144]:
weather_cloud_cov14_mean

0.5622027076472741

In [145]:
weather_cloud_cov14.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8777.0,8777.000000,8777.000000,8776.000000,8746.000000,8667.000000,8487.000000,8754.000000,8777.000000,8777.000000,8777.0
mean,14.0,13.258409,0.562203,5.775160,0.742740,1016.377985,187.723813,3.076776,6.514641,15.761080,2016.0
std,0.0,10.253626,1.168142,10.606409,5.661837,7.251592,122.693604,2.073463,3.452279,8.813589,0.0
min,14.0,-15.600000,0.000000,-25.600000,-1.000000,989.600000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,14.0,5.000000,0.000000,-2.800000,0.000000,1011.700000,70.000000,1.500000,4.000000,8.000000,2016.0
50%,14.0,13.300000,0.000000,6.100000,0.000000,1016.500000,210.000000,2.600000,7.000000,16.000000,2016.0
75%,14.0,21.700000,0.562203,15.000000,0.000000,1021.000000,300.000000,4.100000,10.000000,23.000000,2016.0
max,14.0,35.600000,9.000000,25.600000,150.000000,1040.300000,360.000000,13.400000,12.000000,31.000000,2016.0

# cloud_coverage site_id=15

In [146]:
weather_cloud_cov15=air_temperature_filled[air_temperature_filled['site_id']==15]

In [147]:
weather_cloud_cov15.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8454.0,8454.000000,4055.000000,8451.000000,1703.000000,7945.000000,8212.000000,8426.000000,8454.000000,8454.000000,8454.0
mean,15.0,9.357618,1.109988,4.140469,3.495009,1016.980579,186.525816,3.645490,6.559972,15.847764,2016.0
std,0.0,10.846760,1.679775,9.998072,16.366106,7.496048,110.812030,2.457482,3.448856,8.800610,0.0
min,15.0,-23.900000,0.000000,-26.700000,-1.000000,987.400000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,15.0,1.100000,0.000000,-3.600000,-1.000000,1012.300000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,15.0,9.400000,0.000000,4.400000,-1.000000,1017.300000,180.000000,3.100000,7.000000,16.000000,2016.0
75%,15.0,18.300000,2.000000,12.800000,3.000000,1022.000000,300.000000,5.100000,10.000000,23.000000,2016.0
max,15.0,33.900000,9.000000,24.400000,333.000000,1042.200000,360.000000,15.400000,12.000000,31.000000,2016.0

In [148]:
weather_cloud_cov15_mean=weather_cloud_cov15['cloud_coverage'].mean()
weather_cloud_cov15['cloud_coverage'].fillna(weather_cloud_cov15_mean,inplace=True)

In [149]:
weather_cloud_cov15_mean

1.1099876695437731

In [150]:
weather_cloud_cov15.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8454.0,8454.000000,8454.000000,8451.000000,1703.000000,7945.000000,8212.000000,8426.000000,8454.000000,8454.000000,8454.0
mean,15.0,9.357618,1.109988,4.140469,3.495009,1016.980579,186.525816,3.645490,6.559972,15.847764,2016.0
std,0.0,10.846760,1.163289,9.998072,16.366106,7.496048,110.812030,2.457482,3.448856,8.800610,0.0
min,15.0,-23.900000,0.000000,-26.700000,-1.000000,987.400000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,15.0,1.100000,0.000000,-3.600000,-1.000000,1012.300000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,15.0,9.400000,1.109988,4.400000,-1.000000,1017.300000,180.000000,3.100000,7.000000,16.000000,2016.0
75%,15.0,18.300000,1.109988,12.800000,3.000000,1022.000000,300.000000,5.100000,10.000000,23.000000,2016.0
max,15.0,33.900000,9.000000,24.400000,333.000000,1042.200000,360.000000,15.400000,12.000000,31.000000,2016.0

# Merging the above cells to create cloud_cov_filled and deleting air_temperature

In [151]:
cloud_cov_filled = pd.concat([weather_cloud_cov0,weather_cloud_cov1,weather_cloud_cov2,
                           weather_cloud_cov3,weather_cloud_cov4,weather_cloud_cov5,
                           weather_cloud_cov6,weather_cloud_cov7,weather_cloud_cov8,
                           weather_cloud_cov9,weather_cloud_cov10,weather_cloud_cov11,
                           weather_cloud_cov12,weather_cloud_cov13,weather_cloud_cov14,
                           weather_cloud_cov15], axis=0)

In [152]:
cloud_cov_filled.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,139773.000000,139773.000000,139773.000000,139660.000000,89484.000000,129155.000000,133505.000000,139469.000000,139773.000000,139773.000000,139773.0
mean,7.478977,14.418288,1.634475,7.350158,0.983047,1016.158038,180.526632,3.560527,6.523871,15.771043,2016.0
std,4.604744,10.624850,2.117312,9.790235,8.463678,7.629684,111.523629,2.335874,3.447111,8.809815,0.0
min,0.000000,-28.900000,0.000000,-35.000000,-1.000000,968.200000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,3.000000,7.200000,0.000000,0.600000,0.000000,1011.800000,80.000000,2.100000,4.000000,8.000000,2016.0
50%,7.000000,15.000000,0.562203,8.300000,0.000000,1016.400000,190.000000,3.100000,7.000000,16.000000,2016.0
75%,11.000000,22.200000,2.873133,14.400000,0.000000,1020.800000,280.000000,5.000000,10.000000,23.000000,2016.0
max,15.000000,47.200000,9.000000,26.100000,343.000000,1045.500000,360.000000,19.000000,12.000000,31.000000,2016.0

After this take cloud_cov_filled and then start filling in missing columns

# dew_temperature site_id=0

In [153]:
weather_dew_temp0=cloud_cov_filled[cloud_cov_filled['site_id']==0]

In [154]:
weather_dew_temp0.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8784.0,8784.000000,8784.000000,8781.000000,8783.000000,8699.000000,8534.000000,8784.000000,8784.000000,8784.000000,8784.0
mean,0.0,22.836021,3.044610,16.817880,1.382557,1017.988378,156.494024,3.375114,6.513661,15.756831,2016.0
std,0.0,6.036386,1.591104,6.519374,12.956933,4.036187,118.344523,2.154266,3.451430,8.812031,0.0
min,0.0,1.700000,0.000000,-9.400000,-1.000000,992.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,0.0,18.900000,2.000000,13.300000,0.000000,1015.500000,60.000000,2.100000,4.000000,8.000000,2016.0
50%,0.0,23.900000,3.044610,18.300000,0.000000,1018.000000,140.000000,3.100000,7.000000,16.000000,2016.0
75%,0.0,26.700000,4.000000,22.200000,0.000000,1020.600000,260.000000,4.600000,10.000000,23.000000,2016.0
max,0.0,36.100000,9.000000,25.600000,343.000000,1030.200000,360.000000,15.400000,12.000000,31.000000,2016.0

In [155]:
weather_dew_temp0_mean=weather_dew_temp0['dew_temperature'].mean()
weather_dew_temp0['dew_temperature'].fillna(weather_dew_temp0_mean,inplace=True)

In [156]:
weather_dew_temp0_mean

16.817879512583954

In [157]:
weather_dew_temp0.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8784.0,8784.000000,8784.000000,8784.00000,8783.000000,8699.000000,8534.000000,8784.000000,8784.000000,8784.000000,8784.0
mean,0.0,22.836021,3.044610,16.81788,1.382557,1017.988378,156.494024,3.375114,6.513661,15.756831,2016.0
std,0.0,6.036386,1.591104,6.51826,12.956933,4.036187,118.344523,2.154266,3.451430,8.812031,0.0
min,0.0,1.700000,0.000000,-9.40000,-1.000000,992.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,0.0,18.900000,2.000000,13.30000,0.000000,1015.500000,60.000000,2.100000,4.000000,8.000000,2016.0
50%,0.0,23.900000,3.044610,18.30000,0.000000,1018.000000,140.000000,3.100000,7.000000,16.000000,2016.0
75%,0.0,26.700000,4.000000,22.20000,0.000000,1020.600000,260.000000,4.600000,10.000000,23.000000,2016.0
max,0.0,36.100000,9.000000,25.60000,343.000000,1030.200000,360.000000,15.400000,12.000000,31.000000,2016.0

# dew_temperature site_id=1

In [158]:
weather_dew_temp1=cloud_cov_filled[cloud_cov_filled['site_id']==1]

In [159]:
weather_dew_temp1.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8763.0,8763.000000,8763.000000,8762.000000,0.0,8711.000000,8760.000000,8763.000000,8763.000000,8763.000000,8763.0
mean,1.0,11.711801,0.084656,7.646473,NaN,1015.989795,195.584475,3.967043,6.519799,15.748716,2016.0
std,0.0,6.138649,0.382780,5.216089,NaN,10.746261,98.418020,2.211536,3.449630,8.818108,0.0
min,1.0,-3.900000,0.000000,-8.900000,NaN,973.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,1.0,7.000000,0.084656,3.500000,NaN,1009.700000,120.000000,2.600000,4.000000,8.000000,2016.0
50%,1.0,11.300000,0.084656,7.800000,NaN,1017.600000,220.000000,3.600000,7.000000,16.000000,2016.0
75%,1.0,16.200000,0.084656,11.700000,NaN,1023.000000,270.000000,5.100000,10.000000,23.000000,2016.0
max,1.0,32.900000,9.000000,20.700000,NaN,1045.500000,360.000000,18.500000,12.000000,31.000000,2016.0

In [160]:
weather_dew_temp1_mean=weather_dew_temp1['dew_temperature'].mean()
weather_dew_temp1['dew_temperature'].fillna(weather_dew_temp1_mean,inplace=True)

In [161]:
weather_dew_temp1_mean

7.6464734078977346

In [162]:
weather_dew_temp1.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8763.0,8763.000000,8763.000000,8763.000000,0.0,8711.000000,8760.000000,8763.000000,8763.000000,8763.000000,8763.0
mean,1.0,11.711801,0.084656,7.646473,NaN,1015.989795,195.584475,3.967043,6.519799,15.748716,2016.0
std,0.0,6.138649,0.382780,5.215791,NaN,10.746261,98.418020,2.211536,3.449630,8.818108,0.0
min,1.0,-3.900000,0.000000,-8.900000,NaN,973.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,1.0,7.000000,0.084656,3.500000,NaN,1009.700000,120.000000,2.600000,4.000000,8.000000,2016.0
50%,1.0,11.300000,0.084656,7.800000,NaN,1017.600000,220.000000,3.600000,7.000000,16.000000,2016.0
75%,1.0,16.200000,0.084656,11.700000,NaN,1023.000000,270.000000,5.100000,10.000000,23.000000,2016.0
max,1.0,32.900000,9.000000,20.700000,NaN,1045.500000,360.000000,18.500000,12.000000,31.000000,2016.0

# dew_temperature site_id=2

In [163]:
weather_dew_temp2=cloud_cov_filled[cloud_cov_filled['site_id']==2]

In [164]:
weather_dew_temp2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8782.000000,8717.000000,8739.000000,8192.000000,8778.000000,8783.000000,8783.000000,8783.0
mean,2.0,24.940321,1.958469,4.069506,0.157738,1011.679311,152.777100,2.932764,6.513037,15.757144,2016.0
std,0.0,9.119316,1.637702,7.619125,2.857446,4.934105,104.020345,1.963932,3.451130,8.812484,0.0
min,2.0,2.200000,0.000000,-17.200000,-1.000000,999.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,2.0,17.800000,0.000000,-1.700000,0.000000,1008.300000,80.000000,1.500000,4.000000,8.000000,2016.0
50%,2.0,25.600000,1.958469,3.300000,0.000000,1011.000000,120.000000,2.600000,7.000000,16.000000,2016.0
75%,2.0,32.200000,2.000000,10.000000,0.000000,1014.700000,250.000000,4.100000,10.000000,23.000000,2016.0
max,2.0,47.200000,9.000000,23.300000,132.000000,1028.200000,360.000000,15.400000,12.000000,31.000000,2016.0

In [165]:
weather_dew_temp2_mean=weather_dew_temp2['dew_temperature'].mean()
weather_dew_temp2['dew_temperature'].fillna(weather_dew_temp2_mean,inplace=True)

In [166]:
weather_dew_temp2_mean

4.069505807333195

In [167]:
weather_dew_temp2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8783.000000,8717.000000,8739.000000,8192.000000,8778.000000,8783.000000,8783.000000,8783.0
mean,2.0,24.940321,1.958469,4.069506,0.157738,1011.679311,152.777100,2.932764,6.513037,15.757144,2016.0
std,0.0,9.119316,1.637702,7.618692,2.857446,4.934105,104.020345,1.963932,3.451130,8.812484,0.0
min,2.0,2.200000,0.000000,-17.200000,-1.000000,999.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,2.0,17.800000,0.000000,-1.700000,0.000000,1008.300000,80.000000,1.500000,4.000000,8.000000,2016.0
50%,2.0,25.600000,1.958469,3.300000,0.000000,1011.000000,120.000000,2.600000,7.000000,16.000000,2016.0
75%,2.0,32.200000,2.000000,10.000000,0.000000,1014.700000,250.000000,4.100000,10.000000,23.000000,2016.0
max,2.0,47.200000,9.000000,23.300000,132.000000,1028.200000,360.000000,15.400000,12.000000,31.000000,2016.0

# dew_temperature site_id=3

In [168]:
weather_dew_temp3=cloud_cov_filled[cloud_cov_filled['site_id']==3]

In [169]:
weather_dew_temp3.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8780.0,8780.000000,8780.000000,8774.000000,8743.000000,8622.000000,8627.000000,8776.000000,8780.000000,8780.000000,8780.0
mean,3.0,15.520579,3.879136,8.126214,0.691868,1017.938692,185.063174,3.910893,6.512870,15.760251,2016.0
std,0.0,10.059395,2.090937,10.688443,5.575544,6.931980,111.054554,2.282695,3.451708,8.812344,0.0
min,3.0,-10.600000,0.000000,-22.800000,-1.000000,991.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,3.0,7.800000,3.879136,0.000000,0.000000,1013.600000,80.000000,2.600000,4.000000,8.000000,2016.0
50%,3.0,15.600000,3.879136,9.400000,0.000000,1018.000000,190.000000,3.600000,7.000000,16.000000,2016.0
75%,3.0,23.900000,4.000000,17.800000,0.000000,1022.200000,290.000000,5.100000,10.000000,23.000000,2016.0
max,3.0,37.800000,9.000000,26.100000,198.000000,1040.900000,360.000000,17.000000,12.000000,31.000000,2016.0

In [170]:
weather_dew_temp3_mean=weather_dew_temp3['dew_temperature'].mean()
weather_dew_temp3['dew_temperature'].fillna(weather_dew_temp3_mean,inplace=True)

In [171]:
weather_dew_temp3_mean

8.126213813540035

In [172]:
weather_dew_temp3.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8780.0,8780.000000,8780.000000,8780.000000,8743.000000,8622.000000,8627.000000,8776.000000,8780.000000,8780.000000,8780.0
mean,3.0,15.520579,3.879136,8.126214,0.691868,1017.938692,185.063174,3.910893,6.512870,15.760251,2016.0
std,0.0,10.059395,2.090937,10.684790,5.575544,6.931980,111.054554,2.282695,3.451708,8.812344,0.0
min,3.0,-10.600000,0.000000,-22.800000,-1.000000,991.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,3.0,7.800000,3.879136,0.000000,0.000000,1013.600000,80.000000,2.600000,4.000000,8.000000,2016.0
50%,3.0,15.600000,3.879136,9.400000,0.000000,1018.000000,190.000000,3.600000,7.000000,16.000000,2016.0
75%,3.0,23.900000,4.000000,17.800000,0.000000,1022.200000,290.000000,5.100000,10.000000,23.000000,2016.0
max,3.0,37.800000,9.000000,26.100000,198.000000,1040.900000,360.000000,17.000000,12.000000,31.000000,2016.0

# dew_temperature site_id=4

In [173]:
weather_dew_temp4=cloud_cov_filled[cloud_cov_filled['site_id']==4]

In [174]:
weather_dew_temp4.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8781.000000,7466.000000,8710.000000,8678.000000,8783.000000,8783.000000,8783.000000,8783.0
mean,4.0,15.236366,1.867999,9.894750,0.248594,1016.887750,207.864715,3.858226,6.514289,15.758511,2016.0
std,0.0,4.014637,0.979619,3.529137,3.335185,4.519844,109.723916,2.536447,3.451125,8.811126,0.0
min,4.0,1.100000,0.000000,-9.400000,-1.000000,999.800000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,4.0,12.800000,1.867999,8.300000,0.000000,1013.600000,130.000000,2.100000,4.000000,8.000000,2016.0
50%,4.0,15.000000,1.867999,10.600000,0.000000,1016.600000,260.000000,3.600000,7.000000,16.000000,2016.0
75%,4.0,17.800000,2.000000,12.200000,0.000000,1019.800000,290.000000,5.700000,10.000000,23.000000,2016.0
max,4.0,35.000000,9.000000,18.300000,124.000000,1031.700000,360.000000,16.500000,12.000000,31.000000,2016.0

In [175]:
weather_dew_temp4_mean=weather_dew_temp4['dew_temperature'].mean()
weather_dew_temp4['dew_temperature'].fillna(weather_dew_temp4_mean,inplace=True)

In [176]:
weather_dew_temp4_mean

9.894750028470588

In [177]:
weather_dew_temp4.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8783.000000,7466.000000,8710.000000,8678.000000,8783.000000,8783.000000,8783.000000,8783.0
mean,4.0,15.236366,1.867999,9.894750,0.248594,1016.887750,207.864715,3.858226,6.514289,15.758511,2016.0
std,0.0,4.014637,0.979619,3.528735,3.335185,4.519844,109.723916,2.536447,3.451125,8.811126,0.0
min,4.0,1.100000,0.000000,-9.400000,-1.000000,999.800000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,4.0,12.800000,1.867999,8.300000,0.000000,1013.600000,130.000000,2.100000,4.000000,8.000000,2016.0
50%,4.0,15.000000,1.867999,10.600000,0.000000,1016.600000,260.000000,3.600000,7.000000,16.000000,2016.0
75%,4.0,17.800000,2.000000,12.200000,0.000000,1019.800000,290.000000,5.700000,10.000000,23.000000,2016.0
max,4.0,35.000000,9.000000,18.300000,124.000000,1031.700000,360.000000,16.500000,12.000000,31.000000,2016.0

# dew_temperature site_id=5

In [178]:
weather_dew_temp5=cloud_cov_filled[cloud_cov_filled['site_id']==5]

In [179]:
weather_dew_temp5.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8755.0,8755.000000,8755.000000,8753.000000,0.0,0.0,8460.000000,8752.000000,8755.000000,8755.000000,8755.0
mean,5.0,10.867931,0.290642,8.194676,NaN,NaN,200.053191,4.768087,6.523587,15.747230,2016.0
std,0.0,5.090896,0.887672,4.968643,NaN,NaN,100.094220,2.340060,3.448831,8.818296,0.0
min,5.0,-3.000000,0.000000,-6.000000,NaN,NaN,0.000000,0.000000,1.000000,1.000000,2016.0
25%,5.0,7.000000,0.000000,4.000000,NaN,NaN,100.000000,3.100000,4.000000,8.000000,2016.0
50%,5.0,11.000000,0.290642,8.000000,NaN,NaN,240.000000,4.600000,7.000000,16.000000,2016.0
75%,5.0,15.000000,0.290642,12.000000,NaN,NaN,280.000000,6.200000,10.000000,23.000000,2016.0
max,5.0,30.000000,9.000000,19.000000,NaN,NaN,360.000000,18.500000,12.000000,31.000000,2016.0

In [180]:
weather_dew_temp5_mean=weather_dew_temp5['dew_temperature'].mean()
weather_dew_temp5['dew_temperature'].fillna(weather_dew_temp5_mean,inplace=True)

In [181]:
weather_dew_temp5_mean

8.194676111047642

In [182]:
weather_dew_temp5.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8755.0,8755.000000,8755.000000,8755.000000,0.0,0.0,8460.000000,8752.000000,8755.000000,8755.000000,8755.0
mean,5.0,10.867931,0.290642,8.194676,NaN,NaN,200.053191,4.768087,6.523587,15.747230,2016.0
std,0.0,5.090896,0.887672,4.968076,NaN,NaN,100.094220,2.340060,3.448831,8.818296,0.0
min,5.0,-3.000000,0.000000,-6.000000,NaN,NaN,0.000000,0.000000,1.000000,1.000000,2016.0
25%,5.0,7.000000,0.000000,4.000000,NaN,NaN,100.000000,3.100000,4.000000,8.000000,2016.0
50%,5.0,11.000000,0.290642,8.000000,NaN,NaN,240.000000,4.600000,7.000000,16.000000,2016.0
75%,5.0,15.000000,0.290642,12.000000,NaN,NaN,280.000000,6.200000,10.000000,23.000000,2016.0
max,5.0,30.000000,9.000000,19.000000,NaN,NaN,360.000000,18.500000,12.000000,31.000000,2016.0

# dew_temperature site_id=6

In [183]:
weather_dew_temp6=cloud_cov_filled[cloud_cov_filled['site_id']==6]

In [184]:
weather_dew_temp6.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8782.0,8782.000000,8782.000000,8772.000000,8782.000000,8607.000000,8003.000000,8743.000000,8782.000000,8782.000000,8782.0
mean,6.0,15.141678,0.647668,7.320691,0.797768,1017.527954,131.618143,2.197758,6.514006,15.757345,2016.0
std,0.0,9.935490,1.322036,11.108064,6.368168,6.646051,120.664838,1.875501,3.451220,8.810950,0.0
min,6.0,-13.300000,0.000000,-23.300000,-1.000000,991.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,6.0,7.200000,0.000000,-1.100000,0.000000,1013.550000,0.000000,0.000000,4.000000,8.000000,2016.0
50%,6.0,16.100000,0.000000,9.400000,0.000000,1017.500000,150.000000,2.100000,7.000000,16.000000,2016.0
75%,6.0,22.800000,0.647668,17.200000,0.000000,1021.600000,210.000000,3.100000,10.000000,23.000000,2016.0
max,6.0,37.200000,9.000000,24.400000,198.000000,1039.800000,360.000000,11.300000,12.000000,31.000000,2016.0

In [185]:
weather_dew_temp6_mean=weather_dew_temp6['dew_temperature'].mean()
weather_dew_temp6['dew_temperature'].fillna(weather_dew_temp6_mean,inplace=True)

In [186]:
weather_dew_temp6_mean

7.3206908344732735

In [187]:
weather_dew_temp6.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8782.0,8782.000000,8782.000000,8782.000000,8782.000000,8607.000000,8003.000000,8743.000000,8782.000000,8782.000000,8782.0
mean,6.0,15.141678,0.647668,7.320691,0.797768,1017.527954,131.618143,2.197758,6.514006,15.757345,2016.0
std,0.0,9.935490,1.322036,11.101737,6.368168,6.646051,120.664838,1.875501,3.451220,8.810950,0.0
min,6.0,-13.300000,0.000000,-23.300000,-1.000000,991.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,6.0,7.200000,0.000000,-1.100000,0.000000,1013.550000,0.000000,0.000000,4.000000,8.000000,2016.0
50%,6.0,16.100000,0.000000,8.900000,0.000000,1017.500000,150.000000,2.100000,7.000000,16.000000,2016.0
75%,6.0,22.800000,0.647668,17.200000,0.000000,1021.600000,210.000000,3.100000,10.000000,23.000000,2016.0
max,6.0,37.200000,9.000000,24.400000,198.000000,1039.800000,360.000000,11.300000,12.000000,31.000000,2016.0

# dew_temperature site_id=7

In [188]:
weather_dew_temp7=cloud_cov_filled[cloud_cov_filled['site_id']==7]

In [189]:
weather_dew_temp7.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8614.0,8614.000000,8614.0,8591.000000,731.000000,8606.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.0
mean,7.0,7.888867,0.0,1.905913,11.350205,1015.252010,208.931739,3.445565,6.561412,15.837938,2016.0
std,0.0,12.218509,0.0,10.773200,21.274216,8.446564,103.375537,1.995291,3.422306,8.793355,0.0
min,7.0,-28.800000,0.0,-35.000000,2.000000,983.600000,10.000000,0.000000,1.000000,1.000000,2016.0
25%,7.0,-0.900000,0.0,-5.500000,2.000000,1010.000000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,7.0,7.700000,0.0,2.500000,5.000000,1015.200000,230.000000,3.100000,7.000000,16.000000,2016.0
75%,7.0,18.200000,0.0,10.750000,11.500000,1020.900000,290.000000,4.600000,10.000000,23.000000,2016.0
max,7.0,33.900000,0.0,22.900000,262.000000,1043.800000,360.000000,12.800000,12.000000,31.000000,2016.0

In [190]:
weather_dew_temp7_mean=weather_dew_temp7['dew_temperature'].mean()
weather_dew_temp7['dew_temperature'].fillna(weather_dew_temp7_mean,inplace=True)

In [191]:
weather_dew_temp7_mean

1.905913164940063

In [192]:
weather_dew_temp7.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8614.0,8614.000000,8614.0,8614.000000,731.000000,8606.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.0
mean,7.0,7.888867,0.0,1.905913,11.350205,1015.252010,208.931739,3.445565,6.561412,15.837938,2016.0
std,0.0,12.218509,0.0,10.758806,21.274216,8.446564,103.375537,1.995291,3.422306,8.793355,0.0
min,7.0,-28.800000,0.0,-35.000000,2.000000,983.600000,10.000000,0.000000,1.000000,1.000000,2016.0
25%,7.0,-0.900000,0.0,-5.500000,2.000000,1010.000000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,7.0,7.700000,0.0,2.400000,5.000000,1015.200000,230.000000,3.100000,7.000000,16.000000,2016.0
75%,7.0,18.200000,0.0,10.700000,11.500000,1020.900000,290.000000,4.600000,10.000000,23.000000,2016.0
max,7.0,33.900000,0.0,22.900000,262.000000,1043.800000,360.000000,12.800000,12.000000,31.000000,2016.0

# dew_temperature site_id=8

In [193]:
weather_dew_temp8=cloud_cov_filled[cloud_cov_filled['site_id']==8]

In [194]:
weather_dew_temp8.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8784.0,8784.000000,8784.000000,8781.000000,8783.000000,8699.000000,8534.000000,8784.000000,8784.000000,8784.000000,8784.0
mean,8.0,22.836021,3.044610,16.817880,1.382557,1017.988378,156.494024,3.375114,6.513661,15.756831,2016.0
std,0.0,6.036386,1.591104,6.519374,12.956933,4.036187,118.344523,2.154266,3.451430,8.812031,0.0
min,8.0,1.700000,0.000000,-9.400000,-1.000000,992.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,8.0,18.900000,2.000000,13.300000,0.000000,1015.500000,60.000000,2.100000,4.000000,8.000000,2016.0
50%,8.0,23.900000,3.044610,18.300000,0.000000,1018.000000,140.000000,3.100000,7.000000,16.000000,2016.0
75%,8.0,26.700000,4.000000,22.200000,0.000000,1020.600000,260.000000,4.600000,10.000000,23.000000,2016.0
max,8.0,36.100000,9.000000,25.600000,343.000000,1030.200000,360.000000,15.400000,12.000000,31.000000,2016.0

In [195]:
weather_dew_temp8_mean=weather_dew_temp8['dew_temperature'].mean()
weather_dew_temp8['dew_temperature'].fillna(weather_dew_temp8_mean,inplace=True)

In [196]:
weather_dew_temp8_mean

16.817879512583954

In [197]:
weather_dew_temp8.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8784.0,8784.000000,8784.000000,8784.00000,8783.000000,8699.000000,8534.000000,8784.000000,8784.000000,8784.000000,8784.0
mean,8.0,22.836021,3.044610,16.81788,1.382557,1017.988378,156.494024,3.375114,6.513661,15.756831,2016.0
std,0.0,6.036386,1.591104,6.51826,12.956933,4.036187,118.344523,2.154266,3.451430,8.812031,0.0
min,8.0,1.700000,0.000000,-9.40000,-1.000000,992.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,8.0,18.900000,2.000000,13.30000,0.000000,1015.500000,60.000000,2.100000,4.000000,8.000000,2016.0
50%,8.0,23.900000,3.044610,18.30000,0.000000,1018.000000,140.000000,3.100000,7.000000,16.000000,2016.0
75%,8.0,26.700000,4.000000,22.20000,0.000000,1020.600000,260.000000,4.600000,10.000000,23.000000,2016.0
max,8.0,36.100000,9.000000,25.60000,343.000000,1030.200000,360.000000,15.400000,12.000000,31.000000,2016.0

# dew_temperature site_id=9

In [198]:
weather_dew_temp9=cloud_cov_filled[cloud_cov_filled['site_id']==9]

In [199]:
weather_dew_temp9.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8780.0,8780.000000,8780.000000,8773.000000,8773.000000,8541.000000,6222.000000,8683.000000,8780.000000,8780.000000,8780.0
mean,9.0,21.367499,0.610673,14.613302,0.755158,1016.625114,116.648987,2.083658,6.514009,15.756264,2016.0
std,0.0,7.984637,1.041529,8.502967,7.274596,6.065054,117.050797,1.519628,3.451143,8.811064,0.0
min,9.0,-5.000000,0.000000,-13.300000,-1.000000,999.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,9.0,16.100000,0.000000,8.900000,0.000000,1012.800000,0.000000,1.500000,4.000000,8.000000,2016.0
50%,9.0,22.200000,0.610673,17.200000,0.000000,1015.800000,120.000000,2.100000,7.000000,16.000000,2016.0
75%,9.0,26.700000,0.610673,21.700000,0.000000,1020.000000,180.000000,3.100000,10.000000,23.000000,2016.0
max,9.0,39.400000,9.000000,26.100000,203.000000,1041.600000,360.000000,9.300000,12.000000,31.000000,2016.0

In [200]:
weather_dew_temp9_mean=weather_dew_temp9['dew_temperature'].mean()
weather_dew_temp9['dew_temperature'].fillna(weather_dew_temp9_mean,inplace=True)

In [201]:
weather_dew_temp9_mean

14.613302177134274

In [202]:
weather_dew_temp9.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8780.0,8780.000000,8780.000000,8780.000000,8773.000000,8541.000000,6222.000000,8683.000000,8780.000000,8780.000000,8780.0
mean,9.0,21.367499,0.610673,14.613302,0.755158,1016.625114,116.648987,2.083658,6.514009,15.756264,2016.0
std,0.0,7.984637,1.041529,8.499577,7.274596,6.065054,117.050797,1.519628,3.451143,8.811064,0.0
min,9.0,-5.000000,0.000000,-13.300000,-1.000000,999.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,9.0,16.100000,0.000000,8.900000,0.000000,1012.800000,0.000000,1.500000,4.000000,8.000000,2016.0
50%,9.0,22.200000,0.610673,17.200000,0.000000,1015.800000,120.000000,2.100000,7.000000,16.000000,2016.0
75%,9.0,26.700000,0.610673,21.700000,0.000000,1020.000000,180.000000,3.100000,10.000000,23.000000,2016.0
max,9.0,39.400000,9.000000,26.100000,203.000000,1041.600000,360.000000,9.300000,12.000000,31.000000,2016.0

# dew_temperature site_id=10

In [203]:
weather_dew_temp10=cloud_cov_filled[cloud_cov_filled['site_id']==10]

In [204]:
weather_dew_temp10.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8782.0,8782.000000,8782.0000,8755.000000,8755.000000,8641.000000,8248.000000,8678.000000,8782.000000,8782.000000,8782.0
mean,10.0,11.644679,0.3765,0.082273,0.457453,1015.668788,179.879971,3.158677,6.513664,15.757458,2016.0
std,0.0,11.141203,1.1302,5.582579,3.361151,8.363580,101.919364,2.035429,3.450825,8.811075,0.0
min,10.0,-16.700000,0.0000,-20.000000,-1.000000,990.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,10.0,2.800000,0.0000,-3.300000,0.000000,1009.900000,150.000000,2.100000,4.000000,8.000000,2016.0
50%,10.0,11.700000,0.0000,0.600000,0.000000,1014.400000,170.000000,3.100000,7.000000,16.000000,2016.0
75%,10.0,20.000000,0.3765,3.900000,0.000000,1020.700000,260.000000,4.100000,10.000000,23.000000,2016.0
max,10.0,37.200000,9.0000,15.000000,79.000000,1042.600000,360.000000,16.500000,12.000000,31.000000,2016.0

In [205]:
weather_dew_temp10_mean=weather_dew_temp10['dew_temperature'].mean()
weather_dew_temp10['dew_temperature'].fillna(weather_dew_temp10_mean,inplace=True)

In [206]:
weather_dew_temp10_mean

0.08227298686465218

In [207]:
weather_dew_temp10.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8782.0,8782.000000,8782.0000,8782.000000,8755.000000,8641.000000,8248.000000,8678.000000,8782.000000,8782.000000,8782.0
mean,10.0,11.644679,0.3765,0.082273,0.457453,1015.668788,179.879971,3.158677,6.513664,15.757458,2016.0
std,0.0,11.141203,1.1302,5.573989,3.361151,8.363580,101.919364,2.035429,3.450825,8.811075,0.0
min,10.0,-16.700000,0.0000,-20.000000,-1.000000,990.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,10.0,2.800000,0.0000,-3.300000,0.000000,1009.900000,150.000000,2.100000,4.000000,8.000000,2016.0
50%,10.0,11.700000,0.0000,0.600000,0.000000,1014.400000,170.000000,3.100000,7.000000,16.000000,2016.0
75%,10.0,20.000000,0.3765,3.900000,0.000000,1020.700000,260.000000,4.100000,10.000000,23.000000,2016.0
max,10.0,37.200000,9.0000,15.000000,79.000000,1042.600000,360.000000,16.500000,12.000000,31.000000,2016.0

# dew_temperature site_id=11

In [208]:
weather_dew_temp11=cloud_cov_filled[cloud_cov_filled['site_id']==11]

In [209]:
weather_dew_temp11.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8614.0,8614.000000,8614.0,8591.000000,731.000000,8606.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.0
mean,11.0,7.888867,0.0,1.905913,11.350205,1015.252010,208.931739,3.445565,6.561412,15.837938,2016.0
std,0.0,12.218509,0.0,10.773200,21.274216,8.446564,103.375537,1.995291,3.422306,8.793355,0.0
min,11.0,-28.800000,0.0,-35.000000,2.000000,983.600000,10.000000,0.000000,1.000000,1.000000,2016.0
25%,11.0,-0.900000,0.0,-5.500000,2.000000,1010.000000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,11.0,7.700000,0.0,2.500000,5.000000,1015.200000,230.000000,3.100000,7.000000,16.000000,2016.0
75%,11.0,18.200000,0.0,10.750000,11.500000,1020.900000,290.000000,4.600000,10.000000,23.000000,2016.0
max,11.0,33.900000,0.0,22.900000,262.000000,1043.800000,360.000000,12.800000,12.000000,31.000000,2016.0

In [210]:
weather_dew_temp11_mean=weather_dew_temp11['dew_temperature'].mean()
weather_dew_temp11['dew_temperature'].fillna(weather_dew_temp11_mean,inplace=True)

In [211]:
weather_dew_temp11_mean

1.905913164940063

In [212]:
weather_dew_temp11.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8614.0,8614.000000,8614.0,8614.000000,731.000000,8606.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.0
mean,11.0,7.888867,0.0,1.905913,11.350205,1015.252010,208.931739,3.445565,6.561412,15.837938,2016.0
std,0.0,12.218509,0.0,10.758806,21.274216,8.446564,103.375537,1.995291,3.422306,8.793355,0.0
min,11.0,-28.800000,0.0,-35.000000,2.000000,983.600000,10.000000,0.000000,1.000000,1.000000,2016.0
25%,11.0,-0.900000,0.0,-5.500000,2.000000,1010.000000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,11.0,7.700000,0.0,2.400000,5.000000,1015.200000,230.000000,3.100000,7.000000,16.000000,2016.0
75%,11.0,18.200000,0.0,10.700000,11.500000,1020.900000,290.000000,4.600000,10.000000,23.000000,2016.0
max,11.0,33.900000,0.0,22.900000,262.000000,1043.800000,360.000000,12.800000,12.000000,31.000000,2016.0

# dew_temperature site_id=12

In [213]:
weather_dew_temp12=cloud_cov_filled[cloud_cov_filled['site_id']==12]

In [214]:
weather_dew_temp12.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8755.0,8755.000000,8755.000000,8755.000000,0.0,8699.000000,8754.000000,8755.000000,8755.000000,8755.000000,8755.0
mean,12.0,9.843232,5.723091,6.519966,NaN,1014.425474,202.774732,5.511399,6.521645,15.743232,2016.0
std,0.0,5.157759,2.234719,4.615672,NaN,11.527693,86.639340,2.733220,3.449572,8.819781,0.0
min,12.0,-4.800000,0.000000,-5.300000,NaN,968.200000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,12.0,6.000000,4.000000,2.700000,NaN,1007.700000,140.000000,4.000000,4.000000,8.000000,2016.0
50%,12.0,9.800000,7.000000,6.700000,NaN,1015.800000,230.000000,5.000000,7.000000,16.000000,2016.0
75%,12.0,13.700000,7.000000,10.100000,NaN,1022.300000,260.000000,7.000000,10.000000,23.000000,2016.0
max,12.0,26.000000,8.000000,18.300000,NaN,1041.900000,360.000000,19.000000,12.000000,31.000000,2016.0

# dew_temperature site_id=13

In [215]:
weather_dew_temp13=cloud_cov_filled[cloud_cov_filled['site_id']==13]

In [216]:
weather_dew_temp13.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8782.000000,8771.000000,8663.000000,8566.000000,8782.000000,8783.000000,8783.000000,8783.0
mean,13.0,9.879617,2.873133,3.401731,0.880515,1015.895371,187.969881,4.197358,6.513037,15.757372,2016.0
std,0.0,12.405170,1.938734,11.385367,7.803157,7.652373,105.086402,2.324516,3.451130,8.812387,0.0
min,13.0,-28.900000,0.000000,-31.700000,-1.000000,981.600000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,13.0,0.600000,2.000000,-3.900000,0.000000,1011.100000,120.000000,2.600000,4.000000,8.000000,2016.0
50%,13.0,11.100000,2.873133,3.900000,0.000000,1015.900000,180.000000,4.100000,7.000000,16.000000,2016.0
75%,13.0,20.000000,2.873133,13.300000,0.000000,1020.900000,280.000000,5.700000,10.000000,23.000000,2016.0
max,13.0,35.600000,9.000000,25.000000,216.000000,1040.200000,360.000000,16.000000,12.000000,31.000000,2016.0

In [217]:
weather_dew_temp13_mean=weather_dew_temp13['dew_temperature'].mean()
weather_dew_temp13['dew_temperature'].fillna(weather_dew_temp13_mean,inplace=True)

In [218]:
weather_dew_temp13_mean

3.401730813026669

In [219]:
weather_dew_temp13.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8783.000000,8771.000000,8663.000000,8566.000000,8782.000000,8783.000000,8783.000000,8783.0
mean,13.0,9.879617,2.873133,3.401731,0.880515,1015.895371,187.969881,4.197358,6.513037,15.757372,2016.0
std,0.0,12.405170,1.938734,11.384719,7.803157,7.652373,105.086402,2.324516,3.451130,8.812387,0.0
min,13.0,-28.900000,0.000000,-31.700000,-1.000000,981.600000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,13.0,0.600000,2.000000,-3.900000,0.000000,1011.100000,120.000000,2.600000,4.000000,8.000000,2016.0
50%,13.0,11.100000,2.873133,3.900000,0.000000,1015.900000,180.000000,4.100000,7.000000,16.000000,2016.0
75%,13.0,20.000000,2.873133,13.300000,0.000000,1020.900000,280.000000,5.700000,10.000000,23.000000,2016.0
max,13.0,35.600000,9.000000,25.000000,216.000000,1040.200000,360.000000,16.000000,12.000000,31.000000,2016.0

# dew_temperature site_id=14

In [220]:
weather_dew_temp14=cloud_cov_filled[cloud_cov_filled['site_id']==14]

In [221]:
weather_dew_temp14.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8777.0,8777.000000,8777.000000,8776.000000,8746.000000,8667.000000,8487.000000,8754.000000,8777.000000,8777.000000,8777.0
mean,14.0,13.258409,0.562203,5.775160,0.742740,1016.377985,187.723813,3.076776,6.514641,15.761080,2016.0
std,0.0,10.253626,1.168142,10.606409,5.661837,7.251592,122.693604,2.073463,3.452279,8.813589,0.0
min,14.0,-15.600000,0.000000,-25.600000,-1.000000,989.600000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,14.0,5.000000,0.000000,-2.800000,0.000000,1011.700000,70.000000,1.500000,4.000000,8.000000,2016.0
50%,14.0,13.300000,0.000000,6.100000,0.000000,1016.500000,210.000000,2.600000,7.000000,16.000000,2016.0
75%,14.0,21.700000,0.562203,15.000000,0.000000,1021.000000,300.000000,4.100000,10.000000,23.000000,2016.0
max,14.0,35.600000,9.000000,25.600000,150.000000,1040.300000,360.000000,13.400000,12.000000,31.000000,2016.0

In [222]:
weather_dew_temp14_mean=weather_dew_temp14['dew_temperature'].mean()
weather_dew_temp14['dew_temperature'].fillna(weather_dew_temp14_mean,inplace=True)

In [223]:
weather_dew_temp14_mean

5.775159525979937

In [224]:
weather_dew_temp14.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8777.0,8777.000000,8777.000000,8777.000000,8746.000000,8667.000000,8487.000000,8754.000000,8777.000000,8777.000000,8777.0
mean,14.0,13.258409,0.562203,5.775160,0.742740,1016.377985,187.723813,3.076776,6.514641,15.761080,2016.0
std,0.0,10.253626,1.168142,10.605805,5.661837,7.251592,122.693604,2.073463,3.452279,8.813589,0.0
min,14.0,-15.600000,0.000000,-25.600000,-1.000000,989.600000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,14.0,5.000000,0.000000,-2.800000,0.000000,1011.700000,70.000000,1.500000,4.000000,8.000000,2016.0
50%,14.0,13.300000,0.000000,6.100000,0.000000,1016.500000,210.000000,2.600000,7.000000,16.000000,2016.0
75%,14.0,21.700000,0.562203,15.000000,0.000000,1021.000000,300.000000,4.100000,10.000000,23.000000,2016.0
max,14.0,35.600000,9.000000,25.600000,150.000000,1040.300000,360.000000,13.400000,12.000000,31.000000,2016.0

# dew_temperature site_id=15

In [225]:
weather_dew_temp15=cloud_cov_filled[cloud_cov_filled['site_id']==15]

In [226]:
weather_dew_temp15.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8454.0,8454.000000,8454.000000,8451.000000,1703.000000,7945.000000,8212.000000,8426.000000,8454.000000,8454.000000,8454.0
mean,15.0,9.357618,1.109988,4.140469,3.495009,1016.980579,186.525816,3.645490,6.559972,15.847764,2016.0
std,0.0,10.846760,1.163289,9.998072,16.366106,7.496048,110.812030,2.457482,3.448856,8.800610,0.0
min,15.0,-23.900000,0.000000,-26.700000,-1.000000,987.400000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,15.0,1.100000,0.000000,-3.600000,-1.000000,1012.300000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,15.0,9.400000,1.109988,4.400000,-1.000000,1017.300000,180.000000,3.100000,7.000000,16.000000,2016.0
75%,15.0,18.300000,1.109988,12.800000,3.000000,1022.000000,300.000000,5.100000,10.000000,23.000000,2016.0
max,15.0,33.900000,9.000000,24.400000,333.000000,1042.200000,360.000000,15.400000,12.000000,31.000000,2016.0

In [227]:
weather_dew_temp15_mean=weather_dew_temp15['dew_temperature'].mean()
weather_dew_temp15['dew_temperature'].fillna(weather_dew_temp15_mean,inplace=True)

In [228]:
weather_dew_temp15_mean

4.140468583599604

In [229]:
weather_dew_temp15.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8454.0,8454.000000,8454.000000,8454.000000,1703.000000,7945.000000,8212.000000,8426.000000,8454.000000,8454.000000,8454.0
mean,15.0,9.357618,1.109988,4.140469,3.495009,1016.980579,186.525816,3.645490,6.559972,15.847764,2016.0
std,0.0,10.846760,1.163289,9.996298,16.366106,7.496048,110.812030,2.457482,3.448856,8.800610,0.0
min,15.0,-23.900000,0.000000,-26.700000,-1.000000,987.400000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,15.0,1.100000,0.000000,-3.300000,-1.000000,1012.300000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,15.0,9.400000,1.109988,4.400000,-1.000000,1017.300000,180.000000,3.100000,7.000000,16.000000,2016.0
75%,15.0,18.300000,1.109988,12.800000,3.000000,1022.000000,300.000000,5.100000,10.000000,23.000000,2016.0
max,15.0,33.900000,9.000000,24.400000,333.000000,1042.200000,360.000000,15.400000,12.000000,31.000000,2016.0

# Merging the above cells to create dew_temperature_filled

In [230]:
dew_temperature_filled = pd.concat([weather_dew_temp0,weather_dew_temp1,weather_dew_temp2,
                           weather_dew_temp3,weather_dew_temp4,weather_dew_temp5,
                           weather_dew_temp6,weather_dew_temp7,weather_dew_temp8,
                           weather_dew_temp9,weather_dew_temp10,weather_dew_temp11,
                           weather_dew_temp12,weather_dew_temp13,weather_dew_temp14,
                           weather_dew_temp15], axis=0)

In [231]:
dew_temperature_filled.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,139773.000000,139773.000000,139773.000000,139773.000000,89484.000000,129155.000000,133505.000000,139469.000000,139773.000000,139773.000000,139773.0
mean,7.478977,14.418288,1.634475,7.347683,0.983047,1016.158038,180.526632,3.560527,6.523871,15.771043,2016.0
std,4.604744,10.624850,2.117312,9.787656,8.463678,7.629684,111.523629,2.335874,3.447111,8.809815,0.0
min,0.000000,-28.900000,0.000000,-35.000000,-1.000000,968.200000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,3.000000,7.200000,0.000000,0.600000,0.000000,1011.800000,80.000000,2.100000,4.000000,8.000000,2016.0
50%,7.000000,15.000000,0.562203,8.300000,0.000000,1016.400000,190.000000,3.100000,7.000000,16.000000,2016.0
75%,11.000000,22.200000,2.873133,14.400000,0.000000,1020.800000,280.000000,5.000000,10.000000,23.000000,2016.0
max,15.000000,47.200000,9.000000,26.100000,343.000000,1045.500000,360.000000,19.000000,12.000000,31.000000,2016.0

taking the dew_temperature_filled, fill in the other missing columns

# precip_depth_1_hr site_id=0

In [232]:
weather_precip0=dew_temperature_filled[dew_temperature_filled['site_id']==0]

In [233]:
weather_precip0.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8784.0,8784.000000,8784.000000,8784.00000,8783.000000,8699.000000,8534.000000,8784.000000,8784.000000,8784.000000,8784.0
mean,0.0,22.836021,3.044610,16.81788,1.382557,1017.988378,156.494024,3.375114,6.513661,15.756831,2016.0
std,0.0,6.036386,1.591104,6.51826,12.956933,4.036187,118.344523,2.154266,3.451430,8.812031,0.0
min,0.0,1.700000,0.000000,-9.40000,-1.000000,992.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,0.0,18.900000,2.000000,13.30000,0.000000,1015.500000,60.000000,2.100000,4.000000,8.000000,2016.0
50%,0.0,23.900000,3.044610,18.30000,0.000000,1018.000000,140.000000,3.100000,7.000000,16.000000,2016.0
75%,0.0,26.700000,4.000000,22.20000,0.000000,1020.600000,260.000000,4.600000,10.000000,23.000000,2016.0
max,0.0,36.100000,9.000000,25.60000,343.000000,1030.200000,360.000000,15.400000,12.000000,31.000000,2016.0

In [234]:
weather_precip0_mean=weather_precip0['precip_depth_1_hr'].mean()
weather_precip0['precip_depth_1_hr'].fillna(weather_precip0_mean,inplace=True)

In [235]:
weather_precip0_mean

1.3825572127974497

In [236]:
weather_precip0.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8784.0,8784.000000,8784.000000,8784.00000,8784.000000,8699.000000,8534.000000,8784.000000,8784.000000,8784.000000,8784.0
mean,0.0,22.836021,3.044610,16.81788,1.382557,1017.988378,156.494024,3.375114,6.513661,15.756831,2016.0
std,0.0,6.036386,1.591104,6.51826,12.956195,4.036187,118.344523,2.154266,3.451430,8.812031,0.0
min,0.0,1.700000,0.000000,-9.40000,-1.000000,992.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,0.0,18.900000,2.000000,13.30000,0.000000,1015.500000,60.000000,2.100000,4.000000,8.000000,2016.0
50%,0.0,23.900000,3.044610,18.30000,0.000000,1018.000000,140.000000,3.100000,7.000000,16.000000,2016.0
75%,0.0,26.700000,4.000000,22.20000,0.000000,1020.600000,260.000000,4.600000,10.000000,23.000000,2016.0
max,0.0,36.100000,9.000000,25.60000,343.000000,1030.200000,360.000000,15.400000,12.000000,31.000000,2016.0

# precip_depth_1_hr site_id=1

In [237]:
weather_precip1=dew_temperature_filled[dew_temperature_filled['site_id']==1]

In [238]:
weather_precip1.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8763.0,8763.000000,8763.000000,8763.000000,0.0,8711.000000,8760.000000,8763.000000,8763.000000,8763.000000,8763.0
mean,1.0,11.711801,0.084656,7.646473,NaN,1015.989795,195.584475,3.967043,6.519799,15.748716,2016.0
std,0.0,6.138649,0.382780,5.215791,NaN,10.746261,98.418020,2.211536,3.449630,8.818108,0.0
min,1.0,-3.900000,0.000000,-8.900000,NaN,973.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,1.0,7.000000,0.084656,3.500000,NaN,1009.700000,120.000000,2.600000,4.000000,8.000000,2016.0
50%,1.0,11.300000,0.084656,7.800000,NaN,1017.600000,220.000000,3.600000,7.000000,16.000000,2016.0
75%,1.0,16.200000,0.084656,11.700000,NaN,1023.000000,270.000000,5.100000,10.000000,23.000000,2016.0
max,1.0,32.900000,9.000000,20.700000,NaN,1045.500000,360.000000,18.500000,12.000000,31.000000,2016.0

In [239]:
weather_precip1['precip_depth_1_hr'].fillna(0,inplace=True)

In [240]:
weather_precip1.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8763.0,8763.000000,8763.000000,8763.000000,8763.0,8711.000000,8760.000000,8763.000000,8763.000000,8763.000000,8763.0
mean,1.0,11.711801,0.084656,7.646473,0.0,1015.989795,195.584475,3.967043,6.519799,15.748716,2016.0
std,0.0,6.138649,0.382780,5.215791,0.0,10.746261,98.418020,2.211536,3.449630,8.818108,0.0
min,1.0,-3.900000,0.000000,-8.900000,0.0,973.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,1.0,7.000000,0.084656,3.500000,0.0,1009.700000,120.000000,2.600000,4.000000,8.000000,2016.0
50%,1.0,11.300000,0.084656,7.800000,0.0,1017.600000,220.000000,3.600000,7.000000,16.000000,2016.0
75%,1.0,16.200000,0.084656,11.700000,0.0,1023.000000,270.000000,5.100000,10.000000,23.000000,2016.0
max,1.0,32.900000,9.000000,20.700000,0.0,1045.500000,360.000000,18.500000,12.000000,31.000000,2016.0

# precip_depth_1_hr site_id=2

In [241]:
weather_precip2=dew_temperature_filled[dew_temperature_filled['site_id']==2]

In [242]:
weather_precip2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8783.000000,8717.000000,8739.000000,8192.000000,8778.000000,8783.000000,8783.000000,8783.0
mean,2.0,24.940321,1.958469,4.069506,0.157738,1011.679311,152.777100,2.932764,6.513037,15.757144,2016.0
std,0.0,9.119316,1.637702,7.618692,2.857446,4.934105,104.020345,1.963932,3.451130,8.812484,0.0
min,2.0,2.200000,0.000000,-17.200000,-1.000000,999.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,2.0,17.800000,0.000000,-1.700000,0.000000,1008.300000,80.000000,1.500000,4.000000,8.000000,2016.0
50%,2.0,25.600000,1.958469,3.300000,0.000000,1011.000000,120.000000,2.600000,7.000000,16.000000,2016.0
75%,2.0,32.200000,2.000000,10.000000,0.000000,1014.700000,250.000000,4.100000,10.000000,23.000000,2016.0
max,2.0,47.200000,9.000000,23.300000,132.000000,1028.200000,360.000000,15.400000,12.000000,31.000000,2016.0

In [243]:
weather_precip2_mean=weather_precip2['precip_depth_1_hr'].mean()
weather_precip2['precip_depth_1_hr'].fillna(weather_precip2_mean,inplace=True)

In [244]:
weather_precip2_mean

0.15773775381438568

In [245]:
weather_precip2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8783.000000,8783.000000,8739.000000,8192.000000,8778.000000,8783.000000,8783.000000,8783.0
mean,2.0,24.940321,1.958469,4.069506,0.157738,1011.679311,152.777100,2.932764,6.513037,15.757144,2016.0
std,0.0,9.119316,1.637702,7.618692,2.846688,4.934105,104.020345,1.963932,3.451130,8.812484,0.0
min,2.0,2.200000,0.000000,-17.200000,-1.000000,999.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,2.0,17.800000,0.000000,-1.700000,0.000000,1008.300000,80.000000,1.500000,4.000000,8.000000,2016.0
50%,2.0,25.600000,1.958469,3.300000,0.000000,1011.000000,120.000000,2.600000,7.000000,16.000000,2016.0
75%,2.0,32.200000,2.000000,10.000000,0.000000,1014.700000,250.000000,4.100000,10.000000,23.000000,2016.0
max,2.0,47.200000,9.000000,23.300000,132.000000,1028.200000,360.000000,15.400000,12.000000,31.000000,2016.0

# precip_depth_1_hr site_id=3

In [246]:
weather_precip3=dew_temperature_filled[dew_temperature_filled['site_id']==3]

In [247]:
weather_precip3.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8780.0,8780.000000,8780.000000,8780.000000,8743.000000,8622.000000,8627.000000,8776.000000,8780.000000,8780.000000,8780.0
mean,3.0,15.520579,3.879136,8.126214,0.691868,1017.938692,185.063174,3.910893,6.512870,15.760251,2016.0
std,0.0,10.059395,2.090937,10.684790,5.575544,6.931980,111.054554,2.282695,3.451708,8.812344,0.0
min,3.0,-10.600000,0.000000,-22.800000,-1.000000,991.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,3.0,7.800000,3.879136,0.000000,0.000000,1013.600000,80.000000,2.600000,4.000000,8.000000,2016.0
50%,3.0,15.600000,3.879136,9.400000,0.000000,1018.000000,190.000000,3.600000,7.000000,16.000000,2016.0
75%,3.0,23.900000,4.000000,17.800000,0.000000,1022.200000,290.000000,5.100000,10.000000,23.000000,2016.0
max,3.0,37.800000,9.000000,26.100000,198.000000,1040.900000,360.000000,17.000000,12.000000,31.000000,2016.0

In [248]:
weather_precip3_mean=weather_precip3['precip_depth_1_hr'].mean()
weather_precip3['precip_depth_1_hr'].fillna(weather_precip3_mean,inplace=True)

In [249]:
weather_precip3_mean

0.6918677799382363

In [250]:
weather_precip3.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8780.0,8780.000000,8780.000000,8780.000000,8780.000000,8622.000000,8627.000000,8776.000000,8780.000000,8780.000000,8780.0
mean,3.0,15.520579,3.879136,8.126214,0.691868,1017.938692,185.063174,3.910893,6.512870,15.760251,2016.0
std,0.0,10.059395,2.090937,10.684790,5.563783,6.931980,111.054554,2.282695,3.451708,8.812344,0.0
min,3.0,-10.600000,0.000000,-22.800000,-1.000000,991.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,3.0,7.800000,3.879136,0.000000,0.000000,1013.600000,80.000000,2.600000,4.000000,8.000000,2016.0
50%,3.0,15.600000,3.879136,9.400000,0.000000,1018.000000,190.000000,3.600000,7.000000,16.000000,2016.0
75%,3.0,23.900000,4.000000,17.800000,0.000000,1022.200000,290.000000,5.100000,10.000000,23.000000,2016.0
max,3.0,37.800000,9.000000,26.100000,198.000000,1040.900000,360.000000,17.000000,12.000000,31.000000,2016.0

# precip_depth_1_hr site_id=4

In [251]:
weather_precip4=dew_temperature_filled[dew_temperature_filled['site_id']==4]

In [252]:
weather_precip4.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8783.000000,7466.000000,8710.000000,8678.000000,8783.000000,8783.000000,8783.000000,8783.0
mean,4.0,15.236366,1.867999,9.894750,0.248594,1016.887750,207.864715,3.858226,6.514289,15.758511,2016.0
std,0.0,4.014637,0.979619,3.528735,3.335185,4.519844,109.723916,2.536447,3.451125,8.811126,0.0
min,4.0,1.100000,0.000000,-9.400000,-1.000000,999.800000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,4.0,12.800000,1.867999,8.300000,0.000000,1013.600000,130.000000,2.100000,4.000000,8.000000,2016.0
50%,4.0,15.000000,1.867999,10.600000,0.000000,1016.600000,260.000000,3.600000,7.000000,16.000000,2016.0
75%,4.0,17.800000,2.000000,12.200000,0.000000,1019.800000,290.000000,5.700000,10.000000,23.000000,2016.0
max,4.0,35.000000,9.000000,18.300000,124.000000,1031.700000,360.000000,16.500000,12.000000,31.000000,2016.0

In [253]:
weather_precip4_mean=weather_precip4['precip_depth_1_hr'].mean()
weather_precip4['precip_depth_1_hr'].fillna(weather_precip4_mean,inplace=True)

In [254]:
weather_precip4_mean

0.24859362443075275

In [255]:
weather_precip4.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8783.000000,8783.000000,8710.000000,8678.000000,8783.000000,8783.000000,8783.000000,8783.0
mean,4.0,15.236366,1.867999,9.894750,0.248594,1016.887750,207.864715,3.858226,6.514289,15.758511,2016.0
std,0.0,4.014637,0.979619,3.528735,3.074950,4.519844,109.723916,2.536447,3.451125,8.811126,0.0
min,4.0,1.100000,0.000000,-9.400000,-1.000000,999.800000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,4.0,12.800000,1.867999,8.300000,0.000000,1013.600000,130.000000,2.100000,4.000000,8.000000,2016.0
50%,4.0,15.000000,1.867999,10.600000,0.000000,1016.600000,260.000000,3.600000,7.000000,16.000000,2016.0
75%,4.0,17.800000,2.000000,12.200000,0.000000,1019.800000,290.000000,5.700000,10.000000,23.000000,2016.0
max,4.0,35.000000,9.000000,18.300000,124.000000,1031.700000,360.000000,16.500000,12.000000,31.000000,2016.0

# precip_depth_1_hr site_id=5

In [256]:
weather_precip5=dew_temperature_filled[dew_temperature_filled['site_id']==5]

In [257]:
weather_precip5.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8755.0,8755.000000,8755.000000,8755.000000,0.0,0.0,8460.000000,8752.000000,8755.000000,8755.000000,8755.0
mean,5.0,10.867931,0.290642,8.194676,NaN,NaN,200.053191,4.768087,6.523587,15.747230,2016.0
std,0.0,5.090896,0.887672,4.968076,NaN,NaN,100.094220,2.340060,3.448831,8.818296,0.0
min,5.0,-3.000000,0.000000,-6.000000,NaN,NaN,0.000000,0.000000,1.000000,1.000000,2016.0
25%,5.0,7.000000,0.000000,4.000000,NaN,NaN,100.000000,3.100000,4.000000,8.000000,2016.0
50%,5.0,11.000000,0.290642,8.000000,NaN,NaN,240.000000,4.600000,7.000000,16.000000,2016.0
75%,5.0,15.000000,0.290642,12.000000,NaN,NaN,280.000000,6.200000,10.000000,23.000000,2016.0
max,5.0,30.000000,9.000000,19.000000,NaN,NaN,360.000000,18.500000,12.000000,31.000000,2016.0

In [258]:
weather_precip5['precip_depth_1_hr'].fillna(0,inplace=True)

In [259]:
weather_precip5.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8755.0,8755.000000,8755.000000,8755.000000,8755.0,0.0,8460.000000,8752.000000,8755.000000,8755.000000,8755.0
mean,5.0,10.867931,0.290642,8.194676,0.0,NaN,200.053191,4.768087,6.523587,15.747230,2016.0
std,0.0,5.090896,0.887672,4.968076,0.0,NaN,100.094220,2.340060,3.448831,8.818296,0.0
min,5.0,-3.000000,0.000000,-6.000000,0.0,NaN,0.000000,0.000000,1.000000,1.000000,2016.0
25%,5.0,7.000000,0.000000,4.000000,0.0,NaN,100.000000,3.100000,4.000000,8.000000,2016.0
50%,5.0,11.000000,0.290642,8.000000,0.0,NaN,240.000000,4.600000,7.000000,16.000000,2016.0
75%,5.0,15.000000,0.290642,12.000000,0.0,NaN,280.000000,6.200000,10.000000,23.000000,2016.0
max,5.0,30.000000,9.000000,19.000000,0.0,NaN,360.000000,18.500000,12.000000,31.000000,2016.0

# precip_depth_1_hr site_id=6

In [260]:
weather_precip6=dew_temperature_filled[dew_temperature_filled['site_id']==6]

In [261]:
weather_precip6.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8782.0,8782.000000,8782.000000,8782.000000,8782.000000,8607.000000,8003.000000,8743.000000,8782.000000,8782.000000,8782.0
mean,6.0,15.141678,0.647668,7.320691,0.797768,1017.527954,131.618143,2.197758,6.514006,15.757345,2016.0
std,0.0,9.935490,1.322036,11.101737,6.368168,6.646051,120.664838,1.875501,3.451220,8.810950,0.0
min,6.0,-13.300000,0.000000,-23.300000,-1.000000,991.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,6.0,7.200000,0.000000,-1.100000,0.000000,1013.550000,0.000000,0.000000,4.000000,8.000000,2016.0
50%,6.0,16.100000,0.000000,8.900000,0.000000,1017.500000,150.000000,2.100000,7.000000,16.000000,2016.0
75%,6.0,22.800000,0.647668,17.200000,0.000000,1021.600000,210.000000,3.100000,10.000000,23.000000,2016.0
max,6.0,37.200000,9.000000,24.400000,198.000000,1039.800000,360.000000,11.300000,12.000000,31.000000,2016.0

# precip_depth_1_hr site_id=7

In [262]:
weather_precip7=dew_temperature_filled[dew_temperature_filled['site_id']==7]

In [263]:
weather_precip7.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8614.0,8614.000000,8614.0,8614.000000,731.000000,8606.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.0
mean,7.0,7.888867,0.0,1.905913,11.350205,1015.252010,208.931739,3.445565,6.561412,15.837938,2016.0
std,0.0,12.218509,0.0,10.758806,21.274216,8.446564,103.375537,1.995291,3.422306,8.793355,0.0
min,7.0,-28.800000,0.0,-35.000000,2.000000,983.600000,10.000000,0.000000,1.000000,1.000000,2016.0
25%,7.0,-0.900000,0.0,-5.500000,2.000000,1010.000000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,7.0,7.700000,0.0,2.400000,5.000000,1015.200000,230.000000,3.100000,7.000000,16.000000,2016.0
75%,7.0,18.200000,0.0,10.700000,11.500000,1020.900000,290.000000,4.600000,10.000000,23.000000,2016.0
max,7.0,33.900000,0.0,22.900000,262.000000,1043.800000,360.000000,12.800000,12.000000,31.000000,2016.0

In [264]:
weather_precip7_mean=weather_precip7['precip_depth_1_hr'].mean()
weather_precip7['precip_depth_1_hr'].fillna(weather_precip7_mean,inplace=True)

In [265]:
weather_precip7_mean

11.350205198358413

In [266]:
weather_precip7.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8614.0,8614.000000,8614.0,8614.000000,8614.000000,8606.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.0
mean,7.0,7.888867,0.0,1.905913,11.350205,1015.252010,208.931739,3.445565,6.561412,15.837938,2016.0
std,0.0,12.218509,0.0,10.758806,6.193523,8.446564,103.375537,1.995291,3.422306,8.793355,0.0
min,7.0,-28.800000,0.0,-35.000000,2.000000,983.600000,10.000000,0.000000,1.000000,1.000000,2016.0
25%,7.0,-0.900000,0.0,-5.500000,11.350205,1010.000000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,7.0,7.700000,0.0,2.400000,11.350205,1015.200000,230.000000,3.100000,7.000000,16.000000,2016.0
75%,7.0,18.200000,0.0,10.700000,11.350205,1020.900000,290.000000,4.600000,10.000000,23.000000,2016.0
max,7.0,33.900000,0.0,22.900000,262.000000,1043.800000,360.000000,12.800000,12.000000,31.000000,2016.0

# precip_depth_1_hr site_id=8

In [267]:
weather_precip8=dew_temperature_filled[dew_temperature_filled['site_id']==8]

In [268]:
weather_precip8.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8784.0,8784.000000,8784.000000,8784.00000,8783.000000,8699.000000,8534.000000,8784.000000,8784.000000,8784.000000,8784.0
mean,8.0,22.836021,3.044610,16.81788,1.382557,1017.988378,156.494024,3.375114,6.513661,15.756831,2016.0
std,0.0,6.036386,1.591104,6.51826,12.956933,4.036187,118.344523,2.154266,3.451430,8.812031,0.0
min,8.0,1.700000,0.000000,-9.40000,-1.000000,992.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,8.0,18.900000,2.000000,13.30000,0.000000,1015.500000,60.000000,2.100000,4.000000,8.000000,2016.0
50%,8.0,23.900000,3.044610,18.30000,0.000000,1018.000000,140.000000,3.100000,7.000000,16.000000,2016.0
75%,8.0,26.700000,4.000000,22.20000,0.000000,1020.600000,260.000000,4.600000,10.000000,23.000000,2016.0
max,8.0,36.100000,9.000000,25.60000,343.000000,1030.200000,360.000000,15.400000,12.000000,31.000000,2016.0

In [269]:
weather_precip8_mean=weather_precip8['precip_depth_1_hr'].mean()
weather_precip8['precip_depth_1_hr'].fillna(weather_precip8_mean,inplace=True)

In [270]:
weather_precip8_mean

1.3825572127974497

In [271]:
weather_precip8.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8784.0,8784.000000,8784.000000,8784.00000,8784.000000,8699.000000,8534.000000,8784.000000,8784.000000,8784.000000,8784.0
mean,8.0,22.836021,3.044610,16.81788,1.382557,1017.988378,156.494024,3.375114,6.513661,15.756831,2016.0
std,0.0,6.036386,1.591104,6.51826,12.956195,4.036187,118.344523,2.154266,3.451430,8.812031,0.0
min,8.0,1.700000,0.000000,-9.40000,-1.000000,992.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,8.0,18.900000,2.000000,13.30000,0.000000,1015.500000,60.000000,2.100000,4.000000,8.000000,2016.0
50%,8.0,23.900000,3.044610,18.30000,0.000000,1018.000000,140.000000,3.100000,7.000000,16.000000,2016.0
75%,8.0,26.700000,4.000000,22.20000,0.000000,1020.600000,260.000000,4.600000,10.000000,23.000000,2016.0
max,8.0,36.100000,9.000000,25.60000,343.000000,1030.200000,360.000000,15.400000,12.000000,31.000000,2016.0

# precip_depth_1_hr site_id=9

In [272]:
weather_precip9=dew_temperature_filled[dew_temperature_filled['site_id']==9]

In [273]:
weather_precip9.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8780.0,8780.000000,8780.000000,8780.000000,8773.000000,8541.000000,6222.000000,8683.000000,8780.000000,8780.000000,8780.0
mean,9.0,21.367499,0.610673,14.613302,0.755158,1016.625114,116.648987,2.083658,6.514009,15.756264,2016.0
std,0.0,7.984637,1.041529,8.499577,7.274596,6.065054,117.050797,1.519628,3.451143,8.811064,0.0
min,9.0,-5.000000,0.000000,-13.300000,-1.000000,999.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,9.0,16.100000,0.000000,8.900000,0.000000,1012.800000,0.000000,1.500000,4.000000,8.000000,2016.0
50%,9.0,22.200000,0.610673,17.200000,0.000000,1015.800000,120.000000,2.100000,7.000000,16.000000,2016.0
75%,9.0,26.700000,0.610673,21.700000,0.000000,1020.000000,180.000000,3.100000,10.000000,23.000000,2016.0
max,9.0,39.400000,9.000000,26.100000,203.000000,1041.600000,360.000000,9.300000,12.000000,31.000000,2016.0

In [274]:
weather_precip9_mean=weather_precip9['precip_depth_1_hr'].mean()
weather_precip9['precip_depth_1_hr'].fillna(weather_precip9_mean,inplace=True)

In [275]:
weather_precip9_mean

0.7551578707397697

In [276]:
weather_precip9.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8780.0,8780.000000,8780.000000,8780.000000,8780.000000,8541.000000,6222.000000,8683.000000,8780.000000,8780.000000,8780.0
mean,9.0,21.367499,0.610673,14.613302,0.755158,1016.625114,116.648987,2.083658,6.514009,15.756264,2016.0
std,0.0,7.984637,1.041529,8.499577,7.271696,6.065054,117.050797,1.519628,3.451143,8.811064,0.0
min,9.0,-5.000000,0.000000,-13.300000,-1.000000,999.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,9.0,16.100000,0.000000,8.900000,0.000000,1012.800000,0.000000,1.500000,4.000000,8.000000,2016.0
50%,9.0,22.200000,0.610673,17.200000,0.000000,1015.800000,120.000000,2.100000,7.000000,16.000000,2016.0
75%,9.0,26.700000,0.610673,21.700000,0.000000,1020.000000,180.000000,3.100000,10.000000,23.000000,2016.0
max,9.0,39.400000,9.000000,26.100000,203.000000,1041.600000,360.000000,9.300000,12.000000,31.000000,2016.0

# precip_depth_1_hr site_id=10

In [277]:
weather_precip10=dew_temperature_filled[dew_temperature_filled['site_id']==10]

In [278]:
weather_precip10.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8782.0,8782.000000,8782.0000,8782.000000,8755.000000,8641.000000,8248.000000,8678.000000,8782.000000,8782.000000,8782.0
mean,10.0,11.644679,0.3765,0.082273,0.457453,1015.668788,179.879971,3.158677,6.513664,15.757458,2016.0
std,0.0,11.141203,1.1302,5.573989,3.361151,8.363580,101.919364,2.035429,3.450825,8.811075,0.0
min,10.0,-16.700000,0.0000,-20.000000,-1.000000,990.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,10.0,2.800000,0.0000,-3.300000,0.000000,1009.900000,150.000000,2.100000,4.000000,8.000000,2016.0
50%,10.0,11.700000,0.0000,0.600000,0.000000,1014.400000,170.000000,3.100000,7.000000,16.000000,2016.0
75%,10.0,20.000000,0.3765,3.900000,0.000000,1020.700000,260.000000,4.100000,10.000000,23.000000,2016.0
max,10.0,37.200000,9.0000,15.000000,79.000000,1042.600000,360.000000,16.500000,12.000000,31.000000,2016.0

In [279]:
weather_precip10_mean=weather_precip10['precip_depth_1_hr'].mean()
weather_precip10['precip_depth_1_hr'].fillna(weather_precip10_mean,inplace=True)

In [280]:
weather_precip10_mean

0.45745288406624784

In [281]:
weather_precip10.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8782.0,8782.000000,8782.0000,8782.000000,8782.000000,8641.000000,8248.000000,8678.000000,8782.000000,8782.000000,8782.0
mean,10.0,11.644679,0.3765,0.082273,0.457453,1015.668788,179.879971,3.158677,6.513664,15.757458,2016.0
std,0.0,11.141203,1.1302,5.573989,3.355980,8.363580,101.919364,2.035429,3.450825,8.811075,0.0
min,10.0,-16.700000,0.0000,-20.000000,-1.000000,990.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,10.0,2.800000,0.0000,-3.300000,0.000000,1009.900000,150.000000,2.100000,4.000000,8.000000,2016.0
50%,10.0,11.700000,0.0000,0.600000,0.000000,1014.400000,170.000000,3.100000,7.000000,16.000000,2016.0
75%,10.0,20.000000,0.3765,3.900000,0.000000,1020.700000,260.000000,4.100000,10.000000,23.000000,2016.0
max,10.0,37.200000,9.0000,15.000000,79.000000,1042.600000,360.000000,16.500000,12.000000,31.000000,2016.0

# precip_depth_1_hr site_id=11

In [282]:
weather_precip11=dew_temperature_filled[dew_temperature_filled['site_id']==11]

In [283]:
weather_precip11.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8614.0,8614.000000,8614.0,8614.000000,731.000000,8606.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.0
mean,11.0,7.888867,0.0,1.905913,11.350205,1015.252010,208.931739,3.445565,6.561412,15.837938,2016.0
std,0.0,12.218509,0.0,10.758806,21.274216,8.446564,103.375537,1.995291,3.422306,8.793355,0.0
min,11.0,-28.800000,0.0,-35.000000,2.000000,983.600000,10.000000,0.000000,1.000000,1.000000,2016.0
25%,11.0,-0.900000,0.0,-5.500000,2.000000,1010.000000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,11.0,7.700000,0.0,2.400000,5.000000,1015.200000,230.000000,3.100000,7.000000,16.000000,2016.0
75%,11.0,18.200000,0.0,10.700000,11.500000,1020.900000,290.000000,4.600000,10.000000,23.000000,2016.0
max,11.0,33.900000,0.0,22.900000,262.000000,1043.800000,360.000000,12.800000,12.000000,31.000000,2016.0

In [284]:
weather_precip11_mean=weather_precip11['precip_depth_1_hr'].mean()
weather_precip11['precip_depth_1_hr'].fillna(weather_precip11_mean,inplace=True)

In [285]:
weather_precip11_mean

11.350205198358413

In [286]:
weather_precip11.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8614.0,8614.000000,8614.0,8614.000000,8614.000000,8606.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.0
mean,11.0,7.888867,0.0,1.905913,11.350205,1015.252010,208.931739,3.445565,6.561412,15.837938,2016.0
std,0.0,12.218509,0.0,10.758806,6.193523,8.446564,103.375537,1.995291,3.422306,8.793355,0.0
min,11.0,-28.800000,0.0,-35.000000,2.000000,983.600000,10.000000,0.000000,1.000000,1.000000,2016.0
25%,11.0,-0.900000,0.0,-5.500000,11.350205,1010.000000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,11.0,7.700000,0.0,2.400000,11.350205,1015.200000,230.000000,3.100000,7.000000,16.000000,2016.0
75%,11.0,18.200000,0.0,10.700000,11.350205,1020.900000,290.000000,4.600000,10.000000,23.000000,2016.0
max,11.0,33.900000,0.0,22.900000,262.000000,1043.800000,360.000000,12.800000,12.000000,31.000000,2016.0

# precip_depth_1_hr site_id=12

In [287]:
weather_precip12=dew_temperature_filled[dew_temperature_filled['site_id']==12]

In [288]:
weather_precip12.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8755.0,8755.000000,8755.000000,8755.000000,0.0,8699.000000,8754.000000,8755.000000,8755.000000,8755.000000,8755.0
mean,12.0,9.843232,5.723091,6.519966,NaN,1014.425474,202.774732,5.511399,6.521645,15.743232,2016.0
std,0.0,5.157759,2.234719,4.615672,NaN,11.527693,86.639340,2.733220,3.449572,8.819781,0.0
min,12.0,-4.800000,0.000000,-5.300000,NaN,968.200000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,12.0,6.000000,4.000000,2.700000,NaN,1007.700000,140.000000,4.000000,4.000000,8.000000,2016.0
50%,12.0,9.800000,7.000000,6.700000,NaN,1015.800000,230.000000,5.000000,7.000000,16.000000,2016.0
75%,12.0,13.700000,7.000000,10.100000,NaN,1022.300000,260.000000,7.000000,10.000000,23.000000,2016.0
max,12.0,26.000000,8.000000,18.300000,NaN,1041.900000,360.000000,19.000000,12.000000,31.000000,2016.0

In [289]:
weather_precip12['precip_depth_1_hr'].fillna(0,inplace=True)

In [290]:
weather_precip12.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8755.0,8755.000000,8755.000000,8755.000000,8755.0,8699.000000,8754.000000,8755.000000,8755.000000,8755.000000,8755.0
mean,12.0,9.843232,5.723091,6.519966,0.0,1014.425474,202.774732,5.511399,6.521645,15.743232,2016.0
std,0.0,5.157759,2.234719,4.615672,0.0,11.527693,86.639340,2.733220,3.449572,8.819781,0.0
min,12.0,-4.800000,0.000000,-5.300000,0.0,968.200000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,12.0,6.000000,4.000000,2.700000,0.0,1007.700000,140.000000,4.000000,4.000000,8.000000,2016.0
50%,12.0,9.800000,7.000000,6.700000,0.0,1015.800000,230.000000,5.000000,7.000000,16.000000,2016.0
75%,12.0,13.700000,7.000000,10.100000,0.0,1022.300000,260.000000,7.000000,10.000000,23.000000,2016.0
max,12.0,26.000000,8.000000,18.300000,0.0,1041.900000,360.000000,19.000000,12.000000,31.000000,2016.0

# precip_depth_1_hr site_id=13

In [291]:
weather_precip13=dew_temperature_filled[dew_temperature_filled['site_id']==13]

In [292]:
weather_precip13.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8783.000000,8771.000000,8663.000000,8566.000000,8782.000000,8783.000000,8783.000000,8783.0
mean,13.0,9.879617,2.873133,3.401731,0.880515,1015.895371,187.969881,4.197358,6.513037,15.757372,2016.0
std,0.0,12.405170,1.938734,11.384719,7.803157,7.652373,105.086402,2.324516,3.451130,8.812387,0.0
min,13.0,-28.900000,0.000000,-31.700000,-1.000000,981.600000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,13.0,0.600000,2.000000,-3.900000,0.000000,1011.100000,120.000000,2.600000,4.000000,8.000000,2016.0
50%,13.0,11.100000,2.873133,3.900000,0.000000,1015.900000,180.000000,4.100000,7.000000,16.000000,2016.0
75%,13.0,20.000000,2.873133,13.300000,0.000000,1020.900000,280.000000,5.700000,10.000000,23.000000,2016.0
max,13.0,35.600000,9.000000,25.000000,216.000000,1040.200000,360.000000,16.000000,12.000000,31.000000,2016.0

In [293]:
weather_precip13_mean=weather_precip13['precip_depth_1_hr'].mean()
weather_precip13['precip_depth_1_hr'].fillna(weather_precip13_mean,inplace=True)

In [294]:
weather_precip13_mean

0.8805153346254703

In [295]:
weather_precip13.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8783.000000,8783.000000,8663.000000,8566.000000,8782.000000,8783.000000,8783.000000,8783.0
mean,13.0,9.879617,2.873133,3.401731,0.880515,1015.895371,187.969881,4.197358,6.513037,15.757372,2016.0
std,0.0,12.405170,1.938734,11.384719,7.797824,7.652373,105.086402,2.324516,3.451130,8.812387,0.0
min,13.0,-28.900000,0.000000,-31.700000,-1.000000,981.600000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,13.0,0.600000,2.000000,-3.900000,0.000000,1011.100000,120.000000,2.600000,4.000000,8.000000,2016.0
50%,13.0,11.100000,2.873133,3.900000,0.000000,1015.900000,180.000000,4.100000,7.000000,16.000000,2016.0
75%,13.0,20.000000,2.873133,13.300000,0.000000,1020.900000,280.000000,5.700000,10.000000,23.000000,2016.0
max,13.0,35.600000,9.000000,25.000000,216.000000,1040.200000,360.000000,16.000000,12.000000,31.000000,2016.0

# precip_depth_1_hr site_id=14

In [296]:
weather_precip14=dew_temperature_filled[dew_temperature_filled['site_id']==14]

In [297]:
weather_precip14.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8777.0,8777.000000,8777.000000,8777.000000,8746.000000,8667.000000,8487.000000,8754.000000,8777.000000,8777.000000,8777.0
mean,14.0,13.258409,0.562203,5.775160,0.742740,1016.377985,187.723813,3.076776,6.514641,15.761080,2016.0
std,0.0,10.253626,1.168142,10.605805,5.661837,7.251592,122.693604,2.073463,3.452279,8.813589,0.0
min,14.0,-15.600000,0.000000,-25.600000,-1.000000,989.600000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,14.0,5.000000,0.000000,-2.800000,0.000000,1011.700000,70.000000,1.500000,4.000000,8.000000,2016.0
50%,14.0,13.300000,0.000000,6.100000,0.000000,1016.500000,210.000000,2.600000,7.000000,16.000000,2016.0
75%,14.0,21.700000,0.562203,15.000000,0.000000,1021.000000,300.000000,4.100000,10.000000,23.000000,2016.0
max,14.0,35.600000,9.000000,25.600000,150.000000,1040.300000,360.000000,13.400000,12.000000,31.000000,2016.0

In [298]:
weather_precip14_mean=weather_precip14['precip_depth_1_hr'].mean()
weather_precip14['precip_depth_1_hr'].fillna(weather_precip14_mean,inplace=True)

In [299]:
weather_precip14_mean

0.7427395380745484

In [300]:
weather_precip14.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8777.0,8777.000000,8777.000000,8777.000000,8777.000000,8667.000000,8487.000000,8754.000000,8777.000000,8777.000000,8777.0
mean,14.0,13.258409,0.562203,5.775160,0.742740,1016.377985,187.723813,3.076776,6.514641,15.761080,2016.0
std,0.0,10.253626,1.168142,10.605805,5.651828,7.251592,122.693604,2.073463,3.452279,8.813589,0.0
min,14.0,-15.600000,0.000000,-25.600000,-1.000000,989.600000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,14.0,5.000000,0.000000,-2.800000,0.000000,1011.700000,70.000000,1.500000,4.000000,8.000000,2016.0
50%,14.0,13.300000,0.000000,6.100000,0.000000,1016.500000,210.000000,2.600000,7.000000,16.000000,2016.0
75%,14.0,21.700000,0.562203,15.000000,0.000000,1021.000000,300.000000,4.100000,10.000000,23.000000,2016.0
max,14.0,35.600000,9.000000,25.600000,150.000000,1040.300000,360.000000,13.400000,12.000000,31.000000,2016.0

# precip_depth_1_hr site_id=15

In [301]:
weather_precip15=dew_temperature_filled[dew_temperature_filled['site_id']==15]

In [302]:
weather_precip15.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8454.0,8454.000000,8454.000000,8454.000000,1703.000000,7945.000000,8212.000000,8426.000000,8454.000000,8454.000000,8454.0
mean,15.0,9.357618,1.109988,4.140469,3.495009,1016.980579,186.525816,3.645490,6.559972,15.847764,2016.0
std,0.0,10.846760,1.163289,9.996298,16.366106,7.496048,110.812030,2.457482,3.448856,8.800610,0.0
min,15.0,-23.900000,0.000000,-26.700000,-1.000000,987.400000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,15.0,1.100000,0.000000,-3.300000,-1.000000,1012.300000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,15.0,9.400000,1.109988,4.400000,-1.000000,1017.300000,180.000000,3.100000,7.000000,16.000000,2016.0
75%,15.0,18.300000,1.109988,12.800000,3.000000,1022.000000,300.000000,5.100000,10.000000,23.000000,2016.0
max,15.0,33.900000,9.000000,24.400000,333.000000,1042.200000,360.000000,15.400000,12.000000,31.000000,2016.0

In [303]:
weather_precip15_mean=weather_precip15['precip_depth_1_hr'].mean()
weather_precip15['precip_depth_1_hr'].fillna(weather_precip15_mean,inplace=True)

In [304]:
weather_precip15_mean

3.4950088079859074

In [305]:
weather_precip15.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8454.0,8454.000000,8454.000000,8454.000000,8454.000000,7945.000000,8212.000000,8426.000000,8454.000000,8454.000000,8454.0
mean,15.0,9.357618,1.109988,4.140469,3.495009,1016.980579,186.525816,3.645490,6.559972,15.847764,2016.0
std,0.0,10.846760,1.163289,9.996298,7.343781,7.496048,110.812030,2.457482,3.448856,8.800610,0.0
min,15.0,-23.900000,0.000000,-26.700000,-1.000000,987.400000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,15.0,1.100000,0.000000,-3.300000,3.495009,1012.300000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,15.0,9.400000,1.109988,4.400000,3.495009,1017.300000,180.000000,3.100000,7.000000,16.000000,2016.0
75%,15.0,18.300000,1.109988,12.800000,3.495009,1022.000000,300.000000,5.100000,10.000000,23.000000,2016.0
max,15.0,33.900000,9.000000,24.400000,333.000000,1042.200000,360.000000,15.400000,12.000000,31.000000,2016.0

# Merging the above cells to create precip_filled

In [306]:
precip_filled = pd.concat([weather_precip0,weather_precip1,weather_precip2,
                           weather_precip3,weather_precip4,weather_precip5,
                           weather_precip6,weather_precip7,weather_precip8,
                           weather_precip9,weather_precip10,weather_precip11,
                           weather_precip12,weather_precip13,weather_precip14,
                           weather_precip15], axis=0)

In [307]:
precip_filled.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,139773.000000,139773.000000,139773.000000,139773.000000,139773.000000,129155.000000,133505.000000,139469.000000,139773.000000,139773.000000,139773.0
mean,7.478977,14.418288,1.634475,7.347683,2.081422,1016.158038,180.526632,3.560527,6.523871,15.771043,2016.0
std,4.604744,10.624850,2.117312,9.787656,7.567646,7.629684,111.523629,2.335874,3.447111,8.809815,0.0
min,0.000000,-28.900000,0.000000,-35.000000,-1.000000,968.200000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,3.000000,7.200000,0.000000,0.600000,0.000000,1011.800000,80.000000,2.100000,4.000000,8.000000,2016.0
50%,7.000000,15.000000,0.562203,8.300000,0.000000,1016.400000,190.000000,3.100000,7.000000,16.000000,2016.0
75%,11.000000,22.200000,2.873133,14.400000,0.000000,1020.800000,280.000000,5.000000,10.000000,23.000000,2016.0
max,15.000000,47.200000,9.000000,26.100000,343.000000,1045.500000,360.000000,19.000000,12.000000,31.000000,2016.0

then use precip_filled to fill up the rest of the missing columns

# sea_level_pressure site_id=0

In [308]:
weather_sea0=precip_filled[precip_filled['site_id']==0]

In [309]:
weather_sea0.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8784.0,8784.000000,8784.000000,8784.00000,8784.000000,8699.000000,8534.000000,8784.000000,8784.000000,8784.000000,8784.0
mean,0.0,22.836021,3.044610,16.81788,1.382557,1017.988378,156.494024,3.375114,6.513661,15.756831,2016.0
std,0.0,6.036386,1.591104,6.51826,12.956195,4.036187,118.344523,2.154266,3.451430,8.812031,0.0
min,0.0,1.700000,0.000000,-9.40000,-1.000000,992.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,0.0,18.900000,2.000000,13.30000,0.000000,1015.500000,60.000000,2.100000,4.000000,8.000000,2016.0
50%,0.0,23.900000,3.044610,18.30000,0.000000,1018.000000,140.000000,3.100000,7.000000,16.000000,2016.0
75%,0.0,26.700000,4.000000,22.20000,0.000000,1020.600000,260.000000,4.600000,10.000000,23.000000,2016.0
max,0.0,36.100000,9.000000,25.60000,343.000000,1030.200000,360.000000,15.400000,12.000000,31.000000,2016.0

In [310]:
weather_sea0_mean=weather_sea0['sea_level_pressure'].mean()
weather_sea0['sea_level_pressure'].fillna(weather_sea0_mean,inplace=True)

In [311]:
weather_sea0_mean

1017.988377974485

In [312]:
weather_sea0.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8784.0,8784.000000,8784.000000,8784.00000,8784.000000,8784.000000,8534.000000,8784.000000,8784.000000,8784.000000,8784.0
mean,0.0,22.836021,3.044610,16.81788,1.382557,1017.988378,156.494024,3.375114,6.513661,15.756831,2016.0
std,0.0,6.036386,1.591104,6.51826,12.956195,4.016609,118.344523,2.154266,3.451430,8.812031,0.0
min,0.0,1.700000,0.000000,-9.40000,-1.000000,992.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,0.0,18.900000,2.000000,13.30000,0.000000,1015.500000,60.000000,2.100000,4.000000,8.000000,2016.0
50%,0.0,23.900000,3.044610,18.30000,0.000000,1017.988378,140.000000,3.100000,7.000000,16.000000,2016.0
75%,0.0,26.700000,4.000000,22.20000,0.000000,1020.500000,260.000000,4.600000,10.000000,23.000000,2016.0
max,0.0,36.100000,9.000000,25.60000,343.000000,1030.200000,360.000000,15.400000,12.000000,31.000000,2016.0

# sea_level_pressure site_id=1

In [313]:
weather_sea1=precip_filled[precip_filled['site_id']==1]

In [314]:
weather_sea1.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8763.0,8763.000000,8763.000000,8763.000000,8763.0,8711.000000,8760.000000,8763.000000,8763.000000,8763.000000,8763.0
mean,1.0,11.711801,0.084656,7.646473,0.0,1015.989795,195.584475,3.967043,6.519799,15.748716,2016.0
std,0.0,6.138649,0.382780,5.215791,0.0,10.746261,98.418020,2.211536,3.449630,8.818108,0.0
min,1.0,-3.900000,0.000000,-8.900000,0.0,973.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,1.0,7.000000,0.084656,3.500000,0.0,1009.700000,120.000000,2.600000,4.000000,8.000000,2016.0
50%,1.0,11.300000,0.084656,7.800000,0.0,1017.600000,220.000000,3.600000,7.000000,16.000000,2016.0
75%,1.0,16.200000,0.084656,11.700000,0.0,1023.000000,270.000000,5.100000,10.000000,23.000000,2016.0
max,1.0,32.900000,9.000000,20.700000,0.0,1045.500000,360.000000,18.500000,12.000000,31.000000,2016.0

In [315]:
weather_sea1_mean=weather_sea1['sea_level_pressure'].mean()
weather_sea1['sea_level_pressure'].fillna(weather_sea1_mean,inplace=True)

In [316]:
weather_sea1_mean

1015.9897945126839

In [317]:
weather_sea1.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8763.0,8763.000000,8763.000000,8763.000000,8763.0,8763.000000,8760.000000,8763.000000,8763.000000,8763.000000,8763.0
mean,1.0,11.711801,0.084656,7.646473,0.0,1015.989795,195.584475,3.967043,6.519799,15.748716,2016.0
std,0.0,6.138649,0.382780,5.215791,0.0,10.714325,98.418020,2.211536,3.449630,8.818108,0.0
min,1.0,-3.900000,0.000000,-8.900000,0.0,973.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,1.0,7.000000,0.084656,3.500000,0.0,1009.800000,120.000000,2.600000,4.000000,8.000000,2016.0
50%,1.0,11.300000,0.084656,7.800000,0.0,1017.500000,220.000000,3.600000,7.000000,16.000000,2016.0
75%,1.0,16.200000,0.084656,11.700000,0.0,1022.900000,270.000000,5.100000,10.000000,23.000000,2016.0
max,1.0,32.900000,9.000000,20.700000,0.0,1045.500000,360.000000,18.500000,12.000000,31.000000,2016.0

# sea_level_pressure site_id=2

In [318]:
weather_sea2=precip_filled[precip_filled['site_id']==2]

In [319]:
weather_sea2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8783.000000,8783.000000,8739.000000,8192.000000,8778.000000,8783.000000,8783.000000,8783.0
mean,2.0,24.940321,1.958469,4.069506,0.157738,1011.679311,152.777100,2.932764,6.513037,15.757144,2016.0
std,0.0,9.119316,1.637702,7.618692,2.846688,4.934105,104.020345,1.963932,3.451130,8.812484,0.0
min,2.0,2.200000,0.000000,-17.200000,-1.000000,999.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,2.0,17.800000,0.000000,-1.700000,0.000000,1008.300000,80.000000,1.500000,4.000000,8.000000,2016.0
50%,2.0,25.600000,1.958469,3.300000,0.000000,1011.000000,120.000000,2.600000,7.000000,16.000000,2016.0
75%,2.0,32.200000,2.000000,10.000000,0.000000,1014.700000,250.000000,4.100000,10.000000,23.000000,2016.0
max,2.0,47.200000,9.000000,23.300000,132.000000,1028.200000,360.000000,15.400000,12.000000,31.000000,2016.0

In [320]:
weather_sea2_mean=weather_sea2['sea_level_pressure'].mean()
weather_sea2['sea_level_pressure'].fillna(weather_sea2_mean,inplace=True)

In [321]:
weather_sea2_mean

1011.6793111339977

In [322]:
weather_sea2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8783.000000,8783.000000,8783.000000,8192.000000,8778.000000,8783.000000,8783.000000,8783.0
mean,2.0,24.940321,1.958469,4.069506,0.157738,1011.679311,152.777100,2.932764,6.513037,15.757144,2016.0
std,0.0,9.119316,1.637702,7.618692,2.846688,4.921729,104.020345,1.963932,3.451130,8.812484,0.0
min,2.0,2.200000,0.000000,-17.200000,-1.000000,999.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,2.0,17.800000,0.000000,-1.700000,0.000000,1008.400000,80.000000,1.500000,4.000000,8.000000,2016.0
50%,2.0,25.600000,1.958469,3.300000,0.000000,1011.000000,120.000000,2.600000,7.000000,16.000000,2016.0
75%,2.0,32.200000,2.000000,10.000000,0.000000,1014.600000,250.000000,4.100000,10.000000,23.000000,2016.0
max,2.0,47.200000,9.000000,23.300000,132.000000,1028.200000,360.000000,15.400000,12.000000,31.000000,2016.0

# sea_level_pressure site_id=3

In [323]:
weather_sea3=precip_filled[precip_filled['site_id']==3]

In [324]:
weather_sea3.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8780.0,8780.000000,8780.000000,8780.000000,8780.000000,8622.000000,8627.000000,8776.000000,8780.000000,8780.000000,8780.0
mean,3.0,15.520579,3.879136,8.126214,0.691868,1017.938692,185.063174,3.910893,6.512870,15.760251,2016.0
std,0.0,10.059395,2.090937,10.684790,5.563783,6.931980,111.054554,2.282695,3.451708,8.812344,0.0
min,3.0,-10.600000,0.000000,-22.800000,-1.000000,991.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,3.0,7.800000,3.879136,0.000000,0.000000,1013.600000,80.000000,2.600000,4.000000,8.000000,2016.0
50%,3.0,15.600000,3.879136,9.400000,0.000000,1018.000000,190.000000,3.600000,7.000000,16.000000,2016.0
75%,3.0,23.900000,4.000000,17.800000,0.000000,1022.200000,290.000000,5.100000,10.000000,23.000000,2016.0
max,3.0,37.800000,9.000000,26.100000,198.000000,1040.900000,360.000000,17.000000,12.000000,31.000000,2016.0

In [325]:
weather_sea3_mean=weather_sea3['sea_level_pressure'].mean()
weather_sea3['sea_level_pressure'].fillna(weather_sea3_mean,inplace=True)

In [326]:
weather_sea3_mean

1017.9386917188594

In [327]:
weather_sea3.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8780.0,8780.000000,8780.000000,8780.000000,8780.000000,8780.000000,8627.000000,8776.000000,8780.000000,8780.000000,8780.0
mean,3.0,15.520579,3.879136,8.126214,0.691868,1017.938692,185.063174,3.910893,6.512870,15.760251,2016.0
std,0.0,10.059395,2.090937,10.684790,5.563783,6.869317,111.054554,2.282695,3.451708,8.812344,0.0
min,3.0,-10.600000,0.000000,-22.800000,-1.000000,991.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,3.0,7.800000,3.879136,0.000000,0.000000,1013.700000,80.000000,2.600000,4.000000,8.000000,2016.0
50%,3.0,15.600000,3.879136,9.400000,0.000000,1017.938692,190.000000,3.600000,7.000000,16.000000,2016.0
75%,3.0,23.900000,4.000000,17.800000,0.000000,1022.100000,290.000000,5.100000,10.000000,23.000000,2016.0
max,3.0,37.800000,9.000000,26.100000,198.000000,1040.900000,360.000000,17.000000,12.000000,31.000000,2016.0

# sea_level_pressure site_id=4

In [328]:
weather_sea4=precip_filled[precip_filled['site_id']==4]

In [329]:
weather_sea4.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8783.000000,8783.000000,8710.000000,8678.000000,8783.000000,8783.000000,8783.000000,8783.0
mean,4.0,15.236366,1.867999,9.894750,0.248594,1016.887750,207.864715,3.858226,6.514289,15.758511,2016.0
std,0.0,4.014637,0.979619,3.528735,3.074950,4.519844,109.723916,2.536447,3.451125,8.811126,0.0
min,4.0,1.100000,0.000000,-9.400000,-1.000000,999.800000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,4.0,12.800000,1.867999,8.300000,0.000000,1013.600000,130.000000,2.100000,4.000000,8.000000,2016.0
50%,4.0,15.000000,1.867999,10.600000,0.000000,1016.600000,260.000000,3.600000,7.000000,16.000000,2016.0
75%,4.0,17.800000,2.000000,12.200000,0.000000,1019.800000,290.000000,5.700000,10.000000,23.000000,2016.0
max,4.0,35.000000,9.000000,18.300000,124.000000,1031.700000,360.000000,16.500000,12.000000,31.000000,2016.0

In [330]:
weather_sea4_mean=weather_sea4['sea_level_pressure'].mean()
weather_sea4['sea_level_pressure'].fillna(weather_sea4_mean,inplace=True)

In [331]:
weather_sea4_mean

1016.8877497129703

In [332]:
weather_sea4.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8783.000000,8783.000000,8783.00000,8678.000000,8783.000000,8783.000000,8783.000000,8783.0
mean,4.0,15.236366,1.867999,9.894750,0.248594,1016.88775,207.864715,3.858226,6.514289,15.758511,2016.0
std,0.0,4.014637,0.979619,3.528735,3.074950,4.50102,109.723916,2.536447,3.451125,8.811126,0.0
min,4.0,1.100000,0.000000,-9.400000,-1.000000,999.80000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,4.0,12.800000,1.867999,8.300000,0.000000,1013.60000,130.000000,2.100000,4.000000,8.000000,2016.0
50%,4.0,15.000000,1.867999,10.600000,0.000000,1016.70000,260.000000,3.600000,7.000000,16.000000,2016.0
75%,4.0,17.800000,2.000000,12.200000,0.000000,1019.80000,290.000000,5.700000,10.000000,23.000000,2016.0
max,4.0,35.000000,9.000000,18.300000,124.000000,1031.70000,360.000000,16.500000,12.000000,31.000000,2016.0

# sea_level_pressure site_id=5

In [333]:
weather_sea5=precip_filled[precip_filled['site_id']==5]

In [334]:
weather_sea5.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8755.0,8755.000000,8755.000000,8755.000000,8755.0,0.0,8460.000000,8752.000000,8755.000000,8755.000000,8755.0
mean,5.0,10.867931,0.290642,8.194676,0.0,NaN,200.053191,4.768087,6.523587,15.747230,2016.0
std,0.0,5.090896,0.887672,4.968076,0.0,NaN,100.094220,2.340060,3.448831,8.818296,0.0
min,5.0,-3.000000,0.000000,-6.000000,0.0,NaN,0.000000,0.000000,1.000000,1.000000,2016.0
25%,5.0,7.000000,0.000000,4.000000,0.0,NaN,100.000000,3.100000,4.000000,8.000000,2016.0
50%,5.0,11.000000,0.290642,8.000000,0.0,NaN,240.000000,4.600000,7.000000,16.000000,2016.0
75%,5.0,15.000000,0.290642,12.000000,0.0,NaN,280.000000,6.200000,10.000000,23.000000,2016.0
max,5.0,30.000000,9.000000,19.000000,0.0,NaN,360.000000,18.500000,12.000000,31.000000,2016.0

In [335]:
weather_sea5['sea_level_pressure'].fillna(0, inplace=True)

In [336]:
weather_sea5.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8755.0,8755.000000,8755.000000,8755.000000,8755.0,8755.0,8460.000000,8752.000000,8755.000000,8755.000000,8755.0
mean,5.0,10.867931,0.290642,8.194676,0.0,0.0,200.053191,4.768087,6.523587,15.747230,2016.0
std,0.0,5.090896,0.887672,4.968076,0.0,0.0,100.094220,2.340060,3.448831,8.818296,0.0
min,5.0,-3.000000,0.000000,-6.000000,0.0,0.0,0.000000,0.000000,1.000000,1.000000,2016.0
25%,5.0,7.000000,0.000000,4.000000,0.0,0.0,100.000000,3.100000,4.000000,8.000000,2016.0
50%,5.0,11.000000,0.290642,8.000000,0.0,0.0,240.000000,4.600000,7.000000,16.000000,2016.0
75%,5.0,15.000000,0.290642,12.000000,0.0,0.0,280.000000,6.200000,10.000000,23.000000,2016.0
max,5.0,30.000000,9.000000,19.000000,0.0,0.0,360.000000,18.500000,12.000000,31.000000,2016.0

# sea_level_pressure site_id=6

In [337]:
weather_sea6=precip_filled[precip_filled['site_id']==6]

In [338]:
weather_sea6.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8782.0,8782.000000,8782.000000,8782.000000,8782.000000,8607.000000,8003.000000,8743.000000,8782.000000,8782.000000,8782.0
mean,6.0,15.141678,0.647668,7.320691,0.797768,1017.527954,131.618143,2.197758,6.514006,15.757345,2016.0
std,0.0,9.935490,1.322036,11.101737,6.368168,6.646051,120.664838,1.875501,3.451220,8.810950,0.0
min,6.0,-13.300000,0.000000,-23.300000,-1.000000,991.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,6.0,7.200000,0.000000,-1.100000,0.000000,1013.550000,0.000000,0.000000,4.000000,8.000000,2016.0
50%,6.0,16.100000,0.000000,8.900000,0.000000,1017.500000,150.000000,2.100000,7.000000,16.000000,2016.0
75%,6.0,22.800000,0.647668,17.200000,0.000000,1021.600000,210.000000,3.100000,10.000000,23.000000,2016.0
max,6.0,37.200000,9.000000,24.400000,198.000000,1039.800000,360.000000,11.300000,12.000000,31.000000,2016.0

In [339]:
weather_sea6_mean=weather_sea6['sea_level_pressure'].mean()
weather_sea6['sea_level_pressure'].fillna(weather_sea6_mean,inplace=True)

In [340]:
weather_sea6_mean

1017.527953990936

In [341]:
weather_sea6.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8782.0,8782.000000,8782.000000,8782.000000,8782.000000,8782.000000,8003.000000,8743.000000,8782.000000,8782.000000,8782.0
mean,6.0,15.141678,0.647668,7.320691,0.797768,1017.527954,131.618143,2.197758,6.514006,15.757345,2016.0
std,0.0,9.935490,1.322036,11.101737,6.368168,6.579492,120.664838,1.875501,3.451220,8.810950,0.0
min,6.0,-13.300000,0.000000,-23.300000,-1.000000,991.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,6.0,7.200000,0.000000,-1.100000,0.000000,1013.600000,0.000000,0.000000,4.000000,8.000000,2016.0
50%,6.0,16.100000,0.000000,8.900000,0.000000,1017.527954,150.000000,2.100000,7.000000,16.000000,2016.0
75%,6.0,22.800000,0.647668,17.200000,0.000000,1021.475000,210.000000,3.100000,10.000000,23.000000,2016.0
max,6.0,37.200000,9.000000,24.400000,198.000000,1039.800000,360.000000,11.300000,12.000000,31.000000,2016.0

# sea_level_pressure site_id=7

In [342]:
weather_sea7=precip_filled[precip_filled['site_id']==7]

In [343]:
weather_sea7.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8614.0,8614.000000,8614.0,8614.000000,8614.000000,8606.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.0
mean,7.0,7.888867,0.0,1.905913,11.350205,1015.252010,208.931739,3.445565,6.561412,15.837938,2016.0
std,0.0,12.218509,0.0,10.758806,6.193523,8.446564,103.375537,1.995291,3.422306,8.793355,0.0
min,7.0,-28.800000,0.0,-35.000000,2.000000,983.600000,10.000000,0.000000,1.000000,1.000000,2016.0
25%,7.0,-0.900000,0.0,-5.500000,11.350205,1010.000000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,7.0,7.700000,0.0,2.400000,11.350205,1015.200000,230.000000,3.100000,7.000000,16.000000,2016.0
75%,7.0,18.200000,0.0,10.700000,11.350205,1020.900000,290.000000,4.600000,10.000000,23.000000,2016.0
max,7.0,33.900000,0.0,22.900000,262.000000,1043.800000,360.000000,12.800000,12.000000,31.000000,2016.0

In [344]:
weather_sea7_mean=weather_sea7['sea_level_pressure'].mean()
weather_sea7['sea_level_pressure'].fillna(weather_sea7_mean,inplace=True)

In [345]:
weather_sea7_mean

1015.2520102254252

In [346]:
weather_sea7.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8614.0,8614.000000,8614.0,8614.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.0
mean,7.0,7.888867,0.0,1.905913,11.350205,1015.252010,208.931739,3.445565,6.561412,15.837938,2016.0
std,0.0,12.218509,0.0,10.758806,6.193523,8.442641,103.375537,1.995291,3.422306,8.793355,0.0
min,7.0,-28.800000,0.0,-35.000000,2.000000,983.600000,10.000000,0.000000,1.000000,1.000000,2016.0
25%,7.0,-0.900000,0.0,-5.500000,11.350205,1010.000000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,7.0,7.700000,0.0,2.400000,11.350205,1015.200000,230.000000,3.100000,7.000000,16.000000,2016.0
75%,7.0,18.200000,0.0,10.700000,11.350205,1020.900000,290.000000,4.600000,10.000000,23.000000,2016.0
max,7.0,33.900000,0.0,22.900000,262.000000,1043.800000,360.000000,12.800000,12.000000,31.000000,2016.0

# sea_level_pressure site_id=8

In [347]:
weather_sea8=precip_filled[precip_filled['site_id']==8]

In [348]:
weather_sea8.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8784.0,8784.000000,8784.000000,8784.00000,8784.000000,8699.000000,8534.000000,8784.000000,8784.000000,8784.000000,8784.0
mean,8.0,22.836021,3.044610,16.81788,1.382557,1017.988378,156.494024,3.375114,6.513661,15.756831,2016.0
std,0.0,6.036386,1.591104,6.51826,12.956195,4.036187,118.344523,2.154266,3.451430,8.812031,0.0
min,8.0,1.700000,0.000000,-9.40000,-1.000000,992.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,8.0,18.900000,2.000000,13.30000,0.000000,1015.500000,60.000000,2.100000,4.000000,8.000000,2016.0
50%,8.0,23.900000,3.044610,18.30000,0.000000,1018.000000,140.000000,3.100000,7.000000,16.000000,2016.0
75%,8.0,26.700000,4.000000,22.20000,0.000000,1020.600000,260.000000,4.600000,10.000000,23.000000,2016.0
max,8.0,36.100000,9.000000,25.60000,343.000000,1030.200000,360.000000,15.400000,12.000000,31.000000,2016.0

In [349]:
weather_sea8_mean=weather_sea8['sea_level_pressure'].mean()
weather_sea8['sea_level_pressure'].fillna(weather_sea8_mean,inplace=True)

In [350]:
weather_sea8_mean

1017.988377974485

In [351]:
weather_sea8.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8784.0,8784.000000,8784.000000,8784.00000,8784.000000,8784.000000,8534.000000,8784.000000,8784.000000,8784.000000,8784.0
mean,8.0,22.836021,3.044610,16.81788,1.382557,1017.988378,156.494024,3.375114,6.513661,15.756831,2016.0
std,0.0,6.036386,1.591104,6.51826,12.956195,4.016609,118.344523,2.154266,3.451430,8.812031,0.0
min,8.0,1.700000,0.000000,-9.40000,-1.000000,992.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,8.0,18.900000,2.000000,13.30000,0.000000,1015.500000,60.000000,2.100000,4.000000,8.000000,2016.0
50%,8.0,23.900000,3.044610,18.30000,0.000000,1017.988378,140.000000,3.100000,7.000000,16.000000,2016.0
75%,8.0,26.700000,4.000000,22.20000,0.000000,1020.500000,260.000000,4.600000,10.000000,23.000000,2016.0
max,8.0,36.100000,9.000000,25.60000,343.000000,1030.200000,360.000000,15.400000,12.000000,31.000000,2016.0

# sea_level_pressure site_id=9

In [352]:
weather_sea9=precip_filled[precip_filled['site_id']==9]

In [353]:
weather_sea9.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8780.0,8780.000000,8780.000000,8780.000000,8780.000000,8541.000000,6222.000000,8683.000000,8780.000000,8780.000000,8780.0
mean,9.0,21.367499,0.610673,14.613302,0.755158,1016.625114,116.648987,2.083658,6.514009,15.756264,2016.0
std,0.0,7.984637,1.041529,8.499577,7.271696,6.065054,117.050797,1.519628,3.451143,8.811064,0.0
min,9.0,-5.000000,0.000000,-13.300000,-1.000000,999.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,9.0,16.100000,0.000000,8.900000,0.000000,1012.800000,0.000000,1.500000,4.000000,8.000000,2016.0
50%,9.0,22.200000,0.610673,17.200000,0.000000,1015.800000,120.000000,2.100000,7.000000,16.000000,2016.0
75%,9.0,26.700000,0.610673,21.700000,0.000000,1020.000000,180.000000,3.100000,10.000000,23.000000,2016.0
max,9.0,39.400000,9.000000,26.100000,203.000000,1041.600000,360.000000,9.300000,12.000000,31.000000,2016.0

In [354]:
weather_sea9_mean=weather_sea9['sea_level_pressure'].mean()
weather_sea9['sea_level_pressure'].fillna(weather_sea9_mean,inplace=True)

In [355]:
weather_sea9_mean

1016.6251141552511

In [356]:
weather_sea9.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8780.0,8780.000000,8780.000000,8780.000000,8780.000000,8780.000000,6222.000000,8683.000000,8780.000000,8780.000000,8780.0
mean,9.0,21.367499,0.610673,14.613302,0.755158,1016.625114,116.648987,2.083658,6.514009,15.756264,2016.0
std,0.0,7.984637,1.041529,8.499577,7.271696,5.981927,117.050797,1.519628,3.451143,8.811064,0.0
min,9.0,-5.000000,0.000000,-13.300000,-1.000000,999.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,9.0,16.100000,0.000000,8.900000,0.000000,1012.900000,0.000000,1.500000,4.000000,8.000000,2016.0
50%,9.0,22.200000,0.610673,17.200000,0.000000,1015.900000,120.000000,2.100000,7.000000,16.000000,2016.0
75%,9.0,26.700000,0.610673,21.700000,0.000000,1019.800000,180.000000,3.100000,10.000000,23.000000,2016.0
max,9.0,39.400000,9.000000,26.100000,203.000000,1041.600000,360.000000,9.300000,12.000000,31.000000,2016.0

# sea_level_pressure site_id=10

In [357]:
weather_sea10=precip_filled[precip_filled['site_id']==10]

In [358]:
weather_sea10.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8782.0,8782.000000,8782.0000,8782.000000,8782.000000,8641.000000,8248.000000,8678.000000,8782.000000,8782.000000,8782.0
mean,10.0,11.644679,0.3765,0.082273,0.457453,1015.668788,179.879971,3.158677,6.513664,15.757458,2016.0
std,0.0,11.141203,1.1302,5.573989,3.355980,8.363580,101.919364,2.035429,3.450825,8.811075,0.0
min,10.0,-16.700000,0.0000,-20.000000,-1.000000,990.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,10.0,2.800000,0.0000,-3.300000,0.000000,1009.900000,150.000000,2.100000,4.000000,8.000000,2016.0
50%,10.0,11.700000,0.0000,0.600000,0.000000,1014.400000,170.000000,3.100000,7.000000,16.000000,2016.0
75%,10.0,20.000000,0.3765,3.900000,0.000000,1020.700000,260.000000,4.100000,10.000000,23.000000,2016.0
max,10.0,37.200000,9.0000,15.000000,79.000000,1042.600000,360.000000,16.500000,12.000000,31.000000,2016.0

In [359]:
weather_sea10_mean=weather_sea10['sea_level_pressure'].mean()
weather_sea10['sea_level_pressure'].fillna(weather_sea10_mean,inplace=True)

In [360]:
weather_sea10_mean

1015.6687883346848

In [361]:
weather_sea10.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8782.0,8782.000000,8782.0000,8782.000000,8782.000000,8782.000000,8248.000000,8678.000000,8782.000000,8782.000000,8782.0
mean,10.0,11.644679,0.3765,0.082273,0.457453,1015.668788,179.879971,3.158677,6.513664,15.757458,2016.0
std,0.0,11.141203,1.1302,5.573989,3.355980,8.296160,101.919364,2.035429,3.450825,8.811075,0.0
min,10.0,-16.700000,0.0000,-20.000000,-1.000000,990.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,10.0,2.800000,0.0000,-3.300000,0.000000,1010.000000,150.000000,2.100000,4.000000,8.000000,2016.0
50%,10.0,11.700000,0.0000,0.600000,0.000000,1014.600000,170.000000,3.100000,7.000000,16.000000,2016.0
75%,10.0,20.000000,0.3765,3.900000,0.000000,1020.600000,260.000000,4.100000,10.000000,23.000000,2016.0
max,10.0,37.200000,9.0000,15.000000,79.000000,1042.600000,360.000000,16.500000,12.000000,31.000000,2016.0

# sea_level_pressure site_id=11

In [362]:
weather_sea11=precip_filled[precip_filled['site_id']==11]

In [363]:
weather_sea11.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8614.0,8614.000000,8614.0,8614.000000,8614.000000,8606.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.0
mean,11.0,7.888867,0.0,1.905913,11.350205,1015.252010,208.931739,3.445565,6.561412,15.837938,2016.0
std,0.0,12.218509,0.0,10.758806,6.193523,8.446564,103.375537,1.995291,3.422306,8.793355,0.0
min,11.0,-28.800000,0.0,-35.000000,2.000000,983.600000,10.000000,0.000000,1.000000,1.000000,2016.0
25%,11.0,-0.900000,0.0,-5.500000,11.350205,1010.000000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,11.0,7.700000,0.0,2.400000,11.350205,1015.200000,230.000000,3.100000,7.000000,16.000000,2016.0
75%,11.0,18.200000,0.0,10.700000,11.350205,1020.900000,290.000000,4.600000,10.000000,23.000000,2016.0
max,11.0,33.900000,0.0,22.900000,262.000000,1043.800000,360.000000,12.800000,12.000000,31.000000,2016.0

In [364]:
weather_sea11_mean=weather_sea11['sea_level_pressure'].mean()
weather_sea11['sea_level_pressure'].fillna(weather_sea11_mean,inplace=True)

In [365]:
weather_sea11_mean

1015.2520102254252

In [366]:
weather_sea11.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8614.0,8614.000000,8614.0,8614.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.0
mean,11.0,7.888867,0.0,1.905913,11.350205,1015.252010,208.931739,3.445565,6.561412,15.837938,2016.0
std,0.0,12.218509,0.0,10.758806,6.193523,8.442641,103.375537,1.995291,3.422306,8.793355,0.0
min,11.0,-28.800000,0.0,-35.000000,2.000000,983.600000,10.000000,0.000000,1.000000,1.000000,2016.0
25%,11.0,-0.900000,0.0,-5.500000,11.350205,1010.000000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,11.0,7.700000,0.0,2.400000,11.350205,1015.200000,230.000000,3.100000,7.000000,16.000000,2016.0
75%,11.0,18.200000,0.0,10.700000,11.350205,1020.900000,290.000000,4.600000,10.000000,23.000000,2016.0
max,11.0,33.900000,0.0,22.900000,262.000000,1043.800000,360.000000,12.800000,12.000000,31.000000,2016.0

# sea_level_pressure site_id=12

In [367]:
weather_sea12=precip_filled[precip_filled['site_id']==12]

In [368]:
weather_sea12.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8755.0,8755.000000,8755.000000,8755.000000,8755.0,8699.000000,8754.000000,8755.000000,8755.000000,8755.000000,8755.0
mean,12.0,9.843232,5.723091,6.519966,0.0,1014.425474,202.774732,5.511399,6.521645,15.743232,2016.0
std,0.0,5.157759,2.234719,4.615672,0.0,11.527693,86.639340,2.733220,3.449572,8.819781,0.0
min,12.0,-4.800000,0.000000,-5.300000,0.0,968.200000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,12.0,6.000000,4.000000,2.700000,0.0,1007.700000,140.000000,4.000000,4.000000,8.000000,2016.0
50%,12.0,9.800000,7.000000,6.700000,0.0,1015.800000,230.000000,5.000000,7.000000,16.000000,2016.0
75%,12.0,13.700000,7.000000,10.100000,0.0,1022.300000,260.000000,7.000000,10.000000,23.000000,2016.0
max,12.0,26.000000,8.000000,18.300000,0.0,1041.900000,360.000000,19.000000,12.000000,31.000000,2016.0

In [369]:
weather_sea12_mean=weather_sea12['sea_level_pressure'].mean()
weather_sea12['sea_level_pressure'].fillna(weather_sea12_mean,inplace=True)

In [370]:
weather_sea12_mean

1014.4254741924362

In [371]:
weather_sea12.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8755.0,8755.000000,8755.000000,8755.000000,8755.0,8755.000000,8754.000000,8755.000000,8755.000000,8755.000000,8755.0
mean,12.0,9.843232,5.723091,6.519966,0.0,1014.425474,202.774732,5.511399,6.521645,15.743232,2016.0
std,0.0,5.157759,2.234719,4.615672,0.0,11.490762,86.639340,2.733220,3.449572,8.819781,0.0
min,12.0,-4.800000,0.000000,-5.300000,0.0,968.200000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,12.0,6.000000,4.000000,2.700000,0.0,1007.800000,140.000000,4.000000,4.000000,8.000000,2016.0
50%,12.0,9.800000,7.000000,6.700000,0.0,1015.700000,230.000000,5.000000,7.000000,16.000000,2016.0
75%,12.0,13.700000,7.000000,10.100000,0.0,1022.200000,260.000000,7.000000,10.000000,23.000000,2016.0
max,12.0,26.000000,8.000000,18.300000,0.0,1041.900000,360.000000,19.000000,12.000000,31.000000,2016.0

# sea_level_pressure site_id=13

In [372]:
weather_sea13=precip_filled[precip_filled['site_id']==13]

In [373]:
weather_sea13.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8783.000000,8783.000000,8663.000000,8566.000000,8782.000000,8783.000000,8783.000000,8783.0
mean,13.0,9.879617,2.873133,3.401731,0.880515,1015.895371,187.969881,4.197358,6.513037,15.757372,2016.0
std,0.0,12.405170,1.938734,11.384719,7.797824,7.652373,105.086402,2.324516,3.451130,8.812387,0.0
min,13.0,-28.900000,0.000000,-31.700000,-1.000000,981.600000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,13.0,0.600000,2.000000,-3.900000,0.000000,1011.100000,120.000000,2.600000,4.000000,8.000000,2016.0
50%,13.0,11.100000,2.873133,3.900000,0.000000,1015.900000,180.000000,4.100000,7.000000,16.000000,2016.0
75%,13.0,20.000000,2.873133,13.300000,0.000000,1020.900000,280.000000,5.700000,10.000000,23.000000,2016.0
max,13.0,35.600000,9.000000,25.000000,216.000000,1040.200000,360.000000,16.000000,12.000000,31.000000,2016.0

In [374]:
weather_sea13_mean=weather_sea13['sea_level_pressure'].mean()
weather_sea13['sea_level_pressure'].fillna(weather_sea13_mean,inplace=True)

In [375]:
weather_sea13_mean

1015.895371118546

In [376]:
weather_sea13.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8783.000000,8783.000000,8783.000000,8566.000000,8782.000000,8783.000000,8783.000000,8783.0
mean,13.0,9.879617,2.873133,3.401731,0.880515,1015.895371,187.969881,4.197358,6.513037,15.757372,2016.0
std,0.0,12.405170,1.938734,11.384719,7.797824,7.599911,105.086402,2.324516,3.451130,8.812387,0.0
min,13.0,-28.900000,0.000000,-31.700000,-1.000000,981.600000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,13.0,0.600000,2.000000,-3.900000,0.000000,1011.200000,120.000000,2.600000,4.000000,8.000000,2016.0
50%,13.0,11.100000,2.873133,3.900000,0.000000,1015.895371,180.000000,4.100000,7.000000,16.000000,2016.0
75%,13.0,20.000000,2.873133,13.300000,0.000000,1020.800000,280.000000,5.700000,10.000000,23.000000,2016.0
max,13.0,35.600000,9.000000,25.000000,216.000000,1040.200000,360.000000,16.000000,12.000000,31.000000,2016.0

# sea_level_pressure site_id=14

In [377]:
weather_sea14=precip_filled[precip_filled['site_id']==14]

In [378]:
weather_sea14.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8777.0,8777.000000,8777.000000,8777.000000,8777.000000,8667.000000,8487.000000,8754.000000,8777.000000,8777.000000,8777.0
mean,14.0,13.258409,0.562203,5.775160,0.742740,1016.377985,187.723813,3.076776,6.514641,15.761080,2016.0
std,0.0,10.253626,1.168142,10.605805,5.651828,7.251592,122.693604,2.073463,3.452279,8.813589,0.0
min,14.0,-15.600000,0.000000,-25.600000,-1.000000,989.600000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,14.0,5.000000,0.000000,-2.800000,0.000000,1011.700000,70.000000,1.500000,4.000000,8.000000,2016.0
50%,14.0,13.300000,0.000000,6.100000,0.000000,1016.500000,210.000000,2.600000,7.000000,16.000000,2016.0
75%,14.0,21.700000,0.562203,15.000000,0.000000,1021.000000,300.000000,4.100000,10.000000,23.000000,2016.0
max,14.0,35.600000,9.000000,25.600000,150.000000,1040.300000,360.000000,13.400000,12.000000,31.000000,2016.0

In [379]:
weather_sea14_mean=weather_sea14['sea_level_pressure'].mean()
weather_sea14['sea_level_pressure'].fillna(weather_sea14_mean,inplace=True)

In [380]:
weather_sea14_mean

1016.3779854620991

In [381]:
weather_sea14.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8777.0,8777.000000,8777.000000,8777.000000,8777.000000,8777.000000,8487.000000,8754.000000,8777.000000,8777.000000,8777.0
mean,14.0,13.258409,0.562203,5.775160,0.742740,1016.377985,187.723813,3.076776,6.514641,15.761080,2016.0
std,0.0,10.253626,1.168142,10.605805,5.651828,7.206002,122.693604,2.073463,3.452279,8.813589,0.0
min,14.0,-15.600000,0.000000,-25.600000,-1.000000,989.600000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,14.0,5.000000,0.000000,-2.800000,0.000000,1011.800000,70.000000,1.500000,4.000000,8.000000,2016.0
50%,14.0,13.300000,0.000000,6.100000,0.000000,1016.400000,210.000000,2.600000,7.000000,16.000000,2016.0
75%,14.0,21.700000,0.562203,15.000000,0.000000,1020.900000,300.000000,4.100000,10.000000,23.000000,2016.0
max,14.0,35.600000,9.000000,25.600000,150.000000,1040.300000,360.000000,13.400000,12.000000,31.000000,2016.0

# sea_level_pressure site_id=15

In [382]:
weather_sea15=precip_filled[precip_filled['site_id']==15]

In [383]:
weather_sea15.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8454.0,8454.000000,8454.000000,8454.000000,8454.000000,7945.000000,8212.000000,8426.000000,8454.000000,8454.000000,8454.0
mean,15.0,9.357618,1.109988,4.140469,3.495009,1016.980579,186.525816,3.645490,6.559972,15.847764,2016.0
std,0.0,10.846760,1.163289,9.996298,7.343781,7.496048,110.812030,2.457482,3.448856,8.800610,0.0
min,15.0,-23.900000,0.000000,-26.700000,-1.000000,987.400000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,15.0,1.100000,0.000000,-3.300000,3.495009,1012.300000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,15.0,9.400000,1.109988,4.400000,3.495009,1017.300000,180.000000,3.100000,7.000000,16.000000,2016.0
75%,15.0,18.300000,1.109988,12.800000,3.495009,1022.000000,300.000000,5.100000,10.000000,23.000000,2016.0
max,15.0,33.900000,9.000000,24.400000,333.000000,1042.200000,360.000000,15.400000,12.000000,31.000000,2016.0

In [384]:
weather_sea15_mean=weather_sea15['sea_level_pressure'].mean()
weather_sea15['sea_level_pressure'].fillna(weather_sea15_mean,inplace=True)

In [385]:
weather_sea15_mean

1016.9805789804929

In [386]:
weather_sea15.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8454.0,8454.000000,8454.000000,8454.000000,8454.000000,8454.000000,8212.000000,8426.000000,8454.000000,8454.000000,8454.0
mean,15.0,9.357618,1.109988,4.140469,3.495009,1016.980579,186.525816,3.645490,6.559972,15.847764,2016.0
std,0.0,10.846760,1.163289,9.996298,7.343781,7.266856,110.812030,2.457482,3.448856,8.800610,0.0
min,15.0,-23.900000,0.000000,-26.700000,-1.000000,987.400000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,15.0,1.100000,0.000000,-3.300000,3.495009,1012.600000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,15.0,9.400000,1.109988,4.400000,3.495009,1016.980579,180.000000,3.100000,7.000000,16.000000,2016.0
75%,15.0,18.300000,1.109988,12.800000,3.495009,1021.675000,300.000000,5.100000,10.000000,23.000000,2016.0
max,15.0,33.900000,9.000000,24.400000,333.000000,1042.200000,360.000000,15.400000,12.000000,31.000000,2016.0

# Merge the above cells into sea_press_filled

In [387]:
sea_press_filled = pd.concat([weather_sea0,weather_sea1,weather_sea2,
                           weather_sea3,weather_sea4,weather_sea5,
                           weather_sea6,weather_sea7,weather_sea8,
                           weather_sea9,weather_sea10,weather_sea11,
                           weather_sea12,weather_sea13,weather_sea14,
                           weather_sea15], axis=0)

In [388]:
sea_press_filled.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,139773.000000,139773.000000,139773.000000,139773.000000,139773.000000,139773.000000,133505.000000,139469.000000,139773.000000,139773.000000,139773.0
mean,7.478977,14.418288,1.634475,7.347683,2.081422,952.515979,180.526632,3.560527,6.523871,15.771043,2016.0
std,4.604744,10.624850,2.117312,9.787656,7.567646,246.336667,111.523629,2.335874,3.447111,8.809815,0.0
min,0.000000,-28.900000,0.000000,-35.000000,-1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,3.000000,7.200000,0.000000,0.600000,0.000000,1010.600000,80.000000,2.100000,4.000000,8.000000,2016.0
50%,7.000000,15.000000,0.562203,8.300000,0.000000,1015.900000,190.000000,3.100000,7.000000,16.000000,2016.0
75%,11.000000,22.200000,2.873133,14.400000,0.000000,1020.400000,280.000000,5.000000,10.000000,23.000000,2016.0
max,15.000000,47.200000,9.000000,26.100000,343.000000,1045.500000,360.000000,19.000000,12.000000,31.000000,2016.0

use sea_press_filled to fill in the remaining missing columns

# wind_direction site_id=0

In [389]:
weather_wind_dir0=sea_press_filled[sea_press_filled['site_id']==0]

In [390]:
weather_wind_dir0.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8784.0,8784.000000,8784.000000,8784.00000,8784.000000,8784.000000,8534.000000,8784.000000,8784.000000,8784.000000,8784.0
mean,0.0,22.836021,3.044610,16.81788,1.382557,1017.988378,156.494024,3.375114,6.513661,15.756831,2016.0
std,0.0,6.036386,1.591104,6.51826,12.956195,4.016609,118.344523,2.154266,3.451430,8.812031,0.0
min,0.0,1.700000,0.000000,-9.40000,-1.000000,992.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,0.0,18.900000,2.000000,13.30000,0.000000,1015.500000,60.000000,2.100000,4.000000,8.000000,2016.0
50%,0.0,23.900000,3.044610,18.30000,0.000000,1017.988378,140.000000,3.100000,7.000000,16.000000,2016.0
75%,0.0,26.700000,4.000000,22.20000,0.000000,1020.500000,260.000000,4.600000,10.000000,23.000000,2016.0
max,0.0,36.100000,9.000000,25.60000,343.000000,1030.200000,360.000000,15.400000,12.000000,31.000000,2016.0

In [391]:
weather_wind_dir0_mean=weather_wind_dir0['wind_direction'].mean()
weather_wind_dir0['wind_direction'].fillna(weather_wind_dir0_mean,inplace=True)

In [392]:
weather_wind_dir0_mean

156.49402390438246

In [393]:
weather_wind_dir0.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8784.0,8784.000000,8784.000000,8784.00000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.0
mean,0.0,22.836021,3.044610,16.81788,1.382557,1017.988378,156.494024,3.375114,6.513661,15.756831,2016.0
std,0.0,6.036386,1.591104,6.51826,12.956195,4.016609,116.648080,2.154266,3.451430,8.812031,0.0
min,0.0,1.700000,0.000000,-9.40000,-1.000000,992.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,0.0,18.900000,2.000000,13.30000,0.000000,1015.500000,60.000000,2.100000,4.000000,8.000000,2016.0
50%,0.0,23.900000,3.044610,18.30000,0.000000,1017.988378,150.000000,3.100000,7.000000,16.000000,2016.0
75%,0.0,26.700000,4.000000,22.20000,0.000000,1020.500000,260.000000,4.600000,10.000000,23.000000,2016.0
max,0.0,36.100000,9.000000,25.60000,343.000000,1030.200000,360.000000,15.400000,12.000000,31.000000,2016.0

# wind_direction site_id=1

In [394]:
weather_wind_dir1=sea_press_filled[sea_press_filled['site_id']==1]

In [395]:
weather_wind_dir1.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8763.0,8763.000000,8763.000000,8763.000000,8763.0,8763.000000,8760.000000,8763.000000,8763.000000,8763.000000,8763.0
mean,1.0,11.711801,0.084656,7.646473,0.0,1015.989795,195.584475,3.967043,6.519799,15.748716,2016.0
std,0.0,6.138649,0.382780,5.215791,0.0,10.714325,98.418020,2.211536,3.449630,8.818108,0.0
min,1.0,-3.900000,0.000000,-8.900000,0.0,973.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,1.0,7.000000,0.084656,3.500000,0.0,1009.800000,120.000000,2.600000,4.000000,8.000000,2016.0
50%,1.0,11.300000,0.084656,7.800000,0.0,1017.500000,220.000000,3.600000,7.000000,16.000000,2016.0
75%,1.0,16.200000,0.084656,11.700000,0.0,1022.900000,270.000000,5.100000,10.000000,23.000000,2016.0
max,1.0,32.900000,9.000000,20.700000,0.0,1045.500000,360.000000,18.500000,12.000000,31.000000,2016.0

In [396]:
weather_wind_dir1_mean=weather_wind_dir1['wind_direction'].mean()
weather_wind_dir1['wind_direction'].fillna(weather_wind_dir1_mean,inplace=True)

In [397]:
weather_wind_dir1_mean

195.58447488584474

In [398]:
weather_wind_dir1.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8763.0,8763.000000,8763.000000,8763.000000,8763.0,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.0
mean,1.0,11.711801,0.084656,7.646473,0.0,1015.989795,195.584475,3.967043,6.519799,15.748716,2016.0
std,0.0,6.138649,0.382780,5.215791,0.0,10.714325,98.401170,2.211536,3.449630,8.818108,0.0
min,1.0,-3.900000,0.000000,-8.900000,0.0,973.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,1.0,7.000000,0.084656,3.500000,0.0,1009.800000,120.000000,2.600000,4.000000,8.000000,2016.0
50%,1.0,11.300000,0.084656,7.800000,0.0,1017.500000,220.000000,3.600000,7.000000,16.000000,2016.0
75%,1.0,16.200000,0.084656,11.700000,0.0,1022.900000,270.000000,5.100000,10.000000,23.000000,2016.0
max,1.0,32.900000,9.000000,20.700000,0.0,1045.500000,360.000000,18.500000,12.000000,31.000000,2016.0

# wind_direction site_id=2

In [399]:
weather_wind_dir2=sea_press_filled[sea_press_filled['site_id']==2]

In [400]:
weather_wind_dir2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8783.000000,8783.000000,8783.000000,8192.000000,8778.000000,8783.000000,8783.000000,8783.0
mean,2.0,24.940321,1.958469,4.069506,0.157738,1011.679311,152.777100,2.932764,6.513037,15.757144,2016.0
std,0.0,9.119316,1.637702,7.618692,2.846688,4.921729,104.020345,1.963932,3.451130,8.812484,0.0
min,2.0,2.200000,0.000000,-17.200000,-1.000000,999.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,2.0,17.800000,0.000000,-1.700000,0.000000,1008.400000,80.000000,1.500000,4.000000,8.000000,2016.0
50%,2.0,25.600000,1.958469,3.300000,0.000000,1011.000000,120.000000,2.600000,7.000000,16.000000,2016.0
75%,2.0,32.200000,2.000000,10.000000,0.000000,1014.600000,250.000000,4.100000,10.000000,23.000000,2016.0
max,2.0,47.200000,9.000000,23.300000,132.000000,1028.200000,360.000000,15.400000,12.000000,31.000000,2016.0

In [401]:
weather_wind_dir2_mean=weather_wind_dir2['wind_direction'].mean()
weather_wind_dir2['wind_direction'].fillna(weather_wind_dir2_mean,inplace=True)

In [402]:
weather_wind_dir2_mean

152.777099609375

In [403]:
weather_wind_dir2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8783.000000,8783.000000,8783.000000,8783.000000,8778.000000,8783.000000,8783.000000,8783.0
mean,2.0,24.940321,1.958469,4.069506,0.157738,1011.679311,152.777100,2.932764,6.513037,15.757144,2016.0
std,0.0,9.119316,1.637702,7.618692,2.846688,4.921729,100.459274,1.963932,3.451130,8.812484,0.0
min,2.0,2.200000,0.000000,-17.200000,-1.000000,999.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,2.0,17.800000,0.000000,-1.700000,0.000000,1008.400000,90.000000,1.500000,4.000000,8.000000,2016.0
50%,2.0,25.600000,1.958469,3.300000,0.000000,1011.000000,140.000000,2.600000,7.000000,16.000000,2016.0
75%,2.0,32.200000,2.000000,10.000000,0.000000,1014.600000,250.000000,4.100000,10.000000,23.000000,2016.0
max,2.0,47.200000,9.000000,23.300000,132.000000,1028.200000,360.000000,15.400000,12.000000,31.000000,2016.0

# wind_direction site_id=3

In [404]:
weather_wind_dir3=sea_press_filled[sea_press_filled['site_id']==3]

In [405]:
weather_wind_dir3.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8780.0,8780.000000,8780.000000,8780.000000,8780.000000,8780.000000,8627.000000,8776.000000,8780.000000,8780.000000,8780.0
mean,3.0,15.520579,3.879136,8.126214,0.691868,1017.938692,185.063174,3.910893,6.512870,15.760251,2016.0
std,0.0,10.059395,2.090937,10.684790,5.563783,6.869317,111.054554,2.282695,3.451708,8.812344,0.0
min,3.0,-10.600000,0.000000,-22.800000,-1.000000,991.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,3.0,7.800000,3.879136,0.000000,0.000000,1013.700000,80.000000,2.600000,4.000000,8.000000,2016.0
50%,3.0,15.600000,3.879136,9.400000,0.000000,1017.938692,190.000000,3.600000,7.000000,16.000000,2016.0
75%,3.0,23.900000,4.000000,17.800000,0.000000,1022.100000,290.000000,5.100000,10.000000,23.000000,2016.0
max,3.0,37.800000,9.000000,26.100000,198.000000,1040.900000,360.000000,17.000000,12.000000,31.000000,2016.0

In [406]:
weather_wind_dir3_mean=weather_wind_dir3['wind_direction'].mean()
weather_wind_dir3['wind_direction'].fillna(weather_wind_dir3_mean,inplace=True)

In [407]:
weather_wind_dir3_mean

185.06317375681002

In [408]:
weather_wind_dir3.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8780.0,8780.000000,8780.000000,8780.000000,8780.000000,8780.000000,8780.000000,8776.000000,8780.000000,8780.000000,8780.0
mean,3.0,15.520579,3.879136,8.126214,0.691868,1017.938692,185.063174,3.910893,6.512870,15.760251,2016.0
std,0.0,10.059395,2.090937,10.684790,5.563783,6.869317,110.082573,2.282695,3.451708,8.812344,0.0
min,3.0,-10.600000,0.000000,-22.800000,-1.000000,991.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,3.0,7.800000,3.879136,0.000000,0.000000,1013.700000,90.000000,2.600000,4.000000,8.000000,2016.0
50%,3.0,15.600000,3.879136,9.400000,0.000000,1017.938692,190.000000,3.600000,7.000000,16.000000,2016.0
75%,3.0,23.900000,4.000000,17.800000,0.000000,1022.100000,290.000000,5.100000,10.000000,23.000000,2016.0
max,3.0,37.800000,9.000000,26.100000,198.000000,1040.900000,360.000000,17.000000,12.000000,31.000000,2016.0

# wind_direction site_id=4

In [409]:
weather_wind_dir4=sea_press_filled[sea_press_filled['site_id']==4]

In [410]:
weather_wind_dir4.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8783.000000,8783.000000,8783.00000,8678.000000,8783.000000,8783.000000,8783.000000,8783.0
mean,4.0,15.236366,1.867999,9.894750,0.248594,1016.88775,207.864715,3.858226,6.514289,15.758511,2016.0
std,0.0,4.014637,0.979619,3.528735,3.074950,4.50102,109.723916,2.536447,3.451125,8.811126,0.0
min,4.0,1.100000,0.000000,-9.400000,-1.000000,999.80000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,4.0,12.800000,1.867999,8.300000,0.000000,1013.60000,130.000000,2.100000,4.000000,8.000000,2016.0
50%,4.0,15.000000,1.867999,10.600000,0.000000,1016.70000,260.000000,3.600000,7.000000,16.000000,2016.0
75%,4.0,17.800000,2.000000,12.200000,0.000000,1019.80000,290.000000,5.700000,10.000000,23.000000,2016.0
max,4.0,35.000000,9.000000,18.300000,124.000000,1031.70000,360.000000,16.500000,12.000000,31.000000,2016.0

In [411]:
weather_wind_dir4_mean=weather_wind_dir4['wind_direction'].mean()
weather_wind_dir4['wind_direction'].fillna(weather_wind_dir4_mean,inplace=True)

In [412]:
weather_wind_dir4_mean

207.86471537220558

In [413]:
weather_wind_dir4.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8783.000000,8783.000000,8783.00000,8783.000000,8783.000000,8783.000000,8783.000000,8783.0
mean,4.0,15.236366,1.867999,9.894750,0.248594,1016.88775,207.864715,3.858226,6.514289,15.758511,2016.0
std,0.0,4.014637,0.979619,3.528735,3.074950,4.50102,109.065999,2.536447,3.451125,8.811126,0.0
min,4.0,1.100000,0.000000,-9.400000,-1.000000,999.80000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,4.0,12.800000,1.867999,8.300000,0.000000,1013.60000,130.000000,2.100000,4.000000,8.000000,2016.0
50%,4.0,15.000000,1.867999,10.600000,0.000000,1016.70000,260.000000,3.600000,7.000000,16.000000,2016.0
75%,4.0,17.800000,2.000000,12.200000,0.000000,1019.80000,290.000000,5.700000,10.000000,23.000000,2016.0
max,4.0,35.000000,9.000000,18.300000,124.000000,1031.70000,360.000000,16.500000,12.000000,31.000000,2016.0

# wind_direction site_id=5

In [414]:
weather_wind_dir5=sea_press_filled[sea_press_filled['site_id']==5]

In [415]:
weather_wind_dir5.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8755.0,8755.000000,8755.000000,8755.000000,8755.0,8755.0,8460.000000,8752.000000,8755.000000,8755.000000,8755.0
mean,5.0,10.867931,0.290642,8.194676,0.0,0.0,200.053191,4.768087,6.523587,15.747230,2016.0
std,0.0,5.090896,0.887672,4.968076,0.0,0.0,100.094220,2.340060,3.448831,8.818296,0.0
min,5.0,-3.000000,0.000000,-6.000000,0.0,0.0,0.000000,0.000000,1.000000,1.000000,2016.0
25%,5.0,7.000000,0.000000,4.000000,0.0,0.0,100.000000,3.100000,4.000000,8.000000,2016.0
50%,5.0,11.000000,0.290642,8.000000,0.0,0.0,240.000000,4.600000,7.000000,16.000000,2016.0
75%,5.0,15.000000,0.290642,12.000000,0.0,0.0,280.000000,6.200000,10.000000,23.000000,2016.0
max,5.0,30.000000,9.000000,19.000000,0.0,0.0,360.000000,18.500000,12.000000,31.000000,2016.0

In [416]:
weather_wind_dir5_mean=weather_wind_dir5['wind_direction'].mean()
weather_wind_dir5['wind_direction'].fillna(weather_wind_dir5_mean,inplace=True)

In [417]:
weather_wind_dir5_mean

200.0531914893617

In [418]:
weather_wind_dir5.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8755.0,8755.000000,8755.000000,8755.000000,8755.0,8755.0,8755.000000,8752.000000,8755.000000,8755.000000,8755.0
mean,5.0,10.867931,0.290642,8.194676,0.0,0.0,200.053191,4.768087,6.523587,15.747230,2016.0
std,0.0,5.090896,0.887672,4.968076,0.0,0.0,98.393235,2.340060,3.448831,8.818296,0.0
min,5.0,-3.000000,0.000000,-6.000000,0.0,0.0,0.000000,0.000000,1.000000,1.000000,2016.0
25%,5.0,7.000000,0.000000,4.000000,0.0,0.0,100.000000,3.100000,4.000000,8.000000,2016.0
50%,5.0,11.000000,0.290642,8.000000,0.0,0.0,230.000000,4.600000,7.000000,16.000000,2016.0
75%,5.0,15.000000,0.290642,12.000000,0.0,0.0,280.000000,6.200000,10.000000,23.000000,2016.0
max,5.0,30.000000,9.000000,19.000000,0.0,0.0,360.000000,18.500000,12.000000,31.000000,2016.0

# wind_direction site_id=6

In [419]:
weather_wind_dir6=sea_press_filled[sea_press_filled['site_id']==6]

In [420]:
weather_wind_dir6.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8782.0,8782.000000,8782.000000,8782.000000,8782.000000,8782.000000,8003.000000,8743.000000,8782.000000,8782.000000,8782.0
mean,6.0,15.141678,0.647668,7.320691,0.797768,1017.527954,131.618143,2.197758,6.514006,15.757345,2016.0
std,0.0,9.935490,1.322036,11.101737,6.368168,6.579492,120.664838,1.875501,3.451220,8.810950,0.0
min,6.0,-13.300000,0.000000,-23.300000,-1.000000,991.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,6.0,7.200000,0.000000,-1.100000,0.000000,1013.600000,0.000000,0.000000,4.000000,8.000000,2016.0
50%,6.0,16.100000,0.000000,8.900000,0.000000,1017.527954,150.000000,2.100000,7.000000,16.000000,2016.0
75%,6.0,22.800000,0.647668,17.200000,0.000000,1021.475000,210.000000,3.100000,10.000000,23.000000,2016.0
max,6.0,37.200000,9.000000,24.400000,198.000000,1039.800000,360.000000,11.300000,12.000000,31.000000,2016.0

In [421]:
weather_wind_dir6_mean=weather_wind_dir6['wind_direction'].mean()
weather_wind_dir6['wind_direction'].fillna(weather_wind_dir6_mean,inplace=True)

In [422]:
weather_wind_dir6_mean

131.6181431963014

In [423]:
weather_wind_dir6.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8782.0,8782.000000,8782.000000,8782.000000,8782.000000,8782.000000,8782.000000,8743.000000,8782.000000,8782.000000,8782.0
mean,6.0,15.141678,0.647668,7.320691,0.797768,1017.527954,131.618143,2.197758,6.514006,15.757345,2016.0
std,0.0,9.935490,1.322036,11.101737,6.368168,6.579492,115.188207,1.875501,3.451220,8.810950,0.0
min,6.0,-13.300000,0.000000,-23.300000,-1.000000,991.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,6.0,7.200000,0.000000,-1.100000,0.000000,1013.600000,0.000000,0.000000,4.000000,8.000000,2016.0
50%,6.0,16.100000,0.000000,8.900000,0.000000,1017.527954,131.618143,2.100000,7.000000,16.000000,2016.0
75%,6.0,22.800000,0.647668,17.200000,0.000000,1021.475000,210.000000,3.100000,10.000000,23.000000,2016.0
max,6.0,37.200000,9.000000,24.400000,198.000000,1039.800000,360.000000,11.300000,12.000000,31.000000,2016.0

# wind_direction site_id=7

In [424]:
weather_wind_dir7=sea_press_filled[sea_press_filled['site_id']==7]

In [425]:
weather_wind_dir7.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8614.0,8614.000000,8614.0,8614.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.0
mean,7.0,7.888867,0.0,1.905913,11.350205,1015.252010,208.931739,3.445565,6.561412,15.837938,2016.0
std,0.0,12.218509,0.0,10.758806,6.193523,8.442641,103.375537,1.995291,3.422306,8.793355,0.0
min,7.0,-28.800000,0.0,-35.000000,2.000000,983.600000,10.000000,0.000000,1.000000,1.000000,2016.0
25%,7.0,-0.900000,0.0,-5.500000,11.350205,1010.000000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,7.0,7.700000,0.0,2.400000,11.350205,1015.200000,230.000000,3.100000,7.000000,16.000000,2016.0
75%,7.0,18.200000,0.0,10.700000,11.350205,1020.900000,290.000000,4.600000,10.000000,23.000000,2016.0
max,7.0,33.900000,0.0,22.900000,262.000000,1043.800000,360.000000,12.800000,12.000000,31.000000,2016.0

In [426]:
weather_wind_dir7_mean=weather_wind_dir7['wind_direction'].mean()
weather_wind_dir7['wind_direction'].fillna(weather_wind_dir7_mean,inplace=True)

In [427]:
weather_wind_dir7_mean

208.9317390294869

In [428]:
weather_wind_dir7.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8614.0,8614.000000,8614.0,8614.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.0
mean,7.0,7.888867,0.0,1.905913,11.350205,1015.252010,208.931739,3.445565,6.561412,15.837938,2016.0
std,0.0,12.218509,0.0,10.758806,6.193523,8.442641,103.375537,1.995291,3.422306,8.793355,0.0
min,7.0,-28.800000,0.0,-35.000000,2.000000,983.600000,10.000000,0.000000,1.000000,1.000000,2016.0
25%,7.0,-0.900000,0.0,-5.500000,11.350205,1010.000000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,7.0,7.700000,0.0,2.400000,11.350205,1015.200000,230.000000,3.100000,7.000000,16.000000,2016.0
75%,7.0,18.200000,0.0,10.700000,11.350205,1020.900000,290.000000,4.600000,10.000000,23.000000,2016.0
max,7.0,33.900000,0.0,22.900000,262.000000,1043.800000,360.000000,12.800000,12.000000,31.000000,2016.0

# wind_direction site_id=8

In [429]:
weather_wind_dir8=sea_press_filled[sea_press_filled['site_id']==8]

In [430]:
weather_wind_dir8.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8784.0,8784.000000,8784.000000,8784.00000,8784.000000,8784.000000,8534.000000,8784.000000,8784.000000,8784.000000,8784.0
mean,8.0,22.836021,3.044610,16.81788,1.382557,1017.988378,156.494024,3.375114,6.513661,15.756831,2016.0
std,0.0,6.036386,1.591104,6.51826,12.956195,4.016609,118.344523,2.154266,3.451430,8.812031,0.0
min,8.0,1.700000,0.000000,-9.40000,-1.000000,992.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,8.0,18.900000,2.000000,13.30000,0.000000,1015.500000,60.000000,2.100000,4.000000,8.000000,2016.0
50%,8.0,23.900000,3.044610,18.30000,0.000000,1017.988378,140.000000,3.100000,7.000000,16.000000,2016.0
75%,8.0,26.700000,4.000000,22.20000,0.000000,1020.500000,260.000000,4.600000,10.000000,23.000000,2016.0
max,8.0,36.100000,9.000000,25.60000,343.000000,1030.200000,360.000000,15.400000,12.000000,31.000000,2016.0

In [431]:
weather_wind_dir8_mean=weather_wind_dir8['wind_direction'].mean()
weather_wind_dir8['wind_direction'].fillna(weather_wind_dir8_mean,inplace=True)

In [432]:
weather_wind_dir8_mean

156.49402390438246

In [433]:
weather_wind_dir8.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8784.0,8784.000000,8784.000000,8784.00000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.0
mean,8.0,22.836021,3.044610,16.81788,1.382557,1017.988378,156.494024,3.375114,6.513661,15.756831,2016.0
std,0.0,6.036386,1.591104,6.51826,12.956195,4.016609,116.648080,2.154266,3.451430,8.812031,0.0
min,8.0,1.700000,0.000000,-9.40000,-1.000000,992.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,8.0,18.900000,2.000000,13.30000,0.000000,1015.500000,60.000000,2.100000,4.000000,8.000000,2016.0
50%,8.0,23.900000,3.044610,18.30000,0.000000,1017.988378,150.000000,3.100000,7.000000,16.000000,2016.0
75%,8.0,26.700000,4.000000,22.20000,0.000000,1020.500000,260.000000,4.600000,10.000000,23.000000,2016.0
max,8.0,36.100000,9.000000,25.60000,343.000000,1030.200000,360.000000,15.400000,12.000000,31.000000,2016.0

# wind_direction site_id=9

In [434]:
weather_wind_dir9=sea_press_filled[sea_press_filled['site_id']==9]

In [435]:
weather_wind_dir9.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8780.0,8780.000000,8780.000000,8780.000000,8780.000000,8780.000000,6222.000000,8683.000000,8780.000000,8780.000000,8780.0
mean,9.0,21.367499,0.610673,14.613302,0.755158,1016.625114,116.648987,2.083658,6.514009,15.756264,2016.0
std,0.0,7.984637,1.041529,8.499577,7.271696,5.981927,117.050797,1.519628,3.451143,8.811064,0.0
min,9.0,-5.000000,0.000000,-13.300000,-1.000000,999.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,9.0,16.100000,0.000000,8.900000,0.000000,1012.900000,0.000000,1.500000,4.000000,8.000000,2016.0
50%,9.0,22.200000,0.610673,17.200000,0.000000,1015.900000,120.000000,2.100000,7.000000,16.000000,2016.0
75%,9.0,26.700000,0.610673,21.700000,0.000000,1019.800000,180.000000,3.100000,10.000000,23.000000,2016.0
max,9.0,39.400000,9.000000,26.100000,203.000000,1041.600000,360.000000,9.300000,12.000000,31.000000,2016.0

In [436]:
weather_wind_dir9_mean=weather_wind_dir9['wind_direction'].mean()
weather_wind_dir9['wind_direction'].fillna(weather_wind_dir9_mean,inplace=True)

In [437]:
weather_wind_dir9_mean

116.648987463838

In [438]:
weather_wind_dir9.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8780.0,8780.000000,8780.000000,8780.000000,8780.000000,8780.000000,8780.000000,8683.000000,8780.000000,8780.000000,8780.0
mean,9.0,21.367499,0.610673,14.613302,0.755158,1016.625114,116.648987,2.083658,6.514009,15.756264,2016.0
std,0.0,7.984637,1.041529,8.499577,7.271696,5.981927,98.533056,1.519628,3.451143,8.811064,0.0
min,9.0,-5.000000,0.000000,-13.300000,-1.000000,999.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,9.0,16.100000,0.000000,8.900000,0.000000,1012.900000,10.000000,1.500000,4.000000,8.000000,2016.0
50%,9.0,22.200000,0.610673,17.200000,0.000000,1015.900000,116.648987,2.100000,7.000000,16.000000,2016.0
75%,9.0,26.700000,0.610673,21.700000,0.000000,1019.800000,160.000000,3.100000,10.000000,23.000000,2016.0
max,9.0,39.400000,9.000000,26.100000,203.000000,1041.600000,360.000000,9.300000,12.000000,31.000000,2016.0

# wind_direction site_id=10

In [439]:
weather_wind_dir10=sea_press_filled[sea_press_filled['site_id']==10]

In [440]:
weather_wind_dir10.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8782.0,8782.000000,8782.0000,8782.000000,8782.000000,8782.000000,8248.000000,8678.000000,8782.000000,8782.000000,8782.0
mean,10.0,11.644679,0.3765,0.082273,0.457453,1015.668788,179.879971,3.158677,6.513664,15.757458,2016.0
std,0.0,11.141203,1.1302,5.573989,3.355980,8.296160,101.919364,2.035429,3.450825,8.811075,0.0
min,10.0,-16.700000,0.0000,-20.000000,-1.000000,990.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,10.0,2.800000,0.0000,-3.300000,0.000000,1010.000000,150.000000,2.100000,4.000000,8.000000,2016.0
50%,10.0,11.700000,0.0000,0.600000,0.000000,1014.600000,170.000000,3.100000,7.000000,16.000000,2016.0
75%,10.0,20.000000,0.3765,3.900000,0.000000,1020.600000,260.000000,4.100000,10.000000,23.000000,2016.0
max,10.0,37.200000,9.0000,15.000000,79.000000,1042.600000,360.000000,16.500000,12.000000,31.000000,2016.0

In [441]:
weather_wind_dir10_mean=weather_wind_dir10['wind_direction'].mean()
weather_wind_dir10['wind_direction'].fillna(weather_wind_dir10_mean,inplace=True)

In [442]:
weather_wind_dir10_mean

179.87997090203686

In [443]:
weather_wind_dir10.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8782.0,8782.000000,8782.0000,8782.000000,8782.000000,8782.000000,8782.000000,8678.000000,8782.000000,8782.000000,8782.0
mean,10.0,11.644679,0.3765,0.082273,0.457453,1015.668788,179.879971,3.158677,6.513664,15.757458,2016.0
std,0.0,11.141203,1.1302,5.573989,3.355980,8.296160,98.771742,2.035429,3.450825,8.811075,0.0
min,10.0,-16.700000,0.0000,-20.000000,-1.000000,990.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,10.0,2.800000,0.0000,-3.300000,0.000000,1010.000000,150.000000,2.100000,4.000000,8.000000,2016.0
50%,10.0,11.700000,0.0000,0.600000,0.000000,1014.600000,170.000000,3.100000,7.000000,16.000000,2016.0
75%,10.0,20.000000,0.3765,3.900000,0.000000,1020.600000,250.000000,4.100000,10.000000,23.000000,2016.0
max,10.0,37.200000,9.0000,15.000000,79.000000,1042.600000,360.000000,16.500000,12.000000,31.000000,2016.0

# wind_direction site_id=11

In [444]:
weather_wind_dir11=sea_press_filled[sea_press_filled['site_id']==11]

In [445]:
weather_wind_dir11.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8614.0,8614.000000,8614.0,8614.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.0
mean,11.0,7.888867,0.0,1.905913,11.350205,1015.252010,208.931739,3.445565,6.561412,15.837938,2016.0
std,0.0,12.218509,0.0,10.758806,6.193523,8.442641,103.375537,1.995291,3.422306,8.793355,0.0
min,11.0,-28.800000,0.0,-35.000000,2.000000,983.600000,10.000000,0.000000,1.000000,1.000000,2016.0
25%,11.0,-0.900000,0.0,-5.500000,11.350205,1010.000000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,11.0,7.700000,0.0,2.400000,11.350205,1015.200000,230.000000,3.100000,7.000000,16.000000,2016.0
75%,11.0,18.200000,0.0,10.700000,11.350205,1020.900000,290.000000,4.600000,10.000000,23.000000,2016.0
max,11.0,33.900000,0.0,22.900000,262.000000,1043.800000,360.000000,12.800000,12.000000,31.000000,2016.0

In [446]:
weather_wind_dir11_mean=weather_wind_dir11['wind_direction'].mean()
weather_wind_dir11['wind_direction'].fillna(weather_wind_dir11_mean,inplace=True)

In [447]:
weather_wind_dir11_mean

208.9317390294869

In [448]:
weather_wind_dir11.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8614.0,8614.000000,8614.0,8614.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.0
mean,11.0,7.888867,0.0,1.905913,11.350205,1015.252010,208.931739,3.445565,6.561412,15.837938,2016.0
std,0.0,12.218509,0.0,10.758806,6.193523,8.442641,103.375537,1.995291,3.422306,8.793355,0.0
min,11.0,-28.800000,0.0,-35.000000,2.000000,983.600000,10.000000,0.000000,1.000000,1.000000,2016.0
25%,11.0,-0.900000,0.0,-5.500000,11.350205,1010.000000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,11.0,7.700000,0.0,2.400000,11.350205,1015.200000,230.000000,3.100000,7.000000,16.000000,2016.0
75%,11.0,18.200000,0.0,10.700000,11.350205,1020.900000,290.000000,4.600000,10.000000,23.000000,2016.0
max,11.0,33.900000,0.0,22.900000,262.000000,1043.800000,360.000000,12.800000,12.000000,31.000000,2016.0

# wind_direction site_id=12

In [449]:
weather_wind_dir12=sea_press_filled[sea_press_filled['site_id']==12]

In [450]:
weather_wind_dir12.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8755.0,8755.000000,8755.000000,8755.000000,8755.0,8755.000000,8754.000000,8755.000000,8755.000000,8755.000000,8755.0
mean,12.0,9.843232,5.723091,6.519966,0.0,1014.425474,202.774732,5.511399,6.521645,15.743232,2016.0
std,0.0,5.157759,2.234719,4.615672,0.0,11.490762,86.639340,2.733220,3.449572,8.819781,0.0
min,12.0,-4.800000,0.000000,-5.300000,0.0,968.200000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,12.0,6.000000,4.000000,2.700000,0.0,1007.800000,140.000000,4.000000,4.000000,8.000000,2016.0
50%,12.0,9.800000,7.000000,6.700000,0.0,1015.700000,230.000000,5.000000,7.000000,16.000000,2016.0
75%,12.0,13.700000,7.000000,10.100000,0.0,1022.200000,260.000000,7.000000,10.000000,23.000000,2016.0
max,12.0,26.000000,8.000000,18.300000,0.0,1041.900000,360.000000,19.000000,12.000000,31.000000,2016.0

In [451]:
weather_wind_dir12_mean=weather_wind_dir12['wind_direction'].mean()
weather_wind_dir12['wind_direction'].fillna(weather_wind_dir12_mean,inplace=True)

In [452]:
weather_wind_dir12_mean

202.77473155129084

In [453]:
weather_wind_dir12.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8755.0,8755.000000,8755.000000,8755.000000,8755.0,8755.000000,8755.000000,8755.000000,8755.000000,8755.000000,8755.0
mean,12.0,9.843232,5.723091,6.519966,0.0,1014.425474,202.774732,5.511399,6.521645,15.743232,2016.0
std,0.0,5.157759,2.234719,4.615672,0.0,11.490762,86.634391,2.733220,3.449572,8.819781,0.0
min,12.0,-4.800000,0.000000,-5.300000,0.0,968.200000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,12.0,6.000000,4.000000,2.700000,0.0,1007.800000,140.000000,4.000000,4.000000,8.000000,2016.0
50%,12.0,9.800000,7.000000,6.700000,0.0,1015.700000,230.000000,5.000000,7.000000,16.000000,2016.0
75%,12.0,13.700000,7.000000,10.100000,0.0,1022.200000,260.000000,7.000000,10.000000,23.000000,2016.0
max,12.0,26.000000,8.000000,18.300000,0.0,1041.900000,360.000000,19.000000,12.000000,31.000000,2016.0

# wind_direction site_id=13

In [454]:
weather_wind_dir13=sea_press_filled[sea_press_filled['site_id']==13]

In [455]:
weather_wind_dir13.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8783.000000,8783.000000,8783.000000,8566.000000,8782.000000,8783.000000,8783.000000,8783.0
mean,13.0,9.879617,2.873133,3.401731,0.880515,1015.895371,187.969881,4.197358,6.513037,15.757372,2016.0
std,0.0,12.405170,1.938734,11.384719,7.797824,7.599911,105.086402,2.324516,3.451130,8.812387,0.0
min,13.0,-28.900000,0.000000,-31.700000,-1.000000,981.600000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,13.0,0.600000,2.000000,-3.900000,0.000000,1011.200000,120.000000,2.600000,4.000000,8.000000,2016.0
50%,13.0,11.100000,2.873133,3.900000,0.000000,1015.895371,180.000000,4.100000,7.000000,16.000000,2016.0
75%,13.0,20.000000,2.873133,13.300000,0.000000,1020.800000,280.000000,5.700000,10.000000,23.000000,2016.0
max,13.0,35.600000,9.000000,25.000000,216.000000,1040.200000,360.000000,16.000000,12.000000,31.000000,2016.0

In [456]:
weather_wind_dir13_mean=weather_wind_dir13['wind_direction'].mean()
weather_wind_dir13['wind_direction'].fillna(weather_wind_dir13_mean,inplace=True)

In [457]:
weather_wind_dir13_mean

187.96988092458557

In [458]:
weather_wind_dir13.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8783.000000,8783.000000,8783.000000,8783.000000,8782.000000,8783.000000,8783.000000,8783.0
mean,13.0,9.879617,2.873133,3.401731,0.880515,1015.895371,187.969881,4.197358,6.513037,15.757372,2016.0
std,0.0,12.405170,1.938734,11.384719,7.797824,7.599911,103.779958,2.324516,3.451130,8.812387,0.0
min,13.0,-28.900000,0.000000,-31.700000,-1.000000,981.600000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,13.0,0.600000,2.000000,-3.900000,0.000000,1011.200000,120.000000,2.600000,4.000000,8.000000,2016.0
50%,13.0,11.100000,2.873133,3.900000,0.000000,1015.895371,187.969881,4.100000,7.000000,16.000000,2016.0
75%,13.0,20.000000,2.873133,13.300000,0.000000,1020.800000,280.000000,5.700000,10.000000,23.000000,2016.0
max,13.0,35.600000,9.000000,25.000000,216.000000,1040.200000,360.000000,16.000000,12.000000,31.000000,2016.0

# wind_direction site_id=14

In [459]:
weather_wind_dir14=sea_press_filled[sea_press_filled['site_id']==14]

In [460]:
weather_wind_dir14.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8777.0,8777.000000,8777.000000,8777.000000,8777.000000,8777.000000,8487.000000,8754.000000,8777.000000,8777.000000,8777.0
mean,14.0,13.258409,0.562203,5.775160,0.742740,1016.377985,187.723813,3.076776,6.514641,15.761080,2016.0
std,0.0,10.253626,1.168142,10.605805,5.651828,7.206002,122.693604,2.073463,3.452279,8.813589,0.0
min,14.0,-15.600000,0.000000,-25.600000,-1.000000,989.600000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,14.0,5.000000,0.000000,-2.800000,0.000000,1011.800000,70.000000,1.500000,4.000000,8.000000,2016.0
50%,14.0,13.300000,0.000000,6.100000,0.000000,1016.400000,210.000000,2.600000,7.000000,16.000000,2016.0
75%,14.0,21.700000,0.562203,15.000000,0.000000,1020.900000,300.000000,4.100000,10.000000,23.000000,2016.0
max,14.0,35.600000,9.000000,25.600000,150.000000,1040.300000,360.000000,13.400000,12.000000,31.000000,2016.0

In [461]:
weather_wind_dir14_mean=weather_wind_dir14['wind_direction'].mean()
weather_wind_dir14['wind_direction'].fillna(weather_wind_dir14_mean,inplace=True)

In [462]:
weather_wind_dir14_mean

187.7238128903028

In [463]:
weather_wind_dir14.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8777.0,8777.000000,8777.000000,8777.000000,8777.000000,8777.000000,8777.000000,8754.000000,8777.000000,8777.000000,8777.0
mean,14.0,13.258409,0.562203,5.775160,0.742740,1016.377985,187.723813,3.076776,6.514641,15.761080,2016.0
std,0.0,10.253626,1.168142,10.605805,5.651828,7.206002,120.649390,2.073463,3.452279,8.813589,0.0
min,14.0,-15.600000,0.000000,-25.600000,-1.000000,989.600000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,14.0,5.000000,0.000000,-2.800000,0.000000,1011.800000,70.000000,1.500000,4.000000,8.000000,2016.0
50%,14.0,13.300000,0.000000,6.100000,0.000000,1016.400000,210.000000,2.600000,7.000000,16.000000,2016.0
75%,14.0,21.700000,0.562203,15.000000,0.000000,1020.900000,300.000000,4.100000,10.000000,23.000000,2016.0
max,14.0,35.600000,9.000000,25.600000,150.000000,1040.300000,360.000000,13.400000,12.000000,31.000000,2016.0

# wind_direction site_id=15

In [464]:
weather_wind_dir15=sea_press_filled[sea_press_filled['site_id']==15]

In [465]:
weather_wind_dir15.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8454.0,8454.000000,8454.000000,8454.000000,8454.000000,8454.000000,8212.000000,8426.000000,8454.000000,8454.000000,8454.0
mean,15.0,9.357618,1.109988,4.140469,3.495009,1016.980579,186.525816,3.645490,6.559972,15.847764,2016.0
std,0.0,10.846760,1.163289,9.996298,7.343781,7.266856,110.812030,2.457482,3.448856,8.800610,0.0
min,15.0,-23.900000,0.000000,-26.700000,-1.000000,987.400000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,15.0,1.100000,0.000000,-3.300000,3.495009,1012.600000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,15.0,9.400000,1.109988,4.400000,3.495009,1016.980579,180.000000,3.100000,7.000000,16.000000,2016.0
75%,15.0,18.300000,1.109988,12.800000,3.495009,1021.675000,300.000000,5.100000,10.000000,23.000000,2016.0
max,15.0,33.900000,9.000000,24.400000,333.000000,1042.200000,360.000000,15.400000,12.000000,31.000000,2016.0

In [466]:
weather_wind_dir15_mean=weather_wind_dir15['wind_direction'].mean()
weather_wind_dir15['wind_direction'].fillna(weather_wind_dir15_mean,inplace=True)

In [467]:
weather_wind_dir15_mean

186.52581587920116

In [468]:
weather_wind_dir15.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8454.0,8454.000000,8454.000000,8454.000000,8454.000000,8454.000000,8454.000000,8426.000000,8454.000000,8454.000000,8454.0
mean,15.0,9.357618,1.109988,4.140469,3.495009,1016.980579,186.525816,3.645490,6.559972,15.847764,2016.0
std,0.0,10.846760,1.163289,9.996298,7.343781,7.266856,109.214299,2.457482,3.448856,8.800610,0.0
min,15.0,-23.900000,0.000000,-26.700000,-1.000000,987.400000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,15.0,1.100000,0.000000,-3.300000,3.495009,1012.600000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,15.0,9.400000,1.109988,4.400000,3.495009,1016.980579,180.000000,3.100000,7.000000,16.000000,2016.0
75%,15.0,18.300000,1.109988,12.800000,3.495009,1021.675000,290.000000,5.100000,10.000000,23.000000,2016.0
max,15.0,33.900000,9.000000,24.400000,333.000000,1042.200000,360.000000,15.400000,12.000000,31.000000,2016.0

# Merge the above cell to wind_dir_filled

In [469]:
wind_dir_filled = pd.concat([weather_wind_dir0,weather_wind_dir1,weather_wind_dir2,
                           weather_wind_dir3,weather_wind_dir4,weather_wind_dir5,
                           weather_wind_dir6,weather_wind_dir7,weather_wind_dir8,
                           weather_wind_dir9,weather_wind_dir10,weather_wind_dir11,
                           weather_wind_dir12,weather_wind_dir13,weather_wind_dir14,
                           weather_wind_dir15], axis=0)

In [470]:
wind_dir_filled.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,139773.000000,139773.000000,139773.000000,139773.000000,139773.000000,139773.000000,139773.000000,139469.000000,139773.000000,139773.000000,139773.0
mean,7.478977,14.418288,1.634475,7.347683,2.081422,952.515979,178.983317,3.560527,6.523871,15.771043,2016.0
std,4.604744,10.624850,2.117312,9.787656,7.567646,246.336667,109.418316,2.335874,3.447111,8.809815,0.0
min,0.000000,-28.900000,0.000000,-35.000000,-1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,3.000000,7.200000,0.000000,0.600000,0.000000,1010.600000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,7.000000,15.000000,0.562203,8.300000,0.000000,1015.900000,180.000000,3.100000,7.000000,16.000000,2016.0
75%,11.000000,22.200000,2.873133,14.400000,0.000000,1020.400000,270.000000,5.000000,10.000000,23.000000,2016.0
max,15.000000,47.200000,9.000000,26.100000,343.000000,1045.500000,360.000000,19.000000,12.000000,31.000000,2016.0

use wind_dir_filled to fill out the last remaining column

# wind_speed site_id=0

In [471]:
weather_wind_speed0=wind_dir_filled[wind_dir_filled['site_id']==0]

In [472]:
weather_wind_speed0.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8784.0,8784.000000,8784.000000,8784.00000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.0
mean,0.0,22.836021,3.044610,16.81788,1.382557,1017.988378,156.494024,3.375114,6.513661,15.756831,2016.0
std,0.0,6.036386,1.591104,6.51826,12.956195,4.016609,116.648080,2.154266,3.451430,8.812031,0.0
min,0.0,1.700000,0.000000,-9.40000,-1.000000,992.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,0.0,18.900000,2.000000,13.30000,0.000000,1015.500000,60.000000,2.100000,4.000000,8.000000,2016.0
50%,0.0,23.900000,3.044610,18.30000,0.000000,1017.988378,150.000000,3.100000,7.000000,16.000000,2016.0
75%,0.0,26.700000,4.000000,22.20000,0.000000,1020.500000,260.000000,4.600000,10.000000,23.000000,2016.0
max,0.0,36.100000,9.000000,25.60000,343.000000,1030.200000,360.000000,15.400000,12.000000,31.000000,2016.0

# wind_speed site_id=1

In [473]:
weather_wind_speed1=wind_dir_filled[wind_dir_filled['site_id']==1]

In [474]:
weather_wind_speed1.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8763.0,8763.000000,8763.000000,8763.000000,8763.0,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.0
mean,1.0,11.711801,0.084656,7.646473,0.0,1015.989795,195.584475,3.967043,6.519799,15.748716,2016.0
std,0.0,6.138649,0.382780,5.215791,0.0,10.714325,98.401170,2.211536,3.449630,8.818108,0.0
min,1.0,-3.900000,0.000000,-8.900000,0.0,973.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,1.0,7.000000,0.084656,3.500000,0.0,1009.800000,120.000000,2.600000,4.000000,8.000000,2016.0
50%,1.0,11.300000,0.084656,7.800000,0.0,1017.500000,220.000000,3.600000,7.000000,16.000000,2016.0
75%,1.0,16.200000,0.084656,11.700000,0.0,1022.900000,270.000000,5.100000,10.000000,23.000000,2016.0
max,1.0,32.900000,9.000000,20.700000,0.0,1045.500000,360.000000,18.500000,12.000000,31.000000,2016.0

# wind_speed site_id=2

In [475]:
weather_wind_speed2=wind_dir_filled[wind_dir_filled['site_id']==2]

In [476]:
weather_wind_speed2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8783.000000,8783.000000,8783.000000,8783.000000,8778.000000,8783.000000,8783.000000,8783.0
mean,2.0,24.940321,1.958469,4.069506,0.157738,1011.679311,152.777100,2.932764,6.513037,15.757144,2016.0
std,0.0,9.119316,1.637702,7.618692,2.846688,4.921729,100.459274,1.963932,3.451130,8.812484,0.0
min,2.0,2.200000,0.000000,-17.200000,-1.000000,999.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,2.0,17.800000,0.000000,-1.700000,0.000000,1008.400000,90.000000,1.500000,4.000000,8.000000,2016.0
50%,2.0,25.600000,1.958469,3.300000,0.000000,1011.000000,140.000000,2.600000,7.000000,16.000000,2016.0
75%,2.0,32.200000,2.000000,10.000000,0.000000,1014.600000,250.000000,4.100000,10.000000,23.000000,2016.0
max,2.0,47.200000,9.000000,23.300000,132.000000,1028.200000,360.000000,15.400000,12.000000,31.000000,2016.0

In [477]:
weather_wind_speed2_mean=weather_wind_speed2['wind_speed'].mean()
weather_wind_speed2['wind_speed'].fillna(weather_wind_speed2_mean,inplace=True)

In [478]:
weather_wind_speed2_mean

2.932763727500336

In [479]:
weather_wind_speed2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8783.000000,8783.000000,8783.000000,8783.000000,8783.000000,8783.000000,8783.000000,8783.0
mean,2.0,24.940321,1.958469,4.069506,0.157738,1011.679311,152.777100,2.932764,6.513037,15.757144,2016.0
std,0.0,9.119316,1.637702,7.618692,2.846688,4.921729,100.459274,1.963373,3.451130,8.812484,0.0
min,2.0,2.200000,0.000000,-17.200000,-1.000000,999.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,2.0,17.800000,0.000000,-1.700000,0.000000,1008.400000,90.000000,1.500000,4.000000,8.000000,2016.0
50%,2.0,25.600000,1.958469,3.300000,0.000000,1011.000000,140.000000,2.600000,7.000000,16.000000,2016.0
75%,2.0,32.200000,2.000000,10.000000,0.000000,1014.600000,250.000000,4.100000,10.000000,23.000000,2016.0
max,2.0,47.200000,9.000000,23.300000,132.000000,1028.200000,360.000000,15.400000,12.000000,31.000000,2016.0

# wind_speed site_id=3

In [480]:
weather_wind_speed3=wind_dir_filled[wind_dir_filled['site_id']==3]

In [481]:
weather_wind_speed3.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8780.0,8780.000000,8780.000000,8780.000000,8780.000000,8780.000000,8780.000000,8776.000000,8780.000000,8780.000000,8780.0
mean,3.0,15.520579,3.879136,8.126214,0.691868,1017.938692,185.063174,3.910893,6.512870,15.760251,2016.0
std,0.0,10.059395,2.090937,10.684790,5.563783,6.869317,110.082573,2.282695,3.451708,8.812344,0.0
min,3.0,-10.600000,0.000000,-22.800000,-1.000000,991.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,3.0,7.800000,3.879136,0.000000,0.000000,1013.700000,90.000000,2.600000,4.000000,8.000000,2016.0
50%,3.0,15.600000,3.879136,9.400000,0.000000,1017.938692,190.000000,3.600000,7.000000,16.000000,2016.0
75%,3.0,23.900000,4.000000,17.800000,0.000000,1022.100000,290.000000,5.100000,10.000000,23.000000,2016.0
max,3.0,37.800000,9.000000,26.100000,198.000000,1040.900000,360.000000,17.000000,12.000000,31.000000,2016.0

In [482]:
weather_wind_speed3_mean=weather_wind_speed3['wind_speed'].mean()
weather_wind_speed3['wind_speed'].fillna(weather_wind_speed3_mean,inplace=True)

In [483]:
weather_wind_speed3_mean

3.9108933454872785

In [484]:
weather_wind_speed3.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8780.0,8780.000000,8780.000000,8780.000000,8780.000000,8780.000000,8780.000000,8780.000000,8780.000000,8780.000000,8780.0
mean,3.0,15.520579,3.879136,8.126214,0.691868,1017.938692,185.063174,3.910893,6.512870,15.760251,2016.0
std,0.0,10.059395,2.090937,10.684790,5.563783,6.869317,110.082573,2.282175,3.451708,8.812344,0.0
min,3.0,-10.600000,0.000000,-22.800000,-1.000000,991.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,3.0,7.800000,3.879136,0.000000,0.000000,1013.700000,90.000000,2.600000,4.000000,8.000000,2016.0
50%,3.0,15.600000,3.879136,9.400000,0.000000,1017.938692,190.000000,3.600000,7.000000,16.000000,2016.0
75%,3.0,23.900000,4.000000,17.800000,0.000000,1022.100000,290.000000,5.100000,10.000000,23.000000,2016.0
max,3.0,37.800000,9.000000,26.100000,198.000000,1040.900000,360.000000,17.000000,12.000000,31.000000,2016.0

# wind_speed site_id=4

In [485]:
weather_wind_speed4=wind_dir_filled[wind_dir_filled['site_id']==4]

In [486]:
weather_wind_speed4.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8783.000000,8783.000000,8783.00000,8783.000000,8783.000000,8783.000000,8783.000000,8783.0
mean,4.0,15.236366,1.867999,9.894750,0.248594,1016.88775,207.864715,3.858226,6.514289,15.758511,2016.0
std,0.0,4.014637,0.979619,3.528735,3.074950,4.50102,109.065999,2.536447,3.451125,8.811126,0.0
min,4.0,1.100000,0.000000,-9.400000,-1.000000,999.80000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,4.0,12.800000,1.867999,8.300000,0.000000,1013.60000,130.000000,2.100000,4.000000,8.000000,2016.0
50%,4.0,15.000000,1.867999,10.600000,0.000000,1016.70000,260.000000,3.600000,7.000000,16.000000,2016.0
75%,4.0,17.800000,2.000000,12.200000,0.000000,1019.80000,290.000000,5.700000,10.000000,23.000000,2016.0
max,4.0,35.000000,9.000000,18.300000,124.000000,1031.70000,360.000000,16.500000,12.000000,31.000000,2016.0

In [487]:
weather_wind_speed4_mean=weather_wind_speed4['wind_speed'].mean()
weather_wind_speed4['wind_speed'].fillna(weather_wind_speed4_mean,inplace=True)

In [488]:
weather_wind_speed4_mean

3.8582261186380156

In [489]:
weather_wind_speed4.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8783.000000,8783.000000,8783.00000,8783.000000,8783.000000,8783.000000,8783.000000,8783.0
mean,4.0,15.236366,1.867999,9.894750,0.248594,1016.88775,207.864715,3.858226,6.514289,15.758511,2016.0
std,0.0,4.014637,0.979619,3.528735,3.074950,4.50102,109.065999,2.536447,3.451125,8.811126,0.0
min,4.0,1.100000,0.000000,-9.400000,-1.000000,999.80000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,4.0,12.800000,1.867999,8.300000,0.000000,1013.60000,130.000000,2.100000,4.000000,8.000000,2016.0
50%,4.0,15.000000,1.867999,10.600000,0.000000,1016.70000,260.000000,3.600000,7.000000,16.000000,2016.0
75%,4.0,17.800000,2.000000,12.200000,0.000000,1019.80000,290.000000,5.700000,10.000000,23.000000,2016.0
max,4.0,35.000000,9.000000,18.300000,124.000000,1031.70000,360.000000,16.500000,12.000000,31.000000,2016.0

# wind_speed site_id=5

In [490]:
weather_wind_speed5=wind_dir_filled[wind_dir_filled['site_id']==5]

In [491]:
weather_wind_speed5.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8755.0,8755.000000,8755.000000,8755.000000,8755.0,8755.0,8755.000000,8752.000000,8755.000000,8755.000000,8755.0
mean,5.0,10.867931,0.290642,8.194676,0.0,0.0,200.053191,4.768087,6.523587,15.747230,2016.0
std,0.0,5.090896,0.887672,4.968076,0.0,0.0,98.393235,2.340060,3.448831,8.818296,0.0
min,5.0,-3.000000,0.000000,-6.000000,0.0,0.0,0.000000,0.000000,1.000000,1.000000,2016.0
25%,5.0,7.000000,0.000000,4.000000,0.0,0.0,100.000000,3.100000,4.000000,8.000000,2016.0
50%,5.0,11.000000,0.290642,8.000000,0.0,0.0,230.000000,4.600000,7.000000,16.000000,2016.0
75%,5.0,15.000000,0.290642,12.000000,0.0,0.0,280.000000,6.200000,10.000000,23.000000,2016.0
max,5.0,30.000000,9.000000,19.000000,0.0,0.0,360.000000,18.500000,12.000000,31.000000,2016.0

In [492]:
weather_wind_speed5_mean=weather_wind_speed5['wind_speed'].mean()
weather_wind_speed5['wind_speed'].fillna(weather_wind_speed5_mean,inplace=True)

In [493]:
weather_wind_speed5_mean

4.768087294332191

In [494]:
weather_wind_speed5.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8755.0,8755.000000,8755.000000,8755.000000,8755.0,8755.0,8755.000000,8755.000000,8755.000000,8755.000000,8755.0
mean,5.0,10.867931,0.290642,8.194676,0.0,0.0,200.053191,4.768087,6.523587,15.747230,2016.0
std,0.0,5.090896,0.887672,4.968076,0.0,0.0,98.393235,2.339659,3.448831,8.818296,0.0
min,5.0,-3.000000,0.000000,-6.000000,0.0,0.0,0.000000,0.000000,1.000000,1.000000,2016.0
25%,5.0,7.000000,0.000000,4.000000,0.0,0.0,100.000000,3.100000,4.000000,8.000000,2016.0
50%,5.0,11.000000,0.290642,8.000000,0.0,0.0,230.000000,4.600000,7.000000,16.000000,2016.0
75%,5.0,15.000000,0.290642,12.000000,0.0,0.0,280.000000,6.200000,10.000000,23.000000,2016.0
max,5.0,30.000000,9.000000,19.000000,0.0,0.0,360.000000,18.500000,12.000000,31.000000,2016.0

# wind_speed site_id=6

In [495]:
weather_wind_speed6=wind_dir_filled[wind_dir_filled['site_id']==6]

In [496]:
weather_wind_speed6.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8782.0,8782.000000,8782.000000,8782.000000,8782.000000,8782.000000,8782.000000,8743.000000,8782.000000,8782.000000,8782.0
mean,6.0,15.141678,0.647668,7.320691,0.797768,1017.527954,131.618143,2.197758,6.514006,15.757345,2016.0
std,0.0,9.935490,1.322036,11.101737,6.368168,6.579492,115.188207,1.875501,3.451220,8.810950,0.0
min,6.0,-13.300000,0.000000,-23.300000,-1.000000,991.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,6.0,7.200000,0.000000,-1.100000,0.000000,1013.600000,0.000000,0.000000,4.000000,8.000000,2016.0
50%,6.0,16.100000,0.000000,8.900000,0.000000,1017.527954,131.618143,2.100000,7.000000,16.000000,2016.0
75%,6.0,22.800000,0.647668,17.200000,0.000000,1021.475000,210.000000,3.100000,10.000000,23.000000,2016.0
max,6.0,37.200000,9.000000,24.400000,198.000000,1039.800000,360.000000,11.300000,12.000000,31.000000,2016.0

In [497]:
weather_wind_speed6_mean=weather_wind_speed6['wind_speed'].mean()
weather_wind_speed6['wind_speed'].fillna(weather_wind_speed6_mean,inplace=True)

In [498]:
weather_wind_speed6_mean

2.1977582065652648

In [499]:
weather_wind_speed6.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8782.0,8782.000000,8782.000000,8782.000000,8782.000000,8782.000000,8782.000000,8782.000000,8782.000000,8782.000000,8782.0
mean,6.0,15.141678,0.647668,7.320691,0.797768,1017.527954,131.618143,2.197758,6.514006,15.757345,2016.0
std,0.0,9.935490,1.322036,11.101737,6.368168,6.579492,115.188207,1.871332,3.451220,8.810950,0.0
min,6.0,-13.300000,0.000000,-23.300000,-1.000000,991.300000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,6.0,7.200000,0.000000,-1.100000,0.000000,1013.600000,0.000000,0.000000,4.000000,8.000000,2016.0
50%,6.0,16.100000,0.000000,8.900000,0.000000,1017.527954,131.618143,2.100000,7.000000,16.000000,2016.0
75%,6.0,22.800000,0.647668,17.200000,0.000000,1021.475000,210.000000,3.100000,10.000000,23.000000,2016.0
max,6.0,37.200000,9.000000,24.400000,198.000000,1039.800000,360.000000,11.300000,12.000000,31.000000,2016.0

# wind_speed site_id=7

In [500]:
weather_wind_speed7=wind_dir_filled[wind_dir_filled['site_id']==7]

In [501]:
weather_wind_speed7.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8614.0,8614.000000,8614.0,8614.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.0
mean,7.0,7.888867,0.0,1.905913,11.350205,1015.252010,208.931739,3.445565,6.561412,15.837938,2016.0
std,0.0,12.218509,0.0,10.758806,6.193523,8.442641,103.375537,1.995291,3.422306,8.793355,0.0
min,7.0,-28.800000,0.0,-35.000000,2.000000,983.600000,10.000000,0.000000,1.000000,1.000000,2016.0
25%,7.0,-0.900000,0.0,-5.500000,11.350205,1010.000000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,7.0,7.700000,0.0,2.400000,11.350205,1015.200000,230.000000,3.100000,7.000000,16.000000,2016.0
75%,7.0,18.200000,0.0,10.700000,11.350205,1020.900000,290.000000,4.600000,10.000000,23.000000,2016.0
max,7.0,33.900000,0.0,22.900000,262.000000,1043.800000,360.000000,12.800000,12.000000,31.000000,2016.0

In [502]:
weather_wind_speed7_mean=weather_wind_speed7['wind_speed'].mean()
weather_wind_speed7['wind_speed'].fillna(weather_wind_speed7_mean,inplace=True)

In [503]:
weather_wind_speed7_mean

3.4455653587180866

In [504]:
weather_wind_speed7.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8614.0,8614.000000,8614.0,8614.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.0
mean,7.0,7.888867,0.0,1.905913,11.350205,1015.252010,208.931739,3.445565,6.561412,15.837938,2016.0
std,0.0,12.218509,0.0,10.758806,6.193523,8.442641,103.375537,1.995291,3.422306,8.793355,0.0
min,7.0,-28.800000,0.0,-35.000000,2.000000,983.600000,10.000000,0.000000,1.000000,1.000000,2016.0
25%,7.0,-0.900000,0.0,-5.500000,11.350205,1010.000000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,7.0,7.700000,0.0,2.400000,11.350205,1015.200000,230.000000,3.100000,7.000000,16.000000,2016.0
75%,7.0,18.200000,0.0,10.700000,11.350205,1020.900000,290.000000,4.600000,10.000000,23.000000,2016.0
max,7.0,33.900000,0.0,22.900000,262.000000,1043.800000,360.000000,12.800000,12.000000,31.000000,2016.0

# wind_speed site_id=8

In [505]:
weather_wind_speed8=wind_dir_filled[wind_dir_filled['site_id']==8]

In [506]:
weather_wind_speed8.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8784.0,8784.000000,8784.000000,8784.00000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.0
mean,8.0,22.836021,3.044610,16.81788,1.382557,1017.988378,156.494024,3.375114,6.513661,15.756831,2016.0
std,0.0,6.036386,1.591104,6.51826,12.956195,4.016609,116.648080,2.154266,3.451430,8.812031,0.0
min,8.0,1.700000,0.000000,-9.40000,-1.000000,992.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,8.0,18.900000,2.000000,13.30000,0.000000,1015.500000,60.000000,2.100000,4.000000,8.000000,2016.0
50%,8.0,23.900000,3.044610,18.30000,0.000000,1017.988378,150.000000,3.100000,7.000000,16.000000,2016.0
75%,8.0,26.700000,4.000000,22.20000,0.000000,1020.500000,260.000000,4.600000,10.000000,23.000000,2016.0
max,8.0,36.100000,9.000000,25.60000,343.000000,1030.200000,360.000000,15.400000,12.000000,31.000000,2016.0

# wind_speed site_id=9

In [507]:
weather_wind_speed9=wind_dir_filled[wind_dir_filled['site_id']==9]

In [508]:
weather_wind_speed9.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8780.0,8780.000000,8780.000000,8780.000000,8780.000000,8780.000000,8780.000000,8683.000000,8780.000000,8780.000000,8780.0
mean,9.0,21.367499,0.610673,14.613302,0.755158,1016.625114,116.648987,2.083658,6.514009,15.756264,2016.0
std,0.0,7.984637,1.041529,8.499577,7.271696,5.981927,98.533056,1.519628,3.451143,8.811064,0.0
min,9.0,-5.000000,0.000000,-13.300000,-1.000000,999.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,9.0,16.100000,0.000000,8.900000,0.000000,1012.900000,10.000000,1.500000,4.000000,8.000000,2016.0
50%,9.0,22.200000,0.610673,17.200000,0.000000,1015.900000,116.648987,2.100000,7.000000,16.000000,2016.0
75%,9.0,26.700000,0.610673,21.700000,0.000000,1019.800000,160.000000,3.100000,10.000000,23.000000,2016.0
max,9.0,39.400000,9.000000,26.100000,203.000000,1041.600000,360.000000,9.300000,12.000000,31.000000,2016.0

In [509]:
weather_wind_speed9_mean=weather_wind_speed9['wind_speed'].mean()
weather_wind_speed9['wind_speed'].fillna(weather_wind_speed9_mean,inplace=True)

In [510]:
weather_wind_speed9_mean

2.0836577219855563

In [511]:
weather_wind_speed9.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8780.0,8780.000000,8780.000000,8780.000000,8780.000000,8780.000000,8780.000000,8780.000000,8780.000000,8780.000000,8780.0
mean,9.0,21.367499,0.610673,14.613302,0.755158,1016.625114,116.648987,2.083658,6.514009,15.756264,2016.0
std,0.0,7.984637,1.041529,8.499577,7.271696,5.981927,98.533056,1.511209,3.451143,8.811064,0.0
min,9.0,-5.000000,0.000000,-13.300000,-1.000000,999.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,9.0,16.100000,0.000000,8.900000,0.000000,1012.900000,10.000000,1.500000,4.000000,8.000000,2016.0
50%,9.0,22.200000,0.610673,17.200000,0.000000,1015.900000,116.648987,2.100000,7.000000,16.000000,2016.0
75%,9.0,26.700000,0.610673,21.700000,0.000000,1019.800000,160.000000,3.100000,10.000000,23.000000,2016.0
max,9.0,39.400000,9.000000,26.100000,203.000000,1041.600000,360.000000,9.300000,12.000000,31.000000,2016.0

# wind_speed site_id=10

In [512]:
weather_wind_speed10=wind_dir_filled[wind_dir_filled['site_id']==10]

In [513]:
weather_wind_speed10.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8782.0,8782.000000,8782.0000,8782.000000,8782.000000,8782.000000,8782.000000,8678.000000,8782.000000,8782.000000,8782.0
mean,10.0,11.644679,0.3765,0.082273,0.457453,1015.668788,179.879971,3.158677,6.513664,15.757458,2016.0
std,0.0,11.141203,1.1302,5.573989,3.355980,8.296160,98.771742,2.035429,3.450825,8.811075,0.0
min,10.0,-16.700000,0.0000,-20.000000,-1.000000,990.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,10.0,2.800000,0.0000,-3.300000,0.000000,1010.000000,150.000000,2.100000,4.000000,8.000000,2016.0
50%,10.0,11.700000,0.0000,0.600000,0.000000,1014.600000,170.000000,3.100000,7.000000,16.000000,2016.0
75%,10.0,20.000000,0.3765,3.900000,0.000000,1020.600000,250.000000,4.100000,10.000000,23.000000,2016.0
max,10.0,37.200000,9.0000,15.000000,79.000000,1042.600000,360.000000,16.500000,12.000000,31.000000,2016.0

In [514]:
weather_wind_speed10_mean=weather_wind_speed10['wind_speed'].mean()
weather_wind_speed10['wind_speed'].fillna(weather_wind_speed10_mean,inplace=True)

In [515]:
weather_wind_speed10_mean

3.15867711454223

In [516]:
weather_wind_speed10.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8782.0,8782.000000,8782.0000,8782.000000,8782.000000,8782.000000,8782.000000,8782.000000,8782.000000,8782.000000,8782.0
mean,10.0,11.644679,0.3765,0.082273,0.457453,1015.668788,179.879971,3.158677,6.513664,15.757458,2016.0
std,0.0,11.141203,1.1302,5.573989,3.355980,8.296160,98.771742,2.023340,3.450825,8.811075,0.0
min,10.0,-16.700000,0.0000,-20.000000,-1.000000,990.500000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,10.0,2.800000,0.0000,-3.300000,0.000000,1010.000000,150.000000,2.100000,4.000000,8.000000,2016.0
50%,10.0,11.700000,0.0000,0.600000,0.000000,1014.600000,170.000000,3.100000,7.000000,16.000000,2016.0
75%,10.0,20.000000,0.3765,3.900000,0.000000,1020.600000,250.000000,4.100000,10.000000,23.000000,2016.0
max,10.0,37.200000,9.0000,15.000000,79.000000,1042.600000,360.000000,16.500000,12.000000,31.000000,2016.0

# wind_speed site_id=11

In [517]:
weather_wind_speed11=wind_dir_filled[wind_dir_filled['site_id']==11]

In [518]:
weather_wind_speed11.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8614.0,8614.000000,8614.0,8614.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.000000,8614.0
mean,11.0,7.888867,0.0,1.905913,11.350205,1015.252010,208.931739,3.445565,6.561412,15.837938,2016.0
std,0.0,12.218509,0.0,10.758806,6.193523,8.442641,103.375537,1.995291,3.422306,8.793355,0.0
min,11.0,-28.800000,0.0,-35.000000,2.000000,983.600000,10.000000,0.000000,1.000000,1.000000,2016.0
25%,11.0,-0.900000,0.0,-5.500000,11.350205,1010.000000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,11.0,7.700000,0.0,2.400000,11.350205,1015.200000,230.000000,3.100000,7.000000,16.000000,2016.0
75%,11.0,18.200000,0.0,10.700000,11.350205,1020.900000,290.000000,4.600000,10.000000,23.000000,2016.0
max,11.0,33.900000,0.0,22.900000,262.000000,1043.800000,360.000000,12.800000,12.000000,31.000000,2016.0

# wind_speed site_id=12

In [519]:
weather_wind_speed12=wind_dir_filled[wind_dir_filled['site_id']==12]

In [520]:
weather_wind_speed12.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8755.0,8755.000000,8755.000000,8755.000000,8755.0,8755.000000,8755.000000,8755.000000,8755.000000,8755.000000,8755.0
mean,12.0,9.843232,5.723091,6.519966,0.0,1014.425474,202.774732,5.511399,6.521645,15.743232,2016.0
std,0.0,5.157759,2.234719,4.615672,0.0,11.490762,86.634391,2.733220,3.449572,8.819781,0.0
min,12.0,-4.800000,0.000000,-5.300000,0.0,968.200000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,12.0,6.000000,4.000000,2.700000,0.0,1007.800000,140.000000,4.000000,4.000000,8.000000,2016.0
50%,12.0,9.800000,7.000000,6.700000,0.0,1015.700000,230.000000,5.000000,7.000000,16.000000,2016.0
75%,12.0,13.700000,7.000000,10.100000,0.0,1022.200000,260.000000,7.000000,10.000000,23.000000,2016.0
max,12.0,26.000000,8.000000,18.300000,0.0,1041.900000,360.000000,19.000000,12.000000,31.000000,2016.0

In [521]:
weather_wind_speed12_mean=weather_wind_speed12['wind_speed'].mean()
weather_wind_speed12['wind_speed'].fillna(weather_wind_speed12_mean,inplace=True)

In [522]:
weather_wind_speed12_mean

5.511399200456881

In [523]:
weather_wind_speed12.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8755.0,8755.000000,8755.000000,8755.000000,8755.0,8755.000000,8755.000000,8755.000000,8755.000000,8755.000000,8755.0
mean,12.0,9.843232,5.723091,6.519966,0.0,1014.425474,202.774732,5.511399,6.521645,15.743232,2016.0
std,0.0,5.157759,2.234719,4.615672,0.0,11.490762,86.634391,2.733220,3.449572,8.819781,0.0
min,12.0,-4.800000,0.000000,-5.300000,0.0,968.200000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,12.0,6.000000,4.000000,2.700000,0.0,1007.800000,140.000000,4.000000,4.000000,8.000000,2016.0
50%,12.0,9.800000,7.000000,6.700000,0.0,1015.700000,230.000000,5.000000,7.000000,16.000000,2016.0
75%,12.0,13.700000,7.000000,10.100000,0.0,1022.200000,260.000000,7.000000,10.000000,23.000000,2016.0
max,12.0,26.000000,8.000000,18.300000,0.0,1041.900000,360.000000,19.000000,12.000000,31.000000,2016.0

# wind_speed site_id=13

In [524]:
weather_wind_speed13=wind_dir_filled[wind_dir_filled['site_id']==13]

In [525]:
weather_wind_speed13.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8783.000000,8783.000000,8783.000000,8783.000000,8782.000000,8783.000000,8783.000000,8783.0
mean,13.0,9.879617,2.873133,3.401731,0.880515,1015.895371,187.969881,4.197358,6.513037,15.757372,2016.0
std,0.0,12.405170,1.938734,11.384719,7.797824,7.599911,103.779958,2.324516,3.451130,8.812387,0.0
min,13.0,-28.900000,0.000000,-31.700000,-1.000000,981.600000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,13.0,0.600000,2.000000,-3.900000,0.000000,1011.200000,120.000000,2.600000,4.000000,8.000000,2016.0
50%,13.0,11.100000,2.873133,3.900000,0.000000,1015.895371,187.969881,4.100000,7.000000,16.000000,2016.0
75%,13.0,20.000000,2.873133,13.300000,0.000000,1020.800000,280.000000,5.700000,10.000000,23.000000,2016.0
max,13.0,35.600000,9.000000,25.000000,216.000000,1040.200000,360.000000,16.000000,12.000000,31.000000,2016.0

In [526]:
weather_wind_speed13_mean=weather_wind_speed13['wind_speed'].mean()
weather_wind_speed13['wind_speed'].fillna(weather_wind_speed13_mean,inplace=True)

In [527]:
weather_wind_speed13_mean

4.197358232748397

In [528]:
weather_wind_speed13.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8783.0,8783.000000,8783.000000,8783.000000,8783.000000,8783.000000,8783.000000,8783.000000,8783.000000,8783.000000,8783.0
mean,13.0,9.879617,2.873133,3.401731,0.880515,1015.895371,187.969881,4.197358,6.513037,15.757372,2016.0
std,0.0,12.405170,1.938734,11.384719,7.797824,7.599911,103.779958,2.324384,3.451130,8.812387,0.0
min,13.0,-28.900000,0.000000,-31.700000,-1.000000,981.600000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,13.0,0.600000,2.000000,-3.900000,0.000000,1011.200000,120.000000,2.600000,4.000000,8.000000,2016.0
50%,13.0,11.100000,2.873133,3.900000,0.000000,1015.895371,187.969881,4.100000,7.000000,16.000000,2016.0
75%,13.0,20.000000,2.873133,13.300000,0.000000,1020.800000,280.000000,5.700000,10.000000,23.000000,2016.0
max,13.0,35.600000,9.000000,25.000000,216.000000,1040.200000,360.000000,16.000000,12.000000,31.000000,2016.0

# wind_speed site_id=14

In [529]:
weather_wind_speed14=wind_dir_filled[wind_dir_filled['site_id']==14]

In [530]:
weather_wind_speed14.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8777.0,8777.000000,8777.000000,8777.000000,8777.000000,8777.000000,8777.000000,8754.000000,8777.000000,8777.000000,8777.0
mean,14.0,13.258409,0.562203,5.775160,0.742740,1016.377985,187.723813,3.076776,6.514641,15.761080,2016.0
std,0.0,10.253626,1.168142,10.605805,5.651828,7.206002,120.649390,2.073463,3.452279,8.813589,0.0
min,14.0,-15.600000,0.000000,-25.600000,-1.000000,989.600000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,14.0,5.000000,0.000000,-2.800000,0.000000,1011.800000,70.000000,1.500000,4.000000,8.000000,2016.0
50%,14.0,13.300000,0.000000,6.100000,0.000000,1016.400000,210.000000,2.600000,7.000000,16.000000,2016.0
75%,14.0,21.700000,0.562203,15.000000,0.000000,1020.900000,300.000000,4.100000,10.000000,23.000000,2016.0
max,14.0,35.600000,9.000000,25.600000,150.000000,1040.300000,360.000000,13.400000,12.000000,31.000000,2016.0

In [531]:
weather_wind_speed14_mean=weather_wind_speed14['wind_speed'].mean()
weather_wind_speed14['wind_speed'].fillna(weather_wind_speed14_mean,inplace=True)

In [532]:
weather_wind_speed14_mean

3.076776330819957

In [533]:
weather_wind_speed14.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8777.0,8777.000000,8777.000000,8777.000000,8777.000000,8777.000000,8777.000000,8777.000000,8777.000000,8777.000000,8777.0
mean,14.0,13.258409,0.562203,5.775160,0.742740,1016.377985,187.723813,3.076776,6.514641,15.761080,2016.0
std,0.0,10.253626,1.168142,10.605805,5.651828,7.206002,120.649390,2.070744,3.452279,8.813589,0.0
min,14.0,-15.600000,0.000000,-25.600000,-1.000000,989.600000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,14.0,5.000000,0.000000,-2.800000,0.000000,1011.800000,70.000000,1.500000,4.000000,8.000000,2016.0
50%,14.0,13.300000,0.000000,6.100000,0.000000,1016.400000,210.000000,2.600000,7.000000,16.000000,2016.0
75%,14.0,21.700000,0.562203,15.000000,0.000000,1020.900000,300.000000,4.100000,10.000000,23.000000,2016.0
max,14.0,35.600000,9.000000,25.600000,150.000000,1040.300000,360.000000,13.400000,12.000000,31.000000,2016.0

# wind_speed site_id=15

In [534]:
weather_wind_speed15=wind_dir_filled[wind_dir_filled['site_id']==15]

In [535]:
weather_wind_speed15.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8454.0,8454.000000,8454.000000,8454.000000,8454.000000,8454.000000,8454.000000,8426.000000,8454.000000,8454.000000,8454.0
mean,15.0,9.357618,1.109988,4.140469,3.495009,1016.980579,186.525816,3.645490,6.559972,15.847764,2016.0
std,0.0,10.846760,1.163289,9.996298,7.343781,7.266856,109.214299,2.457482,3.448856,8.800610,0.0
min,15.0,-23.900000,0.000000,-26.700000,-1.000000,987.400000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,15.0,1.100000,0.000000,-3.300000,3.495009,1012.600000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,15.0,9.400000,1.109988,4.400000,3.495009,1016.980579,180.000000,3.100000,7.000000,16.000000,2016.0
75%,15.0,18.300000,1.109988,12.800000,3.495009,1021.675000,290.000000,5.100000,10.000000,23.000000,2016.0
max,15.0,33.900000,9.000000,24.400000,333.000000,1042.200000,360.000000,15.400000,12.000000,31.000000,2016.0

In [536]:
weather_wind_speed15_mean=weather_wind_speed15['wind_speed'].mean()
weather_wind_speed15['wind_speed'].fillna(weather_wind_speed15_mean,inplace=True)

In [537]:
weather_wind_speed15_mean

3.6454901495368577

In [538]:
weather_wind_speed15.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,8454.0,8454.000000,8454.000000,8454.000000,8454.000000,8454.000000,8454.000000,8454.000000,8454.000000,8454.000000,8454.0
mean,15.0,9.357618,1.109988,4.140469,3.495009,1016.980579,186.525816,3.645490,6.559972,15.847764,2016.0
std,0.0,10.846760,1.163289,9.996298,7.343781,7.266856,109.214299,2.453408,3.448856,8.800610,0.0
min,15.0,-23.900000,0.000000,-26.700000,-1.000000,987.400000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,15.0,1.100000,0.000000,-3.300000,3.495009,1012.600000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,15.0,9.400000,1.109988,4.400000,3.495009,1016.980579,180.000000,3.100000,7.000000,16.000000,2016.0
75%,15.0,18.300000,1.109988,12.800000,3.495009,1021.675000,290.000000,5.100000,10.000000,23.000000,2016.0
max,15.0,33.900000,9.000000,24.400000,333.000000,1042.200000,360.000000,15.400000,12.000000,31.000000,2016.0

# for the final step save the dataset as weather_train2

In [539]:
weather_train2=pd.concat([weather_wind_speed0,weather_wind_speed1,weather_wind_speed2,
                           weather_wind_speed3,weather_wind_speed4,weather_wind_speed5,
                           weather_wind_speed6,weather_wind_speed7,weather_wind_speed8,
                           weather_wind_speed9,weather_wind_speed10,weather_wind_speed11,
                           weather_wind_speed12,weather_wind_speed13,weather_wind_speed14,
                           weather_wind_speed15], axis=0)

In [540]:
weather_train2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,139773.000000,139773.000000,139773.000000,139773.000000,139773.000000,139773.000000,139773.000000,139773.000000,139773.000000,139773.000000,139773.0
mean,7.478977,14.418288,1.634475,7.347683,2.081422,952.515979,178.983317,3.558779,6.523871,15.771043,2016.0
std,4.604744,10.624850,2.117312,9.787656,7.567646,246.336667,109.418316,2.333812,3.447111,8.809815,0.0
min,0.000000,-28.900000,0.000000,-35.000000,-1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,3.000000,7.200000,0.000000,0.600000,0.000000,1010.600000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,7.000000,15.000000,0.562203,8.300000,0.000000,1015.900000,180.000000,3.100000,7.000000,16.000000,2016.0
75%,11.000000,22.200000,2.873133,14.400000,0.000000,1020.400000,270.000000,5.000000,10.000000,23.000000,2016.0
max,15.000000,47.200000,9.000000,26.100000,343.000000,1045.500000,360.000000,19.000000,12.000000,31.000000,2016.0

In [541]:
weather_train2.head()

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
0,0,2016-01-01 00:00:00,25.0,6.00000,20.0,1.382557,1019.7,0.0,0.0,1,1,2016
1,0,2016-01-01 01:00:00,24.4,3.04461,21.1,-1.000000,1020.2,70.0,1.5,1,1,2016
2,0,2016-01-01 02:00:00,22.8,2.00000,21.1,0.000000,1020.2,0.0,0.0,1,1,2016
3,0,2016-01-01 03:00:00,21.1,2.00000,20.6,0.000000,1020.1,0.0,0.0,1,1,2016
4,0,2016-01-01 04:00:00,20.0,2.00000,20.0,-1.000000,1020.0,250.0,2.6,1,1,2016

In [542]:
# final_save_train=pd.DataFrame({'building_id':train['building_id'],
#                         'meter':train['meter'],
#                         'meter_reading':train['meter_reading'],
#                         'site_id':train['site_id'],
#                         'primary_use':train['primary_use'],
#                         'square_feet':train['square_feet'],
#                       'year_built':train['year_built'],
#                         'floor_count':train['floor_count'],
#                         'air_temperature':train['air_temperature'],
#                         'cloud_coverage':train['cloud_coverage'],
#                         'dew_temperature':train['dew_temperature'],
#                         'precip_depth_1_hr':train['precip_depth_1_hr'],
#                         'sea_level_pressure':train['sea_level_pressure'],
#                         'wind_direction':train['wind_direction'],
#                         'wind_speed':train['wind_speed'],
#                         'month_datetime':train['month_datetime'],
#                         'weekofyear_datetime':train['weekofyear_datetime'],
#                         'dayofyear_datetime':train['dayofyear_datetime'],
#                         'hour_datetime':train['hour_datetime'],
#                         'day_week':train['day_week'],
#                         'day_month_datetime':train['day_month_datetime']})
# final_save_train.head()

In [543]:
weather_train2=pd.DataFrame({
    'site_id':weather_train2['site_id'],
    'timestamp':weather_train2['timestamp'],
    'air_temperature':weather_train2['air_temperature'],
    'cloud_coverage':weather_train2['cloud_coverage'],
    'dew_temperature':weather_train2['cloud_coverage'],
    'precip_depth_1_hr':weather_train2['precip_depth_1_hr'],
    'sea_level_pressure':weather_train2['sea_level_pressure'],
    'wind_direction':weather_train2['wind_direction'],
    'wind_speed':weather_train2['wind_speed'],
    'Month':weather_train2['Month'],
    'Day_date':weather_train2['Day_date'],
    'year':weather_train2['year']
})

weather_train2.head()

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
0,0,2016-01-01 00:00:00,25.0,6.00000,6.00000,1.382557,1019.7,0.0,0.0,1,1,2016
1,0,2016-01-01 01:00:00,24.4,3.04461,3.04461,-1.000000,1020.2,70.0,1.5,1,1,2016
2,0,2016-01-01 02:00:00,22.8,2.00000,2.00000,0.000000,1020.2,0.0,0.0,1,1,2016
3,0,2016-01-01 03:00:00,21.1,2.00000,2.00000,0.000000,1020.1,0.0,0.0,1,1,2016
4,0,2016-01-01 04:00:00,20.0,2.00000,2.00000,-1.000000,1020.0,250.0,2.6,1,1,2016

In [544]:
file_name='weather_train2.csv'
weather_train2.to_csv(file_name,index=False)
print('Saved file:'+file_name)

Saved file:weather_train2.csv

In [545]:
weather_train2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,139773.000000,139773.000000,139773.000000,139773.000000,139773.000000,139773.000000,139773.000000,139773.000000,139773.000000,139773.000000,139773.0
mean,7.478977,14.418288,1.634475,1.634475,2.081422,952.515979,178.983317,3.558779,6.523871,15.771043,2016.0
std,4.604744,10.624850,2.117312,2.117312,7.567646,246.336667,109.418316,2.333812,3.447111,8.809815,0.0
min,0.000000,-28.900000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2016.0
25%,3.000000,7.200000,0.000000,0.000000,0.000000,1010.600000,90.000000,2.100000,4.000000,8.000000,2016.0
50%,7.000000,15.000000,0.562203,0.562203,0.000000,1015.900000,180.000000,3.100000,7.000000,16.000000,2016.0
75%,11.000000,22.200000,2.873133,2.873133,0.000000,1020.400000,270.000000,5.000000,10.000000,23.000000,2016.0
max,15.000000,47.200000,9.000000,9.000000,343.000000,1045.500000,360.000000,19.000000,12.000000,31.000000,2016.0