In [1]:
import pandas as pd

weather_test_time_path='C:/Users/44093454/OneDrive - Macquarie University/Thesis preparation/2nd model/weather_test_time.csv'
weather_test_time=pd.read_csv(weather_test_time_path)

In [2]:
weather_test_time.head()

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
0,0,2017-01-01 00:00:00,17.8,4.0,11.7,NaN,1021.4,100.0,3.6,1,1,2017
1,0,2017-01-01 01:00:00,17.8,2.0,12.8,0.0,1022.0,130.0,3.1,1,1,2017
2,0,2017-01-01 02:00:00,16.1,0.0,12.8,0.0,1021.9,140.0,3.1,1,1,2017
3,0,2017-01-01 03:00:00,17.2,0.0,13.3,0.0,1022.2,140.0,3.1,1,1,2017
4,0,2017-01-01 04:00:00,16.7,2.0,13.3,0.0,1022.3,130.0,2.6,1,1,2017

In [3]:
weather_test_time.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,277243.000000,277139.000000,136795.000000,276916.000000,181655.000000,255978.000000,264873.000000,276783.000000,277243.000000,277243.00000,277243.000000
mean,7.484654,14.276863,2.187317,7.487658,1.095395,1016.195762,180.426023,3.548873,6.505362,15.69658,2017.499266
std,4.616959,10.741605,2.620627,10.153973,9.163511,7.940392,110.456872,2.317184,3.440583,8.81615,0.500000
min,0.000000,-28.100000,0.000000,-31.600000,-1.000000,972.000000,0.000000,0.000000,1.000000,1.00000,2017.000000
25%,3.000000,7.200000,0.000000,0.600000,0.000000,1011.600000,80.000000,2.100000,4.000000,8.00000,2017.000000
50%,7.000000,15.000000,2.000000,8.400000,0.000000,1016.300000,190.000000,3.100000,7.000000,16.00000,2017.000000
75%,12.000000,22.200000,4.000000,15.000000,0.000000,1020.800000,280.000000,4.600000,9.000000,23.00000,2018.000000
max,15.000000,48.300000,9.000000,26.700000,597.000000,1050.100000,360.000000,24.200000,12.000000,31.00000,2018.000000

In [4]:
total=weather_test_time.isnull().sum().sort_values(ascending=False)
percent=(weather_test_time.isnull().sum()/weather_test_time.isnull().count()).sort_values(ascending=False)
missing_data=pd.concat([total,percent],axis=1,keys=['total','percent'])
missing_data.head(20)

                     total   percent
cloud_coverage      140448  0.506588
precip_depth_1_hr    95588  0.344781
sea_level_pressure   21265  0.076702
wind_direction       12370  0.044618
wind_speed             460  0.001659
dew_temperature        327  0.001179
air_temperature        104  0.000375
year                     0  0.000000
Day_date                 0  0.000000
Month                    0  0.000000
timestamp                0  0.000000
site_id                  0  0.000000

# air_temperature site_id=0

In [5]:
weather_air_temp0=weather_test_time[weather_test_time['site_id']==0]

In [6]:
weather_air_temp0.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,9977.000000,17520.000000,17490.000000,17211.000000,17043.000000,17518.000000,17520.000000,17520.000000,17520.000000
mean,0.0,22.699104,2.975945,17.660725,1.169297,1017.929754,150.531597,3.399675,6.526027,15.720548,2017.500000
std,0.0,5.822209,2.118299,6.664774,12.591829,4.568609,113.980426,2.190697,3.447950,8.796498,0.500014
min,0.0,-2.800000,0.000000,-10.600000,-1.000000,981.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,0.0,19.400000,2.000000,14.400000,0.000000,1015.300000,60.000000,2.100000,4.000000,8.000000,2017.000000
50%,0.0,23.900000,2.000000,19.400000,0.000000,1018.000000,130.000000,3.100000,7.000000,16.000000,2017.500000
75%,0.0,26.700000,4.000000,22.800000,0.000000,1020.300000,240.000000,4.600000,10.000000,23.000000,2018.000000
max,0.0,35.000000,9.000000,26.700000,597.000000,1036.300000,360.000000,24.200000,12.000000,31.000000,2018.000000

In [7]:
weather_air_temp0_mean=weather_air_temp0['air_temperature'].mean()
weather_air_temp0['air_temperature'].fillna(weather_air_temp0_mean,inplace=True)

C:\Users\44093454\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [8]:
weather_air_temp0_mean

22.699103881278592

In [9]:
weather_air_temp0.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,9977.000000,17520.000000,17490.000000,17211.000000,17043.000000,17518.000000,17520.000000,17520.000000,17520.000000
mean,0.0,22.699104,2.975945,17.660725,1.169297,1017.929754,150.531597,3.399675,6.526027,15.720548,2017.500000
std,0.0,5.822209,2.118299,6.664774,12.591829,4.568609,113.980426,2.190697,3.447950,8.796498,0.500014
min,0.0,-2.800000,0.000000,-10.600000,-1.000000,981.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,0.0,19.400000,2.000000,14.400000,0.000000,1015.300000,60.000000,2.100000,4.000000,8.000000,2017.000000
50%,0.0,23.900000,2.000000,19.400000,0.000000,1018.000000,130.000000,3.100000,7.000000,16.000000,2017.500000
75%,0.0,26.700000,4.000000,22.800000,0.000000,1020.300000,240.000000,4.600000,10.000000,23.000000,2018.000000
max,0.0,35.000000,9.000000,26.700000,597.000000,1036.300000,360.000000,24.200000,12.000000,31.000000,2018.000000

# air_temperature site_id=1

In [10]:
weather_air_temp1=weather_test_time[weather_test_time['site_id']==1]

In [11]:
weather_air_temp1.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17287.0,17265.000000,3614.000000,17265.000000,0.0,17222.000000,17282.000000,17287.000000,17287.000000,17287.000000,17287.000000
mean,1.0,12.169638,0.047316,7.543412,NaN,1015.639450,198.876866,4.037467,6.478105,15.677793,2017.493666
std,0.0,6.482739,0.650940,4.962241,NaN,10.121707,94.319322,2.137726,3.441478,8.838987,0.499974
min,1.0,-5.000000,0.000000,-9.600000,NaN,972.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,1.0,7.500000,0.000000,4.100000,NaN,1010.100000,130.000000,2.600000,4.000000,8.000000,2017.000000
50%,1.0,11.800000,0.000000,8.000000,NaN,1016.700000,220.000000,3.600000,6.000000,16.000000,2017.000000
75%,1.0,16.600000,0.000000,11.300000,NaN,1022.400000,270.000000,5.100000,9.000000,23.000000,2018.000000
max,1.0,34.400000,9.000000,19.900000,NaN,1039.600000,360.000000,18.500000,12.000000,31.000000,2018.000000

In [12]:
weather_air_temp1_mean=weather_air_temp1['air_temperature'].mean()
weather_air_temp1['air_temperature'].fillna(weather_air_temp1_mean,inplace=True)

In [13]:
weather_air_temp1_mean

12.169637995945548

In [14]:
weather_air_temp1.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17287.0,17287.000000,3614.000000,17265.000000,0.0,17222.000000,17282.000000,17287.000000,17287.000000,17287.000000,17287.000000
mean,1.0,12.169638,0.047316,7.543412,NaN,1015.639450,198.876866,4.037467,6.478105,15.677793,2017.493666
std,0.0,6.478613,0.650940,4.962241,NaN,10.121707,94.319322,2.137726,3.441478,8.838987,0.499974
min,1.0,-5.000000,0.000000,-9.600000,NaN,972.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,1.0,7.500000,0.000000,4.100000,NaN,1010.100000,130.000000,2.600000,4.000000,8.000000,2017.000000
50%,1.0,11.800000,0.000000,8.000000,NaN,1016.700000,220.000000,3.600000,6.000000,16.000000,2017.000000
75%,1.0,16.600000,0.000000,11.300000,NaN,1022.400000,270.000000,5.100000,9.000000,23.000000,2018.000000
max,1.0,34.400000,9.000000,19.900000,NaN,1039.600000,360.000000,18.500000,12.000000,31.000000,2018.000000

# air_temperature site_id=2

In [15]:
weather_air_temp2=weather_test_time[weather_test_time['site_id']==2]

In [16]:
weather_air_temp2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,12075.000000,17518.000000,17499.000000,17487.000000,16327.000000,17511.000000,17520.000000,17520.000000,17520.000000
mean,2.0,24.975422,2.150393,3.817747,0.154123,1011.315251,154.057083,2.883268,6.526027,15.720548,2017.500000
std,0.0,9.317476,1.931897,8.326976,3.162019,5.313266,103.832849,1.919632,3.447950,8.796498,0.500014
min,2.0,2.200000,0.000000,-22.200000,-1.000000,996.100000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,2.0,17.200000,0.000000,-2.200000,0.000000,1007.400000,80.000000,1.500000,4.000000,8.000000,2017.000000
50%,2.0,25.000000,2.000000,2.800000,0.000000,1010.600000,130.000000,2.600000,7.000000,16.000000,2017.500000
75%,2.0,32.350000,4.000000,9.400000,0.000000,1014.800000,250.000000,3.600000,10.000000,23.000000,2018.000000
max,2.0,48.300000,8.000000,24.400000,234.000000,1032.200000,360.000000,21.100000,12.000000,31.000000,2018.000000

In [17]:
weather_air_temp2_mean=weather_air_temp2['air_temperature'].mean()
weather_air_temp2['air_temperature'].fillna(weather_air_temp2_mean,inplace=True)

In [18]:
weather_air_temp2_mean

24.975422374429222

In [19]:
weather_air_temp2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,12075.000000,17518.000000,17499.000000,17487.000000,16327.000000,17511.000000,17520.000000,17520.000000,17520.000000
mean,2.0,24.975422,2.150393,3.817747,0.154123,1011.315251,154.057083,2.883268,6.526027,15.720548,2017.500000
std,0.0,9.317476,1.931897,8.326976,3.162019,5.313266,103.832849,1.919632,3.447950,8.796498,0.500014
min,2.0,2.200000,0.000000,-22.200000,-1.000000,996.100000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,2.0,17.200000,0.000000,-2.200000,0.000000,1007.400000,80.000000,1.500000,4.000000,8.000000,2017.000000
50%,2.0,25.000000,2.000000,2.800000,0.000000,1010.600000,130.000000,2.600000,7.000000,16.000000,2017.500000
75%,2.0,32.350000,4.000000,9.400000,0.000000,1014.800000,250.000000,3.600000,10.000000,23.000000,2018.000000
max,2.0,48.300000,8.000000,24.400000,234.000000,1032.200000,360.000000,21.100000,12.000000,31.000000,2018.000000

# air_temperature site_id=3

In [20]:
weather_air_temp3=weather_test_time[weather_test_time['site_id']==3]

In [21]:
weather_air_temp3.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17517.0,17515.000000,9666.000000,17514.000000,17473.000000,17141.000000,17265.000000,17509.000000,17517.000000,17517.000000,17517.000000
mean,3.0,15.493468,4.185599,8.365588,0.998111,1018.109089,183.912540,3.902696,6.526403,15.720843,2017.499971
std,0.0,9.853791,2.745698,10.982487,8.201430,7.538896,111.656426,2.253526,3.447723,8.796502,0.500014
min,3.0,-12.800000,0.000000,-22.200000,-1.000000,988.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,3.0,7.200000,2.000000,0.000000,0.000000,1013.400000,80.000000,2.600000,4.000000,8.000000,2017.000000
50%,3.0,16.100000,4.000000,10.000000,0.000000,1017.800000,190.000000,3.600000,7.000000,16.000000,2017.000000
75%,3.0,23.900000,6.000000,18.300000,0.000000,1022.600000,290.000000,5.100000,10.000000,23.000000,2018.000000
max,3.0,36.100000,9.000000,26.700000,345.000000,1043.700000,360.000000,19.600000,12.000000,31.000000,2018.000000

In [22]:
weather_air_temp3_mean=weather_air_temp3['air_temperature'].mean()
weather_air_temp3['air_temperature'].fillna(weather_air_temp3_mean,inplace=True)

In [23]:
weather_air_temp3_mean

15.493468455609444

In [24]:
weather_air_temp3.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17517.0,17517.000000,9666.000000,17514.000000,17473.000000,17141.000000,17265.000000,17509.000000,17517.000000,17517.000000,17517.000000
mean,3.0,15.493468,4.185599,8.365588,0.998111,1018.109089,183.912540,3.902696,6.526403,15.720843,2017.499971
std,0.0,9.853229,2.745698,10.982487,8.201430,7.538896,111.656426,2.253526,3.447723,8.796502,0.500014
min,3.0,-12.800000,0.000000,-22.200000,-1.000000,988.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,3.0,7.200000,2.000000,0.000000,0.000000,1013.400000,80.000000,2.600000,4.000000,8.000000,2017.000000
50%,3.0,16.100000,4.000000,10.000000,0.000000,1017.800000,190.000000,3.600000,7.000000,16.000000,2017.000000
75%,3.0,23.900000,6.000000,18.300000,0.000000,1022.600000,290.000000,5.100000,10.000000,23.000000,2018.000000
max,3.0,36.100000,9.000000,26.700000,345.000000,1043.700000,360.000000,19.600000,12.000000,31.000000,2018.000000

# air_temperature site_id=4

In [25]:
weather_air_temp4=weather_test_time[weather_test_time['site_id']==4]

In [26]:
weather_air_temp4.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17516.0,17516.000000,9486.000000,17513.000000,17234.00000,17397.000000,17312.000000,17516.000000,17516.000000,17516.000000,17516.000000
mean,4.0,14.469131,1.833333,9.804140,0.52321,1016.752308,204.333988,3.753751,6.527004,15.721569,2017.499943
std,0.0,4.333985,1.391271,4.107452,4.01553,4.868175,112.510366,2.539411,3.447583,8.795293,0.500014
min,4.0,0.000000,0.000000,-12.200000,-1.00000,987.300000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,4.0,11.700000,0.000000,7.800000,0.00000,1013.600000,120.000000,2.100000,4.000000,8.000000,2017.000000
50%,4.0,14.400000,2.000000,10.600000,0.00000,1016.200000,260.000000,3.600000,7.000000,16.000000,2017.000000
75%,4.0,17.200000,2.000000,12.800000,0.00000,1019.700000,290.000000,5.700000,10.000000,23.000000,2018.000000
max,4.0,38.300000,9.000000,19.400000,130.00000,1035.900000,360.000000,18.000000,12.000000,31.000000,2018.000000

# air_temperature site_id=5

In [27]:
weather_air_temp5=weather_test_time[weather_test_time['site_id']==5]

In [28]:
weather_air_temp5.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17241.0,17241.000000,5896.000000,17240.000000,0.0,0.0,16706.000000,17240.000000,17241.000000,17241.000000,17241.000000
mean,5.0,11.155443,0.433514,8.433527,NaN,NaN,209.924578,4.886265,6.476712,15.671481,2017.492779
std,0.0,5.379051,1.927258,4.831194,NaN,NaN,96.446130,2.430906,3.443165,8.840365,0.499962
min,5.0,-6.000000,0.000000,-13.000000,NaN,NaN,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,5.0,7.000000,0.000000,5.000000,NaN,NaN,120.000000,3.100000,3.000000,8.000000,2017.000000
50%,5.0,11.000000,0.000000,9.000000,NaN,NaN,250.000000,4.600000,6.000000,16.000000,2017.000000
75%,5.0,15.000000,0.000000,12.000000,NaN,NaN,290.000000,6.200000,9.000000,23.000000,2018.000000
max,5.0,30.000000,9.000000,20.000000,NaN,NaN,360.000000,16.500000,12.000000,31.000000,2018.000000

In [29]:
weather_air_temp5_mean=weather_air_temp5['air_temperature'].mean()
weather_air_temp5['air_temperature'].fillna(weather_air_temp5_mean,inplace=True)

In [30]:
weather_air_temp5_mean

11.155443419755235

In [31]:
weather_air_temp5.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17241.0,17241.000000,5896.000000,17240.000000,0.0,0.0,16706.000000,17240.000000,17241.000000,17241.000000,17241.000000
mean,5.0,11.155443,0.433514,8.433527,NaN,NaN,209.924578,4.886265,6.476712,15.671481,2017.492779
std,0.0,5.379051,1.927258,4.831194,NaN,NaN,96.446130,2.430906,3.443165,8.840365,0.499962
min,5.0,-6.000000,0.000000,-13.000000,NaN,NaN,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,5.0,7.000000,0.000000,5.000000,NaN,NaN,120.000000,3.100000,3.000000,8.000000,2017.000000
50%,5.0,11.000000,0.000000,9.000000,NaN,NaN,250.000000,4.600000,6.000000,16.000000,2017.000000
75%,5.0,15.000000,0.000000,12.000000,NaN,NaN,290.000000,6.200000,9.000000,23.000000,2018.000000
max,5.0,30.000000,9.000000,20.000000,NaN,NaN,360.000000,16.500000,12.000000,31.000000,2018.000000

# air_temperature site_id=6

In [32]:
weather_air_temp6=weather_test_time[weather_test_time['site_id']==6]

In [33]:
weather_air_temp6.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17504.0,17500.000000,11036.000000,17500.000000,17460.000000,17115.000000,16092.000000,17453.000000,17504.000000,17504.000000,17504.000000
mean,6.0,15.235606,0.698623,7.866326,1.146048,1017.578311,127.857942,2.256947,6.525480,15.722006,2017.499714
std,0.0,9.762794,1.648759,11.179628,8.753053,7.296018,118.807925,1.895758,3.447624,8.796438,0.500014
min,6.0,-16.100000,0.000000,-23.900000,-1.000000,986.800000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,6.0,7.200000,0.000000,-1.100000,0.000000,1013.100000,0.000000,0.000000,4.000000,8.000000,2017.000000
50%,6.0,16.100000,0.000000,10.000000,0.000000,1017.400000,140.000000,2.100000,7.000000,16.000000,2017.000000
75%,6.0,23.300000,0.000000,17.800000,0.000000,1021.900000,210.000000,3.600000,10.000000,23.000000,2018.000000
max,6.0,36.700000,9.000000,26.100000,287.000000,1042.700000,360.000000,15.400000,12.000000,31.000000,2018.000000

In [34]:
weather_air_temp6_mean=weather_air_temp6['air_temperature'].mean()
weather_air_temp6['air_temperature'].fillna(weather_air_temp6_mean,inplace=True)

In [35]:
weather_air_temp6_mean

15.235605714285736

In [36]:
weather_air_temp6.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17504.0,17504.000000,11036.000000,17500.000000,17460.000000,17115.000000,16092.000000,17453.000000,17504.000000,17504.000000,17504.000000
mean,6.0,15.235606,0.698623,7.866326,1.146048,1017.578311,127.857942,2.256947,6.525480,15.722006,2017.499714
std,0.0,9.761678,1.648759,11.179628,8.753053,7.296018,118.807925,1.895758,3.447624,8.796438,0.500014
min,6.0,-16.100000,0.000000,-23.900000,-1.000000,986.800000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,6.0,7.200000,0.000000,-1.100000,0.000000,1013.100000,0.000000,0.000000,4.000000,8.000000,2017.000000
50%,6.0,16.100000,0.000000,10.000000,0.000000,1017.400000,140.000000,2.100000,7.000000,16.000000,2017.000000
75%,6.0,23.300000,0.000000,17.800000,0.000000,1021.900000,210.000000,3.600000,10.000000,23.000000,2018.000000
max,6.0,36.700000,9.000000,26.100000,287.000000,1042.700000,360.000000,15.400000,12.000000,31.000000,2018.000000

# air_temperature site_id=7

In [37]:
weather_air_temp7=weather_test_time[weather_test_time['site_id']==7]

In [38]:
weather_air_temp7.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,16573.0,16573.000000,0.0,16522.000000,1797.000000,16531.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000
mean,7.0,7.407512,NaN,2.106609,11.808013,1015.776287,205.988415,3.362167,6.447113,15.618295,2017.502444
std,0.0,12.211686,NaN,11.626459,21.206073,8.859870,101.454919,1.986871,3.401939,8.889502,0.500009
min,7.0,-28.100000,NaN,-31.600000,2.000000,973.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,7.0,-1.100000,NaN,-6.000000,2.000000,1010.200000,100.000000,2.100000,4.000000,8.000000,2017.000000
50%,7.0,7.700000,NaN,2.550000,5.000000,1015.500000,220.000000,3.100000,6.000000,15.000000,2018.000000
75%,7.0,17.800000,NaN,11.800000,13.000000,1021.400000,290.000000,4.600000,9.000000,23.000000,2018.000000
max,7.0,34.700000,NaN,24.600000,278.000000,1045.000000,360.000000,14.900000,12.000000,31.000000,2018.000000

# air_temperature site_id=8

In [39]:
weather_air_temp8=weather_test_time[weather_test_time['site_id']==8]

In [40]:
weather_air_temp8.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,9977.000000,17520.000000,17490.000000,17211.000000,17043.000000,17518.000000,17520.000000,17520.000000,17520.000000
mean,8.0,22.699104,2.975945,17.660725,1.169297,1017.929754,150.531597,3.399675,6.526027,15.720548,2017.500000
std,0.0,5.822209,2.118299,6.664774,12.591829,4.568609,113.980426,2.190697,3.447950,8.796498,0.500014
min,8.0,-2.800000,0.000000,-10.600000,-1.000000,981.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,8.0,19.400000,2.000000,14.400000,0.000000,1015.300000,60.000000,2.100000,4.000000,8.000000,2017.000000
50%,8.0,23.900000,2.000000,19.400000,0.000000,1018.000000,130.000000,3.100000,7.000000,16.000000,2017.500000
75%,8.0,26.700000,4.000000,22.800000,0.000000,1020.300000,240.000000,4.600000,10.000000,23.000000,2018.000000
max,8.0,35.000000,9.000000,26.700000,597.000000,1036.300000,360.000000,24.200000,12.000000,31.000000,2018.000000

In [41]:
weather_air_temp8_mean=weather_air_temp8['air_temperature'].mean()
weather_air_temp8['air_temperature'].fillna(weather_air_temp8_mean,inplace=True)

In [42]:
weather_air_temp8_mean

22.699103881278592

In [43]:
weather_air_temp8.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,9977.000000,17520.000000,17490.000000,17211.000000,17043.000000,17518.000000,17520.000000,17520.000000,17520.000000
mean,8.0,22.699104,2.975945,17.660725,1.169297,1017.929754,150.531597,3.399675,6.526027,15.720548,2017.500000
std,0.0,5.822209,2.118299,6.664774,12.591829,4.568609,113.980426,2.190697,3.447950,8.796498,0.500014
min,8.0,-2.800000,0.000000,-10.600000,-1.000000,981.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,8.0,19.400000,2.000000,14.400000,0.000000,1015.300000,60.000000,2.100000,4.000000,8.000000,2017.000000
50%,8.0,23.900000,2.000000,19.400000,0.000000,1018.000000,130.000000,3.100000,7.000000,16.000000,2017.500000
75%,8.0,26.700000,4.000000,22.800000,0.000000,1020.300000,240.000000,4.600000,10.000000,23.000000,2018.000000
max,8.0,35.000000,9.000000,26.700000,597.000000,1036.300000,360.000000,24.200000,12.000000,31.000000,2018.000000

# air_temperature site_id=9

In [44]:
weather_air_temp9=weather_test_time[weather_test_time['site_id']==9]

In [45]:
weather_air_temp9.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17481.0,17427.000000,9776.000000,17314.000000,17418.000000,16921.000000,12080.000000,17228.000000,17481.000000,17481.000000,17481.000000
mean,9.0,21.303994,0.582447,13.460350,0.786026,1016.293263,126.860099,2.194120,6.520966,15.720725,2017.499514
std,0.0,8.631678,1.371077,8.467062,9.112584,6.442762,118.183678,1.509227,3.446490,8.797683,0.500014
min,9.0,-7.800000,0.000000,-16.100000,-1.000000,995.700000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,9.0,15.600000,0.000000,7.800000,0.000000,1012.100000,0.000000,1.500000,4.000000,8.000000,2017.000000
50%,9.0,22.800000,0.000000,16.700000,0.000000,1015.200000,140.000000,2.100000,7.000000,16.000000,2017.000000
75%,9.0,27.200000,0.000000,20.600000,0.000000,1019.900000,190.000000,3.100000,10.000000,23.000000,2018.000000
max,9.0,42.800000,9.000000,25.600000,363.000000,1043.800000,360.000000,9.300000,12.000000,31.000000,2018.000000

In [46]:
weather_air_temp9_mean=weather_air_temp9['air_temperature'].mean()
weather_air_temp9['air_temperature'].fillna(weather_air_temp9_mean,inplace=True)

In [47]:
weather_air_temp9_mean

21.30399380271985

In [48]:
weather_air_temp9.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17481.0,17481.000000,9776.000000,17314.000000,17418.000000,16921.000000,12080.000000,17228.000000,17481.000000,17481.000000,17481.000000
mean,9.0,21.303994,0.582447,13.460350,0.786026,1016.293263,126.860099,2.194120,6.520966,15.720725,2017.499514
std,0.0,8.618335,1.371077,8.467062,9.112584,6.442762,118.183678,1.509227,3.446490,8.797683,0.500014
min,9.0,-7.800000,0.000000,-16.100000,-1.000000,995.700000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,9.0,15.600000,0.000000,7.800000,0.000000,1012.100000,0.000000,1.500000,4.000000,8.000000,2017.000000
50%,9.0,22.800000,0.000000,16.700000,0.000000,1015.200000,140.000000,2.100000,7.000000,16.000000,2017.000000
75%,9.0,27.200000,0.000000,20.600000,0.000000,1019.900000,190.000000,3.100000,10.000000,23.000000,2018.000000
max,9.0,42.800000,9.000000,25.600000,363.000000,1043.800000,360.000000,9.300000,12.000000,31.000000,2018.000000

# air_temperature site_id=10

In [49]:
weather_air_temp10=weather_test_time[weather_test_time['site_id']==10]

In [50]:
weather_air_temp10.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17476.0,17468.000000,12396.000000,17468.000000,17438.000000,17123.000000,16430.000000,17384.000000,17476.000000,17476.00000,17476.000000
mean,10.0,11.734274,0.319781,-0.498615,0.301296,1015.426970,183.209373,3.072463,6.518654,15.71046,2017.499714
std,0.0,11.238024,1.142186,5.753791,2.758534,8.250976,102.773241,2.005543,3.444545,8.79012,0.500014
min,10.0,-19.400000,0.000000,-23.900000,-1.000000,988.700000,0.000000,0.000000,1.000000,1.00000,2017.000000
25%,10.0,2.800000,0.000000,-4.400000,0.000000,1009.900000,150.000000,2.100000,4.000000,8.00000,2017.000000
50%,10.0,10.600000,0.000000,-0.600000,0.000000,1014.200000,170.000000,3.100000,7.000000,16.00000,2017.000000
75%,10.0,20.600000,0.000000,3.300000,0.000000,1020.500000,260.000000,4.100000,10.000000,23.00000,2018.000000
max,10.0,38.300000,9.000000,17.200000,102.000000,1050.100000,360.000000,17.000000,12.000000,31.00000,2018.000000

In [51]:
weather_air_temp10_mean=weather_air_temp10['air_temperature'].mean()
weather_air_temp10['air_temperature'].fillna(weather_air_temp10_mean,inplace=True)

In [52]:
weather_air_temp10_mean

11.734274101213568

In [53]:
weather_air_temp10.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17476.0,17476.000000,12396.000000,17468.000000,17438.000000,17123.000000,16430.000000,17384.000000,17476.000000,17476.00000,17476.000000
mean,10.0,11.734274,0.319781,-0.498615,0.301296,1015.426970,183.209373,3.072463,6.518654,15.71046,2017.499714
std,0.0,11.235452,1.142186,5.753791,2.758534,8.250976,102.773241,2.005543,3.444545,8.79012,0.500014
min,10.0,-19.400000,0.000000,-23.900000,-1.000000,988.700000,0.000000,0.000000,1.000000,1.00000,2017.000000
25%,10.0,2.800000,0.000000,-4.400000,0.000000,1009.900000,150.000000,2.100000,4.000000,8.00000,2017.000000
50%,10.0,10.600000,0.000000,-0.600000,0.000000,1014.200000,170.000000,3.100000,7.000000,16.00000,2017.000000
75%,10.0,20.600000,0.000000,3.300000,0.000000,1020.500000,260.000000,4.100000,10.000000,23.00000,2018.000000
max,10.0,38.300000,9.000000,17.200000,102.000000,1050.100000,360.000000,17.000000,12.000000,31.00000,2018.000000

# air_temperature site_id=11

In [54]:
weather_air_temp11=weather_test_time[weather_test_time['site_id']==11]

In [55]:
weather_air_temp11.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,16573.0,16573.000000,0.0,16522.000000,1797.000000,16531.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000
mean,11.0,7.407512,NaN,2.106609,11.808013,1015.776287,205.988415,3.362167,6.447113,15.618295,2017.502444
std,0.0,12.211686,NaN,11.626459,21.206073,8.859870,101.454919,1.986871,3.401939,8.889502,0.500009
min,11.0,-28.100000,NaN,-31.600000,2.000000,973.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,11.0,-1.100000,NaN,-6.000000,2.000000,1010.200000,100.000000,2.100000,4.000000,8.000000,2017.000000
50%,11.0,7.700000,NaN,2.550000,5.000000,1015.500000,220.000000,3.100000,6.000000,15.000000,2018.000000
75%,11.0,17.800000,NaN,11.800000,13.000000,1021.400000,290.000000,4.600000,9.000000,23.000000,2018.000000
max,11.0,34.700000,NaN,24.600000,278.000000,1045.000000,360.000000,14.900000,12.000000,31.000000,2018.000000

# air_temperature site_id=12

In [56]:
weather_air_temp12=weather_test_time[weather_test_time['site_id']==12]

In [57]:
weather_air_temp12.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17279.0,17279.000000,17223.000000,17279.000000,0.0,17250.000000,17276.000000,17279.000000,17279.000000,17279.000000,17279.000000
mean,12.0,10.017796,5.645881,6.781289,NaN,1013.811542,209.343019,5.485092,6.477285,15.673997,2017.493605
std,0.0,5.186032,2.278119,4.500680,NaN,11.657465,80.136152,2.682558,3.441715,8.838032,0.499974
min,12.0,-4.800000,0.000000,-8.600000,NaN,973.700000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,12.0,6.400000,4.000000,3.500000,NaN,1006.700000,150.000000,4.000000,4.000000,8.000000,2017.000000
50%,12.0,10.100000,7.000000,7.100000,NaN,1015.200000,230.000000,5.000000,6.000000,16.000000,2017.000000
75%,12.0,13.700000,7.000000,10.000000,NaN,1021.800000,260.000000,7.000000,9.000000,23.000000,2018.000000
max,12.0,26.300000,9.000000,18.800000,NaN,1041.500000,360.000000,23.000000,12.000000,31.000000,2018.000000

# air_temperature site_id=13

In [58]:
weather_air_temp13=weather_test_time[weather_test_time['site_id']==13]

In [59]:
weather_air_temp13.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17519.0,17517.000000,8724.000000,17517.000000,16976.000000,17315.000000,17063.000000,17517.000000,17519.000000,17519.000000,17519.000000
mean,13.0,8.732608,2.730284,2.553845,0.771854,1016.692966,186.965364,4.069772,6.525829,15.719904,2017.500029
std,0.0,12.880082,2.769662,11.840325,7.224412,8.336763,110.916586,2.243461,3.447948,8.796336,0.500014
min,13.0,-26.100000,0.000000,-30.000000,-1.000000,987.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,13.0,-1.100000,0.000000,-6.000000,0.000000,1011.400000,100.000000,2.600000,4.000000,8.000000,2017.000000
50%,13.0,8.900000,2.000000,2.200000,0.000000,1016.200000,180.000000,3.600000,7.000000,16.000000,2018.000000
75%,13.0,20.000000,4.000000,13.300000,0.000000,1021.300000,290.000000,5.700000,10.000000,23.000000,2018.000000
max,13.0,37.800000,9.000000,25.600000,434.000000,1046.500000,360.000000,17.000000,12.000000,31.000000,2018.000000

In [60]:
weather_air_temp13_mean=weather_air_temp13['air_temperature'].mean()
weather_air_temp13['air_temperature'].fillna(weather_air_temp13_mean,inplace=True)

In [61]:
weather_air_temp13_mean

8.732608323342989

In [62]:
weather_air_temp13.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17519.0,17519.000000,8724.000000,17517.000000,16976.000000,17315.000000,17063.000000,17517.000000,17519.000000,17519.000000,17519.000000
mean,13.0,8.732608,2.730284,2.553845,0.771854,1016.692966,186.965364,4.069772,6.525829,15.719904,2017.500029
std,0.0,12.879347,2.769662,11.840325,7.224412,8.336763,110.916586,2.243461,3.447948,8.796336,0.500014
min,13.0,-26.100000,0.000000,-30.000000,-1.000000,987.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,13.0,-1.100000,0.000000,-6.000000,0.000000,1011.400000,100.000000,2.600000,4.000000,8.000000,2017.000000
50%,13.0,8.900000,2.000000,2.200000,0.000000,1016.200000,180.000000,3.600000,7.000000,16.000000,2018.000000
75%,13.0,20.000000,4.000000,13.300000,0.000000,1021.300000,290.000000,5.700000,10.000000,23.000000,2018.000000
max,13.0,37.800000,9.000000,25.600000,434.000000,1046.500000,360.000000,17.000000,12.000000,31.000000,2018.000000

# air_temperature site_id=14

In [63]:
weather_air_temp14=weather_test_time[weather_test_time['site_id']==14]

In [64]:
weather_air_temp14.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17516.0,17514.000000,9712.000000,17514.000000,17417.000000,17271.000000,17038.000000,17488.000000,17516.000000,17516.000000,17516.000000
mean,14.0,13.035115,0.724156,6.831649,1.179078,1016.724179,183.196971,3.112992,6.526433,15.721226,2017.499943
std,0.0,10.242081,1.744875,10.972047,9.083660,7.906935,121.264096,2.068353,3.447769,8.795516,0.500014
min,14.0,-17.200000,0.000000,-26.100000,-1.000000,982.600000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,14.0,5.000000,0.000000,-2.200000,0.000000,1012.000000,70.000000,1.500000,4.000000,8.000000,2017.000000
50%,14.0,13.300000,0.000000,7.800000,0.000000,1016.600000,210.000000,3.100000,7.000000,16.000000,2017.000000
75%,14.0,21.700000,0.000000,16.700000,0.000000,1021.500000,290.000000,4.100000,10.000000,23.000000,2018.000000
max,14.0,35.600000,9.000000,25.600000,394.000000,1043.400000,360.000000,13.400000,12.000000,31.000000,2018.000000

In [65]:
weather_air_temp14_mean=weather_air_temp14['air_temperature'].mean()
weather_air_temp14['air_temperature'].fillna(weather_air_temp14_mean,inplace=True)

In [66]:
weather_air_temp14_mean

13.035114765330572

In [67]:
weather_air_temp14.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17516.0,17516.000000,9712.000000,17514.000000,17417.000000,17271.000000,17038.000000,17488.000000,17516.000000,17516.000000,17516.000000
mean,14.0,13.035115,0.724156,6.831649,1.179078,1016.724179,183.196971,3.112992,6.526433,15.721226,2017.499943
std,0.0,10.241496,1.744875,10.972047,9.083660,7.906935,121.264096,2.068353,3.447769,8.795516,0.500014
min,14.0,-17.200000,0.000000,-26.100000,-1.000000,982.600000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,14.0,5.000000,0.000000,-2.200000,0.000000,1012.000000,70.000000,1.500000,4.000000,8.000000,2017.000000
50%,14.0,13.300000,0.000000,7.800000,0.000000,1016.600000,210.000000,3.100000,7.000000,16.000000,2017.000000
75%,14.0,21.700000,0.000000,16.700000,0.000000,1021.500000,290.000000,4.100000,10.000000,23.000000,2018.000000
max,14.0,35.600000,9.000000,25.600000,394.000000,1043.400000,360.000000,13.400000,12.000000,31.000000,2018.000000

# air_temperature site_id=15

In [68]:
weather_air_temp15=weather_test_time[weather_test_time['site_id']==15]

In [69]:
weather_air_temp15.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17201.0,17191.000000,7237.000000,17190.000000,4166.000000,16252.000000,16770.000000,17189.000000,17201.000000,17201.000000,17201.000000
mean,15.0,8.942191,1.082078,4.695881,3.335574,1017.295521,186.709004,3.606830,6.503168,15.677402,2017.504680
std,0.0,10.807741,1.736722,10.526966,13.464772,7.868558,108.718203,2.357661,3.440644,8.815192,0.499993
min,15.0,-21.700000,0.000000,-23.900000,-1.000000,984.500000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,15.0,0.600000,0.000000,-3.900000,-1.000000,1012.500000,110.000000,2.100000,4.000000,8.000000,2017.000000
50%,15.0,9.400000,0.000000,5.600000,-1.000000,1017.300000,170.000000,3.100000,7.000000,16.000000,2018.000000
75%,15.0,17.800000,2.000000,13.900000,3.000000,1022.400000,290.000000,5.100000,9.000000,23.000000,2018.000000
max,15.0,34.400000,9.000000,23.900000,442.000000,1044.600000,360.000000,14.900000,12.000000,31.000000,2018.000000

In [70]:
weather_air_temp15_mean=weather_air_temp15['air_temperature'].mean()
weather_air_temp15['air_temperature'].fillna(weather_air_temp15_mean,inplace=True)

In [71]:
weather_air_temp15_mean

8.942190681170322

In [72]:
weather_air_temp15.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17201.0,17201.000000,7237.000000,17190.000000,4166.000000,16252.000000,16770.000000,17189.000000,17201.000000,17201.000000,17201.000000
mean,15.0,8.942191,1.082078,4.695881,3.335574,1017.295521,186.709004,3.606830,6.503168,15.677402,2017.504680
std,0.0,10.804599,1.736722,10.526966,13.464772,7.868558,108.718203,2.357661,3.440644,8.815192,0.499993
min,15.0,-21.700000,0.000000,-23.900000,-1.000000,984.500000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,15.0,0.600000,0.000000,-3.900000,-1.000000,1012.500000,110.000000,2.100000,4.000000,8.000000,2017.000000
50%,15.0,9.000000,0.000000,5.600000,-1.000000,1017.300000,170.000000,3.100000,7.000000,16.000000,2018.000000
75%,15.0,17.800000,2.000000,13.900000,3.000000,1022.400000,290.000000,5.100000,9.000000,23.000000,2018.000000
max,15.0,34.400000,9.000000,23.900000,442.000000,1044.600000,360.000000,14.900000,12.000000,31.000000,2018.000000

# Merging the above cells to create air_temperature_filled

In [73]:
air_temperature_filled = pd.concat([weather_air_temp0,weather_air_temp1,weather_air_temp2,
                           weather_air_temp3,weather_air_temp4,weather_air_temp5,
                           weather_air_temp6,weather_air_temp7,weather_air_temp8,
                           weather_air_temp9,weather_air_temp10,weather_air_temp11,
                           weather_air_temp12,weather_air_temp13,weather_air_temp14,
                           weather_air_temp15], axis=0)

In [74]:
air_temperature_filled.head()

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
0,0,2017-01-01 00:00:00,17.8,4.0,11.7,NaN,1021.4,100.0,3.6,1,1,2017
1,0,2017-01-01 01:00:00,17.8,2.0,12.8,0.0,1022.0,130.0,3.1,1,1,2017
2,0,2017-01-01 02:00:00,16.1,0.0,12.8,0.0,1021.9,140.0,3.1,1,1,2017
3,0,2017-01-01 03:00:00,17.2,0.0,13.3,0.0,1022.2,140.0,3.1,1,1,2017
4,0,2017-01-01 04:00:00,16.7,2.0,13.3,0.0,1022.3,130.0,2.6,1,1,2017

In [75]:
air_temperature_filled.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,277243.000000,277243.000000,136795.000000,276916.000000,181655.000000,255978.000000,264873.000000,276783.000000,277243.000000,277243.00000,277243.000000
mean,7.484654,14.277772,2.187317,7.487658,1.095395,1016.195762,180.426023,3.548873,6.505362,15.69658,2017.499266
std,4.616959,10.740123,2.620627,10.153973,9.163511,7.940392,110.456872,2.317184,3.440583,8.81615,0.500000
min,0.000000,-28.100000,0.000000,-31.600000,-1.000000,972.000000,0.000000,0.000000,1.000000,1.00000,2017.000000
25%,3.000000,7.200000,0.000000,0.600000,0.000000,1011.600000,80.000000,2.100000,4.000000,8.00000,2017.000000
50%,7.000000,15.000000,2.000000,8.400000,0.000000,1016.300000,190.000000,3.100000,7.000000,16.00000,2017.000000
75%,12.000000,22.200000,4.000000,15.000000,0.000000,1020.800000,280.000000,4.600000,9.000000,23.00000,2018.000000
max,15.000000,48.300000,9.000000,26.700000,597.000000,1050.100000,360.000000,24.200000,12.000000,31.00000,2018.000000

After this take air_temperature_filled and then start filling in missing columns

# cloud_coverage site_id=0

In [76]:
weather_cloud_cov0=air_temperature_filled[air_temperature_filled['site_id']==0]

In [77]:
weather_cloud_cov0.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,9977.000000,17520.000000,17490.000000,17211.000000,17043.000000,17518.000000,17520.000000,17520.000000,17520.000000
mean,0.0,22.699104,2.975945,17.660725,1.169297,1017.929754,150.531597,3.399675,6.526027,15.720548,2017.500000
std,0.0,5.822209,2.118299,6.664774,12.591829,4.568609,113.980426,2.190697,3.447950,8.796498,0.500014
min,0.0,-2.800000,0.000000,-10.600000,-1.000000,981.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,0.0,19.400000,2.000000,14.400000,0.000000,1015.300000,60.000000,2.100000,4.000000,8.000000,2017.000000
50%,0.0,23.900000,2.000000,19.400000,0.000000,1018.000000,130.000000,3.100000,7.000000,16.000000,2017.500000
75%,0.0,26.700000,4.000000,22.800000,0.000000,1020.300000,240.000000,4.600000,10.000000,23.000000,2018.000000
max,0.0,35.000000,9.000000,26.700000,597.000000,1036.300000,360.000000,24.200000,12.000000,31.000000,2018.000000

In [78]:
weather_cloud_cov0_mean=weather_cloud_cov0['cloud_coverage'].mean()
weather_cloud_cov0['cloud_coverage'].fillna(weather_cloud_cov0_mean,inplace=True)

In [79]:
weather_cloud_cov0_mean

2.975944672747319

In [80]:
weather_cloud_cov0.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17490.000000,17211.000000,17043.000000,17518.000000,17520.000000,17520.000000,17520.000000
mean,0.0,22.699104,2.975945,17.660725,1.169297,1017.929754,150.531597,3.399675,6.526027,15.720548,2017.500000
std,0.0,5.822209,1.598494,6.664774,12.591829,4.568609,113.980426,2.190697,3.447950,8.796498,0.500014
min,0.0,-2.800000,0.000000,-10.600000,-1.000000,981.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,0.0,19.400000,2.000000,14.400000,0.000000,1015.300000,60.000000,2.100000,4.000000,8.000000,2017.000000
50%,0.0,23.900000,2.975945,19.400000,0.000000,1018.000000,130.000000,3.100000,7.000000,16.000000,2017.500000
75%,0.0,26.700000,4.000000,22.800000,0.000000,1020.300000,240.000000,4.600000,10.000000,23.000000,2018.000000
max,0.0,35.000000,9.000000,26.700000,597.000000,1036.300000,360.000000,24.200000,12.000000,31.000000,2018.000000

# cloud_coverage site_id=1

In [81]:
weather_cloud_cov1=air_temperature_filled[air_temperature_filled['site_id']==1]

In [82]:
weather_cloud_cov1.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17287.0,17287.000000,3614.000000,17265.000000,0.0,17222.000000,17282.000000,17287.000000,17287.000000,17287.000000,17287.000000
mean,1.0,12.169638,0.047316,7.543412,NaN,1015.639450,198.876866,4.037467,6.478105,15.677793,2017.493666
std,0.0,6.478613,0.650940,4.962241,NaN,10.121707,94.319322,2.137726,3.441478,8.838987,0.499974
min,1.0,-5.000000,0.000000,-9.600000,NaN,972.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,1.0,7.500000,0.000000,4.100000,NaN,1010.100000,130.000000,2.600000,4.000000,8.000000,2017.000000
50%,1.0,11.800000,0.000000,8.000000,NaN,1016.700000,220.000000,3.600000,6.000000,16.000000,2017.000000
75%,1.0,16.600000,0.000000,11.300000,NaN,1022.400000,270.000000,5.100000,9.000000,23.000000,2018.000000
max,1.0,34.400000,9.000000,19.900000,NaN,1039.600000,360.000000,18.500000,12.000000,31.000000,2018.000000

In [83]:
weather_cloud_cov1_mean=weather_cloud_cov1['cloud_coverage'].mean()
weather_cloud_cov1['cloud_coverage'].fillna(weather_cloud_cov1_mean,inplace=True)

In [84]:
weather_cloud_cov1_mean

0.04731599335915883

In [85]:
weather_cloud_cov1.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17287.0,17287.000000,17287.000000,17265.000000,0.0,17222.000000,17282.000000,17287.000000,17287.000000,17287.000000,17287.000000
mean,1.0,12.169638,0.047316,7.543412,NaN,1015.639450,198.876866,4.037467,6.478105,15.677793,2017.493666
std,0.0,6.478613,0.297596,4.962241,NaN,10.121707,94.319322,2.137726,3.441478,8.838987,0.499974
min,1.0,-5.000000,0.000000,-9.600000,NaN,972.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,1.0,7.500000,0.047316,4.100000,NaN,1010.100000,130.000000,2.600000,4.000000,8.000000,2017.000000
50%,1.0,11.800000,0.047316,8.000000,NaN,1016.700000,220.000000,3.600000,6.000000,16.000000,2017.000000
75%,1.0,16.600000,0.047316,11.300000,NaN,1022.400000,270.000000,5.100000,9.000000,23.000000,2018.000000
max,1.0,34.400000,9.000000,19.900000,NaN,1039.600000,360.000000,18.500000,12.000000,31.000000,2018.000000

# cloud_coverage site_id=2

In [86]:
weather_cloud_cov2=air_temperature_filled[air_temperature_filled['site_id']==2]

In [87]:
weather_cloud_cov2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,12075.000000,17518.000000,17499.000000,17487.000000,16327.000000,17511.000000,17520.000000,17520.000000,17520.000000
mean,2.0,24.975422,2.150393,3.817747,0.154123,1011.315251,154.057083,2.883268,6.526027,15.720548,2017.500000
std,0.0,9.317476,1.931897,8.326976,3.162019,5.313266,103.832849,1.919632,3.447950,8.796498,0.500014
min,2.0,2.200000,0.000000,-22.200000,-1.000000,996.100000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,2.0,17.200000,0.000000,-2.200000,0.000000,1007.400000,80.000000,1.500000,4.000000,8.000000,2017.000000
50%,2.0,25.000000,2.000000,2.800000,0.000000,1010.600000,130.000000,2.600000,7.000000,16.000000,2017.500000
75%,2.0,32.350000,4.000000,9.400000,0.000000,1014.800000,250.000000,3.600000,10.000000,23.000000,2018.000000
max,2.0,48.300000,8.000000,24.400000,234.000000,1032.200000,360.000000,21.100000,12.000000,31.000000,2018.000000

In [88]:
weather_cloud_cov2_mean=weather_cloud_cov2['cloud_coverage'].mean()
weather_cloud_cov2['cloud_coverage'].fillna(weather_cloud_cov2_mean,inplace=True)

In [89]:
weather_cloud_cov2_mean

2.150393374741201

In [90]:
weather_cloud_cov2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17518.000000,17499.000000,17487.000000,16327.000000,17511.000000,17520.000000,17520.000000,17520.000000
mean,2.0,24.975422,2.150393,3.817747,0.154123,1011.315251,154.057083,2.883268,6.526027,15.720548,2017.500000
std,0.0,9.317476,1.603817,8.326976,3.162019,5.313266,103.832849,1.919632,3.447950,8.796498,0.500014
min,2.0,2.200000,0.000000,-22.200000,-1.000000,996.100000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,2.0,17.200000,2.000000,-2.200000,0.000000,1007.400000,80.000000,1.500000,4.000000,8.000000,2017.000000
50%,2.0,25.000000,2.150393,2.800000,0.000000,1010.600000,130.000000,2.600000,7.000000,16.000000,2017.500000
75%,2.0,32.350000,2.150393,9.400000,0.000000,1014.800000,250.000000,3.600000,10.000000,23.000000,2018.000000
max,2.0,48.300000,8.000000,24.400000,234.000000,1032.200000,360.000000,21.100000,12.000000,31.000000,2018.000000

# cloud_coverage site_id=3

In [91]:
weather_cloud_cov3=air_temperature_filled[air_temperature_filled['site_id']==3]

In [92]:
weather_cloud_cov3.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17517.0,17517.000000,9666.000000,17514.000000,17473.000000,17141.000000,17265.000000,17509.000000,17517.000000,17517.000000,17517.000000
mean,3.0,15.493468,4.185599,8.365588,0.998111,1018.109089,183.912540,3.902696,6.526403,15.720843,2017.499971
std,0.0,9.853229,2.745698,10.982487,8.201430,7.538896,111.656426,2.253526,3.447723,8.796502,0.500014
min,3.0,-12.800000,0.000000,-22.200000,-1.000000,988.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,3.0,7.200000,2.000000,0.000000,0.000000,1013.400000,80.000000,2.600000,4.000000,8.000000,2017.000000
50%,3.0,16.100000,4.000000,10.000000,0.000000,1017.800000,190.000000,3.600000,7.000000,16.000000,2017.000000
75%,3.0,23.900000,6.000000,18.300000,0.000000,1022.600000,290.000000,5.100000,10.000000,23.000000,2018.000000
max,3.0,36.100000,9.000000,26.700000,345.000000,1043.700000,360.000000,19.600000,12.000000,31.000000,2018.000000

In [93]:
weather_cloud_cov3_mean=weather_cloud_cov3['cloud_coverage'].mean()
weather_cloud_cov3['cloud_coverage'].fillna(weather_cloud_cov3_mean,inplace=True)

In [94]:
weather_cloud_cov3_mean

4.185599006828057

In [95]:
weather_cloud_cov3.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17517.0,17517.000000,17517.000000,17514.000000,17473.000000,17141.000000,17265.000000,17509.000000,17517.000000,17517.000000,17517.000000
mean,3.0,15.493468,4.185599,8.365588,0.998111,1018.109089,183.912540,3.902696,6.526403,15.720843,2017.499971
std,0.0,9.853229,2.039558,10.982487,8.201430,7.538896,111.656426,2.253526,3.447723,8.796502,0.500014
min,3.0,-12.800000,0.000000,-22.200000,-1.000000,988.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,3.0,7.200000,4.000000,0.000000,0.000000,1013.400000,80.000000,2.600000,4.000000,8.000000,2017.000000
50%,3.0,16.100000,4.185599,10.000000,0.000000,1017.800000,190.000000,3.600000,7.000000,16.000000,2017.000000
75%,3.0,23.900000,4.185599,18.300000,0.000000,1022.600000,290.000000,5.100000,10.000000,23.000000,2018.000000
max,3.0,36.100000,9.000000,26.700000,345.000000,1043.700000,360.000000,19.600000,12.000000,31.000000,2018.000000

# cloud_coverage site_id=4

In [96]:
weather_cloud_cov4=air_temperature_filled[air_temperature_filled['site_id']==4]

In [97]:
weather_cloud_cov4.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17516.0,17516.000000,9486.000000,17513.000000,17234.00000,17397.000000,17312.000000,17516.000000,17516.000000,17516.000000,17516.000000
mean,4.0,14.469131,1.833333,9.804140,0.52321,1016.752308,204.333988,3.753751,6.527004,15.721569,2017.499943
std,0.0,4.333985,1.391271,4.107452,4.01553,4.868175,112.510366,2.539411,3.447583,8.795293,0.500014
min,4.0,0.000000,0.000000,-12.200000,-1.00000,987.300000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,4.0,11.700000,0.000000,7.800000,0.00000,1013.600000,120.000000,2.100000,4.000000,8.000000,2017.000000
50%,4.0,14.400000,2.000000,10.600000,0.00000,1016.200000,260.000000,3.600000,7.000000,16.000000,2017.000000
75%,4.0,17.200000,2.000000,12.800000,0.00000,1019.700000,290.000000,5.700000,10.000000,23.000000,2018.000000
max,4.0,38.300000,9.000000,19.400000,130.00000,1035.900000,360.000000,18.000000,12.000000,31.000000,2018.000000

In [98]:
weather_cloud_cov4_mean=weather_cloud_cov4['cloud_coverage'].mean()
weather_cloud_cov4['cloud_coverage'].fillna(weather_cloud_cov4_mean,inplace=True)

In [99]:
weather_cloud_cov4_mean

1.8333333333333333

In [100]:
weather_cloud_cov4.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17516.0,17516.000000,17516.000000,17513.000000,17234.00000,17397.000000,17312.000000,17516.000000,17516.000000,17516.000000,17516.000000
mean,4.0,14.469131,1.833333,9.804140,0.52321,1016.752308,204.333988,3.753751,6.527004,15.721569,2017.499943
std,0.0,4.333985,1.023824,4.107452,4.01553,4.868175,112.510366,2.539411,3.447583,8.795293,0.500014
min,4.0,0.000000,0.000000,-12.200000,-1.00000,987.300000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,4.0,11.700000,1.833333,7.800000,0.00000,1013.600000,120.000000,2.100000,4.000000,8.000000,2017.000000
50%,4.0,14.400000,1.833333,10.600000,0.00000,1016.200000,260.000000,3.600000,7.000000,16.000000,2017.000000
75%,4.0,17.200000,2.000000,12.800000,0.00000,1019.700000,290.000000,5.700000,10.000000,23.000000,2018.000000
max,4.0,38.300000,9.000000,19.400000,130.00000,1035.900000,360.000000,18.000000,12.000000,31.000000,2018.000000

# cloud_coverage site_id=5

In [101]:
weather_cloud_cov5=air_temperature_filled[air_temperature_filled['site_id']==5]

In [102]:
weather_cloud_cov5.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17241.0,17241.000000,5896.000000,17240.000000,0.0,0.0,16706.000000,17240.000000,17241.000000,17241.000000,17241.000000
mean,5.0,11.155443,0.433514,8.433527,NaN,NaN,209.924578,4.886265,6.476712,15.671481,2017.492779
std,0.0,5.379051,1.927258,4.831194,NaN,NaN,96.446130,2.430906,3.443165,8.840365,0.499962
min,5.0,-6.000000,0.000000,-13.000000,NaN,NaN,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,5.0,7.000000,0.000000,5.000000,NaN,NaN,120.000000,3.100000,3.000000,8.000000,2017.000000
50%,5.0,11.000000,0.000000,9.000000,NaN,NaN,250.000000,4.600000,6.000000,16.000000,2017.000000
75%,5.0,15.000000,0.000000,12.000000,NaN,NaN,290.000000,6.200000,9.000000,23.000000,2018.000000
max,5.0,30.000000,9.000000,20.000000,NaN,NaN,360.000000,16.500000,12.000000,31.000000,2018.000000

In [103]:
weather_cloud_cov5_mean=weather_cloud_cov5['cloud_coverage'].mean()
weather_cloud_cov5['cloud_coverage'].fillna(weather_cloud_cov5_mean,inplace=True)

In [104]:
weather_cloud_cov5_mean

0.4335142469470828

In [105]:
weather_cloud_cov5.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17241.0,17241.000000,17241.000000,17240.000000,0.0,0.0,16706.000000,17240.000000,17241.000000,17241.000000,17241.000000
mean,5.0,11.155443,0.433514,8.433527,NaN,NaN,209.924578,4.886265,6.476712,15.671481,2017.492779
std,0.0,5.379051,1.126972,4.831194,NaN,NaN,96.446130,2.430906,3.443165,8.840365,0.499962
min,5.0,-6.000000,0.000000,-13.000000,NaN,NaN,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,5.0,7.000000,0.000000,5.000000,NaN,NaN,120.000000,3.100000,3.000000,8.000000,2017.000000
50%,5.0,11.000000,0.433514,9.000000,NaN,NaN,250.000000,4.600000,6.000000,16.000000,2017.000000
75%,5.0,15.000000,0.433514,12.000000,NaN,NaN,290.000000,6.200000,9.000000,23.000000,2018.000000
max,5.0,30.000000,9.000000,20.000000,NaN,NaN,360.000000,16.500000,12.000000,31.000000,2018.000000

# cloud_coverage site_id=6

In [106]:
weather_cloud_cov6=air_temperature_filled[air_temperature_filled['site_id']==6]

In [107]:
weather_cloud_cov6.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17504.0,17504.000000,11036.000000,17500.000000,17460.000000,17115.000000,16092.000000,17453.000000,17504.000000,17504.000000,17504.000000
mean,6.0,15.235606,0.698623,7.866326,1.146048,1017.578311,127.857942,2.256947,6.525480,15.722006,2017.499714
std,0.0,9.761678,1.648759,11.179628,8.753053,7.296018,118.807925,1.895758,3.447624,8.796438,0.500014
min,6.0,-16.100000,0.000000,-23.900000,-1.000000,986.800000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,6.0,7.200000,0.000000,-1.100000,0.000000,1013.100000,0.000000,0.000000,4.000000,8.000000,2017.000000
50%,6.0,16.100000,0.000000,10.000000,0.000000,1017.400000,140.000000,2.100000,7.000000,16.000000,2017.000000
75%,6.0,23.300000,0.000000,17.800000,0.000000,1021.900000,210.000000,3.600000,10.000000,23.000000,2018.000000
max,6.0,36.700000,9.000000,26.100000,287.000000,1042.700000,360.000000,15.400000,12.000000,31.000000,2018.000000

In [108]:
weather_cloud_cov6_mean=weather_cloud_cov6['cloud_coverage'].mean()
weather_cloud_cov6['cloud_coverage'].fillna(weather_cloud_cov6_mean,inplace=True)

In [109]:
weather_cloud_cov6_mean

0.6986226893802102

In [110]:
weather_cloud_cov6.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17504.0,17504.000000,17504.000000,17500.000000,17460.000000,17115.000000,16092.000000,17453.000000,17504.000000,17504.000000,17504.000000
mean,6.0,15.235606,0.698623,7.866326,1.146048,1017.578311,127.857942,2.256947,6.525480,15.722006,2017.499714
std,0.0,9.761678,1.309143,11.179628,8.753053,7.296018,118.807925,1.895758,3.447624,8.796438,0.500014
min,6.0,-16.100000,0.000000,-23.900000,-1.000000,986.800000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,6.0,7.200000,0.000000,-1.100000,0.000000,1013.100000,0.000000,0.000000,4.000000,8.000000,2017.000000
50%,6.0,16.100000,0.000000,10.000000,0.000000,1017.400000,140.000000,2.100000,7.000000,16.000000,2017.000000
75%,6.0,23.300000,0.698623,17.800000,0.000000,1021.900000,210.000000,3.600000,10.000000,23.000000,2018.000000
max,6.0,36.700000,9.000000,26.100000,287.000000,1042.700000,360.000000,15.400000,12.000000,31.000000,2018.000000

# cloud_coverage site_id=7

In [111]:
weather_cloud_cov7=air_temperature_filled[air_temperature_filled['site_id']==7]

In [112]:
weather_cloud_cov7.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,16573.0,16573.000000,0.0,16522.000000,1797.000000,16531.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000
mean,7.0,7.407512,NaN,2.106609,11.808013,1015.776287,205.988415,3.362167,6.447113,15.618295,2017.502444
std,0.0,12.211686,NaN,11.626459,21.206073,8.859870,101.454919,1.986871,3.401939,8.889502,0.500009
min,7.0,-28.100000,NaN,-31.600000,2.000000,973.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,7.0,-1.100000,NaN,-6.000000,2.000000,1010.200000,100.000000,2.100000,4.000000,8.000000,2017.000000
50%,7.0,7.700000,NaN,2.550000,5.000000,1015.500000,220.000000,3.100000,6.000000,15.000000,2018.000000
75%,7.0,17.800000,NaN,11.800000,13.000000,1021.400000,290.000000,4.600000,9.000000,23.000000,2018.000000
max,7.0,34.700000,NaN,24.600000,278.000000,1045.000000,360.000000,14.900000,12.000000,31.000000,2018.000000

In [113]:
weather_cloud_cov7['cloud_coverage'].fillna(0,inplace=True)

In [114]:
weather_cloud_cov7.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,16573.0,16573.000000,16573.0,16522.000000,1797.000000,16531.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000
mean,7.0,7.407512,0.0,2.106609,11.808013,1015.776287,205.988415,3.362167,6.447113,15.618295,2017.502444
std,0.0,12.211686,0.0,11.626459,21.206073,8.859870,101.454919,1.986871,3.401939,8.889502,0.500009
min,7.0,-28.100000,0.0,-31.600000,2.000000,973.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,7.0,-1.100000,0.0,-6.000000,2.000000,1010.200000,100.000000,2.100000,4.000000,8.000000,2017.000000
50%,7.0,7.700000,0.0,2.550000,5.000000,1015.500000,220.000000,3.100000,6.000000,15.000000,2018.000000
75%,7.0,17.800000,0.0,11.800000,13.000000,1021.400000,290.000000,4.600000,9.000000,23.000000,2018.000000
max,7.0,34.700000,0.0,24.600000,278.000000,1045.000000,360.000000,14.900000,12.000000,31.000000,2018.000000

# cloud_coverage site_id=8

In [115]:
weather_cloud_cov8=air_temperature_filled[air_temperature_filled['site_id']==8]

In [116]:
weather_cloud_cov8.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,9977.000000,17520.000000,17490.000000,17211.000000,17043.000000,17518.000000,17520.000000,17520.000000,17520.000000
mean,8.0,22.699104,2.975945,17.660725,1.169297,1017.929754,150.531597,3.399675,6.526027,15.720548,2017.500000
std,0.0,5.822209,2.118299,6.664774,12.591829,4.568609,113.980426,2.190697,3.447950,8.796498,0.500014
min,8.0,-2.800000,0.000000,-10.600000,-1.000000,981.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,8.0,19.400000,2.000000,14.400000,0.000000,1015.300000,60.000000,2.100000,4.000000,8.000000,2017.000000
50%,8.0,23.900000,2.000000,19.400000,0.000000,1018.000000,130.000000,3.100000,7.000000,16.000000,2017.500000
75%,8.0,26.700000,4.000000,22.800000,0.000000,1020.300000,240.000000,4.600000,10.000000,23.000000,2018.000000
max,8.0,35.000000,9.000000,26.700000,597.000000,1036.300000,360.000000,24.200000,12.000000,31.000000,2018.000000

In [117]:
weather_cloud_cov8_mean=weather_cloud_cov8['cloud_coverage'].mean()
weather_cloud_cov8['cloud_coverage'].fillna(weather_cloud_cov8_mean,inplace=True)

In [118]:
weather_cloud_cov8_mean

2.975944672747319

In [119]:
weather_cloud_cov8.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17490.000000,17211.000000,17043.000000,17518.000000,17520.000000,17520.000000,17520.000000
mean,8.0,22.699104,2.975945,17.660725,1.169297,1017.929754,150.531597,3.399675,6.526027,15.720548,2017.500000
std,0.0,5.822209,1.598494,6.664774,12.591829,4.568609,113.980426,2.190697,3.447950,8.796498,0.500014
min,8.0,-2.800000,0.000000,-10.600000,-1.000000,981.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,8.0,19.400000,2.000000,14.400000,0.000000,1015.300000,60.000000,2.100000,4.000000,8.000000,2017.000000
50%,8.0,23.900000,2.975945,19.400000,0.000000,1018.000000,130.000000,3.100000,7.000000,16.000000,2017.500000
75%,8.0,26.700000,4.000000,22.800000,0.000000,1020.300000,240.000000,4.600000,10.000000,23.000000,2018.000000
max,8.0,35.000000,9.000000,26.700000,597.000000,1036.300000,360.000000,24.200000,12.000000,31.000000,2018.000000

# cloud_coverage site_id=9

In [120]:
weather_cloud_cov9=air_temperature_filled[air_temperature_filled['site_id']==9]

In [121]:
weather_cloud_cov9.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17481.0,17481.000000,9776.000000,17314.000000,17418.000000,16921.000000,12080.000000,17228.000000,17481.000000,17481.000000,17481.000000
mean,9.0,21.303994,0.582447,13.460350,0.786026,1016.293263,126.860099,2.194120,6.520966,15.720725,2017.499514
std,0.0,8.618335,1.371077,8.467062,9.112584,6.442762,118.183678,1.509227,3.446490,8.797683,0.500014
min,9.0,-7.800000,0.000000,-16.100000,-1.000000,995.700000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,9.0,15.600000,0.000000,7.800000,0.000000,1012.100000,0.000000,1.500000,4.000000,8.000000,2017.000000
50%,9.0,22.800000,0.000000,16.700000,0.000000,1015.200000,140.000000,2.100000,7.000000,16.000000,2017.000000
75%,9.0,27.200000,0.000000,20.600000,0.000000,1019.900000,190.000000,3.100000,10.000000,23.000000,2018.000000
max,9.0,42.800000,9.000000,25.600000,363.000000,1043.800000,360.000000,9.300000,12.000000,31.000000,2018.000000

In [122]:
weather_cloud_cov9_mean=weather_cloud_cov9['cloud_coverage'].mean()
weather_cloud_cov9['cloud_coverage'].fillna(weather_cloud_cov9_mean,inplace=True)

In [123]:
weather_cloud_cov9_mean

0.5824468085106383

In [124]:
weather_cloud_cov9.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17481.0,17481.000000,17481.000000,17314.000000,17418.000000,16921.000000,12080.000000,17228.000000,17481.000000,17481.000000,17481.000000
mean,9.0,21.303994,0.582447,13.460350,0.786026,1016.293263,126.860099,2.194120,6.520966,15.720725,2017.499514
std,0.0,8.618335,1.025296,8.467062,9.112584,6.442762,118.183678,1.509227,3.446490,8.797683,0.500014
min,9.0,-7.800000,0.000000,-16.100000,-1.000000,995.700000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,9.0,15.600000,0.000000,7.800000,0.000000,1012.100000,0.000000,1.500000,4.000000,8.000000,2017.000000
50%,9.0,22.800000,0.582447,16.700000,0.000000,1015.200000,140.000000,2.100000,7.000000,16.000000,2017.000000
75%,9.0,27.200000,0.582447,20.600000,0.000000,1019.900000,190.000000,3.100000,10.000000,23.000000,2018.000000
max,9.0,42.800000,9.000000,25.600000,363.000000,1043.800000,360.000000,9.300000,12.000000,31.000000,2018.000000

# cloud_coverage site_id=10

In [125]:
weather_cloud_cov10=air_temperature_filled[air_temperature_filled['site_id']==10]

In [126]:
weather_cloud_cov10.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17476.0,17476.000000,12396.000000,17468.000000,17438.000000,17123.000000,16430.000000,17384.000000,17476.000000,17476.00000,17476.000000
mean,10.0,11.734274,0.319781,-0.498615,0.301296,1015.426970,183.209373,3.072463,6.518654,15.71046,2017.499714
std,0.0,11.235452,1.142186,5.753791,2.758534,8.250976,102.773241,2.005543,3.444545,8.79012,0.500014
min,10.0,-19.400000,0.000000,-23.900000,-1.000000,988.700000,0.000000,0.000000,1.000000,1.00000,2017.000000
25%,10.0,2.800000,0.000000,-4.400000,0.000000,1009.900000,150.000000,2.100000,4.000000,8.00000,2017.000000
50%,10.0,10.600000,0.000000,-0.600000,0.000000,1014.200000,170.000000,3.100000,7.000000,16.00000,2017.000000
75%,10.0,20.600000,0.000000,3.300000,0.000000,1020.500000,260.000000,4.100000,10.000000,23.00000,2018.000000
max,10.0,38.300000,9.000000,17.200000,102.000000,1050.100000,360.000000,17.000000,12.000000,31.00000,2018.000000

In [127]:
weather_cloud_cov10_mean=weather_cloud_cov10['cloud_coverage'].mean()
weather_cloud_cov10['cloud_coverage'].fillna(weather_cloud_cov10_mean,inplace=True)

In [128]:
weather_cloud_cov10_mean

0.3197805743788319

In [129]:
weather_cloud_cov10.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17476.0,17476.000000,17476.000000,17468.000000,17438.000000,17123.000000,16430.000000,17384.000000,17476.000000,17476.00000,17476.000000
mean,10.0,11.734274,0.319781,-0.498615,0.301296,1015.426970,183.209373,3.072463,6.518654,15.71046,2017.499714
std,0.0,11.235452,0.961948,5.753791,2.758534,8.250976,102.773241,2.005543,3.444545,8.79012,0.500014
min,10.0,-19.400000,0.000000,-23.900000,-1.000000,988.700000,0.000000,0.000000,1.000000,1.00000,2017.000000
25%,10.0,2.800000,0.000000,-4.400000,0.000000,1009.900000,150.000000,2.100000,4.000000,8.00000,2017.000000
50%,10.0,10.600000,0.000000,-0.600000,0.000000,1014.200000,170.000000,3.100000,7.000000,16.00000,2017.000000
75%,10.0,20.600000,0.319781,3.300000,0.000000,1020.500000,260.000000,4.100000,10.000000,23.00000,2018.000000
max,10.0,38.300000,9.000000,17.200000,102.000000,1050.100000,360.000000,17.000000,12.000000,31.00000,2018.000000

# cloud_coverage site_id=11

In [130]:
weather_cloud_cov11=air_temperature_filled[air_temperature_filled['site_id']==11]

In [131]:
weather_cloud_cov11.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,16573.0,16573.000000,0.0,16522.000000,1797.000000,16531.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000
mean,11.0,7.407512,NaN,2.106609,11.808013,1015.776287,205.988415,3.362167,6.447113,15.618295,2017.502444
std,0.0,12.211686,NaN,11.626459,21.206073,8.859870,101.454919,1.986871,3.401939,8.889502,0.500009
min,11.0,-28.100000,NaN,-31.600000,2.000000,973.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,11.0,-1.100000,NaN,-6.000000,2.000000,1010.200000,100.000000,2.100000,4.000000,8.000000,2017.000000
50%,11.0,7.700000,NaN,2.550000,5.000000,1015.500000,220.000000,3.100000,6.000000,15.000000,2018.000000
75%,11.0,17.800000,NaN,11.800000,13.000000,1021.400000,290.000000,4.600000,9.000000,23.000000,2018.000000
max,11.0,34.700000,NaN,24.600000,278.000000,1045.000000,360.000000,14.900000,12.000000,31.000000,2018.000000

In [132]:
weather_cloud_cov11['cloud_coverage'].fillna(0,inplace=True)

In [133]:
weather_cloud_cov11.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,16573.0,16573.000000,16573.0,16522.000000,1797.000000,16531.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000
mean,11.0,7.407512,0.0,2.106609,11.808013,1015.776287,205.988415,3.362167,6.447113,15.618295,2017.502444
std,0.0,12.211686,0.0,11.626459,21.206073,8.859870,101.454919,1.986871,3.401939,8.889502,0.500009
min,11.0,-28.100000,0.0,-31.600000,2.000000,973.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,11.0,-1.100000,0.0,-6.000000,2.000000,1010.200000,100.000000,2.100000,4.000000,8.000000,2017.000000
50%,11.0,7.700000,0.0,2.550000,5.000000,1015.500000,220.000000,3.100000,6.000000,15.000000,2018.000000
75%,11.0,17.800000,0.0,11.800000,13.000000,1021.400000,290.000000,4.600000,9.000000,23.000000,2018.000000
max,11.0,34.700000,0.0,24.600000,278.000000,1045.000000,360.000000,14.900000,12.000000,31.000000,2018.000000

# cloud_coverage site_id=12

In [134]:
weather_cloud_cov12=air_temperature_filled[air_temperature_filled['site_id']==12]

In [135]:
weather_cloud_cov12.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17279.0,17279.000000,17223.000000,17279.000000,0.0,17250.000000,17276.000000,17279.000000,17279.000000,17279.000000,17279.000000
mean,12.0,10.017796,5.645881,6.781289,NaN,1013.811542,209.343019,5.485092,6.477285,15.673997,2017.493605
std,0.0,5.186032,2.278119,4.500680,NaN,11.657465,80.136152,2.682558,3.441715,8.838032,0.499974
min,12.0,-4.800000,0.000000,-8.600000,NaN,973.700000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,12.0,6.400000,4.000000,3.500000,NaN,1006.700000,150.000000,4.000000,4.000000,8.000000,2017.000000
50%,12.0,10.100000,7.000000,7.100000,NaN,1015.200000,230.000000,5.000000,6.000000,16.000000,2017.000000
75%,12.0,13.700000,7.000000,10.000000,NaN,1021.800000,260.000000,7.000000,9.000000,23.000000,2018.000000
max,12.0,26.300000,9.000000,18.800000,NaN,1041.500000,360.000000,23.000000,12.000000,31.000000,2018.000000

In [136]:
weather_cloud_cov12_mean=weather_cloud_cov12['cloud_coverage'].mean()
weather_cloud_cov12['cloud_coverage'].fillna(weather_cloud_cov12_mean,inplace=True)

In [137]:
weather_cloud_cov12_mean

5.6458805086221915

In [138]:
weather_cloud_cov12.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17279.0,17279.000000,17279.000000,17279.000000,0.0,17250.000000,17276.000000,17279.000000,17279.000000,17279.000000,17279.000000
mean,12.0,10.017796,5.645881,6.781289,NaN,1013.811542,209.343019,5.485092,6.477285,15.673997,2017.493605
std,0.0,5.186032,2.274425,4.500680,NaN,11.657465,80.136152,2.682558,3.441715,8.838032,0.499974
min,12.0,-4.800000,0.000000,-8.600000,NaN,973.700000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,12.0,6.400000,4.000000,3.500000,NaN,1006.700000,150.000000,4.000000,4.000000,8.000000,2017.000000
50%,12.0,10.100000,7.000000,7.100000,NaN,1015.200000,230.000000,5.000000,6.000000,16.000000,2017.000000
75%,12.0,13.700000,7.000000,10.000000,NaN,1021.800000,260.000000,7.000000,9.000000,23.000000,2018.000000
max,12.0,26.300000,9.000000,18.800000,NaN,1041.500000,360.000000,23.000000,12.000000,31.000000,2018.000000

# cloud_coverage site_id=13

In [139]:
weather_cloud_cov13=air_temperature_filled[air_temperature_filled['site_id']==13]

In [140]:
weather_cloud_cov13.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17519.0,17519.000000,8724.000000,17517.000000,16976.000000,17315.000000,17063.000000,17517.000000,17519.000000,17519.000000,17519.000000
mean,13.0,8.732608,2.730284,2.553845,0.771854,1016.692966,186.965364,4.069772,6.525829,15.719904,2017.500029
std,0.0,12.879347,2.769662,11.840325,7.224412,8.336763,110.916586,2.243461,3.447948,8.796336,0.500014
min,13.0,-26.100000,0.000000,-30.000000,-1.000000,987.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,13.0,-1.100000,0.000000,-6.000000,0.000000,1011.400000,100.000000,2.600000,4.000000,8.000000,2017.000000
50%,13.0,8.900000,2.000000,2.200000,0.000000,1016.200000,180.000000,3.600000,7.000000,16.000000,2018.000000
75%,13.0,20.000000,4.000000,13.300000,0.000000,1021.300000,290.000000,5.700000,10.000000,23.000000,2018.000000
max,13.0,37.800000,9.000000,25.600000,434.000000,1046.500000,360.000000,17.000000,12.000000,31.000000,2018.000000

In [141]:
weather_cloud_cov13_mean=weather_cloud_cov13['cloud_coverage'].mean()
weather_cloud_cov13['cloud_coverage'].fillna(weather_cloud_cov13_mean,inplace=True)

In [142]:
weather_cloud_cov13_mean

2.7302842732691426

In [143]:
weather_cloud_cov13.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17519.0,17519.000000,17519.000000,17517.000000,16976.000000,17315.000000,17063.000000,17517.000000,17519.000000,17519.000000,17519.000000
mean,13.0,8.732608,2.730284,2.553845,0.771854,1016.692966,186.965364,4.069772,6.525829,15.719904,2017.500029
std,0.0,12.879347,1.954418,11.840325,7.224412,8.336763,110.916586,2.243461,3.447948,8.796336,0.500014
min,13.0,-26.100000,0.000000,-30.000000,-1.000000,987.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,13.0,-1.100000,2.000000,-6.000000,0.000000,1011.400000,100.000000,2.600000,4.000000,8.000000,2017.000000
50%,13.0,8.900000,2.730284,2.200000,0.000000,1016.200000,180.000000,3.600000,7.000000,16.000000,2018.000000
75%,13.0,20.000000,2.730284,13.300000,0.000000,1021.300000,290.000000,5.700000,10.000000,23.000000,2018.000000
max,13.0,37.800000,9.000000,25.600000,434.000000,1046.500000,360.000000,17.000000,12.000000,31.000000,2018.000000

# cloud_coverage site_id=14

In [144]:
weather_cloud_cov14=air_temperature_filled[air_temperature_filled['site_id']==14]

In [145]:
weather_cloud_cov14.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17516.0,17516.000000,9712.000000,17514.000000,17417.000000,17271.000000,17038.000000,17488.000000,17516.000000,17516.000000,17516.000000
mean,14.0,13.035115,0.724156,6.831649,1.179078,1016.724179,183.196971,3.112992,6.526433,15.721226,2017.499943
std,0.0,10.241496,1.744875,10.972047,9.083660,7.906935,121.264096,2.068353,3.447769,8.795516,0.500014
min,14.0,-17.200000,0.000000,-26.100000,-1.000000,982.600000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,14.0,5.000000,0.000000,-2.200000,0.000000,1012.000000,70.000000,1.500000,4.000000,8.000000,2017.000000
50%,14.0,13.300000,0.000000,7.800000,0.000000,1016.600000,210.000000,3.100000,7.000000,16.000000,2017.000000
75%,14.0,21.700000,0.000000,16.700000,0.000000,1021.500000,290.000000,4.100000,10.000000,23.000000,2018.000000
max,14.0,35.600000,9.000000,25.600000,394.000000,1043.400000,360.000000,13.400000,12.000000,31.000000,2018.000000

In [146]:
weather_cloud_cov14_mean=weather_cloud_cov14['cloud_coverage'].mean()
weather_cloud_cov14['cloud_coverage'].fillna(weather_cloud_cov14_mean,inplace=True)

In [147]:
weather_cloud_cov14_mean

0.72415568369028

In [148]:
weather_cloud_cov14.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17516.0,17516.000000,17516.000000,17514.000000,17417.000000,17271.000000,17038.000000,17488.000000,17516.000000,17516.000000,17516.000000
mean,14.0,13.035115,0.724156,6.831649,1.179078,1016.724179,183.196971,3.112992,6.526433,15.721226,2017.499943
std,0.0,10.241496,1.299246,10.972047,9.083660,7.906935,121.264096,2.068353,3.447769,8.795516,0.500014
min,14.0,-17.200000,0.000000,-26.100000,-1.000000,982.600000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,14.0,5.000000,0.000000,-2.200000,0.000000,1012.000000,70.000000,1.500000,4.000000,8.000000,2017.000000
50%,14.0,13.300000,0.724156,7.800000,0.000000,1016.600000,210.000000,3.100000,7.000000,16.000000,2017.000000
75%,14.0,21.700000,0.724156,16.700000,0.000000,1021.500000,290.000000,4.100000,10.000000,23.000000,2018.000000
max,14.0,35.600000,9.000000,25.600000,394.000000,1043.400000,360.000000,13.400000,12.000000,31.000000,2018.000000

# cloud_coverage site_id=15

In [149]:
weather_cloud_cov15=air_temperature_filled[air_temperature_filled['site_id']==15]

In [150]:
weather_cloud_cov15.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17201.0,17201.000000,7237.000000,17190.000000,4166.000000,16252.000000,16770.000000,17189.000000,17201.000000,17201.000000,17201.000000
mean,15.0,8.942191,1.082078,4.695881,3.335574,1017.295521,186.709004,3.606830,6.503168,15.677402,2017.504680
std,0.0,10.804599,1.736722,10.526966,13.464772,7.868558,108.718203,2.357661,3.440644,8.815192,0.499993
min,15.0,-21.700000,0.000000,-23.900000,-1.000000,984.500000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,15.0,0.600000,0.000000,-3.900000,-1.000000,1012.500000,110.000000,2.100000,4.000000,8.000000,2017.000000
50%,15.0,9.000000,0.000000,5.600000,-1.000000,1017.300000,170.000000,3.100000,7.000000,16.000000,2018.000000
75%,15.0,17.800000,2.000000,13.900000,3.000000,1022.400000,290.000000,5.100000,9.000000,23.000000,2018.000000
max,15.0,34.400000,9.000000,23.900000,442.000000,1044.600000,360.000000,14.900000,12.000000,31.000000,2018.000000

In [151]:
weather_cloud_cov15_mean=weather_cloud_cov15['cloud_coverage'].mean()
weather_cloud_cov15['cloud_coverage'].fillna(weather_cloud_cov15_mean,inplace=True)

In [152]:
weather_cloud_cov15_mean

1.0820782092027084

In [153]:
weather_cloud_cov15.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17201.0,17201.000000,17201.000000,17190.000000,4166.000000,16252.000000,16770.000000,17189.000000,17201.000000,17201.000000,17201.000000
mean,15.0,8.942191,1.082078,4.695881,3.335574,1017.295521,186.709004,3.606830,6.503168,15.677402,2017.504680
std,0.0,10.804599,1.126459,10.526966,13.464772,7.868558,108.718203,2.357661,3.440644,8.815192,0.499993
min,15.0,-21.700000,0.000000,-23.900000,-1.000000,984.500000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,15.0,0.600000,0.000000,-3.900000,-1.000000,1012.500000,110.000000,2.100000,4.000000,8.000000,2017.000000
50%,15.0,9.000000,1.082078,5.600000,-1.000000,1017.300000,170.000000,3.100000,7.000000,16.000000,2018.000000
75%,15.0,17.800000,1.082078,13.900000,3.000000,1022.400000,290.000000,5.100000,9.000000,23.000000,2018.000000
max,15.0,34.400000,9.000000,23.900000,442.000000,1044.600000,360.000000,14.900000,12.000000,31.000000,2018.000000

# Merging the above cells to create cloud_cov_filled and deleting air_temperature

In [154]:
cloud_cov_filled = pd.concat([weather_cloud_cov0,weather_cloud_cov1,weather_cloud_cov2,
                           weather_cloud_cov3,weather_cloud_cov4,weather_cloud_cov5,
                           weather_cloud_cov6,weather_cloud_cov7,weather_cloud_cov8,
                           weather_cloud_cov9,weather_cloud_cov10,weather_cloud_cov11,
                           weather_cloud_cov12,weather_cloud_cov13,weather_cloud_cov14,
                           weather_cloud_cov15], axis=0)

In [155]:
cloud_cov_filled.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,277243.000000,277243.000000,277243.000000,276916.000000,181655.000000,255978.000000,264873.000000,276783.000000,277243.000000,277243.00000,277243.000000
mean,7.484654,14.277772,1.660489,7.487658,1.095395,1016.195762,180.426023,3.548873,6.505362,15.69658,2017.499266
std,4.616959,10.740123,2.118598,10.153973,9.163511,7.940392,110.456872,2.317184,3.440583,8.81615,0.500000
min,0.000000,-28.100000,0.000000,-31.600000,-1.000000,972.000000,0.000000,0.000000,1.000000,1.00000,2017.000000
25%,3.000000,7.200000,0.000000,0.600000,0.000000,1011.600000,80.000000,2.100000,4.000000,8.00000,2017.000000
50%,7.000000,15.000000,0.698623,8.400000,0.000000,1016.300000,190.000000,3.100000,7.000000,16.00000,2017.000000
75%,12.000000,22.200000,2.730284,15.000000,0.000000,1020.800000,280.000000,4.600000,9.000000,23.00000,2018.000000
max,15.000000,48.300000,9.000000,26.700000,597.000000,1050.100000,360.000000,24.200000,12.000000,31.00000,2018.000000

After this take cloud_cov_filled and then start filling in missing columns

# dew_temperature site_id=0

In [156]:
weather_dew_temp0=cloud_cov_filled[cloud_cov_filled['site_id']==0]

In [157]:
weather_dew_temp0.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17490.000000,17211.000000,17043.000000,17518.000000,17520.000000,17520.000000,17520.000000
mean,0.0,22.699104,2.975945,17.660725,1.169297,1017.929754,150.531597,3.399675,6.526027,15.720548,2017.500000
std,0.0,5.822209,1.598494,6.664774,12.591829,4.568609,113.980426,2.190697,3.447950,8.796498,0.500014
min,0.0,-2.800000,0.000000,-10.600000,-1.000000,981.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,0.0,19.400000,2.000000,14.400000,0.000000,1015.300000,60.000000,2.100000,4.000000,8.000000,2017.000000
50%,0.0,23.900000,2.975945,19.400000,0.000000,1018.000000,130.000000,3.100000,7.000000,16.000000,2017.500000
75%,0.0,26.700000,4.000000,22.800000,0.000000,1020.300000,240.000000,4.600000,10.000000,23.000000,2018.000000
max,0.0,35.000000,9.000000,26.700000,597.000000,1036.300000,360.000000,24.200000,12.000000,31.000000,2018.000000

In [158]:
weather_dew_temp0_mean=weather_dew_temp0['dew_temperature'].mean()
weather_dew_temp0['dew_temperature'].fillna(weather_dew_temp0_mean,inplace=True)

In [159]:
weather_dew_temp0_mean

17.660724885844388

In [160]:
weather_dew_temp0.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17490.000000,17211.000000,17043.000000,17518.000000,17520.000000,17520.000000,17520.000000
mean,0.0,22.699104,2.975945,17.660725,1.169297,1017.929754,150.531597,3.399675,6.526027,15.720548,2017.500000
std,0.0,5.822209,1.598494,6.664774,12.591829,4.568609,113.980426,2.190697,3.447950,8.796498,0.500014
min,0.0,-2.800000,0.000000,-10.600000,-1.000000,981.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,0.0,19.400000,2.000000,14.400000,0.000000,1015.300000,60.000000,2.100000,4.000000,8.000000,2017.000000
50%,0.0,23.900000,2.975945,19.400000,0.000000,1018.000000,130.000000,3.100000,7.000000,16.000000,2017.500000
75%,0.0,26.700000,4.000000,22.800000,0.000000,1020.300000,240.000000,4.600000,10.000000,23.000000,2018.000000
max,0.0,35.000000,9.000000,26.700000,597.000000,1036.300000,360.000000,24.200000,12.000000,31.000000,2018.000000

# dew_temperature site_id=1

In [161]:
weather_dew_temp1=cloud_cov_filled[cloud_cov_filled['site_id']==1]

In [162]:
weather_dew_temp1.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17287.0,17287.000000,17287.000000,17265.000000,0.0,17222.000000,17282.000000,17287.000000,17287.000000,17287.000000,17287.000000
mean,1.0,12.169638,0.047316,7.543412,NaN,1015.639450,198.876866,4.037467,6.478105,15.677793,2017.493666
std,0.0,6.478613,0.297596,4.962241,NaN,10.121707,94.319322,2.137726,3.441478,8.838987,0.499974
min,1.0,-5.000000,0.000000,-9.600000,NaN,972.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,1.0,7.500000,0.047316,4.100000,NaN,1010.100000,130.000000,2.600000,4.000000,8.000000,2017.000000
50%,1.0,11.800000,0.047316,8.000000,NaN,1016.700000,220.000000,3.600000,6.000000,16.000000,2017.000000
75%,1.0,16.600000,0.047316,11.300000,NaN,1022.400000,270.000000,5.100000,9.000000,23.000000,2018.000000
max,1.0,34.400000,9.000000,19.900000,NaN,1039.600000,360.000000,18.500000,12.000000,31.000000,2018.000000

In [163]:
weather_dew_temp1_mean=weather_dew_temp1['dew_temperature'].mean()
weather_dew_temp1['dew_temperature'].fillna(weather_dew_temp1_mean,inplace=True)

In [164]:
weather_dew_temp1_mean

7.543411526209111

In [165]:
weather_dew_temp1.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17287.0,17287.000000,17287.000000,17287.000000,0.0,17222.000000,17282.000000,17287.000000,17287.000000,17287.000000,17287.000000
mean,1.0,12.169638,0.047316,7.543412,NaN,1015.639450,198.876866,4.037467,6.478105,15.677793,2017.493666
std,0.0,6.478613,0.297596,4.959083,NaN,10.121707,94.319322,2.137726,3.441478,8.838987,0.499974
min,1.0,-5.000000,0.000000,-9.600000,NaN,972.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,1.0,7.500000,0.047316,4.100000,NaN,1010.100000,130.000000,2.600000,4.000000,8.000000,2017.000000
50%,1.0,11.800000,0.047316,8.000000,NaN,1016.700000,220.000000,3.600000,6.000000,16.000000,2017.000000
75%,1.0,16.600000,0.047316,11.300000,NaN,1022.400000,270.000000,5.100000,9.000000,23.000000,2018.000000
max,1.0,34.400000,9.000000,19.900000,NaN,1039.600000,360.000000,18.500000,12.000000,31.000000,2018.000000

# dew_temperature site_id=2

In [166]:
weather_dew_temp2=cloud_cov_filled[cloud_cov_filled['site_id']==2]

In [167]:
weather_dew_temp2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17518.000000,17499.000000,17487.000000,16327.000000,17511.000000,17520.000000,17520.000000,17520.000000
mean,2.0,24.975422,2.150393,3.817747,0.154123,1011.315251,154.057083,2.883268,6.526027,15.720548,2017.500000
std,0.0,9.317476,1.603817,8.326976,3.162019,5.313266,103.832849,1.919632,3.447950,8.796498,0.500014
min,2.0,2.200000,0.000000,-22.200000,-1.000000,996.100000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,2.0,17.200000,2.000000,-2.200000,0.000000,1007.400000,80.000000,1.500000,4.000000,8.000000,2017.000000
50%,2.0,25.000000,2.150393,2.800000,0.000000,1010.600000,130.000000,2.600000,7.000000,16.000000,2017.500000
75%,2.0,32.350000,2.150393,9.400000,0.000000,1014.800000,250.000000,3.600000,10.000000,23.000000,2018.000000
max,2.0,48.300000,8.000000,24.400000,234.000000,1032.200000,360.000000,21.100000,12.000000,31.000000,2018.000000

In [168]:
weather_dew_temp2_mean=weather_dew_temp2['dew_temperature'].mean()
weather_dew_temp2['dew_temperature'].fillna(weather_dew_temp2_mean,inplace=True)

In [169]:
weather_dew_temp2_mean

3.8177474597556724

In [170]:
weather_dew_temp2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17499.000000,17487.000000,16327.000000,17511.000000,17520.000000,17520.000000,17520.000000
mean,2.0,24.975422,2.150393,3.817747,0.154123,1011.315251,154.057083,2.883268,6.526027,15.720548,2017.500000
std,0.0,9.317476,1.603817,8.326501,3.162019,5.313266,103.832849,1.919632,3.447950,8.796498,0.500014
min,2.0,2.200000,0.000000,-22.200000,-1.000000,996.100000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,2.0,17.200000,2.000000,-2.200000,0.000000,1007.400000,80.000000,1.500000,4.000000,8.000000,2017.000000
50%,2.0,25.000000,2.150393,2.800000,0.000000,1010.600000,130.000000,2.600000,7.000000,16.000000,2017.500000
75%,2.0,32.350000,2.150393,9.400000,0.000000,1014.800000,250.000000,3.600000,10.000000,23.000000,2018.000000
max,2.0,48.300000,8.000000,24.400000,234.000000,1032.200000,360.000000,21.100000,12.000000,31.000000,2018.000000

# dew_temperature site_id=3

In [171]:
weather_dew_temp3=cloud_cov_filled[cloud_cov_filled['site_id']==3]

In [172]:
weather_dew_temp3.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17517.0,17517.000000,17517.000000,17514.000000,17473.000000,17141.000000,17265.000000,17509.000000,17517.000000,17517.000000,17517.000000
mean,3.0,15.493468,4.185599,8.365588,0.998111,1018.109089,183.912540,3.902696,6.526403,15.720843,2017.499971
std,0.0,9.853229,2.039558,10.982487,8.201430,7.538896,111.656426,2.253526,3.447723,8.796502,0.500014
min,3.0,-12.800000,0.000000,-22.200000,-1.000000,988.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,3.0,7.200000,4.000000,0.000000,0.000000,1013.400000,80.000000,2.600000,4.000000,8.000000,2017.000000
50%,3.0,16.100000,4.185599,10.000000,0.000000,1017.800000,190.000000,3.600000,7.000000,16.000000,2017.000000
75%,3.0,23.900000,4.185599,18.300000,0.000000,1022.600000,290.000000,5.100000,10.000000,23.000000,2018.000000
max,3.0,36.100000,9.000000,26.700000,345.000000,1043.700000,360.000000,19.600000,12.000000,31.000000,2018.000000

In [173]:
weather_dew_temp3_mean=weather_dew_temp3['dew_temperature'].mean()
weather_dew_temp3['dew_temperature'].fillna(weather_dew_temp3_mean,inplace=True)

In [174]:
weather_dew_temp3_mean

8.365587529976056

In [175]:
weather_dew_temp3.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17517.0,17517.000000,17517.000000,17517.000000,17473.000000,17141.000000,17265.000000,17509.000000,17517.000000,17517.000000,17517.000000
mean,3.0,15.493468,4.185599,8.365588,0.998111,1018.109089,183.912540,3.902696,6.526403,15.720843,2017.499971
std,0.0,9.853229,2.039558,10.981546,8.201430,7.538896,111.656426,2.253526,3.447723,8.796502,0.500014
min,3.0,-12.800000,0.000000,-22.200000,-1.000000,988.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,3.0,7.200000,4.000000,0.000000,0.000000,1013.400000,80.000000,2.600000,4.000000,8.000000,2017.000000
50%,3.0,16.100000,4.185599,10.000000,0.000000,1017.800000,190.000000,3.600000,7.000000,16.000000,2017.000000
75%,3.0,23.900000,4.185599,18.300000,0.000000,1022.600000,290.000000,5.100000,10.000000,23.000000,2018.000000
max,3.0,36.100000,9.000000,26.700000,345.000000,1043.700000,360.000000,19.600000,12.000000,31.000000,2018.000000

# dew_temperature site_id=4

In [176]:
weather_dew_temp4=cloud_cov_filled[cloud_cov_filled['site_id']==4]

In [177]:
weather_dew_temp4.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17516.0,17516.000000,17516.000000,17513.000000,17234.00000,17397.000000,17312.000000,17516.000000,17516.000000,17516.000000,17516.000000
mean,4.0,14.469131,1.833333,9.804140,0.52321,1016.752308,204.333988,3.753751,6.527004,15.721569,2017.499943
std,0.0,4.333985,1.023824,4.107452,4.01553,4.868175,112.510366,2.539411,3.447583,8.795293,0.500014
min,4.0,0.000000,0.000000,-12.200000,-1.00000,987.300000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,4.0,11.700000,1.833333,7.800000,0.00000,1013.600000,120.000000,2.100000,4.000000,8.000000,2017.000000
50%,4.0,14.400000,1.833333,10.600000,0.00000,1016.200000,260.000000,3.600000,7.000000,16.000000,2017.000000
75%,4.0,17.200000,2.000000,12.800000,0.00000,1019.700000,290.000000,5.700000,10.000000,23.000000,2018.000000
max,4.0,38.300000,9.000000,19.400000,130.00000,1035.900000,360.000000,18.000000,12.000000,31.000000,2018.000000

In [178]:
weather_dew_temp4_mean=weather_dew_temp4['dew_temperature'].mean()
weather_dew_temp4['dew_temperature'].fillna(weather_dew_temp4_mean,inplace=True)

In [179]:
weather_dew_temp4_mean

9.804139781876351

In [180]:
weather_dew_temp4.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17516.0,17516.000000,17516.000000,17516.000000,17234.00000,17397.000000,17312.000000,17516.000000,17516.000000,17516.000000,17516.000000
mean,4.0,14.469131,1.833333,9.804140,0.52321,1016.752308,204.333988,3.753751,6.527004,15.721569,2017.499943
std,0.0,4.333985,1.023824,4.107101,4.01553,4.868175,112.510366,2.539411,3.447583,8.795293,0.500014
min,4.0,0.000000,0.000000,-12.200000,-1.00000,987.300000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,4.0,11.700000,1.833333,7.800000,0.00000,1013.600000,120.000000,2.100000,4.000000,8.000000,2017.000000
50%,4.0,14.400000,1.833333,10.600000,0.00000,1016.200000,260.000000,3.600000,7.000000,16.000000,2017.000000
75%,4.0,17.200000,2.000000,12.800000,0.00000,1019.700000,290.000000,5.700000,10.000000,23.000000,2018.000000
max,4.0,38.300000,9.000000,19.400000,130.00000,1035.900000,360.000000,18.000000,12.000000,31.000000,2018.000000

# dew_temperature site_id=5

In [181]:
weather_dew_temp5=cloud_cov_filled[cloud_cov_filled['site_id']==5]

In [182]:
weather_dew_temp5.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17241.0,17241.000000,17241.000000,17240.000000,0.0,0.0,16706.000000,17240.000000,17241.000000,17241.000000,17241.000000
mean,5.0,11.155443,0.433514,8.433527,NaN,NaN,209.924578,4.886265,6.476712,15.671481,2017.492779
std,0.0,5.379051,1.126972,4.831194,NaN,NaN,96.446130,2.430906,3.443165,8.840365,0.499962
min,5.0,-6.000000,0.000000,-13.000000,NaN,NaN,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,5.0,7.000000,0.000000,5.000000,NaN,NaN,120.000000,3.100000,3.000000,8.000000,2017.000000
50%,5.0,11.000000,0.433514,9.000000,NaN,NaN,250.000000,4.600000,6.000000,16.000000,2017.000000
75%,5.0,15.000000,0.433514,12.000000,NaN,NaN,290.000000,6.200000,9.000000,23.000000,2018.000000
max,5.0,30.000000,9.000000,20.000000,NaN,NaN,360.000000,16.500000,12.000000,31.000000,2018.000000

In [183]:
weather_dew_temp5_mean=weather_dew_temp5['dew_temperature'].mean()
weather_dew_temp5['dew_temperature'].fillna(weather_dew_temp5_mean,inplace=True)

In [184]:
weather_dew_temp5_mean

8.433526682134572

In [185]:
weather_dew_temp5.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17241.0,17241.000000,17241.000000,17241.000000,0.0,0.0,16706.000000,17240.000000,17241.000000,17241.000000,17241.000000
mean,5.0,11.155443,0.433514,8.433527,NaN,NaN,209.924578,4.886265,6.476712,15.671481,2017.492779
std,0.0,5.379051,1.126972,4.831054,NaN,NaN,96.446130,2.430906,3.443165,8.840365,0.499962
min,5.0,-6.000000,0.000000,-13.000000,NaN,NaN,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,5.0,7.000000,0.000000,5.000000,NaN,NaN,120.000000,3.100000,3.000000,8.000000,2017.000000
50%,5.0,11.000000,0.433514,9.000000,NaN,NaN,250.000000,4.600000,6.000000,16.000000,2017.000000
75%,5.0,15.000000,0.433514,12.000000,NaN,NaN,290.000000,6.200000,9.000000,23.000000,2018.000000
max,5.0,30.000000,9.000000,20.000000,NaN,NaN,360.000000,16.500000,12.000000,31.000000,2018.000000

# dew_temperature site_id=6

In [186]:
weather_dew_temp6=cloud_cov_filled[cloud_cov_filled['site_id']==6]

In [187]:
weather_dew_temp6.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17504.0,17504.000000,17504.000000,17500.000000,17460.000000,17115.000000,16092.000000,17453.000000,17504.000000,17504.000000,17504.000000
mean,6.0,15.235606,0.698623,7.866326,1.146048,1017.578311,127.857942,2.256947,6.525480,15.722006,2017.499714
std,0.0,9.761678,1.309143,11.179628,8.753053,7.296018,118.807925,1.895758,3.447624,8.796438,0.500014
min,6.0,-16.100000,0.000000,-23.900000,-1.000000,986.800000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,6.0,7.200000,0.000000,-1.100000,0.000000,1013.100000,0.000000,0.000000,4.000000,8.000000,2017.000000
50%,6.0,16.100000,0.000000,10.000000,0.000000,1017.400000,140.000000,2.100000,7.000000,16.000000,2017.000000
75%,6.0,23.300000,0.698623,17.800000,0.000000,1021.900000,210.000000,3.600000,10.000000,23.000000,2018.000000
max,6.0,36.700000,9.000000,26.100000,287.000000,1042.700000,360.000000,15.400000,12.000000,31.000000,2018.000000

In [188]:
weather_dew_temp6_mean=weather_dew_temp6['dew_temperature'].mean()
weather_dew_temp6['dew_temperature'].fillna(weather_dew_temp6_mean,inplace=True)

In [189]:
weather_dew_temp6_mean

7.866325714285697

In [190]:
weather_dew_temp6.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17504.0,17504.000000,17504.000000,17504.000000,17460.000000,17115.000000,16092.000000,17453.000000,17504.000000,17504.000000,17504.000000
mean,6.0,15.235606,0.698623,7.866326,1.146048,1017.578311,127.857942,2.256947,6.525480,15.722006,2017.499714
std,0.0,9.761678,1.309143,11.178351,8.753053,7.296018,118.807925,1.895758,3.447624,8.796438,0.500014
min,6.0,-16.100000,0.000000,-23.900000,-1.000000,986.800000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,6.0,7.200000,0.000000,-1.100000,0.000000,1013.100000,0.000000,0.000000,4.000000,8.000000,2017.000000
50%,6.0,16.100000,0.000000,10.000000,0.000000,1017.400000,140.000000,2.100000,7.000000,16.000000,2017.000000
75%,6.0,23.300000,0.698623,17.800000,0.000000,1021.900000,210.000000,3.600000,10.000000,23.000000,2018.000000
max,6.0,36.700000,9.000000,26.100000,287.000000,1042.700000,360.000000,15.400000,12.000000,31.000000,2018.000000

# dew_temperature site_id=7

In [191]:
weather_dew_temp7=cloud_cov_filled[cloud_cov_filled['site_id']==7]

In [192]:
weather_dew_temp7.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,16573.0,16573.000000,16573.0,16522.000000,1797.000000,16531.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000
mean,7.0,7.407512,0.0,2.106609,11.808013,1015.776287,205.988415,3.362167,6.447113,15.618295,2017.502444
std,0.0,12.211686,0.0,11.626459,21.206073,8.859870,101.454919,1.986871,3.401939,8.889502,0.500009
min,7.0,-28.100000,0.0,-31.600000,2.000000,973.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,7.0,-1.100000,0.0,-6.000000,2.000000,1010.200000,100.000000,2.100000,4.000000,8.000000,2017.000000
50%,7.0,7.700000,0.0,2.550000,5.000000,1015.500000,220.000000,3.100000,6.000000,15.000000,2018.000000
75%,7.0,17.800000,0.0,11.800000,13.000000,1021.400000,290.000000,4.600000,9.000000,23.000000,2018.000000
max,7.0,34.700000,0.0,24.600000,278.000000,1045.000000,360.000000,14.900000,12.000000,31.000000,2018.000000

In [193]:
weather_dew_temp7_mean=weather_dew_temp7['dew_temperature'].mean()
weather_dew_temp7['dew_temperature'].fillna(weather_dew_temp7_mean,inplace=True)

In [194]:
weather_dew_temp7_mean

2.106609369325761

In [195]:
weather_dew_temp7.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,16573.0,16573.000000,16573.0,16573.000000,1797.000000,16531.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000
mean,7.0,7.407512,0.0,2.106609,11.808013,1015.776287,205.988415,3.362167,6.447113,15.618295,2017.502444
std,0.0,12.211686,0.0,11.608555,21.206073,8.859870,101.454919,1.986871,3.401939,8.889502,0.500009
min,7.0,-28.100000,0.0,-31.600000,2.000000,973.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,7.0,-1.100000,0.0,-6.000000,2.000000,1010.200000,100.000000,2.100000,4.000000,8.000000,2017.000000
50%,7.0,7.700000,0.0,2.400000,5.000000,1015.500000,220.000000,3.100000,6.000000,15.000000,2018.000000
75%,7.0,17.800000,0.0,11.800000,13.000000,1021.400000,290.000000,4.600000,9.000000,23.000000,2018.000000
max,7.0,34.700000,0.0,24.600000,278.000000,1045.000000,360.000000,14.900000,12.000000,31.000000,2018.000000

# dew_temperature site_id=8

In [196]:
weather_dew_temp8=cloud_cov_filled[cloud_cov_filled['site_id']==8]

In [197]:
weather_dew_temp8.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17490.000000,17211.000000,17043.000000,17518.000000,17520.000000,17520.000000,17520.000000
mean,8.0,22.699104,2.975945,17.660725,1.169297,1017.929754,150.531597,3.399675,6.526027,15.720548,2017.500000
std,0.0,5.822209,1.598494,6.664774,12.591829,4.568609,113.980426,2.190697,3.447950,8.796498,0.500014
min,8.0,-2.800000,0.000000,-10.600000,-1.000000,981.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,8.0,19.400000,2.000000,14.400000,0.000000,1015.300000,60.000000,2.100000,4.000000,8.000000,2017.000000
50%,8.0,23.900000,2.975945,19.400000,0.000000,1018.000000,130.000000,3.100000,7.000000,16.000000,2017.500000
75%,8.0,26.700000,4.000000,22.800000,0.000000,1020.300000,240.000000,4.600000,10.000000,23.000000,2018.000000
max,8.0,35.000000,9.000000,26.700000,597.000000,1036.300000,360.000000,24.200000,12.000000,31.000000,2018.000000

In [198]:
weather_dew_temp8_mean=weather_dew_temp8['dew_temperature'].mean()
weather_dew_temp8['dew_temperature'].fillna(weather_dew_temp8_mean,inplace=True)

In [199]:
weather_dew_temp8_mean

17.660724885844388

In [200]:
weather_dew_temp8.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17490.000000,17211.000000,17043.000000,17518.000000,17520.000000,17520.000000,17520.000000
mean,8.0,22.699104,2.975945,17.660725,1.169297,1017.929754,150.531597,3.399675,6.526027,15.720548,2017.500000
std,0.0,5.822209,1.598494,6.664774,12.591829,4.568609,113.980426,2.190697,3.447950,8.796498,0.500014
min,8.0,-2.800000,0.000000,-10.600000,-1.000000,981.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,8.0,19.400000,2.000000,14.400000,0.000000,1015.300000,60.000000,2.100000,4.000000,8.000000,2017.000000
50%,8.0,23.900000,2.975945,19.400000,0.000000,1018.000000,130.000000,3.100000,7.000000,16.000000,2017.500000
75%,8.0,26.700000,4.000000,22.800000,0.000000,1020.300000,240.000000,4.600000,10.000000,23.000000,2018.000000
max,8.0,35.000000,9.000000,26.700000,597.000000,1036.300000,360.000000,24.200000,12.000000,31.000000,2018.000000

# dew_temperature site_id=9

In [201]:
weather_dew_temp9=cloud_cov_filled[cloud_cov_filled['site_id']==9]

In [202]:
weather_dew_temp9.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17481.0,17481.000000,17481.000000,17314.000000,17418.000000,16921.000000,12080.000000,17228.000000,17481.000000,17481.000000,17481.000000
mean,9.0,21.303994,0.582447,13.460350,0.786026,1016.293263,126.860099,2.194120,6.520966,15.720725,2017.499514
std,0.0,8.618335,1.025296,8.467062,9.112584,6.442762,118.183678,1.509227,3.446490,8.797683,0.500014
min,9.0,-7.800000,0.000000,-16.100000,-1.000000,995.700000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,9.0,15.600000,0.000000,7.800000,0.000000,1012.100000,0.000000,1.500000,4.000000,8.000000,2017.000000
50%,9.0,22.800000,0.582447,16.700000,0.000000,1015.200000,140.000000,2.100000,7.000000,16.000000,2017.000000
75%,9.0,27.200000,0.582447,20.600000,0.000000,1019.900000,190.000000,3.100000,10.000000,23.000000,2018.000000
max,9.0,42.800000,9.000000,25.600000,363.000000,1043.800000,360.000000,9.300000,12.000000,31.000000,2018.000000

In [203]:
weather_dew_temp9_mean=weather_dew_temp9['dew_temperature'].mean()
weather_dew_temp9['dew_temperature'].fillna(weather_dew_temp9_mean,inplace=True)

In [204]:
weather_dew_temp9_mean

13.460350005775943

In [205]:
weather_dew_temp9.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17481.0,17481.000000,17481.000000,17481.000000,17418.000000,16921.000000,12080.000000,17228.000000,17481.000000,17481.000000,17481.000000
mean,9.0,21.303994,0.582447,13.460350,0.786026,1016.293263,126.860099,2.194120,6.520966,15.720725,2017.499514
std,0.0,8.618335,1.025296,8.426519,9.112584,6.442762,118.183678,1.509227,3.446490,8.797683,0.500014
min,9.0,-7.800000,0.000000,-16.100000,-1.000000,995.700000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,9.0,15.600000,0.000000,7.800000,0.000000,1012.100000,0.000000,1.500000,4.000000,8.000000,2017.000000
50%,9.0,22.800000,0.582447,16.700000,0.000000,1015.200000,140.000000,2.100000,7.000000,16.000000,2017.000000
75%,9.0,27.200000,0.582447,20.000000,0.000000,1019.900000,190.000000,3.100000,10.000000,23.000000,2018.000000
max,9.0,42.800000,9.000000,25.600000,363.000000,1043.800000,360.000000,9.300000,12.000000,31.000000,2018.000000

# dew_temperature site_id=10

In [206]:
weather_dew_temp10=cloud_cov_filled[cloud_cov_filled['site_id']==10]

In [207]:
weather_dew_temp10.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17476.0,17476.000000,17476.000000,17468.000000,17438.000000,17123.000000,16430.000000,17384.000000,17476.000000,17476.00000,17476.000000
mean,10.0,11.734274,0.319781,-0.498615,0.301296,1015.426970,183.209373,3.072463,6.518654,15.71046,2017.499714
std,0.0,11.235452,0.961948,5.753791,2.758534,8.250976,102.773241,2.005543,3.444545,8.79012,0.500014
min,10.0,-19.400000,0.000000,-23.900000,-1.000000,988.700000,0.000000,0.000000,1.000000,1.00000,2017.000000
25%,10.0,2.800000,0.000000,-4.400000,0.000000,1009.900000,150.000000,2.100000,4.000000,8.00000,2017.000000
50%,10.0,10.600000,0.000000,-0.600000,0.000000,1014.200000,170.000000,3.100000,7.000000,16.00000,2017.000000
75%,10.0,20.600000,0.319781,3.300000,0.000000,1020.500000,260.000000,4.100000,10.000000,23.00000,2018.000000
max,10.0,38.300000,9.000000,17.200000,102.000000,1050.100000,360.000000,17.000000,12.000000,31.00000,2018.000000

In [208]:
weather_dew_temp10_mean=weather_dew_temp10['dew_temperature'].mean()
weather_dew_temp10['dew_temperature'].fillna(weather_dew_temp10_mean,inplace=True)

In [209]:
weather_dew_temp10_mean

-0.4986146095717872

In [210]:
weather_dew_temp10.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17476.0,17476.000000,17476.000000,17476.000000,17438.000000,17123.000000,16430.000000,17384.000000,17476.000000,17476.00000,17476.000000
mean,10.0,11.734274,0.319781,-0.498615,0.301296,1015.426970,183.209373,3.072463,6.518654,15.71046,2017.499714
std,0.0,11.235452,0.961948,5.752474,2.758534,8.250976,102.773241,2.005543,3.444545,8.79012,0.500014
min,10.0,-19.400000,0.000000,-23.900000,-1.000000,988.700000,0.000000,0.000000,1.000000,1.00000,2017.000000
25%,10.0,2.800000,0.000000,-4.400000,0.000000,1009.900000,150.000000,2.100000,4.000000,8.00000,2017.000000
50%,10.0,10.600000,0.000000,-0.600000,0.000000,1014.200000,170.000000,3.100000,7.000000,16.00000,2017.000000
75%,10.0,20.600000,0.319781,3.300000,0.000000,1020.500000,260.000000,4.100000,10.000000,23.00000,2018.000000
max,10.0,38.300000,9.000000,17.200000,102.000000,1050.100000,360.000000,17.000000,12.000000,31.00000,2018.000000

# dew_temperature site_id=11

In [211]:
weather_dew_temp11=cloud_cov_filled[cloud_cov_filled['site_id']==11]

In [212]:
weather_dew_temp11.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,16573.0,16573.000000,16573.0,16522.000000,1797.000000,16531.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000
mean,11.0,7.407512,0.0,2.106609,11.808013,1015.776287,205.988415,3.362167,6.447113,15.618295,2017.502444
std,0.0,12.211686,0.0,11.626459,21.206073,8.859870,101.454919,1.986871,3.401939,8.889502,0.500009
min,11.0,-28.100000,0.0,-31.600000,2.000000,973.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,11.0,-1.100000,0.0,-6.000000,2.000000,1010.200000,100.000000,2.100000,4.000000,8.000000,2017.000000
50%,11.0,7.700000,0.0,2.550000,5.000000,1015.500000,220.000000,3.100000,6.000000,15.000000,2018.000000
75%,11.0,17.800000,0.0,11.800000,13.000000,1021.400000,290.000000,4.600000,9.000000,23.000000,2018.000000
max,11.0,34.700000,0.0,24.600000,278.000000,1045.000000,360.000000,14.900000,12.000000,31.000000,2018.000000

In [213]:
weather_dew_temp11_mean=weather_dew_temp11['dew_temperature'].mean()
weather_dew_temp11['dew_temperature'].fillna(weather_dew_temp11_mean,inplace=True)

In [214]:
weather_dew_temp11_mean

2.106609369325761

In [215]:
weather_dew_temp11.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,16573.0,16573.000000,16573.0,16573.000000,1797.000000,16531.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000
mean,11.0,7.407512,0.0,2.106609,11.808013,1015.776287,205.988415,3.362167,6.447113,15.618295,2017.502444
std,0.0,12.211686,0.0,11.608555,21.206073,8.859870,101.454919,1.986871,3.401939,8.889502,0.500009
min,11.0,-28.100000,0.0,-31.600000,2.000000,973.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,11.0,-1.100000,0.0,-6.000000,2.000000,1010.200000,100.000000,2.100000,4.000000,8.000000,2017.000000
50%,11.0,7.700000,0.0,2.400000,5.000000,1015.500000,220.000000,3.100000,6.000000,15.000000,2018.000000
75%,11.0,17.800000,0.0,11.800000,13.000000,1021.400000,290.000000,4.600000,9.000000,23.000000,2018.000000
max,11.0,34.700000,0.0,24.600000,278.000000,1045.000000,360.000000,14.900000,12.000000,31.000000,2018.000000

# dew_temperature site_id=12

In [216]:
weather_dew_temp12=cloud_cov_filled[cloud_cov_filled['site_id']==12]

In [217]:
weather_dew_temp12.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17279.0,17279.000000,17279.000000,17279.000000,0.0,17250.000000,17276.000000,17279.000000,17279.000000,17279.000000,17279.000000
mean,12.0,10.017796,5.645881,6.781289,NaN,1013.811542,209.343019,5.485092,6.477285,15.673997,2017.493605
std,0.0,5.186032,2.274425,4.500680,NaN,11.657465,80.136152,2.682558,3.441715,8.838032,0.499974
min,12.0,-4.800000,0.000000,-8.600000,NaN,973.700000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,12.0,6.400000,4.000000,3.500000,NaN,1006.700000,150.000000,4.000000,4.000000,8.000000,2017.000000
50%,12.0,10.100000,7.000000,7.100000,NaN,1015.200000,230.000000,5.000000,6.000000,16.000000,2017.000000
75%,12.0,13.700000,7.000000,10.000000,NaN,1021.800000,260.000000,7.000000,9.000000,23.000000,2018.000000
max,12.0,26.300000,9.000000,18.800000,NaN,1041.500000,360.000000,23.000000,12.000000,31.000000,2018.000000

# dew_temperature site_id=13

In [218]:
weather_dew_temp13=cloud_cov_filled[cloud_cov_filled['site_id']==13]

In [219]:
weather_dew_temp13.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17519.0,17519.000000,17519.000000,17517.000000,16976.000000,17315.000000,17063.000000,17517.000000,17519.000000,17519.000000,17519.000000
mean,13.0,8.732608,2.730284,2.553845,0.771854,1016.692966,186.965364,4.069772,6.525829,15.719904,2017.500029
std,0.0,12.879347,1.954418,11.840325,7.224412,8.336763,110.916586,2.243461,3.447948,8.796336,0.500014
min,13.0,-26.100000,0.000000,-30.000000,-1.000000,987.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,13.0,-1.100000,2.000000,-6.000000,0.000000,1011.400000,100.000000,2.600000,4.000000,8.000000,2017.000000
50%,13.0,8.900000,2.730284,2.200000,0.000000,1016.200000,180.000000,3.600000,7.000000,16.000000,2018.000000
75%,13.0,20.000000,2.730284,13.300000,0.000000,1021.300000,290.000000,5.700000,10.000000,23.000000,2018.000000
max,13.0,37.800000,9.000000,25.600000,434.000000,1046.500000,360.000000,17.000000,12.000000,31.000000,2018.000000

In [220]:
weather_dew_temp13_mean=weather_dew_temp13['dew_temperature'].mean()
weather_dew_temp13['dew_temperature'].fillna(weather_dew_temp13_mean,inplace=True)

In [221]:
weather_dew_temp13_mean

2.5538448364445876

In [222]:
weather_dew_temp13.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17519.0,17519.000000,17519.000000,17519.000000,16976.000000,17315.000000,17063.000000,17517.000000,17519.000000,17519.000000,17519.000000
mean,13.0,8.732608,2.730284,2.553845,0.771854,1016.692966,186.965364,4.069772,6.525829,15.719904,2017.500029
std,0.0,12.879347,1.954418,11.839649,7.224412,8.336763,110.916586,2.243461,3.447948,8.796336,0.500014
min,13.0,-26.100000,0.000000,-30.000000,-1.000000,987.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,13.0,-1.100000,2.000000,-5.800000,0.000000,1011.400000,100.000000,2.600000,4.000000,8.000000,2017.000000
50%,13.0,8.900000,2.730284,2.200000,0.000000,1016.200000,180.000000,3.600000,7.000000,16.000000,2018.000000
75%,13.0,20.000000,2.730284,13.300000,0.000000,1021.300000,290.000000,5.700000,10.000000,23.000000,2018.000000
max,13.0,37.800000,9.000000,25.600000,434.000000,1046.500000,360.000000,17.000000,12.000000,31.000000,2018.000000

# dew_temperature site_id=14

In [223]:
weather_dew_temp14=cloud_cov_filled[cloud_cov_filled['site_id']==14]

In [224]:
weather_dew_temp14.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17516.0,17516.000000,17516.000000,17514.000000,17417.000000,17271.000000,17038.000000,17488.000000,17516.000000,17516.000000,17516.000000
mean,14.0,13.035115,0.724156,6.831649,1.179078,1016.724179,183.196971,3.112992,6.526433,15.721226,2017.499943
std,0.0,10.241496,1.299246,10.972047,9.083660,7.906935,121.264096,2.068353,3.447769,8.795516,0.500014
min,14.0,-17.200000,0.000000,-26.100000,-1.000000,982.600000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,14.0,5.000000,0.000000,-2.200000,0.000000,1012.000000,70.000000,1.500000,4.000000,8.000000,2017.000000
50%,14.0,13.300000,0.724156,7.800000,0.000000,1016.600000,210.000000,3.100000,7.000000,16.000000,2017.000000
75%,14.0,21.700000,0.724156,16.700000,0.000000,1021.500000,290.000000,4.100000,10.000000,23.000000,2018.000000
max,14.0,35.600000,9.000000,25.600000,394.000000,1043.400000,360.000000,13.400000,12.000000,31.000000,2018.000000

In [225]:
weather_dew_temp14_mean=weather_dew_temp14['dew_temperature'].mean()
weather_dew_temp14['dew_temperature'].fillna(weather_dew_temp14_mean,inplace=True)

In [226]:
weather_dew_temp14_mean

6.831648966541095

In [227]:
weather_dew_temp14.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17516.0,17516.000000,17516.000000,17516.000000,17417.000000,17271.000000,17038.000000,17488.000000,17516.000000,17516.000000,17516.000000
mean,14.0,13.035115,0.724156,6.831649,1.179078,1016.724179,183.196971,3.112992,6.526433,15.721226,2017.499943
std,0.0,10.241496,1.299246,10.971421,9.083660,7.906935,121.264096,2.068353,3.447769,8.795516,0.500014
min,14.0,-17.200000,0.000000,-26.100000,-1.000000,982.600000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,14.0,5.000000,0.000000,-2.200000,0.000000,1012.000000,70.000000,1.500000,4.000000,8.000000,2017.000000
50%,14.0,13.300000,0.724156,7.800000,0.000000,1016.600000,210.000000,3.100000,7.000000,16.000000,2017.000000
75%,14.0,21.700000,0.724156,16.700000,0.000000,1021.500000,290.000000,4.100000,10.000000,23.000000,2018.000000
max,14.0,35.600000,9.000000,25.600000,394.000000,1043.400000,360.000000,13.400000,12.000000,31.000000,2018.000000

# dew_temperature site_id=15

In [228]:
weather_dew_temp15=cloud_cov_filled[cloud_cov_filled['site_id']==15]

In [229]:
weather_dew_temp15.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17201.0,17201.000000,17201.000000,17190.000000,4166.000000,16252.000000,16770.000000,17189.000000,17201.000000,17201.000000,17201.000000
mean,15.0,8.942191,1.082078,4.695881,3.335574,1017.295521,186.709004,3.606830,6.503168,15.677402,2017.504680
std,0.0,10.804599,1.126459,10.526966,13.464772,7.868558,108.718203,2.357661,3.440644,8.815192,0.499993
min,15.0,-21.700000,0.000000,-23.900000,-1.000000,984.500000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,15.0,0.600000,0.000000,-3.900000,-1.000000,1012.500000,110.000000,2.100000,4.000000,8.000000,2017.000000
50%,15.0,9.000000,1.082078,5.600000,-1.000000,1017.300000,170.000000,3.100000,7.000000,16.000000,2018.000000
75%,15.0,17.800000,1.082078,13.900000,3.000000,1022.400000,290.000000,5.100000,9.000000,23.000000,2018.000000
max,15.0,34.400000,9.000000,23.900000,442.000000,1044.600000,360.000000,14.900000,12.000000,31.000000,2018.000000

In [230]:
weather_dew_temp15_mean=weather_dew_temp15['dew_temperature'].mean()
weather_dew_temp15['dew_temperature'].fillna(weather_dew_temp15_mean,inplace=True)

In [231]:
weather_dew_temp15_mean

4.6958813263525165

In [232]:
weather_dew_temp15.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17201.0,17201.000000,17201.000000,17201.000000,4166.000000,16252.000000,16770.000000,17189.000000,17201.000000,17201.000000,17201.000000
mean,15.0,8.942191,1.082078,4.695881,3.335574,1017.295521,186.709004,3.606830,6.503168,15.677402,2017.504680
std,0.0,10.804599,1.126459,10.523600,13.464772,7.868558,108.718203,2.357661,3.440644,8.815192,0.499993
min,15.0,-21.700000,0.000000,-23.900000,-1.000000,984.500000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,15.0,0.600000,0.000000,-3.900000,-1.000000,1012.500000,110.000000,2.100000,4.000000,8.000000,2017.000000
50%,15.0,9.000000,1.082078,5.600000,-1.000000,1017.300000,170.000000,3.100000,7.000000,16.000000,2018.000000
75%,15.0,17.800000,1.082078,13.900000,3.000000,1022.400000,290.000000,5.100000,9.000000,23.000000,2018.000000
max,15.0,34.400000,9.000000,23.900000,442.000000,1044.600000,360.000000,14.900000,12.000000,31.000000,2018.000000

# Merging the above cells to create dew_temperature_filled

In [233]:
dew_temperature_filled = pd.concat([weather_dew_temp0,weather_dew_temp1,weather_dew_temp2,
                           weather_dew_temp3,weather_dew_temp4,weather_dew_temp5,
                           weather_dew_temp6,weather_dew_temp7,weather_dew_temp8,
                           weather_dew_temp9,weather_dew_temp10,weather_dew_temp11,
                           weather_dew_temp12,weather_dew_temp13,weather_dew_temp14,
                           weather_dew_temp15], axis=0)

In [234]:
dew_temperature_filled.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,277243.000000,277243.000000,277243.000000,277243.000000,181655.000000,255978.000000,264873.000000,276783.000000,277243.000000,277243.00000,277243.000000
mean,7.484654,14.277772,1.660489,7.488916,1.095395,1016.195762,180.426023,3.548873,6.505362,15.69658,2017.499266
std,4.616959,10.740123,2.118598,10.149690,9.163511,7.940392,110.456872,2.317184,3.440583,8.81615,0.500000
min,0.000000,-28.100000,0.000000,-31.600000,-1.000000,972.000000,0.000000,0.000000,1.000000,1.00000,2017.000000
25%,3.000000,7.200000,0.000000,0.600000,0.000000,1011.600000,80.000000,2.100000,4.000000,8.00000,2017.000000
50%,7.000000,15.000000,0.698623,8.400000,0.000000,1016.300000,190.000000,3.100000,7.000000,16.00000,2017.000000
75%,12.000000,22.200000,2.730284,15.000000,0.000000,1020.800000,280.000000,4.600000,9.000000,23.00000,2018.000000
max,15.000000,48.300000,9.000000,26.700000,597.000000,1050.100000,360.000000,24.200000,12.000000,31.00000,2018.000000

taking the dew_temperature_filled, fill in the other missing columns

# precip_depth_1_hr site_id=0

In [235]:
weather_precip0=dew_temperature_filled[dew_temperature_filled['site_id']==0]

In [236]:
weather_precip0.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17490.000000,17211.000000,17043.000000,17518.000000,17520.000000,17520.000000,17520.000000
mean,0.0,22.699104,2.975945,17.660725,1.169297,1017.929754,150.531597,3.399675,6.526027,15.720548,2017.500000
std,0.0,5.822209,1.598494,6.664774,12.591829,4.568609,113.980426,2.190697,3.447950,8.796498,0.500014
min,0.0,-2.800000,0.000000,-10.600000,-1.000000,981.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,0.0,19.400000,2.000000,14.400000,0.000000,1015.300000,60.000000,2.100000,4.000000,8.000000,2017.000000
50%,0.0,23.900000,2.975945,19.400000,0.000000,1018.000000,130.000000,3.100000,7.000000,16.000000,2017.500000
75%,0.0,26.700000,4.000000,22.800000,0.000000,1020.300000,240.000000,4.600000,10.000000,23.000000,2018.000000
max,0.0,35.000000,9.000000,26.700000,597.000000,1036.300000,360.000000,24.200000,12.000000,31.000000,2018.000000

In [237]:
weather_precip0_mean=weather_precip0['precip_depth_1_hr'].mean()
weather_precip0['precip_depth_1_hr'].fillna(weather_precip0_mean,inplace=True)

In [238]:
weather_precip0_mean

1.1692967409948543

In [239]:
weather_precip0.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17520.000000,17211.000000,17043.000000,17518.000000,17520.000000,17520.000000,17520.000000
mean,0.0,22.699104,2.975945,17.660725,1.169297,1017.929754,150.531597,3.399675,6.526027,15.720548,2017.500000
std,0.0,5.822209,1.598494,6.664774,12.581043,4.568609,113.980426,2.190697,3.447950,8.796498,0.500014
min,0.0,-2.800000,0.000000,-10.600000,-1.000000,981.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,0.0,19.400000,2.000000,14.400000,0.000000,1015.300000,60.000000,2.100000,4.000000,8.000000,2017.000000
50%,0.0,23.900000,2.975945,19.400000,0.000000,1018.000000,130.000000,3.100000,7.000000,16.000000,2017.500000
75%,0.0,26.700000,4.000000,22.800000,0.000000,1020.300000,240.000000,4.600000,10.000000,23.000000,2018.000000
max,0.0,35.000000,9.000000,26.700000,597.000000,1036.300000,360.000000,24.200000,12.000000,31.000000,2018.000000

# precip_depth_1_hr site_id=1

In [240]:
weather_precip1=dew_temperature_filled[dew_temperature_filled['site_id']==1]

In [241]:
weather_precip1.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17287.0,17287.000000,17287.000000,17287.000000,0.0,17222.000000,17282.000000,17287.000000,17287.000000,17287.000000,17287.000000
mean,1.0,12.169638,0.047316,7.543412,NaN,1015.639450,198.876866,4.037467,6.478105,15.677793,2017.493666
std,0.0,6.478613,0.297596,4.959083,NaN,10.121707,94.319322,2.137726,3.441478,8.838987,0.499974
min,1.0,-5.000000,0.000000,-9.600000,NaN,972.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,1.0,7.500000,0.047316,4.100000,NaN,1010.100000,130.000000,2.600000,4.000000,8.000000,2017.000000
50%,1.0,11.800000,0.047316,8.000000,NaN,1016.700000,220.000000,3.600000,6.000000,16.000000,2017.000000
75%,1.0,16.600000,0.047316,11.300000,NaN,1022.400000,270.000000,5.100000,9.000000,23.000000,2018.000000
max,1.0,34.400000,9.000000,19.900000,NaN,1039.600000,360.000000,18.500000,12.000000,31.000000,2018.000000

In [242]:
weather_precip1['precip_depth_1_hr'].fillna(0,inplace=True)

In [243]:
weather_precip1.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17287.0,17287.000000,17287.000000,17287.000000,17287.0,17222.000000,17282.000000,17287.000000,17287.000000,17287.000000,17287.000000
mean,1.0,12.169638,0.047316,7.543412,0.0,1015.639450,198.876866,4.037467,6.478105,15.677793,2017.493666
std,0.0,6.478613,0.297596,4.959083,0.0,10.121707,94.319322,2.137726,3.441478,8.838987,0.499974
min,1.0,-5.000000,0.000000,-9.600000,0.0,972.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,1.0,7.500000,0.047316,4.100000,0.0,1010.100000,130.000000,2.600000,4.000000,8.000000,2017.000000
50%,1.0,11.800000,0.047316,8.000000,0.0,1016.700000,220.000000,3.600000,6.000000,16.000000,2017.000000
75%,1.0,16.600000,0.047316,11.300000,0.0,1022.400000,270.000000,5.100000,9.000000,23.000000,2018.000000
max,1.0,34.400000,9.000000,19.900000,0.0,1039.600000,360.000000,18.500000,12.000000,31.000000,2018.000000

# precip_depth_1_hr site_id=2

In [244]:
weather_precip2=dew_temperature_filled[dew_temperature_filled['site_id']==2]

In [245]:
weather_precip2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17499.000000,17487.000000,16327.000000,17511.000000,17520.000000,17520.000000,17520.000000
mean,2.0,24.975422,2.150393,3.817747,0.154123,1011.315251,154.057083,2.883268,6.526027,15.720548,2017.500000
std,0.0,9.317476,1.603817,8.326501,3.162019,5.313266,103.832849,1.919632,3.447950,8.796498,0.500014
min,2.0,2.200000,0.000000,-22.200000,-1.000000,996.100000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,2.0,17.200000,2.000000,-2.200000,0.000000,1007.400000,80.000000,1.500000,4.000000,8.000000,2017.000000
50%,2.0,25.000000,2.150393,2.800000,0.000000,1010.600000,130.000000,2.600000,7.000000,16.000000,2017.500000
75%,2.0,32.350000,2.150393,9.400000,0.000000,1014.800000,250.000000,3.600000,10.000000,23.000000,2018.000000
max,2.0,48.300000,8.000000,24.400000,234.000000,1032.200000,360.000000,21.100000,12.000000,31.000000,2018.000000

In [246]:
weather_precip2_mean=weather_precip2['precip_depth_1_hr'].mean()
weather_precip2['precip_depth_1_hr'].fillna(weather_precip2_mean,inplace=True)

In [247]:
weather_precip2_mean

0.15412309274815703

In [248]:
weather_precip2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17520.000000,17487.000000,16327.000000,17511.000000,17520.000000,17520.000000,17520.000000
mean,2.0,24.975422,2.150393,3.817747,0.154123,1011.315251,154.057083,2.883268,6.526027,15.720548,2017.500000
std,0.0,9.317476,1.603817,8.326501,3.160123,5.313266,103.832849,1.919632,3.447950,8.796498,0.500014
min,2.0,2.200000,0.000000,-22.200000,-1.000000,996.100000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,2.0,17.200000,2.000000,-2.200000,0.000000,1007.400000,80.000000,1.500000,4.000000,8.000000,2017.000000
50%,2.0,25.000000,2.150393,2.800000,0.000000,1010.600000,130.000000,2.600000,7.000000,16.000000,2017.500000
75%,2.0,32.350000,2.150393,9.400000,0.000000,1014.800000,250.000000,3.600000,10.000000,23.000000,2018.000000
max,2.0,48.300000,8.000000,24.400000,234.000000,1032.200000,360.000000,21.100000,12.000000,31.000000,2018.000000

# precip_depth_1_hr site_id=3

In [249]:
weather_precip3=dew_temperature_filled[dew_temperature_filled['site_id']==3]

In [250]:
weather_precip3.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17517.0,17517.000000,17517.000000,17517.000000,17473.000000,17141.000000,17265.000000,17509.000000,17517.000000,17517.000000,17517.000000
mean,3.0,15.493468,4.185599,8.365588,0.998111,1018.109089,183.912540,3.902696,6.526403,15.720843,2017.499971
std,0.0,9.853229,2.039558,10.981546,8.201430,7.538896,111.656426,2.253526,3.447723,8.796502,0.500014
min,3.0,-12.800000,0.000000,-22.200000,-1.000000,988.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,3.0,7.200000,4.000000,0.000000,0.000000,1013.400000,80.000000,2.600000,4.000000,8.000000,2017.000000
50%,3.0,16.100000,4.185599,10.000000,0.000000,1017.800000,190.000000,3.600000,7.000000,16.000000,2017.000000
75%,3.0,23.900000,4.185599,18.300000,0.000000,1022.600000,290.000000,5.100000,10.000000,23.000000,2018.000000
max,3.0,36.100000,9.000000,26.700000,345.000000,1043.700000,360.000000,19.600000,12.000000,31.000000,2018.000000

In [251]:
weather_precip3_mean=weather_precip3['precip_depth_1_hr'].mean()
weather_precip3['precip_depth_1_hr'].fillna(weather_precip3_mean,inplace=True)

In [252]:
weather_precip3_mean

0.9981113718308247

In [253]:
weather_precip3.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17517.0,17517.000000,17517.000000,17517.000000,17517.000000,17141.000000,17265.000000,17509.000000,17517.000000,17517.000000,17517.000000
mean,3.0,15.493468,4.185599,8.365588,0.998111,1018.109089,183.912540,3.902696,6.526403,15.720843,2017.499971
std,0.0,9.853229,2.039558,10.981546,8.191122,7.538896,111.656426,2.253526,3.447723,8.796502,0.500014
min,3.0,-12.800000,0.000000,-22.200000,-1.000000,988.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,3.0,7.200000,4.000000,0.000000,0.000000,1013.400000,80.000000,2.600000,4.000000,8.000000,2017.000000
50%,3.0,16.100000,4.185599,10.000000,0.000000,1017.800000,190.000000,3.600000,7.000000,16.000000,2017.000000
75%,3.0,23.900000,4.185599,18.300000,0.000000,1022.600000,290.000000,5.100000,10.000000,23.000000,2018.000000
max,3.0,36.100000,9.000000,26.700000,345.000000,1043.700000,360.000000,19.600000,12.000000,31.000000,2018.000000

# precip_depth_1_hr site_id=4

In [254]:
weather_precip4=dew_temperature_filled[dew_temperature_filled['site_id']==4]

In [255]:
weather_precip4.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17516.0,17516.000000,17516.000000,17516.000000,17234.00000,17397.000000,17312.000000,17516.000000,17516.000000,17516.000000,17516.000000
mean,4.0,14.469131,1.833333,9.804140,0.52321,1016.752308,204.333988,3.753751,6.527004,15.721569,2017.499943
std,0.0,4.333985,1.023824,4.107101,4.01553,4.868175,112.510366,2.539411,3.447583,8.795293,0.500014
min,4.0,0.000000,0.000000,-12.200000,-1.00000,987.300000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,4.0,11.700000,1.833333,7.800000,0.00000,1013.600000,120.000000,2.100000,4.000000,8.000000,2017.000000
50%,4.0,14.400000,1.833333,10.600000,0.00000,1016.200000,260.000000,3.600000,7.000000,16.000000,2017.000000
75%,4.0,17.200000,2.000000,12.800000,0.00000,1019.700000,290.000000,5.700000,10.000000,23.000000,2018.000000
max,4.0,38.300000,9.000000,19.400000,130.00000,1035.900000,360.000000,18.000000,12.000000,31.000000,2018.000000

In [256]:
weather_precip4_mean=weather_precip4['precip_depth_1_hr'].mean()
weather_precip4['precip_depth_1_hr'].fillna(weather_precip4_mean,inplace=True)

In [257]:
weather_precip4_mean

0.5232099338516886

In [258]:
weather_precip4.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17516.0,17516.000000,17516.000000,17516.000000,17516.000000,17397.000000,17312.000000,17516.000000,17516.000000,17516.000000,17516.000000
mean,4.0,14.469131,1.833333,9.804140,0.523210,1016.752308,204.333988,3.753751,6.527004,15.721569,2017.499943
std,0.0,4.333985,1.023824,4.107101,3.983073,4.868175,112.510366,2.539411,3.447583,8.795293,0.500014
min,4.0,0.000000,0.000000,-12.200000,-1.000000,987.300000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,4.0,11.700000,1.833333,7.800000,0.000000,1013.600000,120.000000,2.100000,4.000000,8.000000,2017.000000
50%,4.0,14.400000,1.833333,10.600000,0.000000,1016.200000,260.000000,3.600000,7.000000,16.000000,2017.000000
75%,4.0,17.200000,2.000000,12.800000,0.000000,1019.700000,290.000000,5.700000,10.000000,23.000000,2018.000000
max,4.0,38.300000,9.000000,19.400000,130.000000,1035.900000,360.000000,18.000000,12.000000,31.000000,2018.000000

# precip_depth_1_hr site_id=5

In [259]:
weather_precip5=dew_temperature_filled[dew_temperature_filled['site_id']==5]

In [260]:
weather_precip5.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17241.0,17241.000000,17241.000000,17241.000000,0.0,0.0,16706.000000,17240.000000,17241.000000,17241.000000,17241.000000
mean,5.0,11.155443,0.433514,8.433527,NaN,NaN,209.924578,4.886265,6.476712,15.671481,2017.492779
std,0.0,5.379051,1.126972,4.831054,NaN,NaN,96.446130,2.430906,3.443165,8.840365,0.499962
min,5.0,-6.000000,0.000000,-13.000000,NaN,NaN,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,5.0,7.000000,0.000000,5.000000,NaN,NaN,120.000000,3.100000,3.000000,8.000000,2017.000000
50%,5.0,11.000000,0.433514,9.000000,NaN,NaN,250.000000,4.600000,6.000000,16.000000,2017.000000
75%,5.0,15.000000,0.433514,12.000000,NaN,NaN,290.000000,6.200000,9.000000,23.000000,2018.000000
max,5.0,30.000000,9.000000,20.000000,NaN,NaN,360.000000,16.500000,12.000000,31.000000,2018.000000

In [261]:
weather_precip5['precip_depth_1_hr'].fillna(0,inplace=True)

In [262]:
weather_precip5.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17241.0,17241.000000,17241.000000,17241.000000,17241.0,0.0,16706.000000,17240.000000,17241.000000,17241.000000,17241.000000
mean,5.0,11.155443,0.433514,8.433527,0.0,NaN,209.924578,4.886265,6.476712,15.671481,2017.492779
std,0.0,5.379051,1.126972,4.831054,0.0,NaN,96.446130,2.430906,3.443165,8.840365,0.499962
min,5.0,-6.000000,0.000000,-13.000000,0.0,NaN,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,5.0,7.000000,0.000000,5.000000,0.0,NaN,120.000000,3.100000,3.000000,8.000000,2017.000000
50%,5.0,11.000000,0.433514,9.000000,0.0,NaN,250.000000,4.600000,6.000000,16.000000,2017.000000
75%,5.0,15.000000,0.433514,12.000000,0.0,NaN,290.000000,6.200000,9.000000,23.000000,2018.000000
max,5.0,30.000000,9.000000,20.000000,0.0,NaN,360.000000,16.500000,12.000000,31.000000,2018.000000

# precip_depth_1_hr site_id=6

In [263]:
weather_precip6=dew_temperature_filled[dew_temperature_filled['site_id']==6]

In [264]:
weather_precip6.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17504.0,17504.000000,17504.000000,17504.000000,17460.000000,17115.000000,16092.000000,17453.000000,17504.000000,17504.000000,17504.000000
mean,6.0,15.235606,0.698623,7.866326,1.146048,1017.578311,127.857942,2.256947,6.525480,15.722006,2017.499714
std,0.0,9.761678,1.309143,11.178351,8.753053,7.296018,118.807925,1.895758,3.447624,8.796438,0.500014
min,6.0,-16.100000,0.000000,-23.900000,-1.000000,986.800000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,6.0,7.200000,0.000000,-1.100000,0.000000,1013.100000,0.000000,0.000000,4.000000,8.000000,2017.000000
50%,6.0,16.100000,0.000000,10.000000,0.000000,1017.400000,140.000000,2.100000,7.000000,16.000000,2017.000000
75%,6.0,23.300000,0.698623,17.800000,0.000000,1021.900000,210.000000,3.600000,10.000000,23.000000,2018.000000
max,6.0,36.700000,9.000000,26.100000,287.000000,1042.700000,360.000000,15.400000,12.000000,31.000000,2018.000000

In [265]:
weather_precip6_mean=weather_precip6['precip_depth_1_hr'].mean()
weather_precip6['precip_depth_1_hr'].fillna(weather_precip6_mean,inplace=True)

In [266]:
weather_precip6_mean

1.1460481099656357

In [267]:
weather_precip6.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17504.0,17504.000000,17504.000000,17504.000000,17504.000000,17115.000000,16092.000000,17453.000000,17504.000000,17504.000000,17504.000000
mean,6.0,15.235606,0.698623,7.866326,1.146048,1017.578311,127.857942,2.256947,6.525480,15.722006,2017.499714
std,0.0,9.761678,1.309143,11.178351,8.742044,7.296018,118.807925,1.895758,3.447624,8.796438,0.500014
min,6.0,-16.100000,0.000000,-23.900000,-1.000000,986.800000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,6.0,7.200000,0.000000,-1.100000,0.000000,1013.100000,0.000000,0.000000,4.000000,8.000000,2017.000000
50%,6.0,16.100000,0.000000,10.000000,0.000000,1017.400000,140.000000,2.100000,7.000000,16.000000,2017.000000
75%,6.0,23.300000,0.698623,17.800000,0.000000,1021.900000,210.000000,3.600000,10.000000,23.000000,2018.000000
max,6.0,36.700000,9.000000,26.100000,287.000000,1042.700000,360.000000,15.400000,12.000000,31.000000,2018.000000

# precip_depth_1_hr site_id=7

In [268]:
weather_precip7=dew_temperature_filled[dew_temperature_filled['site_id']==7]

In [269]:
weather_precip7.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,16573.0,16573.000000,16573.0,16573.000000,1797.000000,16531.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000
mean,7.0,7.407512,0.0,2.106609,11.808013,1015.776287,205.988415,3.362167,6.447113,15.618295,2017.502444
std,0.0,12.211686,0.0,11.608555,21.206073,8.859870,101.454919,1.986871,3.401939,8.889502,0.500009
min,7.0,-28.100000,0.0,-31.600000,2.000000,973.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,7.0,-1.100000,0.0,-6.000000,2.000000,1010.200000,100.000000,2.100000,4.000000,8.000000,2017.000000
50%,7.0,7.700000,0.0,2.400000,5.000000,1015.500000,220.000000,3.100000,6.000000,15.000000,2018.000000
75%,7.0,17.800000,0.0,11.800000,13.000000,1021.400000,290.000000,4.600000,9.000000,23.000000,2018.000000
max,7.0,34.700000,0.0,24.600000,278.000000,1045.000000,360.000000,14.900000,12.000000,31.000000,2018.000000

In [270]:
weather_precip7_mean=weather_precip7['precip_depth_1_hr'].mean()
weather_precip7['precip_depth_1_hr'].fillna(weather_precip7_mean,inplace=True)

In [271]:
weather_precip7_mean

11.808013355592655

In [272]:
weather_precip7.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,16573.0,16573.000000,16573.0,16573.000000,16573.000000,16531.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000
mean,7.0,7.407512,0.0,2.106609,11.808013,1015.776287,205.988415,3.362167,6.447113,15.618295,2017.502444
std,0.0,12.211686,0.0,11.608555,6.981134,8.859870,101.454919,1.986871,3.401939,8.889502,0.500009
min,7.0,-28.100000,0.0,-31.600000,2.000000,973.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,7.0,-1.100000,0.0,-6.000000,11.808013,1010.200000,100.000000,2.100000,4.000000,8.000000,2017.000000
50%,7.0,7.700000,0.0,2.400000,11.808013,1015.500000,220.000000,3.100000,6.000000,15.000000,2018.000000
75%,7.0,17.800000,0.0,11.800000,11.808013,1021.400000,290.000000,4.600000,9.000000,23.000000,2018.000000
max,7.0,34.700000,0.0,24.600000,278.000000,1045.000000,360.000000,14.900000,12.000000,31.000000,2018.000000

# precip_depth_1_hr site_id=8

In [273]:
weather_precip8=dew_temperature_filled[dew_temperature_filled['site_id']==8]

In [274]:
weather_precip8.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17490.000000,17211.000000,17043.000000,17518.000000,17520.000000,17520.000000,17520.000000
mean,8.0,22.699104,2.975945,17.660725,1.169297,1017.929754,150.531597,3.399675,6.526027,15.720548,2017.500000
std,0.0,5.822209,1.598494,6.664774,12.591829,4.568609,113.980426,2.190697,3.447950,8.796498,0.500014
min,8.0,-2.800000,0.000000,-10.600000,-1.000000,981.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,8.0,19.400000,2.000000,14.400000,0.000000,1015.300000,60.000000,2.100000,4.000000,8.000000,2017.000000
50%,8.0,23.900000,2.975945,19.400000,0.000000,1018.000000,130.000000,3.100000,7.000000,16.000000,2017.500000
75%,8.0,26.700000,4.000000,22.800000,0.000000,1020.300000,240.000000,4.600000,10.000000,23.000000,2018.000000
max,8.0,35.000000,9.000000,26.700000,597.000000,1036.300000,360.000000,24.200000,12.000000,31.000000,2018.000000

In [275]:
weather_precip8_mean=weather_precip8['precip_depth_1_hr'].mean()
weather_precip8['precip_depth_1_hr'].fillna(weather_precip8_mean,inplace=True)

In [276]:
weather_precip8_mean

1.1692967409948543

In [277]:
weather_precip8.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17520.000000,17211.000000,17043.000000,17518.000000,17520.000000,17520.000000,17520.000000
mean,8.0,22.699104,2.975945,17.660725,1.169297,1017.929754,150.531597,3.399675,6.526027,15.720548,2017.500000
std,0.0,5.822209,1.598494,6.664774,12.581043,4.568609,113.980426,2.190697,3.447950,8.796498,0.500014
min,8.0,-2.800000,0.000000,-10.600000,-1.000000,981.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,8.0,19.400000,2.000000,14.400000,0.000000,1015.300000,60.000000,2.100000,4.000000,8.000000,2017.000000
50%,8.0,23.900000,2.975945,19.400000,0.000000,1018.000000,130.000000,3.100000,7.000000,16.000000,2017.500000
75%,8.0,26.700000,4.000000,22.800000,0.000000,1020.300000,240.000000,4.600000,10.000000,23.000000,2018.000000
max,8.0,35.000000,9.000000,26.700000,597.000000,1036.300000,360.000000,24.200000,12.000000,31.000000,2018.000000

# precip_depth_1_hr site_id=9

In [278]:
weather_precip9=dew_temperature_filled[dew_temperature_filled['site_id']==9]

In [279]:
weather_precip9.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17481.0,17481.000000,17481.000000,17481.000000,17418.000000,16921.000000,12080.000000,17228.000000,17481.000000,17481.000000,17481.000000
mean,9.0,21.303994,0.582447,13.460350,0.786026,1016.293263,126.860099,2.194120,6.520966,15.720725,2017.499514
std,0.0,8.618335,1.025296,8.426519,9.112584,6.442762,118.183678,1.509227,3.446490,8.797683,0.500014
min,9.0,-7.800000,0.000000,-16.100000,-1.000000,995.700000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,9.0,15.600000,0.000000,7.800000,0.000000,1012.100000,0.000000,1.500000,4.000000,8.000000,2017.000000
50%,9.0,22.800000,0.582447,16.700000,0.000000,1015.200000,140.000000,2.100000,7.000000,16.000000,2017.000000
75%,9.0,27.200000,0.582447,20.000000,0.000000,1019.900000,190.000000,3.100000,10.000000,23.000000,2018.000000
max,9.0,42.800000,9.000000,25.600000,363.000000,1043.800000,360.000000,9.300000,12.000000,31.000000,2018.000000

In [280]:
weather_precip9_mean=weather_precip9['precip_depth_1_hr'].mean()
weather_precip9['precip_depth_1_hr'].fillna(weather_precip9_mean,inplace=True)

In [281]:
weather_precip9_mean

0.7860259501664945

In [282]:
weather_precip9.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17481.0,17481.000000,17481.000000,17481.000000,17481.000000,16921.000000,12080.000000,17228.000000,17481.000000,17481.000000,17481.000000
mean,9.0,21.303994,0.582447,13.460350,0.786026,1016.293263,126.860099,2.194120,6.520966,15.720725,2017.499514
std,0.0,8.618335,1.025296,8.426519,9.096148,6.442762,118.183678,1.509227,3.446490,8.797683,0.500014
min,9.0,-7.800000,0.000000,-16.100000,-1.000000,995.700000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,9.0,15.600000,0.000000,7.800000,0.000000,1012.100000,0.000000,1.500000,4.000000,8.000000,2017.000000
50%,9.0,22.800000,0.582447,16.700000,0.000000,1015.200000,140.000000,2.100000,7.000000,16.000000,2017.000000
75%,9.0,27.200000,0.582447,20.000000,0.000000,1019.900000,190.000000,3.100000,10.000000,23.000000,2018.000000
max,9.0,42.800000,9.000000,25.600000,363.000000,1043.800000,360.000000,9.300000,12.000000,31.000000,2018.000000

# precip_depth_1_hr site_id=10

In [283]:
weather_precip10=dew_temperature_filled[dew_temperature_filled['site_id']==10]

In [284]:
weather_precip10.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17476.0,17476.000000,17476.000000,17476.000000,17438.000000,17123.000000,16430.000000,17384.000000,17476.000000,17476.00000,17476.000000
mean,10.0,11.734274,0.319781,-0.498615,0.301296,1015.426970,183.209373,3.072463,6.518654,15.71046,2017.499714
std,0.0,11.235452,0.961948,5.752474,2.758534,8.250976,102.773241,2.005543,3.444545,8.79012,0.500014
min,10.0,-19.400000,0.000000,-23.900000,-1.000000,988.700000,0.000000,0.000000,1.000000,1.00000,2017.000000
25%,10.0,2.800000,0.000000,-4.400000,0.000000,1009.900000,150.000000,2.100000,4.000000,8.00000,2017.000000
50%,10.0,10.600000,0.000000,-0.600000,0.000000,1014.200000,170.000000,3.100000,7.000000,16.00000,2017.000000
75%,10.0,20.600000,0.319781,3.300000,0.000000,1020.500000,260.000000,4.100000,10.000000,23.00000,2018.000000
max,10.0,38.300000,9.000000,17.200000,102.000000,1050.100000,360.000000,17.000000,12.000000,31.00000,2018.000000

In [285]:
weather_precip10_mean=weather_precip10['precip_depth_1_hr'].mean()
weather_precip10['precip_depth_1_hr'].fillna(weather_precip10_mean,inplace=True)

In [286]:
weather_precip10_mean

0.30129602018580115

In [287]:
weather_precip10.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17476.0,17476.000000,17476.000000,17476.000000,17476.000000,17123.000000,16430.000000,17384.000000,17476.000000,17476.00000,17476.000000
mean,10.0,11.734274,0.319781,-0.498615,0.301296,1015.426970,183.209373,3.072463,6.518654,15.71046,2017.499714
std,0.0,11.235452,0.961948,5.752474,2.755533,8.250976,102.773241,2.005543,3.444545,8.79012,0.500014
min,10.0,-19.400000,0.000000,-23.900000,-1.000000,988.700000,0.000000,0.000000,1.000000,1.00000,2017.000000
25%,10.0,2.800000,0.000000,-4.400000,0.000000,1009.900000,150.000000,2.100000,4.000000,8.00000,2017.000000
50%,10.0,10.600000,0.000000,-0.600000,0.000000,1014.200000,170.000000,3.100000,7.000000,16.00000,2017.000000
75%,10.0,20.600000,0.319781,3.300000,0.000000,1020.500000,260.000000,4.100000,10.000000,23.00000,2018.000000
max,10.0,38.300000,9.000000,17.200000,102.000000,1050.100000,360.000000,17.000000,12.000000,31.00000,2018.000000

# precip_depth_1_hr site_id=11

In [288]:
weather_precip11=dew_temperature_filled[dew_temperature_filled['site_id']==11]

In [289]:
weather_precip11.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,16573.0,16573.000000,16573.0,16573.000000,1797.000000,16531.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000
mean,11.0,7.407512,0.0,2.106609,11.808013,1015.776287,205.988415,3.362167,6.447113,15.618295,2017.502444
std,0.0,12.211686,0.0,11.608555,21.206073,8.859870,101.454919,1.986871,3.401939,8.889502,0.500009
min,11.0,-28.100000,0.0,-31.600000,2.000000,973.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,11.0,-1.100000,0.0,-6.000000,2.000000,1010.200000,100.000000,2.100000,4.000000,8.000000,2017.000000
50%,11.0,7.700000,0.0,2.400000,5.000000,1015.500000,220.000000,3.100000,6.000000,15.000000,2018.000000
75%,11.0,17.800000,0.0,11.800000,13.000000,1021.400000,290.000000,4.600000,9.000000,23.000000,2018.000000
max,11.0,34.700000,0.0,24.600000,278.000000,1045.000000,360.000000,14.900000,12.000000,31.000000,2018.000000

In [290]:
weather_precip11_mean=weather_precip11['precip_depth_1_hr'].mean()
weather_precip11['precip_depth_1_hr'].fillna(weather_precip11_mean,inplace=True)

In [291]:
weather_precip11_mean

11.808013355592655

In [292]:
weather_precip11.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,16573.0,16573.000000,16573.0,16573.000000,16573.000000,16531.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000
mean,11.0,7.407512,0.0,2.106609,11.808013,1015.776287,205.988415,3.362167,6.447113,15.618295,2017.502444
std,0.0,12.211686,0.0,11.608555,6.981134,8.859870,101.454919,1.986871,3.401939,8.889502,0.500009
min,11.0,-28.100000,0.0,-31.600000,2.000000,973.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,11.0,-1.100000,0.0,-6.000000,11.808013,1010.200000,100.000000,2.100000,4.000000,8.000000,2017.000000
50%,11.0,7.700000,0.0,2.400000,11.808013,1015.500000,220.000000,3.100000,6.000000,15.000000,2018.000000
75%,11.0,17.800000,0.0,11.800000,11.808013,1021.400000,290.000000,4.600000,9.000000,23.000000,2018.000000
max,11.0,34.700000,0.0,24.600000,278.000000,1045.000000,360.000000,14.900000,12.000000,31.000000,2018.000000

# precip_depth_1_hr site_id=12

In [293]:
weather_precip12=dew_temperature_filled[dew_temperature_filled['site_id']==12]

In [294]:
weather_precip12.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17279.0,17279.000000,17279.000000,17279.000000,0.0,17250.000000,17276.000000,17279.000000,17279.000000,17279.000000,17279.000000
mean,12.0,10.017796,5.645881,6.781289,NaN,1013.811542,209.343019,5.485092,6.477285,15.673997,2017.493605
std,0.0,5.186032,2.274425,4.500680,NaN,11.657465,80.136152,2.682558,3.441715,8.838032,0.499974
min,12.0,-4.800000,0.000000,-8.600000,NaN,973.700000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,12.0,6.400000,4.000000,3.500000,NaN,1006.700000,150.000000,4.000000,4.000000,8.000000,2017.000000
50%,12.0,10.100000,7.000000,7.100000,NaN,1015.200000,230.000000,5.000000,6.000000,16.000000,2017.000000
75%,12.0,13.700000,7.000000,10.000000,NaN,1021.800000,260.000000,7.000000,9.000000,23.000000,2018.000000
max,12.0,26.300000,9.000000,18.800000,NaN,1041.500000,360.000000,23.000000,12.000000,31.000000,2018.000000

In [295]:
weather_precip12['precip_depth_1_hr'].fillna(0,inplace=True)

In [296]:
weather_precip12.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17279.0,17279.000000,17279.000000,17279.000000,17279.0,17250.000000,17276.000000,17279.000000,17279.000000,17279.000000,17279.000000
mean,12.0,10.017796,5.645881,6.781289,0.0,1013.811542,209.343019,5.485092,6.477285,15.673997,2017.493605
std,0.0,5.186032,2.274425,4.500680,0.0,11.657465,80.136152,2.682558,3.441715,8.838032,0.499974
min,12.0,-4.800000,0.000000,-8.600000,0.0,973.700000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,12.0,6.400000,4.000000,3.500000,0.0,1006.700000,150.000000,4.000000,4.000000,8.000000,2017.000000
50%,12.0,10.100000,7.000000,7.100000,0.0,1015.200000,230.000000,5.000000,6.000000,16.000000,2017.000000
75%,12.0,13.700000,7.000000,10.000000,0.0,1021.800000,260.000000,7.000000,9.000000,23.000000,2018.000000
max,12.0,26.300000,9.000000,18.800000,0.0,1041.500000,360.000000,23.000000,12.000000,31.000000,2018.000000

# precip_depth_1_hr site_id=13

In [297]:
weather_precip13=dew_temperature_filled[dew_temperature_filled['site_id']==13]

In [298]:
weather_precip13.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17519.0,17519.000000,17519.000000,17519.000000,16976.000000,17315.000000,17063.000000,17517.000000,17519.000000,17519.000000,17519.000000
mean,13.0,8.732608,2.730284,2.553845,0.771854,1016.692966,186.965364,4.069772,6.525829,15.719904,2017.500029
std,0.0,12.879347,1.954418,11.839649,7.224412,8.336763,110.916586,2.243461,3.447948,8.796336,0.500014
min,13.0,-26.100000,0.000000,-30.000000,-1.000000,987.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,13.0,-1.100000,2.000000,-5.800000,0.000000,1011.400000,100.000000,2.600000,4.000000,8.000000,2017.000000
50%,13.0,8.900000,2.730284,2.200000,0.000000,1016.200000,180.000000,3.600000,7.000000,16.000000,2018.000000
75%,13.0,20.000000,2.730284,13.300000,0.000000,1021.300000,290.000000,5.700000,10.000000,23.000000,2018.000000
max,13.0,37.800000,9.000000,25.600000,434.000000,1046.500000,360.000000,17.000000,12.000000,31.000000,2018.000000

In [299]:
weather_precip13_mean=weather_precip13['precip_depth_1_hr'].mean()
weather_precip13['precip_depth_1_hr'].fillna(weather_precip13_mean,inplace=True)

In [300]:
weather_precip13_mean

0.77185438265787

In [301]:
weather_precip13.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17519.0,17519.000000,17519.000000,17519.000000,17519.000000,17315.000000,17063.000000,17517.000000,17519.000000,17519.000000,17519.000000
mean,13.0,8.732608,2.730284,2.553845,0.771854,1016.692966,186.965364,4.069772,6.525829,15.719904,2017.500029
std,0.0,12.879347,1.954418,11.839649,7.111564,8.336763,110.916586,2.243461,3.447948,8.796336,0.500014
min,13.0,-26.100000,0.000000,-30.000000,-1.000000,987.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,13.0,-1.100000,2.000000,-5.800000,0.000000,1011.400000,100.000000,2.600000,4.000000,8.000000,2017.000000
50%,13.0,8.900000,2.730284,2.200000,0.000000,1016.200000,180.000000,3.600000,7.000000,16.000000,2018.000000
75%,13.0,20.000000,2.730284,13.300000,0.000000,1021.300000,290.000000,5.700000,10.000000,23.000000,2018.000000
max,13.0,37.800000,9.000000,25.600000,434.000000,1046.500000,360.000000,17.000000,12.000000,31.000000,2018.000000

# precip_depth_1_hr site_id=14

In [302]:
weather_precip14=dew_temperature_filled[dew_temperature_filled['site_id']==14]

In [303]:
weather_precip14.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17516.0,17516.000000,17516.000000,17516.000000,17417.000000,17271.000000,17038.000000,17488.000000,17516.000000,17516.000000,17516.000000
mean,14.0,13.035115,0.724156,6.831649,1.179078,1016.724179,183.196971,3.112992,6.526433,15.721226,2017.499943
std,0.0,10.241496,1.299246,10.971421,9.083660,7.906935,121.264096,2.068353,3.447769,8.795516,0.500014
min,14.0,-17.200000,0.000000,-26.100000,-1.000000,982.600000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,14.0,5.000000,0.000000,-2.200000,0.000000,1012.000000,70.000000,1.500000,4.000000,8.000000,2017.000000
50%,14.0,13.300000,0.724156,7.800000,0.000000,1016.600000,210.000000,3.100000,7.000000,16.000000,2017.000000
75%,14.0,21.700000,0.724156,16.700000,0.000000,1021.500000,290.000000,4.100000,10.000000,23.000000,2018.000000
max,14.0,35.600000,9.000000,25.600000,394.000000,1043.400000,360.000000,13.400000,12.000000,31.000000,2018.000000

In [304]:
weather_precip14_mean=weather_precip14['precip_depth_1_hr'].mean()
weather_precip14['precip_depth_1_hr'].fillna(weather_precip14_mean,inplace=True)

In [305]:
weather_precip14_mean

1.179077912384452

In [306]:
weather_precip14.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17516.0,17516.000000,17516.000000,17516.000000,17516.000000,17271.000000,17038.000000,17488.000000,17516.000000,17516.000000,17516.000000
mean,14.0,13.035115,0.724156,6.831649,1.179078,1016.724179,183.196971,3.112992,6.526433,15.721226,2017.499943
std,0.0,10.241496,1.299246,10.971421,9.057952,7.906935,121.264096,2.068353,3.447769,8.795516,0.500014
min,14.0,-17.200000,0.000000,-26.100000,-1.000000,982.600000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,14.0,5.000000,0.000000,-2.200000,0.000000,1012.000000,70.000000,1.500000,4.000000,8.000000,2017.000000
50%,14.0,13.300000,0.724156,7.800000,0.000000,1016.600000,210.000000,3.100000,7.000000,16.000000,2017.000000
75%,14.0,21.700000,0.724156,16.700000,0.000000,1021.500000,290.000000,4.100000,10.000000,23.000000,2018.000000
max,14.0,35.600000,9.000000,25.600000,394.000000,1043.400000,360.000000,13.400000,12.000000,31.000000,2018.000000

# precip_depth_1_hr site_id=15

In [307]:
weather_precip15=dew_temperature_filled[dew_temperature_filled['site_id']==15]

In [308]:
weather_precip15.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17201.0,17201.000000,17201.000000,17201.000000,4166.000000,16252.000000,16770.000000,17189.000000,17201.000000,17201.000000,17201.000000
mean,15.0,8.942191,1.082078,4.695881,3.335574,1017.295521,186.709004,3.606830,6.503168,15.677402,2017.504680
std,0.0,10.804599,1.126459,10.523600,13.464772,7.868558,108.718203,2.357661,3.440644,8.815192,0.499993
min,15.0,-21.700000,0.000000,-23.900000,-1.000000,984.500000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,15.0,0.600000,0.000000,-3.900000,-1.000000,1012.500000,110.000000,2.100000,4.000000,8.000000,2017.000000
50%,15.0,9.000000,1.082078,5.600000,-1.000000,1017.300000,170.000000,3.100000,7.000000,16.000000,2018.000000
75%,15.0,17.800000,1.082078,13.900000,3.000000,1022.400000,290.000000,5.100000,9.000000,23.000000,2018.000000
max,15.0,34.400000,9.000000,23.900000,442.000000,1044.600000,360.000000,14.900000,12.000000,31.000000,2018.000000

In [309]:
weather_precip15_mean=weather_precip15['precip_depth_1_hr'].mean()
weather_precip15['precip_depth_1_hr'].fillna(weather_precip15_mean,inplace=True)

In [310]:
weather_precip15_mean

3.3355736917906866

In [311]:
weather_precip15.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17201.0,17201.000000,17201.000000,17201.000000,17201.000000,16252.000000,16770.000000,17189.000000,17201.000000,17201.000000,17201.000000
mean,15.0,8.942191,1.082078,4.695881,3.335574,1017.295521,186.709004,3.606830,6.503168,15.677402,2017.504680
std,0.0,10.804599,1.126459,10.523600,6.625860,7.868558,108.718203,2.357661,3.440644,8.815192,0.499993
min,15.0,-21.700000,0.000000,-23.900000,-1.000000,984.500000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,15.0,0.600000,0.000000,-3.900000,3.335574,1012.500000,110.000000,2.100000,4.000000,8.000000,2017.000000
50%,15.0,9.000000,1.082078,5.600000,3.335574,1017.300000,170.000000,3.100000,7.000000,16.000000,2018.000000
75%,15.0,17.800000,1.082078,13.900000,3.335574,1022.400000,290.000000,5.100000,9.000000,23.000000,2018.000000
max,15.0,34.400000,9.000000,23.900000,442.000000,1044.600000,360.000000,14.900000,12.000000,31.000000,2018.000000

# Merging the above cells to create precip_filled

In [312]:
precip_filled = pd.concat([weather_precip0,weather_precip1,weather_precip2,
                           weather_precip3,weather_precip4,weather_precip5,
                           weather_precip6,weather_precip7,weather_precip8,
                           weather_precip9,weather_precip10,weather_precip11,
                           weather_precip12,weather_precip13,weather_precip14,
                           weather_precip15], axis=0)

In [313]:
precip_filled.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,277243.000000,277243.000000,277243.000000,277243.000000,277243.000000,255978.000000,264873.000000,276783.000000,277243.000000,277243.00000,277243.000000
mean,7.484654,14.277772,1.660489,7.488916,2.136486,1016.195762,180.426023,3.548873,6.505362,15.69658,2017.499266
std,4.616959,10.740123,2.118598,10.149690,8.162613,7.940392,110.456872,2.317184,3.440583,8.81615,0.500000
min,0.000000,-28.100000,0.000000,-31.600000,-1.000000,972.000000,0.000000,0.000000,1.000000,1.00000,2017.000000
25%,3.000000,7.200000,0.000000,0.600000,0.000000,1011.600000,80.000000,2.100000,4.000000,8.00000,2017.000000
50%,7.000000,15.000000,0.698623,8.400000,0.000000,1016.300000,190.000000,3.100000,7.000000,16.00000,2017.000000
75%,12.000000,22.200000,2.730284,15.000000,0.000000,1020.800000,280.000000,4.600000,9.000000,23.00000,2018.000000
max,15.000000,48.300000,9.000000,26.700000,597.000000,1050.100000,360.000000,24.200000,12.000000,31.00000,2018.000000

then use precip_filled to fill up the rest of the missing columns

# sea_level_pressure site_id=0

In [314]:
weather_sea0=precip_filled[precip_filled['site_id']==0]

In [315]:
weather_sea0.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17520.000000,17211.000000,17043.000000,17518.000000,17520.000000,17520.000000,17520.000000
mean,0.0,22.699104,2.975945,17.660725,1.169297,1017.929754,150.531597,3.399675,6.526027,15.720548,2017.500000
std,0.0,5.822209,1.598494,6.664774,12.581043,4.568609,113.980426,2.190697,3.447950,8.796498,0.500014
min,0.0,-2.800000,0.000000,-10.600000,-1.000000,981.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,0.0,19.400000,2.000000,14.400000,0.000000,1015.300000,60.000000,2.100000,4.000000,8.000000,2017.000000
50%,0.0,23.900000,2.975945,19.400000,0.000000,1018.000000,130.000000,3.100000,7.000000,16.000000,2017.500000
75%,0.0,26.700000,4.000000,22.800000,0.000000,1020.300000,240.000000,4.600000,10.000000,23.000000,2018.000000
max,0.0,35.000000,9.000000,26.700000,597.000000,1036.300000,360.000000,24.200000,12.000000,31.000000,2018.000000

In [316]:
weather_sea0_mean=weather_sea0['sea_level_pressure'].mean()
weather_sea0['sea_level_pressure'].fillna(weather_sea0_mean,inplace=True)

In [317]:
weather_sea0_mean

1017.9297542269455

In [318]:
weather_sea0.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17043.000000,17518.000000,17520.000000,17520.000000,17520.000000
mean,0.0,22.699104,2.975945,17.660725,1.169297,1017.929754,150.531597,3.399675,6.526027,15.720548,2017.500000
std,0.0,5.822209,1.598494,6.664774,12.581043,4.528139,113.980426,2.190697,3.447950,8.796498,0.500014
min,0.0,-2.800000,0.000000,-10.600000,-1.000000,981.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,0.0,19.400000,2.000000,14.400000,0.000000,1015.300000,60.000000,2.100000,4.000000,8.000000,2017.000000
50%,0.0,23.900000,2.975945,19.400000,0.000000,1017.929754,130.000000,3.100000,7.000000,16.000000,2017.500000
75%,0.0,26.700000,4.000000,22.800000,0.000000,1020.300000,240.000000,4.600000,10.000000,23.000000,2018.000000
max,0.0,35.000000,9.000000,26.700000,597.000000,1036.300000,360.000000,24.200000,12.000000,31.000000,2018.000000

# sea_level_pressure site_id=1

In [319]:
weather_sea1=precip_filled[precip_filled['site_id']==1]

In [320]:
weather_sea1.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17287.0,17287.000000,17287.000000,17287.000000,17287.0,17222.000000,17282.000000,17287.000000,17287.000000,17287.000000,17287.000000
mean,1.0,12.169638,0.047316,7.543412,0.0,1015.639450,198.876866,4.037467,6.478105,15.677793,2017.493666
std,0.0,6.478613,0.297596,4.959083,0.0,10.121707,94.319322,2.137726,3.441478,8.838987,0.499974
min,1.0,-5.000000,0.000000,-9.600000,0.0,972.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,1.0,7.500000,0.047316,4.100000,0.0,1010.100000,130.000000,2.600000,4.000000,8.000000,2017.000000
50%,1.0,11.800000,0.047316,8.000000,0.0,1016.700000,220.000000,3.600000,6.000000,16.000000,2017.000000
75%,1.0,16.600000,0.047316,11.300000,0.0,1022.400000,270.000000,5.100000,9.000000,23.000000,2018.000000
max,1.0,34.400000,9.000000,19.900000,0.0,1039.600000,360.000000,18.500000,12.000000,31.000000,2018.000000

In [321]:
weather_sea1_mean=weather_sea1['sea_level_pressure'].mean()
weather_sea1['sea_level_pressure'].fillna(weather_sea1_mean,inplace=True)

In [322]:
weather_sea1_mean

1015.6394495412865

In [323]:
weather_sea1.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17287.0,17287.000000,17287.000000,17287.000000,17287.0,17287.000000,17282.000000,17287.000000,17287.000000,17287.000000,17287.000000
mean,1.0,12.169638,0.047316,7.543412,0.0,1015.639450,198.876866,4.037467,6.478105,15.677793,2017.493666
std,0.0,6.478613,0.297596,4.959083,0.0,10.102659,94.319322,2.137726,3.441478,8.838987,0.499974
min,1.0,-5.000000,0.000000,-9.600000,0.0,972.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,1.0,7.500000,0.047316,4.100000,0.0,1010.100000,130.000000,2.600000,4.000000,8.000000,2017.000000
50%,1.0,11.800000,0.047316,8.000000,0.0,1016.700000,220.000000,3.600000,6.000000,16.000000,2017.000000
75%,1.0,16.600000,0.047316,11.300000,0.0,1022.400000,270.000000,5.100000,9.000000,23.000000,2018.000000
max,1.0,34.400000,9.000000,19.900000,0.0,1039.600000,360.000000,18.500000,12.000000,31.000000,2018.000000

# sea_level_pressure site_id=2

In [324]:
weather_sea2=precip_filled[precip_filled['site_id']==2]

In [325]:
weather_sea2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17520.000000,17487.000000,16327.000000,17511.000000,17520.000000,17520.000000,17520.000000
mean,2.0,24.975422,2.150393,3.817747,0.154123,1011.315251,154.057083,2.883268,6.526027,15.720548,2017.500000
std,0.0,9.317476,1.603817,8.326501,3.160123,5.313266,103.832849,1.919632,3.447950,8.796498,0.500014
min,2.0,2.200000,0.000000,-22.200000,-1.000000,996.100000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,2.0,17.200000,2.000000,-2.200000,0.000000,1007.400000,80.000000,1.500000,4.000000,8.000000,2017.000000
50%,2.0,25.000000,2.150393,2.800000,0.000000,1010.600000,130.000000,2.600000,7.000000,16.000000,2017.500000
75%,2.0,32.350000,2.150393,9.400000,0.000000,1014.800000,250.000000,3.600000,10.000000,23.000000,2018.000000
max,2.0,48.300000,8.000000,24.400000,234.000000,1032.200000,360.000000,21.100000,12.000000,31.000000,2018.000000

In [326]:
weather_sea2_mean=weather_sea2['sea_level_pressure'].mean()
weather_sea2['sea_level_pressure'].fillna(weather_sea2_mean,inplace=True)

In [327]:
weather_sea2_mean

1011.3152513295594

In [328]:
weather_sea2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,16327.000000,17511.000000,17520.000000,17520.000000,17520.000000
mean,2.0,24.975422,2.150393,3.817747,0.154123,1011.315251,154.057083,2.883268,6.526027,15.720548,2017.500000
std,0.0,9.317476,1.603817,8.326501,3.160123,5.308259,103.832849,1.919632,3.447950,8.796498,0.500014
min,2.0,2.200000,0.000000,-22.200000,-1.000000,996.100000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,2.0,17.200000,2.000000,-2.200000,0.000000,1007.400000,80.000000,1.500000,4.000000,8.000000,2017.000000
50%,2.0,25.000000,2.150393,2.800000,0.000000,1010.600000,130.000000,2.600000,7.000000,16.000000,2017.500000
75%,2.0,32.350000,2.150393,9.400000,0.000000,1014.800000,250.000000,3.600000,10.000000,23.000000,2018.000000
max,2.0,48.300000,8.000000,24.400000,234.000000,1032.200000,360.000000,21.100000,12.000000,31.000000,2018.000000

# sea_level_pressure site_id=3

In [329]:
weather_sea3=precip_filled[precip_filled['site_id']==3]

In [330]:
weather_sea3.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17517.0,17517.000000,17517.000000,17517.000000,17517.000000,17141.000000,17265.000000,17509.000000,17517.000000,17517.000000,17517.000000
mean,3.0,15.493468,4.185599,8.365588,0.998111,1018.109089,183.912540,3.902696,6.526403,15.720843,2017.499971
std,0.0,9.853229,2.039558,10.981546,8.191122,7.538896,111.656426,2.253526,3.447723,8.796502,0.500014
min,3.0,-12.800000,0.000000,-22.200000,-1.000000,988.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,3.0,7.200000,4.000000,0.000000,0.000000,1013.400000,80.000000,2.600000,4.000000,8.000000,2017.000000
50%,3.0,16.100000,4.185599,10.000000,0.000000,1017.800000,190.000000,3.600000,7.000000,16.000000,2017.000000
75%,3.0,23.900000,4.185599,18.300000,0.000000,1022.600000,290.000000,5.100000,10.000000,23.000000,2018.000000
max,3.0,36.100000,9.000000,26.700000,345.000000,1043.700000,360.000000,19.600000,12.000000,31.000000,2018.000000

In [331]:
weather_sea3_mean=weather_sea3['sea_level_pressure'].mean()
weather_sea3['sea_level_pressure'].fillna(weather_sea3_mean,inplace=True)

In [332]:
weather_sea3_mean

1018.1090893180107

In [333]:
weather_sea3.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17517.0,17517.000000,17517.000000,17517.000000,17517.000000,17517.000000,17265.000000,17509.000000,17517.000000,17517.000000,17517.000000
mean,3.0,15.493468,4.185599,8.365588,0.998111,1018.109089,183.912540,3.902696,6.526403,15.720843,2017.499971
std,0.0,9.853229,2.039558,10.981546,8.191122,7.457542,111.656426,2.253526,3.447723,8.796502,0.500014
min,3.0,-12.800000,0.000000,-22.200000,-1.000000,988.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,3.0,7.200000,4.000000,0.000000,0.000000,1013.500000,80.000000,2.600000,4.000000,8.000000,2017.000000
50%,3.0,16.100000,4.185599,10.000000,0.000000,1018.000000,190.000000,3.600000,7.000000,16.000000,2017.000000
75%,3.0,23.900000,4.185599,18.300000,0.000000,1022.400000,290.000000,5.100000,10.000000,23.000000,2018.000000
max,3.0,36.100000,9.000000,26.700000,345.000000,1043.700000,360.000000,19.600000,12.000000,31.000000,2018.000000

# sea_level_pressure site_id=4

In [334]:
weather_sea4=precip_filled[precip_filled['site_id']==4]

In [335]:
weather_sea4.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17516.0,17516.000000,17516.000000,17516.000000,17516.000000,17397.000000,17312.000000,17516.000000,17516.000000,17516.000000,17516.000000
mean,4.0,14.469131,1.833333,9.804140,0.523210,1016.752308,204.333988,3.753751,6.527004,15.721569,2017.499943
std,0.0,4.333985,1.023824,4.107101,3.983073,4.868175,112.510366,2.539411,3.447583,8.795293,0.500014
min,4.0,0.000000,0.000000,-12.200000,-1.000000,987.300000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,4.0,11.700000,1.833333,7.800000,0.000000,1013.600000,120.000000,2.100000,4.000000,8.000000,2017.000000
50%,4.0,14.400000,1.833333,10.600000,0.000000,1016.200000,260.000000,3.600000,7.000000,16.000000,2017.000000
75%,4.0,17.200000,2.000000,12.800000,0.000000,1019.700000,290.000000,5.700000,10.000000,23.000000,2018.000000
max,4.0,38.300000,9.000000,19.400000,130.000000,1035.900000,360.000000,18.000000,12.000000,31.000000,2018.000000

In [336]:
weather_sea4_mean=weather_sea4['sea_level_pressure'].mean()
weather_sea4['sea_level_pressure'].fillna(weather_sea4_mean,inplace=True)

In [337]:
weather_sea4_mean

1016.7523078691651

In [338]:
weather_sea4.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17516.0,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000,17312.000000,17516.000000,17516.000000,17516.000000,17516.000000
mean,4.0,14.469131,1.833333,9.804140,0.523210,1016.752308,204.333988,3.753751,6.527004,15.721569,2017.499943
std,0.0,4.333985,1.023824,4.107101,3.983073,4.851610,112.510366,2.539411,3.447583,8.795293,0.500014
min,4.0,0.000000,0.000000,-12.200000,-1.000000,987.300000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,4.0,11.700000,1.833333,7.800000,0.000000,1013.600000,120.000000,2.100000,4.000000,8.000000,2017.000000
50%,4.0,14.400000,1.833333,10.600000,0.000000,1016.300000,260.000000,3.600000,7.000000,16.000000,2017.000000
75%,4.0,17.200000,2.000000,12.800000,0.000000,1019.700000,290.000000,5.700000,10.000000,23.000000,2018.000000
max,4.0,38.300000,9.000000,19.400000,130.000000,1035.900000,360.000000,18.000000,12.000000,31.000000,2018.000000

# sea_level_pressure site_id=5

In [339]:
weather_sea5=precip_filled[precip_filled['site_id']==5]

In [340]:
weather_sea5.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17241.0,17241.000000,17241.000000,17241.000000,17241.0,0.0,16706.000000,17240.000000,17241.000000,17241.000000,17241.000000
mean,5.0,11.155443,0.433514,8.433527,0.0,NaN,209.924578,4.886265,6.476712,15.671481,2017.492779
std,0.0,5.379051,1.126972,4.831054,0.0,NaN,96.446130,2.430906,3.443165,8.840365,0.499962
min,5.0,-6.000000,0.000000,-13.000000,0.0,NaN,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,5.0,7.000000,0.000000,5.000000,0.0,NaN,120.000000,3.100000,3.000000,8.000000,2017.000000
50%,5.0,11.000000,0.433514,9.000000,0.0,NaN,250.000000,4.600000,6.000000,16.000000,2017.000000
75%,5.0,15.000000,0.433514,12.000000,0.0,NaN,290.000000,6.200000,9.000000,23.000000,2018.000000
max,5.0,30.000000,9.000000,20.000000,0.0,NaN,360.000000,16.500000,12.000000,31.000000,2018.000000

In [341]:
weather_sea5['sea_level_pressure'].fillna(0, inplace=True)

In [342]:
weather_sea5.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17241.0,17241.000000,17241.000000,17241.000000,17241.0,17241.0,16706.000000,17240.000000,17241.000000,17241.000000,17241.000000
mean,5.0,11.155443,0.433514,8.433527,0.0,0.0,209.924578,4.886265,6.476712,15.671481,2017.492779
std,0.0,5.379051,1.126972,4.831054,0.0,0.0,96.446130,2.430906,3.443165,8.840365,0.499962
min,5.0,-6.000000,0.000000,-13.000000,0.0,0.0,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,5.0,7.000000,0.000000,5.000000,0.0,0.0,120.000000,3.100000,3.000000,8.000000,2017.000000
50%,5.0,11.000000,0.433514,9.000000,0.0,0.0,250.000000,4.600000,6.000000,16.000000,2017.000000
75%,5.0,15.000000,0.433514,12.000000,0.0,0.0,290.000000,6.200000,9.000000,23.000000,2018.000000
max,5.0,30.000000,9.000000,20.000000,0.0,0.0,360.000000,16.500000,12.000000,31.000000,2018.000000

# sea_level_pressure site_id=6

In [343]:
weather_sea6=precip_filled[precip_filled['site_id']==6]

In [344]:
weather_sea6.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17504.0,17504.000000,17504.000000,17504.000000,17504.000000,17115.000000,16092.000000,17453.000000,17504.000000,17504.000000,17504.000000
mean,6.0,15.235606,0.698623,7.866326,1.146048,1017.578311,127.857942,2.256947,6.525480,15.722006,2017.499714
std,0.0,9.761678,1.309143,11.178351,8.742044,7.296018,118.807925,1.895758,3.447624,8.796438,0.500014
min,6.0,-16.100000,0.000000,-23.900000,-1.000000,986.800000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,6.0,7.200000,0.000000,-1.100000,0.000000,1013.100000,0.000000,0.000000,4.000000,8.000000,2017.000000
50%,6.0,16.100000,0.000000,10.000000,0.000000,1017.400000,140.000000,2.100000,7.000000,16.000000,2017.000000
75%,6.0,23.300000,0.698623,17.800000,0.000000,1021.900000,210.000000,3.600000,10.000000,23.000000,2018.000000
max,6.0,36.700000,9.000000,26.100000,287.000000,1042.700000,360.000000,15.400000,12.000000,31.000000,2018.000000

In [345]:
weather_sea6_mean=weather_sea6['sea_level_pressure'].mean()
weather_sea6['sea_level_pressure'].fillna(weather_sea6_mean,inplace=True)

In [346]:
weather_sea6_mean

1017.5783114227313

In [347]:
weather_sea6.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17504.0,17504.000000,17504.000000,17504.000000,17504.000000,17504.000000,16092.000000,17453.000000,17504.000000,17504.000000,17504.000000
mean,6.0,15.235606,0.698623,7.866326,1.146048,1017.578311,127.857942,2.256947,6.525480,15.722006,2017.499714
std,0.0,9.761678,1.309143,11.178351,8.742044,7.214486,118.807925,1.895758,3.447624,8.796438,0.500014
min,6.0,-16.100000,0.000000,-23.900000,-1.000000,986.800000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,6.0,7.200000,0.000000,-1.100000,0.000000,1013.200000,0.000000,0.000000,4.000000,8.000000,2017.000000
50%,6.0,16.100000,0.000000,10.000000,0.000000,1017.500000,140.000000,2.100000,7.000000,16.000000,2017.000000
75%,6.0,23.300000,0.698623,17.800000,0.000000,1021.800000,210.000000,3.600000,10.000000,23.000000,2018.000000
max,6.0,36.700000,9.000000,26.100000,287.000000,1042.700000,360.000000,15.400000,12.000000,31.000000,2018.000000

# sea_level_pressure site_id=7

In [348]:
weather_sea7=precip_filled[precip_filled['site_id']==7]

In [349]:
weather_sea7.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,16573.0,16573.000000,16573.0,16573.000000,16573.000000,16531.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000
mean,7.0,7.407512,0.0,2.106609,11.808013,1015.776287,205.988415,3.362167,6.447113,15.618295,2017.502444
std,0.0,12.211686,0.0,11.608555,6.981134,8.859870,101.454919,1.986871,3.401939,8.889502,0.500009
min,7.0,-28.100000,0.0,-31.600000,2.000000,973.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,7.0,-1.100000,0.0,-6.000000,11.808013,1010.200000,100.000000,2.100000,4.000000,8.000000,2017.000000
50%,7.0,7.700000,0.0,2.400000,11.808013,1015.500000,220.000000,3.100000,6.000000,15.000000,2018.000000
75%,7.0,17.800000,0.0,11.800000,11.808013,1021.400000,290.000000,4.600000,9.000000,23.000000,2018.000000
max,7.0,34.700000,0.0,24.600000,278.000000,1045.000000,360.000000,14.900000,12.000000,31.000000,2018.000000

In [350]:
weather_sea7_mean=weather_sea7['sea_level_pressure'].mean()
weather_sea7['sea_level_pressure'].fillna(weather_sea7_mean,inplace=True)

In [351]:
weather_sea7_mean

1015.7762869759877

In [352]:
weather_sea7.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,16573.0,16573.000000,16573.0,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000
mean,7.0,7.407512,0.0,2.106609,11.808013,1015.776287,205.988415,3.362167,6.447113,15.618295,2017.502444
std,0.0,12.211686,0.0,11.608555,6.981134,8.848635,101.454919,1.986871,3.401939,8.889502,0.500009
min,7.0,-28.100000,0.0,-31.600000,2.000000,973.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,7.0,-1.100000,0.0,-6.000000,11.808013,1010.200000,100.000000,2.100000,4.000000,8.000000,2017.000000
50%,7.0,7.700000,0.0,2.400000,11.808013,1015.600000,220.000000,3.100000,6.000000,15.000000,2018.000000
75%,7.0,17.800000,0.0,11.800000,11.808013,1021.300000,290.000000,4.600000,9.000000,23.000000,2018.000000
max,7.0,34.700000,0.0,24.600000,278.000000,1045.000000,360.000000,14.900000,12.000000,31.000000,2018.000000

# sea_level_pressure site_id=8

In [353]:
weather_sea8=precip_filled[precip_filled['site_id']==8]

In [354]:
weather_sea8.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17520.000000,17211.000000,17043.000000,17518.000000,17520.000000,17520.000000,17520.000000
mean,8.0,22.699104,2.975945,17.660725,1.169297,1017.929754,150.531597,3.399675,6.526027,15.720548,2017.500000
std,0.0,5.822209,1.598494,6.664774,12.581043,4.568609,113.980426,2.190697,3.447950,8.796498,0.500014
min,8.0,-2.800000,0.000000,-10.600000,-1.000000,981.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,8.0,19.400000,2.000000,14.400000,0.000000,1015.300000,60.000000,2.100000,4.000000,8.000000,2017.000000
50%,8.0,23.900000,2.975945,19.400000,0.000000,1018.000000,130.000000,3.100000,7.000000,16.000000,2017.500000
75%,8.0,26.700000,4.000000,22.800000,0.000000,1020.300000,240.000000,4.600000,10.000000,23.000000,2018.000000
max,8.0,35.000000,9.000000,26.700000,597.000000,1036.300000,360.000000,24.200000,12.000000,31.000000,2018.000000

In [355]:
weather_sea8_mean=weather_sea8['sea_level_pressure'].mean()
weather_sea8['sea_level_pressure'].fillna(weather_sea8_mean,inplace=True)

In [356]:
weather_sea8_mean

1017.9297542269455

In [357]:
weather_sea8.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17043.000000,17518.000000,17520.000000,17520.000000,17520.000000
mean,8.0,22.699104,2.975945,17.660725,1.169297,1017.929754,150.531597,3.399675,6.526027,15.720548,2017.500000
std,0.0,5.822209,1.598494,6.664774,12.581043,4.528139,113.980426,2.190697,3.447950,8.796498,0.500014
min,8.0,-2.800000,0.000000,-10.600000,-1.000000,981.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,8.0,19.400000,2.000000,14.400000,0.000000,1015.300000,60.000000,2.100000,4.000000,8.000000,2017.000000
50%,8.0,23.900000,2.975945,19.400000,0.000000,1017.929754,130.000000,3.100000,7.000000,16.000000,2017.500000
75%,8.0,26.700000,4.000000,22.800000,0.000000,1020.300000,240.000000,4.600000,10.000000,23.000000,2018.000000
max,8.0,35.000000,9.000000,26.700000,597.000000,1036.300000,360.000000,24.200000,12.000000,31.000000,2018.000000

# sea_level_pressure site_id=9

In [358]:
weather_sea9=precip_filled[precip_filled['site_id']==9]

In [359]:
weather_sea9.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17481.0,17481.000000,17481.000000,17481.000000,17481.000000,16921.000000,12080.000000,17228.000000,17481.000000,17481.000000,17481.000000
mean,9.0,21.303994,0.582447,13.460350,0.786026,1016.293263,126.860099,2.194120,6.520966,15.720725,2017.499514
std,0.0,8.618335,1.025296,8.426519,9.096148,6.442762,118.183678,1.509227,3.446490,8.797683,0.500014
min,9.0,-7.800000,0.000000,-16.100000,-1.000000,995.700000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,9.0,15.600000,0.000000,7.800000,0.000000,1012.100000,0.000000,1.500000,4.000000,8.000000,2017.000000
50%,9.0,22.800000,0.582447,16.700000,0.000000,1015.200000,140.000000,2.100000,7.000000,16.000000,2017.000000
75%,9.0,27.200000,0.582447,20.000000,0.000000,1019.900000,190.000000,3.100000,10.000000,23.000000,2018.000000
max,9.0,42.800000,9.000000,25.600000,363.000000,1043.800000,360.000000,9.300000,12.000000,31.000000,2018.000000

In [360]:
weather_sea9_mean=weather_sea9['sea_level_pressure'].mean()
weather_sea9['sea_level_pressure'].fillna(weather_sea9_mean,inplace=True)

In [361]:
weather_sea9_mean

1016.2932628095242

In [362]:
weather_sea9.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17481.0,17481.000000,17481.000000,17481.000000,17481.000000,17481.000000,12080.000000,17228.000000,17481.000000,17481.000000,17481.000000
mean,9.0,21.303994,0.582447,13.460350,0.786026,1016.293263,126.860099,2.194120,6.520966,15.720725,2017.499514
std,0.0,8.618335,1.025296,8.426519,9.096148,6.338719,118.183678,1.509227,3.446490,8.797683,0.500014
min,9.0,-7.800000,0.000000,-16.100000,-1.000000,995.700000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,9.0,15.600000,0.000000,7.800000,0.000000,1012.200000,0.000000,1.500000,4.000000,8.000000,2017.000000
50%,9.0,22.800000,0.582447,16.700000,0.000000,1015.500000,140.000000,2.100000,7.000000,16.000000,2017.000000
75%,9.0,27.200000,0.582447,20.000000,0.000000,1019.700000,190.000000,3.100000,10.000000,23.000000,2018.000000
max,9.0,42.800000,9.000000,25.600000,363.000000,1043.800000,360.000000,9.300000,12.000000,31.000000,2018.000000

# sea_level_pressure site_id=10

In [363]:
weather_sea10=precip_filled[precip_filled['site_id']==10]

In [364]:
weather_sea10.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17476.0,17476.000000,17476.000000,17476.000000,17476.000000,17123.000000,16430.000000,17384.000000,17476.000000,17476.00000,17476.000000
mean,10.0,11.734274,0.319781,-0.498615,0.301296,1015.426970,183.209373,3.072463,6.518654,15.71046,2017.499714
std,0.0,11.235452,0.961948,5.752474,2.755533,8.250976,102.773241,2.005543,3.444545,8.79012,0.500014
min,10.0,-19.400000,0.000000,-23.900000,-1.000000,988.700000,0.000000,0.000000,1.000000,1.00000,2017.000000
25%,10.0,2.800000,0.000000,-4.400000,0.000000,1009.900000,150.000000,2.100000,4.000000,8.00000,2017.000000
50%,10.0,10.600000,0.000000,-0.600000,0.000000,1014.200000,170.000000,3.100000,7.000000,16.00000,2017.000000
75%,10.0,20.600000,0.319781,3.300000,0.000000,1020.500000,260.000000,4.100000,10.000000,23.00000,2018.000000
max,10.0,38.300000,9.000000,17.200000,102.000000,1050.100000,360.000000,17.000000,12.000000,31.00000,2018.000000

In [365]:
weather_sea10_mean=weather_sea10['sea_level_pressure'].mean()
weather_sea10['sea_level_pressure'].fillna(weather_sea10_mean,inplace=True)

In [366]:
weather_sea10_mean

1015.4269695730906

In [367]:
weather_sea10.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17476.0,17476.000000,17476.000000,17476.000000,17476.000000,17476.000000,16430.000000,17384.000000,17476.000000,17476.00000,17476.000000
mean,10.0,11.734274,0.319781,-0.498615,0.301296,1015.426970,183.209373,3.072463,6.518654,15.71046,2017.499714
std,0.0,11.235452,0.961948,5.752474,2.755533,8.167215,102.773241,2.005543,3.444545,8.79012,0.500014
min,10.0,-19.400000,0.000000,-23.900000,-1.000000,988.700000,0.000000,0.000000,1.000000,1.00000,2017.000000
25%,10.0,2.800000,0.000000,-4.400000,0.000000,1010.000000,150.000000,2.100000,4.000000,8.00000,2017.000000
50%,10.0,10.600000,0.000000,-0.600000,0.000000,1014.400000,170.000000,3.100000,7.000000,16.00000,2017.000000
75%,10.0,20.600000,0.319781,3.300000,0.000000,1020.300000,260.000000,4.100000,10.000000,23.00000,2018.000000
max,10.0,38.300000,9.000000,17.200000,102.000000,1050.100000,360.000000,17.000000,12.000000,31.00000,2018.000000

# sea_level_pressure site_id=11

In [368]:
weather_sea11=precip_filled[precip_filled['site_id']==11]

In [369]:
weather_sea11.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,16573.0,16573.000000,16573.0,16573.000000,16573.000000,16531.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000
mean,11.0,7.407512,0.0,2.106609,11.808013,1015.776287,205.988415,3.362167,6.447113,15.618295,2017.502444
std,0.0,12.211686,0.0,11.608555,6.981134,8.859870,101.454919,1.986871,3.401939,8.889502,0.500009
min,11.0,-28.100000,0.0,-31.600000,2.000000,973.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,11.0,-1.100000,0.0,-6.000000,11.808013,1010.200000,100.000000,2.100000,4.000000,8.000000,2017.000000
50%,11.0,7.700000,0.0,2.400000,11.808013,1015.500000,220.000000,3.100000,6.000000,15.000000,2018.000000
75%,11.0,17.800000,0.0,11.800000,11.808013,1021.400000,290.000000,4.600000,9.000000,23.000000,2018.000000
max,11.0,34.700000,0.0,24.600000,278.000000,1045.000000,360.000000,14.900000,12.000000,31.000000,2018.000000

In [370]:
weather_sea11_mean=weather_sea11['sea_level_pressure'].mean()
weather_sea11['sea_level_pressure'].fillna(weather_sea11_mean,inplace=True)

In [371]:
weather_sea11_mean

1015.7762869759877

In [372]:
weather_sea11.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,16573.0,16573.000000,16573.0,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000
mean,11.0,7.407512,0.0,2.106609,11.808013,1015.776287,205.988415,3.362167,6.447113,15.618295,2017.502444
std,0.0,12.211686,0.0,11.608555,6.981134,8.848635,101.454919,1.986871,3.401939,8.889502,0.500009
min,11.0,-28.100000,0.0,-31.600000,2.000000,973.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,11.0,-1.100000,0.0,-6.000000,11.808013,1010.200000,100.000000,2.100000,4.000000,8.000000,2017.000000
50%,11.0,7.700000,0.0,2.400000,11.808013,1015.600000,220.000000,3.100000,6.000000,15.000000,2018.000000
75%,11.0,17.800000,0.0,11.800000,11.808013,1021.300000,290.000000,4.600000,9.000000,23.000000,2018.000000
max,11.0,34.700000,0.0,24.600000,278.000000,1045.000000,360.000000,14.900000,12.000000,31.000000,2018.000000

# sea_level_pressure site_id=12

In [373]:
weather_sea12=precip_filled[precip_filled['site_id']==12]

In [374]:
weather_sea12.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17279.0,17279.000000,17279.000000,17279.000000,17279.0,17250.000000,17276.000000,17279.000000,17279.000000,17279.000000,17279.000000
mean,12.0,10.017796,5.645881,6.781289,0.0,1013.811542,209.343019,5.485092,6.477285,15.673997,2017.493605
std,0.0,5.186032,2.274425,4.500680,0.0,11.657465,80.136152,2.682558,3.441715,8.838032,0.499974
min,12.0,-4.800000,0.000000,-8.600000,0.0,973.700000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,12.0,6.400000,4.000000,3.500000,0.0,1006.700000,150.000000,4.000000,4.000000,8.000000,2017.000000
50%,12.0,10.100000,7.000000,7.100000,0.0,1015.200000,230.000000,5.000000,6.000000,16.000000,2017.000000
75%,12.0,13.700000,7.000000,10.000000,0.0,1021.800000,260.000000,7.000000,9.000000,23.000000,2018.000000
max,12.0,26.300000,9.000000,18.800000,0.0,1041.500000,360.000000,23.000000,12.000000,31.000000,2018.000000

In [375]:
weather_sea12_mean=weather_sea12['sea_level_pressure'].mean()
weather_sea12['sea_level_pressure'].fillna(weather_sea12_mean,inplace=True)

In [376]:
weather_sea12_mean

1013.8115420289811

In [377]:
weather_sea12.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17279.0,17279.000000,17279.000000,17279.000000,17279.0,17279.000000,17276.000000,17279.000000,17279.000000,17279.000000,17279.000000
mean,12.0,10.017796,5.645881,6.781289,0.0,1013.811542,209.343019,5.485092,6.477285,15.673997,2017.493605
std,0.0,5.186032,2.274425,4.500680,0.0,11.647678,80.136152,2.682558,3.441715,8.838032,0.499974
min,12.0,-4.800000,0.000000,-8.600000,0.0,973.700000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,12.0,6.400000,4.000000,3.500000,0.0,1006.700000,150.000000,4.000000,4.000000,8.000000,2017.000000
50%,12.0,10.100000,7.000000,7.100000,0.0,1015.200000,230.000000,5.000000,6.000000,16.000000,2017.000000
75%,12.0,13.700000,7.000000,10.000000,0.0,1021.800000,260.000000,7.000000,9.000000,23.000000,2018.000000
max,12.0,26.300000,9.000000,18.800000,0.0,1041.500000,360.000000,23.000000,12.000000,31.000000,2018.000000

# sea_level_pressure site_id=13

In [378]:
weather_sea13=precip_filled[precip_filled['site_id']==13]

In [379]:
weather_sea13.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17519.0,17519.000000,17519.000000,17519.000000,17519.000000,17315.000000,17063.000000,17517.000000,17519.000000,17519.000000,17519.000000
mean,13.0,8.732608,2.730284,2.553845,0.771854,1016.692966,186.965364,4.069772,6.525829,15.719904,2017.500029
std,0.0,12.879347,1.954418,11.839649,7.111564,8.336763,110.916586,2.243461,3.447948,8.796336,0.500014
min,13.0,-26.100000,0.000000,-30.000000,-1.000000,987.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,13.0,-1.100000,2.000000,-5.800000,0.000000,1011.400000,100.000000,2.600000,4.000000,8.000000,2017.000000
50%,13.0,8.900000,2.730284,2.200000,0.000000,1016.200000,180.000000,3.600000,7.000000,16.000000,2018.000000
75%,13.0,20.000000,2.730284,13.300000,0.000000,1021.300000,290.000000,5.700000,10.000000,23.000000,2018.000000
max,13.0,37.800000,9.000000,25.600000,434.000000,1046.500000,360.000000,17.000000,12.000000,31.000000,2018.000000

In [380]:
weather_sea13_mean=weather_sea13['sea_level_pressure'].mean()
weather_sea13['sea_level_pressure'].fillna(weather_sea13_mean,inplace=True)

In [381]:
weather_sea13_mean

1016.6929656367365

In [382]:
weather_sea13.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17519.0,17519.000000,17519.000000,17519.000000,17519.000000,17519.000000,17063.000000,17517.000000,17519.000000,17519.000000,17519.000000
mean,13.0,8.732608,2.730284,2.553845,0.771854,1016.692966,186.965364,4.069772,6.525829,15.719904,2017.500029
std,0.0,12.879347,1.954418,11.839649,7.111564,8.288079,110.916586,2.243461,3.447948,8.796336,0.500014
min,13.0,-26.100000,0.000000,-30.000000,-1.000000,987.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,13.0,-1.100000,2.000000,-5.800000,0.000000,1011.500000,100.000000,2.600000,4.000000,8.000000,2017.000000
50%,13.0,8.900000,2.730284,2.200000,0.000000,1016.300000,180.000000,3.600000,7.000000,16.000000,2018.000000
75%,13.0,20.000000,2.730284,13.300000,0.000000,1021.200000,290.000000,5.700000,10.000000,23.000000,2018.000000
max,13.0,37.800000,9.000000,25.600000,434.000000,1046.500000,360.000000,17.000000,12.000000,31.000000,2018.000000

# sea_level_pressure site_id=14

In [383]:
weather_sea14=precip_filled[precip_filled['site_id']==14]

In [384]:
weather_sea14.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17516.0,17516.000000,17516.000000,17516.000000,17516.000000,17271.000000,17038.000000,17488.000000,17516.000000,17516.000000,17516.000000
mean,14.0,13.035115,0.724156,6.831649,1.179078,1016.724179,183.196971,3.112992,6.526433,15.721226,2017.499943
std,0.0,10.241496,1.299246,10.971421,9.057952,7.906935,121.264096,2.068353,3.447769,8.795516,0.500014
min,14.0,-17.200000,0.000000,-26.100000,-1.000000,982.600000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,14.0,5.000000,0.000000,-2.200000,0.000000,1012.000000,70.000000,1.500000,4.000000,8.000000,2017.000000
50%,14.0,13.300000,0.724156,7.800000,0.000000,1016.600000,210.000000,3.100000,7.000000,16.000000,2017.000000
75%,14.0,21.700000,0.724156,16.700000,0.000000,1021.500000,290.000000,4.100000,10.000000,23.000000,2018.000000
max,14.0,35.600000,9.000000,25.600000,394.000000,1043.400000,360.000000,13.400000,12.000000,31.000000,2018.000000

In [385]:
weather_sea14_mean=weather_sea14['sea_level_pressure'].mean()
weather_sea14['sea_level_pressure'].fillna(weather_sea14_mean,inplace=True)

In [386]:
weather_sea14_mean

1016.7241792600262

In [387]:
weather_sea14.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17516.0,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000,17038.000000,17488.000000,17516.000000,17516.000000,17516.000000
mean,14.0,13.035115,0.724156,6.831649,1.179078,1016.724179,183.196971,3.112992,6.526433,15.721226,2017.499943
std,0.0,10.241496,1.299246,10.971421,9.057952,7.851439,121.264096,2.068353,3.447769,8.795516,0.500014
min,14.0,-17.200000,0.000000,-26.100000,-1.000000,982.600000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,14.0,5.000000,0.000000,-2.200000,0.000000,1012.100000,70.000000,1.500000,4.000000,8.000000,2017.000000
50%,14.0,13.300000,0.724156,7.800000,0.000000,1016.700000,210.000000,3.100000,7.000000,16.000000,2017.000000
75%,14.0,21.700000,0.724156,16.700000,0.000000,1021.400000,290.000000,4.100000,10.000000,23.000000,2018.000000
max,14.0,35.600000,9.000000,25.600000,394.000000,1043.400000,360.000000,13.400000,12.000000,31.000000,2018.000000

# sea_level_pressure site_id=15

In [388]:
weather_sea15=precip_filled[precip_filled['site_id']==15]

In [389]:
weather_sea15.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17201.0,17201.000000,17201.000000,17201.000000,17201.000000,16252.000000,16770.000000,17189.000000,17201.000000,17201.000000,17201.000000
mean,15.0,8.942191,1.082078,4.695881,3.335574,1017.295521,186.709004,3.606830,6.503168,15.677402,2017.504680
std,0.0,10.804599,1.126459,10.523600,6.625860,7.868558,108.718203,2.357661,3.440644,8.815192,0.499993
min,15.0,-21.700000,0.000000,-23.900000,-1.000000,984.500000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,15.0,0.600000,0.000000,-3.900000,3.335574,1012.500000,110.000000,2.100000,4.000000,8.000000,2017.000000
50%,15.0,9.000000,1.082078,5.600000,3.335574,1017.300000,170.000000,3.100000,7.000000,16.000000,2018.000000
75%,15.0,17.800000,1.082078,13.900000,3.335574,1022.400000,290.000000,5.100000,9.000000,23.000000,2018.000000
max,15.0,34.400000,9.000000,23.900000,442.000000,1044.600000,360.000000,14.900000,12.000000,31.000000,2018.000000

In [390]:
weather_sea15_mean=weather_sea15['sea_level_pressure'].mean()
weather_sea15['sea_level_pressure'].fillna(weather_sea15_mean,inplace=True)

In [391]:
weather_sea15_mean

1017.2955205513166

In [392]:
weather_sea15.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17201.0,17201.000000,17201.000000,17201.000000,17201.000000,17201.000000,16770.000000,17189.000000,17201.000000,17201.000000,17201.000000
mean,15.0,8.942191,1.082078,4.695881,3.335574,1017.295521,186.709004,3.606830,6.503168,15.677402,2017.504680
std,0.0,10.804599,1.126459,10.523600,6.625860,7.648406,108.718203,2.357661,3.440644,8.815192,0.499993
min,15.0,-21.700000,0.000000,-23.900000,-1.000000,984.500000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,15.0,0.600000,0.000000,-3.900000,3.335574,1012.900000,110.000000,2.100000,4.000000,8.000000,2017.000000
50%,15.0,9.000000,1.082078,5.600000,3.335574,1017.295521,170.000000,3.100000,7.000000,16.000000,2018.000000
75%,15.0,17.800000,1.082078,13.900000,3.335574,1022.000000,290.000000,5.100000,9.000000,23.000000,2018.000000
max,15.0,34.400000,9.000000,23.900000,442.000000,1044.600000,360.000000,14.900000,12.000000,31.000000,2018.000000

# Merge the above cells into sea_press_filled

In [393]:
sea_press_filled = pd.concat([weather_sea0,weather_sea1,weather_sea2,
                           weather_sea3,weather_sea4,weather_sea5,
                           weather_sea6,weather_sea7,weather_sea8,
                           weather_sea9,weather_sea10,weather_sea11,
                           weather_sea12,weather_sea13,weather_sea14,
                           weather_sea15], axis=0)

In [394]:
sea_press_filled.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,277243.000000,277243.000000,277243.000000,277243.000000,277243.000000,277243.000000,264873.000000,276783.000000,277243.000000,277243.00000,277243.000000
mean,7.484654,14.277772,1.660489,7.488916,2.136486,953.012634,180.426023,3.548873,6.505362,15.69658,2017.499266
std,4.616959,10.740123,2.118598,10.149690,8.162613,245.528662,110.456872,2.317184,3.440583,8.81615,0.500000
min,0.000000,-28.100000,0.000000,-31.600000,-1.000000,0.000000,0.000000,0.000000,1.000000,1.00000,2017.000000
25%,3.000000,7.200000,0.000000,0.600000,0.000000,1010.400000,80.000000,2.100000,4.000000,8.00000,2017.000000
50%,7.000000,15.000000,0.698623,8.400000,0.000000,1015.800000,190.000000,3.100000,7.000000,16.00000,2017.000000
75%,12.000000,22.200000,2.730284,15.000000,0.000000,1020.300000,280.000000,4.600000,9.000000,23.00000,2018.000000
max,15.000000,48.300000,9.000000,26.700000,597.000000,1050.100000,360.000000,24.200000,12.000000,31.00000,2018.000000

use sea_press_filled to fill in the remaining missing columns

# wind_direction site_id=0

In [395]:
weather_wind_dir0=sea_press_filled[sea_press_filled['site_id']==0]

In [396]:
weather_wind_dir0.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17043.000000,17518.000000,17520.000000,17520.000000,17520.000000
mean,0.0,22.699104,2.975945,17.660725,1.169297,1017.929754,150.531597,3.399675,6.526027,15.720548,2017.500000
std,0.0,5.822209,1.598494,6.664774,12.581043,4.528139,113.980426,2.190697,3.447950,8.796498,0.500014
min,0.0,-2.800000,0.000000,-10.600000,-1.000000,981.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,0.0,19.400000,2.000000,14.400000,0.000000,1015.300000,60.000000,2.100000,4.000000,8.000000,2017.000000
50%,0.0,23.900000,2.975945,19.400000,0.000000,1017.929754,130.000000,3.100000,7.000000,16.000000,2017.500000
75%,0.0,26.700000,4.000000,22.800000,0.000000,1020.300000,240.000000,4.600000,10.000000,23.000000,2018.000000
max,0.0,35.000000,9.000000,26.700000,597.000000,1036.300000,360.000000,24.200000,12.000000,31.000000,2018.000000

In [397]:
weather_wind_dir0_mean=weather_wind_dir0['wind_direction'].mean()
weather_wind_dir0['wind_direction'].fillna(weather_wind_dir0_mean,inplace=True)

In [398]:
weather_wind_dir0_mean

150.53159654990318

In [399]:
weather_wind_dir0.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17518.000000,17520.000000,17520.000000,17520.000000
mean,0.0,22.699104,2.975945,17.660725,1.169297,1017.929754,150.531597,3.399675,6.526027,15.720548,2017.500000
std,0.0,5.822209,1.598494,6.664774,12.581043,4.528139,112.418012,2.190697,3.447950,8.796498,0.500014
min,0.0,-2.800000,0.000000,-10.600000,-1.000000,981.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,0.0,19.400000,2.000000,14.400000,0.000000,1015.300000,60.000000,2.100000,4.000000,8.000000,2017.000000
50%,0.0,23.900000,2.975945,19.400000,0.000000,1017.929754,140.000000,3.100000,7.000000,16.000000,2017.500000
75%,0.0,26.700000,4.000000,22.800000,0.000000,1020.300000,240.000000,4.600000,10.000000,23.000000,2018.000000
max,0.0,35.000000,9.000000,26.700000,597.000000,1036.300000,360.000000,24.200000,12.000000,31.000000,2018.000000

# wind_direction site_id=1

In [400]:
weather_wind_dir1=sea_press_filled[sea_press_filled['site_id']==1]

In [401]:
weather_wind_dir1.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17287.0,17287.000000,17287.000000,17287.000000,17287.0,17287.000000,17282.000000,17287.000000,17287.000000,17287.000000,17287.000000
mean,1.0,12.169638,0.047316,7.543412,0.0,1015.639450,198.876866,4.037467,6.478105,15.677793,2017.493666
std,0.0,6.478613,0.297596,4.959083,0.0,10.102659,94.319322,2.137726,3.441478,8.838987,0.499974
min,1.0,-5.000000,0.000000,-9.600000,0.0,972.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,1.0,7.500000,0.047316,4.100000,0.0,1010.100000,130.000000,2.600000,4.000000,8.000000,2017.000000
50%,1.0,11.800000,0.047316,8.000000,0.0,1016.700000,220.000000,3.600000,6.000000,16.000000,2017.000000
75%,1.0,16.600000,0.047316,11.300000,0.0,1022.400000,270.000000,5.100000,9.000000,23.000000,2018.000000
max,1.0,34.400000,9.000000,19.900000,0.0,1039.600000,360.000000,18.500000,12.000000,31.000000,2018.000000

In [402]:
weather_wind_dir1_mean=weather_wind_dir1['wind_direction'].mean()
weather_wind_dir1['wind_direction'].fillna(weather_wind_dir1_mean,inplace=True)

In [403]:
weather_wind_dir1_mean

198.87686610346026

In [404]:
weather_wind_dir1.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17287.0,17287.000000,17287.000000,17287.000000,17287.0,17287.000000,17287.000000,17287.000000,17287.000000,17287.000000,17287.000000
mean,1.0,12.169638,0.047316,7.543412,0.0,1015.639450,198.876866,4.037467,6.478105,15.677793,2017.493666
std,0.0,6.478613,0.297596,4.959083,0.0,10.102659,94.305680,2.137726,3.441478,8.838987,0.499974
min,1.0,-5.000000,0.000000,-9.600000,0.0,972.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,1.0,7.500000,0.047316,4.100000,0.0,1010.100000,130.000000,2.600000,4.000000,8.000000,2017.000000
50%,1.0,11.800000,0.047316,8.000000,0.0,1016.700000,220.000000,3.600000,6.000000,16.000000,2017.000000
75%,1.0,16.600000,0.047316,11.300000,0.0,1022.400000,270.000000,5.100000,9.000000,23.000000,2018.000000
max,1.0,34.400000,9.000000,19.900000,0.0,1039.600000,360.000000,18.500000,12.000000,31.000000,2018.000000

# wind_direction site_id=2

In [405]:
weather_wind_dir2=sea_press_filled[sea_press_filled['site_id']==2]

In [406]:
weather_wind_dir2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,16327.000000,17511.000000,17520.000000,17520.000000,17520.000000
mean,2.0,24.975422,2.150393,3.817747,0.154123,1011.315251,154.057083,2.883268,6.526027,15.720548,2017.500000
std,0.0,9.317476,1.603817,8.326501,3.160123,5.308259,103.832849,1.919632,3.447950,8.796498,0.500014
min,2.0,2.200000,0.000000,-22.200000,-1.000000,996.100000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,2.0,17.200000,2.000000,-2.200000,0.000000,1007.400000,80.000000,1.500000,4.000000,8.000000,2017.000000
50%,2.0,25.000000,2.150393,2.800000,0.000000,1010.600000,130.000000,2.600000,7.000000,16.000000,2017.500000
75%,2.0,32.350000,2.150393,9.400000,0.000000,1014.800000,250.000000,3.600000,10.000000,23.000000,2018.000000
max,2.0,48.300000,8.000000,24.400000,234.000000,1032.200000,360.000000,21.100000,12.000000,31.000000,2018.000000

In [407]:
weather_wind_dir2_mean=weather_wind_dir2['wind_direction'].mean()
weather_wind_dir2['wind_direction'].fillna(weather_wind_dir2_mean,inplace=True)

In [408]:
weather_wind_dir2_mean

154.05708335885345

In [409]:
weather_wind_dir2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17511.000000,17520.000000,17520.000000,17520.000000
mean,2.0,24.975422,2.150393,3.817747,0.154123,1011.315251,154.057083,2.883268,6.526027,15.720548,2017.500000
std,0.0,9.317476,1.603817,8.326501,3.160123,5.308259,100.235142,1.919632,3.447950,8.796498,0.500014
min,2.0,2.200000,0.000000,-22.200000,-1.000000,996.100000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,2.0,17.200000,2.000000,-2.200000,0.000000,1007.400000,90.000000,1.500000,4.000000,8.000000,2017.000000
50%,2.0,25.000000,2.150393,2.800000,0.000000,1010.600000,140.000000,2.600000,7.000000,16.000000,2017.500000
75%,2.0,32.350000,2.150393,9.400000,0.000000,1014.800000,250.000000,3.600000,10.000000,23.000000,2018.000000
max,2.0,48.300000,8.000000,24.400000,234.000000,1032.200000,360.000000,21.100000,12.000000,31.000000,2018.000000

# wind_direction site_id=3

In [410]:
weather_wind_dir3=sea_press_filled[sea_press_filled['site_id']==3]

In [411]:
weather_wind_dir3.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17517.0,17517.000000,17517.000000,17517.000000,17517.000000,17517.000000,17265.000000,17509.000000,17517.000000,17517.000000,17517.000000
mean,3.0,15.493468,4.185599,8.365588,0.998111,1018.109089,183.912540,3.902696,6.526403,15.720843,2017.499971
std,0.0,9.853229,2.039558,10.981546,8.191122,7.457542,111.656426,2.253526,3.447723,8.796502,0.500014
min,3.0,-12.800000,0.000000,-22.200000,-1.000000,988.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,3.0,7.200000,4.000000,0.000000,0.000000,1013.500000,80.000000,2.600000,4.000000,8.000000,2017.000000
50%,3.0,16.100000,4.185599,10.000000,0.000000,1018.000000,190.000000,3.600000,7.000000,16.000000,2017.000000
75%,3.0,23.900000,4.185599,18.300000,0.000000,1022.400000,290.000000,5.100000,10.000000,23.000000,2018.000000
max,3.0,36.100000,9.000000,26.700000,345.000000,1043.700000,360.000000,19.600000,12.000000,31.000000,2018.000000

In [412]:
weather_wind_dir3_mean=weather_wind_dir3['wind_direction'].mean()
weather_wind_dir3['wind_direction'].fillna(weather_wind_dir3_mean,inplace=True)

In [413]:
weather_wind_dir3_mean

183.912539820446

In [414]:
weather_wind_dir3.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17517.0,17517.000000,17517.000000,17517.000000,17517.000000,17517.000000,17517.000000,17509.000000,17517.000000,17517.000000,17517.000000
mean,3.0,15.493468,4.185599,8.365588,0.998111,1018.109089,183.912540,3.902696,6.526403,15.720843,2017.499971
std,0.0,9.853229,2.039558,10.981546,8.191122,7.457542,110.850325,2.253526,3.447723,8.796502,0.500014
min,3.0,-12.800000,0.000000,-22.200000,-1.000000,988.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,3.0,7.200000,4.000000,0.000000,0.000000,1013.500000,90.000000,2.600000,4.000000,8.000000,2017.000000
50%,3.0,16.100000,4.185599,10.000000,0.000000,1018.000000,183.912540,3.600000,7.000000,16.000000,2017.000000
75%,3.0,23.900000,4.185599,18.300000,0.000000,1022.400000,290.000000,5.100000,10.000000,23.000000,2018.000000
max,3.0,36.100000,9.000000,26.700000,345.000000,1043.700000,360.000000,19.600000,12.000000,31.000000,2018.000000

# wind_direction site_id=4

In [415]:
weather_wind_dir4=sea_press_filled[sea_press_filled['site_id']==4]

In [416]:
weather_wind_dir4.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17516.0,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000,17312.000000,17516.000000,17516.000000,17516.000000,17516.000000
mean,4.0,14.469131,1.833333,9.804140,0.523210,1016.752308,204.333988,3.753751,6.527004,15.721569,2017.499943
std,0.0,4.333985,1.023824,4.107101,3.983073,4.851610,112.510366,2.539411,3.447583,8.795293,0.500014
min,4.0,0.000000,0.000000,-12.200000,-1.000000,987.300000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,4.0,11.700000,1.833333,7.800000,0.000000,1013.600000,120.000000,2.100000,4.000000,8.000000,2017.000000
50%,4.0,14.400000,1.833333,10.600000,0.000000,1016.300000,260.000000,3.600000,7.000000,16.000000,2017.000000
75%,4.0,17.200000,2.000000,12.800000,0.000000,1019.700000,290.000000,5.700000,10.000000,23.000000,2018.000000
max,4.0,38.300000,9.000000,19.400000,130.000000,1035.900000,360.000000,18.000000,12.000000,31.000000,2018.000000

In [417]:
weather_wind_dir4_mean=weather_wind_dir4['wind_direction'].mean()
weather_wind_dir4['wind_direction'].fillna(weather_wind_dir4_mean,inplace=True)

In [418]:
weather_wind_dir4_mean

204.33398798521256

In [419]:
weather_wind_dir4.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17516.0,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000
mean,4.0,14.469131,1.833333,9.804140,0.523210,1016.752308,204.333988,3.753751,6.527004,15.721569,2017.499943
std,0.0,4.333985,1.023824,4.107101,3.983073,4.851610,111.853234,2.539411,3.447583,8.795293,0.500014
min,4.0,0.000000,0.000000,-12.200000,-1.000000,987.300000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,4.0,11.700000,1.833333,7.800000,0.000000,1013.600000,120.000000,2.100000,4.000000,8.000000,2017.000000
50%,4.0,14.400000,1.833333,10.600000,0.000000,1016.300000,260.000000,3.600000,7.000000,16.000000,2017.000000
75%,4.0,17.200000,2.000000,12.800000,0.000000,1019.700000,290.000000,5.700000,10.000000,23.000000,2018.000000
max,4.0,38.300000,9.000000,19.400000,130.000000,1035.900000,360.000000,18.000000,12.000000,31.000000,2018.000000

# wind_direction site_id=5

In [420]:
weather_wind_dir5=sea_press_filled[sea_press_filled['site_id']==5]

In [421]:
weather_wind_dir5.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17241.0,17241.000000,17241.000000,17241.000000,17241.0,17241.0,16706.000000,17240.000000,17241.000000,17241.000000,17241.000000
mean,5.0,11.155443,0.433514,8.433527,0.0,0.0,209.924578,4.886265,6.476712,15.671481,2017.492779
std,0.0,5.379051,1.126972,4.831054,0.0,0.0,96.446130,2.430906,3.443165,8.840365,0.499962
min,5.0,-6.000000,0.000000,-13.000000,0.0,0.0,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,5.0,7.000000,0.000000,5.000000,0.0,0.0,120.000000,3.100000,3.000000,8.000000,2017.000000
50%,5.0,11.000000,0.433514,9.000000,0.0,0.0,250.000000,4.600000,6.000000,16.000000,2017.000000
75%,5.0,15.000000,0.433514,12.000000,0.0,0.0,290.000000,6.200000,9.000000,23.000000,2018.000000
max,5.0,30.000000,9.000000,20.000000,0.0,0.0,360.000000,16.500000,12.000000,31.000000,2018.000000

In [422]:
weather_wind_dir5_mean=weather_wind_dir5['wind_direction'].mean()
weather_wind_dir5['wind_direction'].fillna(weather_wind_dir5_mean,inplace=True)

In [423]:
weather_wind_dir5_mean

209.9245779959296

In [424]:
weather_wind_dir5.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17241.0,17241.000000,17241.000000,17241.000000,17241.0,17241.0,17241.000000,17240.000000,17241.000000,17241.000000,17241.000000
mean,5.0,11.155443,0.433514,8.433527,0.0,0.0,209.924578,4.886265,6.476712,15.671481,2017.492779
std,0.0,5.379051,1.126972,4.831054,0.0,0.0,94.937855,2.430906,3.443165,8.840365,0.499962
min,5.0,-6.000000,0.000000,-13.000000,0.0,0.0,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,5.0,7.000000,0.000000,5.000000,0.0,0.0,120.000000,3.100000,3.000000,8.000000,2017.000000
50%,5.0,11.000000,0.433514,9.000000,0.0,0.0,250.000000,4.600000,6.000000,16.000000,2017.000000
75%,5.0,15.000000,0.433514,12.000000,0.0,0.0,280.000000,6.200000,9.000000,23.000000,2018.000000
max,5.0,30.000000,9.000000,20.000000,0.0,0.0,360.000000,16.500000,12.000000,31.000000,2018.000000

# wind_direction site_id=6

In [425]:
weather_wind_dir6=sea_press_filled[sea_press_filled['site_id']==6]

In [426]:
weather_wind_dir6.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17504.0,17504.000000,17504.000000,17504.000000,17504.000000,17504.000000,16092.000000,17453.000000,17504.000000,17504.000000,17504.000000
mean,6.0,15.235606,0.698623,7.866326,1.146048,1017.578311,127.857942,2.256947,6.525480,15.722006,2017.499714
std,0.0,9.761678,1.309143,11.178351,8.742044,7.214486,118.807925,1.895758,3.447624,8.796438,0.500014
min,6.0,-16.100000,0.000000,-23.900000,-1.000000,986.800000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,6.0,7.200000,0.000000,-1.100000,0.000000,1013.200000,0.000000,0.000000,4.000000,8.000000,2017.000000
50%,6.0,16.100000,0.000000,10.000000,0.000000,1017.500000,140.000000,2.100000,7.000000,16.000000,2017.000000
75%,6.0,23.300000,0.698623,17.800000,0.000000,1021.800000,210.000000,3.600000,10.000000,23.000000,2018.000000
max,6.0,36.700000,9.000000,26.100000,287.000000,1042.700000,360.000000,15.400000,12.000000,31.000000,2018.000000

In [427]:
weather_wind_dir6_mean=weather_wind_dir6['wind_direction'].mean()
weather_wind_dir6['wind_direction'].fillna(weather_wind_dir6_mean,inplace=True)

In [428]:
weather_wind_dir6_mean

127.8579418344519

In [429]:
weather_wind_dir6.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17504.0,17504.000000,17504.000000,17504.000000,17504.000000,17504.000000,17504.000000,17453.000000,17504.000000,17504.000000,17504.000000
mean,6.0,15.235606,0.698623,7.866326,1.146048,1017.578311,127.857942,2.256947,6.525480,15.722006,2017.499714
std,0.0,9.761678,1.309143,11.178351,8.742044,7.214486,113.914939,1.895758,3.447624,8.796438,0.500014
min,6.0,-16.100000,0.000000,-23.900000,-1.000000,986.800000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,6.0,7.200000,0.000000,-1.100000,0.000000,1013.200000,0.000000,0.000000,4.000000,8.000000,2017.000000
50%,6.0,16.100000,0.000000,10.000000,0.000000,1017.500000,127.857942,2.100000,7.000000,16.000000,2017.000000
75%,6.0,23.300000,0.698623,17.800000,0.000000,1021.800000,200.000000,3.600000,10.000000,23.000000,2018.000000
max,6.0,36.700000,9.000000,26.100000,287.000000,1042.700000,360.000000,15.400000,12.000000,31.000000,2018.000000

# wind_direction site_id=7

In [430]:
weather_wind_dir7=sea_press_filled[sea_press_filled['site_id']==7]

In [431]:
weather_wind_dir7.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,16573.0,16573.000000,16573.0,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000
mean,7.0,7.407512,0.0,2.106609,11.808013,1015.776287,205.988415,3.362167,6.447113,15.618295,2017.502444
std,0.0,12.211686,0.0,11.608555,6.981134,8.848635,101.454919,1.986871,3.401939,8.889502,0.500009
min,7.0,-28.100000,0.0,-31.600000,2.000000,973.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,7.0,-1.100000,0.0,-6.000000,11.808013,1010.200000,100.000000,2.100000,4.000000,8.000000,2017.000000
50%,7.0,7.700000,0.0,2.400000,11.808013,1015.600000,220.000000,3.100000,6.000000,15.000000,2018.000000
75%,7.0,17.800000,0.0,11.800000,11.808013,1021.300000,290.000000,4.600000,9.000000,23.000000,2018.000000
max,7.0,34.700000,0.0,24.600000,278.000000,1045.000000,360.000000,14.900000,12.000000,31.000000,2018.000000

In [432]:
weather_wind_dir7_mean=weather_wind_dir7['wind_direction'].mean()
weather_wind_dir7['wind_direction'].fillna(weather_wind_dir7_mean,inplace=True)

In [433]:
weather_wind_dir7_mean

205.9884148916913

In [434]:
weather_wind_dir7.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,16573.0,16573.000000,16573.0,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000
mean,7.0,7.407512,0.0,2.106609,11.808013,1015.776287,205.988415,3.362167,6.447113,15.618295,2017.502444
std,0.0,12.211686,0.0,11.608555,6.981134,8.848635,101.454919,1.986871,3.401939,8.889502,0.500009
min,7.0,-28.100000,0.0,-31.600000,2.000000,973.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,7.0,-1.100000,0.0,-6.000000,11.808013,1010.200000,100.000000,2.100000,4.000000,8.000000,2017.000000
50%,7.0,7.700000,0.0,2.400000,11.808013,1015.600000,220.000000,3.100000,6.000000,15.000000,2018.000000
75%,7.0,17.800000,0.0,11.800000,11.808013,1021.300000,290.000000,4.600000,9.000000,23.000000,2018.000000
max,7.0,34.700000,0.0,24.600000,278.000000,1045.000000,360.000000,14.900000,12.000000,31.000000,2018.000000

# wind_direction site_id=8

In [435]:
weather_wind_dir8=sea_press_filled[sea_press_filled['site_id']==8]

In [436]:
weather_wind_dir8.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17043.000000,17518.000000,17520.000000,17520.000000,17520.000000
mean,8.0,22.699104,2.975945,17.660725,1.169297,1017.929754,150.531597,3.399675,6.526027,15.720548,2017.500000
std,0.0,5.822209,1.598494,6.664774,12.581043,4.528139,113.980426,2.190697,3.447950,8.796498,0.500014
min,8.0,-2.800000,0.000000,-10.600000,-1.000000,981.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,8.0,19.400000,2.000000,14.400000,0.000000,1015.300000,60.000000,2.100000,4.000000,8.000000,2017.000000
50%,8.0,23.900000,2.975945,19.400000,0.000000,1017.929754,130.000000,3.100000,7.000000,16.000000,2017.500000
75%,8.0,26.700000,4.000000,22.800000,0.000000,1020.300000,240.000000,4.600000,10.000000,23.000000,2018.000000
max,8.0,35.000000,9.000000,26.700000,597.000000,1036.300000,360.000000,24.200000,12.000000,31.000000,2018.000000

In [437]:
weather_wind_dir8_mean=weather_wind_dir8['wind_direction'].mean()
weather_wind_dir8['wind_direction'].fillna(weather_wind_dir8_mean,inplace=True)

In [438]:
weather_wind_dir8_mean

150.53159654990318

In [439]:
weather_wind_dir8.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17518.000000,17520.000000,17520.000000,17520.000000
mean,8.0,22.699104,2.975945,17.660725,1.169297,1017.929754,150.531597,3.399675,6.526027,15.720548,2017.500000
std,0.0,5.822209,1.598494,6.664774,12.581043,4.528139,112.418012,2.190697,3.447950,8.796498,0.500014
min,8.0,-2.800000,0.000000,-10.600000,-1.000000,981.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,8.0,19.400000,2.000000,14.400000,0.000000,1015.300000,60.000000,2.100000,4.000000,8.000000,2017.000000
50%,8.0,23.900000,2.975945,19.400000,0.000000,1017.929754,140.000000,3.100000,7.000000,16.000000,2017.500000
75%,8.0,26.700000,4.000000,22.800000,0.000000,1020.300000,240.000000,4.600000,10.000000,23.000000,2018.000000
max,8.0,35.000000,9.000000,26.700000,597.000000,1036.300000,360.000000,24.200000,12.000000,31.000000,2018.000000

# wind_direction site_id=9

In [440]:
weather_wind_dir9=sea_press_filled[sea_press_filled['site_id']==9]

In [441]:
weather_wind_dir9.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17481.0,17481.000000,17481.000000,17481.000000,17481.000000,17481.000000,12080.000000,17228.000000,17481.000000,17481.000000,17481.000000
mean,9.0,21.303994,0.582447,13.460350,0.786026,1016.293263,126.860099,2.194120,6.520966,15.720725,2017.499514
std,0.0,8.618335,1.025296,8.426519,9.096148,6.338719,118.183678,1.509227,3.446490,8.797683,0.500014
min,9.0,-7.800000,0.000000,-16.100000,-1.000000,995.700000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,9.0,15.600000,0.000000,7.800000,0.000000,1012.200000,0.000000,1.500000,4.000000,8.000000,2017.000000
50%,9.0,22.800000,0.582447,16.700000,0.000000,1015.500000,140.000000,2.100000,7.000000,16.000000,2017.000000
75%,9.0,27.200000,0.582447,20.000000,0.000000,1019.700000,190.000000,3.100000,10.000000,23.000000,2018.000000
max,9.0,42.800000,9.000000,25.600000,363.000000,1043.800000,360.000000,9.300000,12.000000,31.000000,2018.000000

In [442]:
weather_wind_dir9_mean=weather_wind_dir9['wind_direction'].mean()
weather_wind_dir9['wind_direction'].fillna(weather_wind_dir9_mean,inplace=True)

In [443]:
weather_wind_dir9_mean

126.86009933774834

In [444]:
weather_wind_dir9.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17481.0,17481.000000,17481.000000,17481.000000,17481.000000,17481.000000,17481.000000,17228.000000,17481.000000,17481.000000,17481.000000
mean,9.0,21.303994,0.582447,13.460350,0.786026,1016.293263,126.860099,2.194120,6.520966,15.720725,2017.499514
std,0.0,8.618335,1.025296,8.426519,9.096148,6.338719,98.243150,1.509227,3.446490,8.797683,0.500014
min,9.0,-7.800000,0.000000,-16.100000,-1.000000,995.700000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,9.0,15.600000,0.000000,7.800000,0.000000,1012.200000,20.000000,1.500000,4.000000,8.000000,2017.000000
50%,9.0,22.800000,0.582447,16.700000,0.000000,1015.500000,126.860099,2.100000,7.000000,16.000000,2017.000000
75%,9.0,27.200000,0.582447,20.000000,0.000000,1019.700000,170.000000,3.100000,10.000000,23.000000,2018.000000
max,9.0,42.800000,9.000000,25.600000,363.000000,1043.800000,360.000000,9.300000,12.000000,31.000000,2018.000000

# wind_direction site_id=10

In [445]:
weather_wind_dir10=sea_press_filled[sea_press_filled['site_id']==10]

In [446]:
weather_wind_dir10.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17476.0,17476.000000,17476.000000,17476.000000,17476.000000,17476.000000,16430.000000,17384.000000,17476.000000,17476.00000,17476.000000
mean,10.0,11.734274,0.319781,-0.498615,0.301296,1015.426970,183.209373,3.072463,6.518654,15.71046,2017.499714
std,0.0,11.235452,0.961948,5.752474,2.755533,8.167215,102.773241,2.005543,3.444545,8.79012,0.500014
min,10.0,-19.400000,0.000000,-23.900000,-1.000000,988.700000,0.000000,0.000000,1.000000,1.00000,2017.000000
25%,10.0,2.800000,0.000000,-4.400000,0.000000,1010.000000,150.000000,2.100000,4.000000,8.00000,2017.000000
50%,10.0,10.600000,0.000000,-0.600000,0.000000,1014.400000,170.000000,3.100000,7.000000,16.00000,2017.000000
75%,10.0,20.600000,0.319781,3.300000,0.000000,1020.300000,260.000000,4.100000,10.000000,23.00000,2018.000000
max,10.0,38.300000,9.000000,17.200000,102.000000,1050.100000,360.000000,17.000000,12.000000,31.00000,2018.000000

In [447]:
weather_wind_dir10_mean=weather_wind_dir10['wind_direction'].mean()
weather_wind_dir10['wind_direction'].fillna(weather_wind_dir10_mean,inplace=True)

In [448]:
weather_wind_dir10_mean

183.2093730979915

In [449]:
weather_wind_dir10.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17476.0,17476.000000,17476.000000,17476.000000,17476.000000,17476.000000,17476.000000,17384.000000,17476.000000,17476.00000,17476.000000
mean,10.0,11.734274,0.319781,-0.498615,0.301296,1015.426970,183.209373,3.072463,6.518654,15.71046,2017.499714
std,0.0,11.235452,0.961948,5.752474,2.755533,8.167215,99.649937,2.005543,3.444545,8.79012,0.500014
min,10.0,-19.400000,0.000000,-23.900000,-1.000000,988.700000,0.000000,0.000000,1.000000,1.00000,2017.000000
25%,10.0,2.800000,0.000000,-4.400000,0.000000,1010.000000,160.000000,2.100000,4.000000,8.00000,2017.000000
50%,10.0,10.600000,0.000000,-0.600000,0.000000,1014.400000,180.000000,3.100000,7.000000,16.00000,2017.000000
75%,10.0,20.600000,0.319781,3.300000,0.000000,1020.300000,250.000000,4.100000,10.000000,23.00000,2018.000000
max,10.0,38.300000,9.000000,17.200000,102.000000,1050.100000,360.000000,17.000000,12.000000,31.00000,2018.000000

# wind_direction site_id=11

In [450]:
weather_wind_dir11=sea_press_filled[sea_press_filled['site_id']==11]

In [451]:
weather_wind_dir11.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,16573.0,16573.000000,16573.0,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000
mean,11.0,7.407512,0.0,2.106609,11.808013,1015.776287,205.988415,3.362167,6.447113,15.618295,2017.502444
std,0.0,12.211686,0.0,11.608555,6.981134,8.848635,101.454919,1.986871,3.401939,8.889502,0.500009
min,11.0,-28.100000,0.0,-31.600000,2.000000,973.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,11.0,-1.100000,0.0,-6.000000,11.808013,1010.200000,100.000000,2.100000,4.000000,8.000000,2017.000000
50%,11.0,7.700000,0.0,2.400000,11.808013,1015.600000,220.000000,3.100000,6.000000,15.000000,2018.000000
75%,11.0,17.800000,0.0,11.800000,11.808013,1021.300000,290.000000,4.600000,9.000000,23.000000,2018.000000
max,11.0,34.700000,0.0,24.600000,278.000000,1045.000000,360.000000,14.900000,12.000000,31.000000,2018.000000

In [452]:
weather_wind_dir11_mean=weather_wind_dir11['wind_direction'].mean()
weather_wind_dir11['wind_direction'].fillna(weather_wind_dir11_mean,inplace=True)

In [453]:
weather_wind_dir11_mean

205.9884148916913

In [454]:
weather_wind_dir11.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,16573.0,16573.000000,16573.0,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000
mean,11.0,7.407512,0.0,2.106609,11.808013,1015.776287,205.988415,3.362167,6.447113,15.618295,2017.502444
std,0.0,12.211686,0.0,11.608555,6.981134,8.848635,101.454919,1.986871,3.401939,8.889502,0.500009
min,11.0,-28.100000,0.0,-31.600000,2.000000,973.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,11.0,-1.100000,0.0,-6.000000,11.808013,1010.200000,100.000000,2.100000,4.000000,8.000000,2017.000000
50%,11.0,7.700000,0.0,2.400000,11.808013,1015.600000,220.000000,3.100000,6.000000,15.000000,2018.000000
75%,11.0,17.800000,0.0,11.800000,11.808013,1021.300000,290.000000,4.600000,9.000000,23.000000,2018.000000
max,11.0,34.700000,0.0,24.600000,278.000000,1045.000000,360.000000,14.900000,12.000000,31.000000,2018.000000

# wind_direction site_id=12

In [455]:
weather_wind_dir12=sea_press_filled[sea_press_filled['site_id']==12]

In [456]:
weather_wind_dir12.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17279.0,17279.000000,17279.000000,17279.000000,17279.0,17279.000000,17276.000000,17279.000000,17279.000000,17279.000000,17279.000000
mean,12.0,10.017796,5.645881,6.781289,0.0,1013.811542,209.343019,5.485092,6.477285,15.673997,2017.493605
std,0.0,5.186032,2.274425,4.500680,0.0,11.647678,80.136152,2.682558,3.441715,8.838032,0.499974
min,12.0,-4.800000,0.000000,-8.600000,0.0,973.700000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,12.0,6.400000,4.000000,3.500000,0.0,1006.700000,150.000000,4.000000,4.000000,8.000000,2017.000000
50%,12.0,10.100000,7.000000,7.100000,0.0,1015.200000,230.000000,5.000000,6.000000,16.000000,2017.000000
75%,12.0,13.700000,7.000000,10.000000,0.0,1021.800000,260.000000,7.000000,9.000000,23.000000,2018.000000
max,12.0,26.300000,9.000000,18.800000,0.0,1041.500000,360.000000,23.000000,12.000000,31.000000,2018.000000

In [457]:
weather_wind_dir12_mean=weather_wind_dir12['wind_direction'].mean()
weather_wind_dir12['wind_direction'].fillna(weather_wind_dir12_mean,inplace=True)

In [458]:
weather_wind_dir12_mean

209.34301921741144

In [459]:
weather_wind_dir12.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17279.0,17279.000000,17279.000000,17279.000000,17279.0,17279.000000,17279.000000,17279.000000,17279.000000,17279.000000,17279.000000
mean,12.0,10.017796,5.645881,6.781289,0.0,1013.811542,209.343019,5.485092,6.477285,15.673997,2017.493605
std,0.0,5.186032,2.274425,4.500680,0.0,11.647678,80.129194,2.682558,3.441715,8.838032,0.499974
min,12.0,-4.800000,0.000000,-8.600000,0.0,973.700000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,12.0,6.400000,4.000000,3.500000,0.0,1006.700000,150.000000,4.000000,4.000000,8.000000,2017.000000
50%,12.0,10.100000,7.000000,7.100000,0.0,1015.200000,230.000000,5.000000,6.000000,16.000000,2017.000000
75%,12.0,13.700000,7.000000,10.000000,0.0,1021.800000,260.000000,7.000000,9.000000,23.000000,2018.000000
max,12.0,26.300000,9.000000,18.800000,0.0,1041.500000,360.000000,23.000000,12.000000,31.000000,2018.000000

# wind_direction site_id=13

In [460]:
weather_wind_dir13=sea_press_filled[sea_press_filled['site_id']==13]

In [461]:
weather_wind_dir13.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17519.0,17519.000000,17519.000000,17519.000000,17519.000000,17519.000000,17063.000000,17517.000000,17519.000000,17519.000000,17519.000000
mean,13.0,8.732608,2.730284,2.553845,0.771854,1016.692966,186.965364,4.069772,6.525829,15.719904,2017.500029
std,0.0,12.879347,1.954418,11.839649,7.111564,8.288079,110.916586,2.243461,3.447948,8.796336,0.500014
min,13.0,-26.100000,0.000000,-30.000000,-1.000000,987.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,13.0,-1.100000,2.000000,-5.800000,0.000000,1011.500000,100.000000,2.600000,4.000000,8.000000,2017.000000
50%,13.0,8.900000,2.730284,2.200000,0.000000,1016.300000,180.000000,3.600000,7.000000,16.000000,2018.000000
75%,13.0,20.000000,2.730284,13.300000,0.000000,1021.200000,290.000000,5.700000,10.000000,23.000000,2018.000000
max,13.0,37.800000,9.000000,25.600000,434.000000,1046.500000,360.000000,17.000000,12.000000,31.000000,2018.000000

In [462]:
weather_wind_dir13_mean=weather_wind_dir13['wind_direction'].mean()
weather_wind_dir13['wind_direction'].fillna(weather_wind_dir13_mean,inplace=True)

In [463]:
weather_wind_dir13_mean

186.96536365234718

In [464]:
weather_wind_dir13.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17519.0,17519.000000,17519.000000,17519.000000,17519.000000,17519.000000,17519.000000,17517.000000,17519.000000,17519.000000,17519.000000
mean,13.0,8.732608,2.730284,2.553845,0.771854,1016.692966,186.965364,4.069772,6.525829,15.719904,2017.500029
std,0.0,12.879347,1.954418,11.839649,7.111564,8.288079,109.463467,2.243461,3.447948,8.796336,0.500014
min,13.0,-26.100000,0.000000,-30.000000,-1.000000,987.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,13.0,-1.100000,2.000000,-5.800000,0.000000,1011.500000,110.000000,2.600000,4.000000,8.000000,2017.000000
50%,13.0,8.900000,2.730284,2.200000,0.000000,1016.300000,186.965364,3.600000,7.000000,16.000000,2018.000000
75%,13.0,20.000000,2.730284,13.300000,0.000000,1021.200000,290.000000,5.700000,10.000000,23.000000,2018.000000
max,13.0,37.800000,9.000000,25.600000,434.000000,1046.500000,360.000000,17.000000,12.000000,31.000000,2018.000000

# wind_direction site_id=14

In [465]:
weather_wind_dir14=sea_press_filled[sea_press_filled['site_id']==14]

In [466]:
weather_wind_dir14.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17516.0,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000,17038.000000,17488.000000,17516.000000,17516.000000,17516.000000
mean,14.0,13.035115,0.724156,6.831649,1.179078,1016.724179,183.196971,3.112992,6.526433,15.721226,2017.499943
std,0.0,10.241496,1.299246,10.971421,9.057952,7.851439,121.264096,2.068353,3.447769,8.795516,0.500014
min,14.0,-17.200000,0.000000,-26.100000,-1.000000,982.600000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,14.0,5.000000,0.000000,-2.200000,0.000000,1012.100000,70.000000,1.500000,4.000000,8.000000,2017.000000
50%,14.0,13.300000,0.724156,7.800000,0.000000,1016.700000,210.000000,3.100000,7.000000,16.000000,2017.000000
75%,14.0,21.700000,0.724156,16.700000,0.000000,1021.400000,290.000000,4.100000,10.000000,23.000000,2018.000000
max,14.0,35.600000,9.000000,25.600000,394.000000,1043.400000,360.000000,13.400000,12.000000,31.000000,2018.000000

In [467]:
weather_wind_dir14_mean=weather_wind_dir14['wind_direction'].mean()
weather_wind_dir14['wind_direction'].fillna(weather_wind_dir14_mean,inplace=True)

In [468]:
weather_wind_dir14_mean

183.1969714755253

In [469]:
weather_wind_dir14.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17516.0,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000,17488.000000,17516.000000,17516.000000,17516.000000
mean,14.0,13.035115,0.724156,6.831649,1.179078,1016.724179,183.196971,3.112992,6.526433,15.721226,2017.499943
std,0.0,10.241496,1.299246,10.971421,9.057952,7.851439,119.597947,2.068353,3.447769,8.795516,0.500014
min,14.0,-17.200000,0.000000,-26.100000,-1.000000,982.600000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,14.0,5.000000,0.000000,-2.200000,0.000000,1012.100000,70.000000,1.500000,4.000000,8.000000,2017.000000
50%,14.0,13.300000,0.724156,7.800000,0.000000,1016.700000,200.000000,3.100000,7.000000,16.000000,2017.000000
75%,14.0,21.700000,0.724156,16.700000,0.000000,1021.400000,290.000000,4.100000,10.000000,23.000000,2018.000000
max,14.0,35.600000,9.000000,25.600000,394.000000,1043.400000,360.000000,13.400000,12.000000,31.000000,2018.000000

# wind_direction site_id=15

In [470]:
weather_wind_dir15=sea_press_filled[sea_press_filled['site_id']==15]

In [471]:
weather_wind_dir15.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17201.0,17201.000000,17201.000000,17201.000000,17201.000000,17201.000000,16770.000000,17189.000000,17201.000000,17201.000000,17201.000000
mean,15.0,8.942191,1.082078,4.695881,3.335574,1017.295521,186.709004,3.606830,6.503168,15.677402,2017.504680
std,0.0,10.804599,1.126459,10.523600,6.625860,7.648406,108.718203,2.357661,3.440644,8.815192,0.499993
min,15.0,-21.700000,0.000000,-23.900000,-1.000000,984.500000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,15.0,0.600000,0.000000,-3.900000,3.335574,1012.900000,110.000000,2.100000,4.000000,8.000000,2017.000000
50%,15.0,9.000000,1.082078,5.600000,3.335574,1017.295521,170.000000,3.100000,7.000000,16.000000,2018.000000
75%,15.0,17.800000,1.082078,13.900000,3.335574,1022.000000,290.000000,5.100000,9.000000,23.000000,2018.000000
max,15.0,34.400000,9.000000,23.900000,442.000000,1044.600000,360.000000,14.900000,12.000000,31.000000,2018.000000

In [472]:
weather_wind_dir15_mean=weather_wind_dir15['wind_direction'].mean()
weather_wind_dir15['wind_direction'].fillna(weather_wind_dir15_mean,inplace=True)

In [473]:
weather_wind_dir15_mean

186.70900417412045

In [474]:
weather_wind_dir15.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17201.0,17201.000000,17201.000000,17201.000000,17201.000000,17201.000000,17201.000000,17189.000000,17201.000000,17201.000000,17201.000000
mean,15.0,8.942191,1.082078,4.695881,3.335574,1017.295521,186.709004,3.606830,6.503168,15.677402,2017.504680
std,0.0,10.804599,1.126459,10.523600,6.625860,7.648406,107.347423,2.357661,3.440644,8.815192,0.499993
min,15.0,-21.700000,0.000000,-23.900000,-1.000000,984.500000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,15.0,0.600000,0.000000,-3.900000,3.335574,1012.900000,120.000000,2.100000,4.000000,8.000000,2017.000000
50%,15.0,9.000000,1.082078,5.600000,3.335574,1017.295521,180.000000,3.100000,7.000000,16.000000,2018.000000
75%,15.0,17.800000,1.082078,13.900000,3.335574,1022.000000,290.000000,5.100000,9.000000,23.000000,2018.000000
max,15.0,34.400000,9.000000,23.900000,442.000000,1044.600000,360.000000,14.900000,12.000000,31.000000,2018.000000

# Merge the above cell to wind_dir_filled

In [475]:
wind_dir_filled = pd.concat([weather_wind_dir0,weather_wind_dir1,weather_wind_dir2,
                           weather_wind_dir3,weather_wind_dir4,weather_wind_dir5,
                           weather_wind_dir6,weather_wind_dir7,weather_wind_dir8,
                           weather_wind_dir9,weather_wind_dir10,weather_wind_dir11,
                           weather_wind_dir12,weather_wind_dir13,weather_wind_dir14,
                           weather_wind_dir15], axis=0)

In [476]:
wind_dir_filled.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,277243.000000,277243.000000,277243.000000,277243.000000,277243.000000,277243.000000,277243.000000,276783.000000,277243.000000,277243.00000,277243.000000
mean,7.484654,14.277772,1.660489,7.488916,2.136486,953.012634,179.012567,3.548873,6.505362,15.69658,2017.499266
std,4.616959,10.740123,2.118598,10.149690,8.162613,245.528662,108.317539,2.317184,3.440583,8.81615,0.500000
min,0.000000,-28.100000,0.000000,-31.600000,-1.000000,0.000000,0.000000,0.000000,1.000000,1.00000,2017.000000
25%,3.000000,7.200000,0.000000,0.600000,0.000000,1010.400000,90.000000,2.100000,4.000000,8.00000,2017.000000
50%,7.000000,15.000000,0.698623,8.400000,0.000000,1015.800000,183.196971,3.100000,7.000000,16.00000,2017.000000
75%,12.000000,22.200000,2.730284,15.000000,0.000000,1020.300000,270.000000,4.600000,9.000000,23.00000,2018.000000
max,15.000000,48.300000,9.000000,26.700000,597.000000,1050.100000,360.000000,24.200000,12.000000,31.00000,2018.000000

use wind_dir_filled to fill out the last remaining column

# wind_speed site_id=0

In [477]:
weather_wind_speed0=wind_dir_filled[wind_dir_filled['site_id']==0]

In [478]:
weather_wind_speed0.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17518.000000,17520.000000,17520.000000,17520.000000
mean,0.0,22.699104,2.975945,17.660725,1.169297,1017.929754,150.531597,3.399675,6.526027,15.720548,2017.500000
std,0.0,5.822209,1.598494,6.664774,12.581043,4.528139,112.418012,2.190697,3.447950,8.796498,0.500014
min,0.0,-2.800000,0.000000,-10.600000,-1.000000,981.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,0.0,19.400000,2.000000,14.400000,0.000000,1015.300000,60.000000,2.100000,4.000000,8.000000,2017.000000
50%,0.0,23.900000,2.975945,19.400000,0.000000,1017.929754,140.000000,3.100000,7.000000,16.000000,2017.500000
75%,0.0,26.700000,4.000000,22.800000,0.000000,1020.300000,240.000000,4.600000,10.000000,23.000000,2018.000000
max,0.0,35.000000,9.000000,26.700000,597.000000,1036.300000,360.000000,24.200000,12.000000,31.000000,2018.000000

In [479]:
weather_wind_speed0_mean=weather_wind_speed0['wind_speed'].mean()
weather_wind_speed0['wind_speed'].fillna(weather_wind_speed0_mean,inplace=True)

In [480]:
weather_wind_speed0_mean

3.3996746203896913

In [481]:
weather_wind_speed0.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000
mean,0.0,22.699104,2.975945,17.660725,1.169297,1017.929754,150.531597,3.399675,6.526027,15.720548,2017.500000
std,0.0,5.822209,1.598494,6.664774,12.581043,4.528139,112.418012,2.190572,3.447950,8.796498,0.500014
min,0.0,-2.800000,0.000000,-10.600000,-1.000000,981.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,0.0,19.400000,2.000000,14.400000,0.000000,1015.300000,60.000000,2.100000,4.000000,8.000000,2017.000000
50%,0.0,23.900000,2.975945,19.400000,0.000000,1017.929754,140.000000,3.100000,7.000000,16.000000,2017.500000
75%,0.0,26.700000,4.000000,22.800000,0.000000,1020.300000,240.000000,4.600000,10.000000,23.000000,2018.000000
max,0.0,35.000000,9.000000,26.700000,597.000000,1036.300000,360.000000,24.200000,12.000000,31.000000,2018.000000

# wind_speed site_id=1

In [482]:
weather_wind_speed1=wind_dir_filled[wind_dir_filled['site_id']==1]

In [483]:
weather_wind_speed1.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17287.0,17287.000000,17287.000000,17287.000000,17287.0,17287.000000,17287.000000,17287.000000,17287.000000,17287.000000,17287.000000
mean,1.0,12.169638,0.047316,7.543412,0.0,1015.639450,198.876866,4.037467,6.478105,15.677793,2017.493666
std,0.0,6.478613,0.297596,4.959083,0.0,10.102659,94.305680,2.137726,3.441478,8.838987,0.499974
min,1.0,-5.000000,0.000000,-9.600000,0.0,972.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,1.0,7.500000,0.047316,4.100000,0.0,1010.100000,130.000000,2.600000,4.000000,8.000000,2017.000000
50%,1.0,11.800000,0.047316,8.000000,0.0,1016.700000,220.000000,3.600000,6.000000,16.000000,2017.000000
75%,1.0,16.600000,0.047316,11.300000,0.0,1022.400000,270.000000,5.100000,9.000000,23.000000,2018.000000
max,1.0,34.400000,9.000000,19.900000,0.0,1039.600000,360.000000,18.500000,12.000000,31.000000,2018.000000

# wind_speed site_id=2

In [484]:
weather_wind_speed2=wind_dir_filled[wind_dir_filled['site_id']==2]

In [485]:
weather_wind_speed2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17511.000000,17520.000000,17520.000000,17520.000000
mean,2.0,24.975422,2.150393,3.817747,0.154123,1011.315251,154.057083,2.883268,6.526027,15.720548,2017.500000
std,0.0,9.317476,1.603817,8.326501,3.160123,5.308259,100.235142,1.919632,3.447950,8.796498,0.500014
min,2.0,2.200000,0.000000,-22.200000,-1.000000,996.100000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,2.0,17.200000,2.000000,-2.200000,0.000000,1007.400000,90.000000,1.500000,4.000000,8.000000,2017.000000
50%,2.0,25.000000,2.150393,2.800000,0.000000,1010.600000,140.000000,2.600000,7.000000,16.000000,2017.500000
75%,2.0,32.350000,2.150393,9.400000,0.000000,1014.800000,250.000000,3.600000,10.000000,23.000000,2018.000000
max,2.0,48.300000,8.000000,24.400000,234.000000,1032.200000,360.000000,21.100000,12.000000,31.000000,2018.000000

In [486]:
weather_wind_speed2_mean=weather_wind_speed2['wind_speed'].mean()
weather_wind_speed2['wind_speed'].fillna(weather_wind_speed2_mean,inplace=True)

In [487]:
weather_wind_speed2_mean

2.8832676603271263

In [488]:
weather_wind_speed2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000
mean,2.0,24.975422,2.150393,3.817747,0.154123,1011.315251,154.057083,2.883268,6.526027,15.720548,2017.500000
std,0.0,9.317476,1.603817,8.326501,3.160123,5.308259,100.235142,1.919139,3.447950,8.796498,0.500014
min,2.0,2.200000,0.000000,-22.200000,-1.000000,996.100000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,2.0,17.200000,2.000000,-2.200000,0.000000,1007.400000,90.000000,1.500000,4.000000,8.000000,2017.000000
50%,2.0,25.000000,2.150393,2.800000,0.000000,1010.600000,140.000000,2.600000,7.000000,16.000000,2017.500000
75%,2.0,32.350000,2.150393,9.400000,0.000000,1014.800000,250.000000,3.600000,10.000000,23.000000,2018.000000
max,2.0,48.300000,8.000000,24.400000,234.000000,1032.200000,360.000000,21.100000,12.000000,31.000000,2018.000000

# wind_speed site_id=3

In [489]:
weather_wind_speed3=wind_dir_filled[wind_dir_filled['site_id']==3]

In [490]:
weather_wind_speed3.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17517.0,17517.000000,17517.000000,17517.000000,17517.000000,17517.000000,17517.000000,17509.000000,17517.000000,17517.000000,17517.000000
mean,3.0,15.493468,4.185599,8.365588,0.998111,1018.109089,183.912540,3.902696,6.526403,15.720843,2017.499971
std,0.0,9.853229,2.039558,10.981546,8.191122,7.457542,110.850325,2.253526,3.447723,8.796502,0.500014
min,3.0,-12.800000,0.000000,-22.200000,-1.000000,988.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,3.0,7.200000,4.000000,0.000000,0.000000,1013.500000,90.000000,2.600000,4.000000,8.000000,2017.000000
50%,3.0,16.100000,4.185599,10.000000,0.000000,1018.000000,183.912540,3.600000,7.000000,16.000000,2017.000000
75%,3.0,23.900000,4.185599,18.300000,0.000000,1022.400000,290.000000,5.100000,10.000000,23.000000,2018.000000
max,3.0,36.100000,9.000000,26.700000,345.000000,1043.700000,360.000000,19.600000,12.000000,31.000000,2018.000000

In [491]:
weather_wind_speed3_mean=weather_wind_speed3['wind_speed'].mean()
weather_wind_speed3['wind_speed'].fillna(weather_wind_speed3_mean,inplace=True)

In [492]:
weather_wind_speed3_mean

3.9026957564674234

In [493]:
weather_wind_speed3.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17517.0,17517.000000,17517.000000,17517.000000,17517.000000,17517.000000,17517.000000,17517.000000,17517.000000,17517.000000,17517.000000
mean,3.0,15.493468,4.185599,8.365588,0.998111,1018.109089,183.912540,3.902696,6.526403,15.720843,2017.499971
std,0.0,9.853229,2.039558,10.981546,8.191122,7.457542,110.850325,2.253011,3.447723,8.796502,0.500014
min,3.0,-12.800000,0.000000,-22.200000,-1.000000,988.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,3.0,7.200000,4.000000,0.000000,0.000000,1013.500000,90.000000,2.600000,4.000000,8.000000,2017.000000
50%,3.0,16.100000,4.185599,10.000000,0.000000,1018.000000,183.912540,3.600000,7.000000,16.000000,2017.000000
75%,3.0,23.900000,4.185599,18.300000,0.000000,1022.400000,290.000000,5.100000,10.000000,23.000000,2018.000000
max,3.0,36.100000,9.000000,26.700000,345.000000,1043.700000,360.000000,19.600000,12.000000,31.000000,2018.000000

# wind_speed site_id=4

In [494]:
weather_wind_speed4=wind_dir_filled[wind_dir_filled['site_id']==4]

In [495]:
weather_wind_speed4.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17516.0,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000
mean,4.0,14.469131,1.833333,9.804140,0.523210,1016.752308,204.333988,3.753751,6.527004,15.721569,2017.499943
std,0.0,4.333985,1.023824,4.107101,3.983073,4.851610,111.853234,2.539411,3.447583,8.795293,0.500014
min,4.0,0.000000,0.000000,-12.200000,-1.000000,987.300000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,4.0,11.700000,1.833333,7.800000,0.000000,1013.600000,120.000000,2.100000,4.000000,8.000000,2017.000000
50%,4.0,14.400000,1.833333,10.600000,0.000000,1016.300000,260.000000,3.600000,7.000000,16.000000,2017.000000
75%,4.0,17.200000,2.000000,12.800000,0.000000,1019.700000,290.000000,5.700000,10.000000,23.000000,2018.000000
max,4.0,38.300000,9.000000,19.400000,130.000000,1035.900000,360.000000,18.000000,12.000000,31.000000,2018.000000

In [496]:
weather_wind_speed4_mean=weather_wind_speed4['wind_speed'].mean()
weather_wind_speed4['wind_speed'].fillna(weather_wind_speed4_mean,inplace=True)

In [497]:
weather_wind_speed4_mean

3.7537508563591335

In [498]:
weather_wind_speed4.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17516.0,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000
mean,4.0,14.469131,1.833333,9.804140,0.523210,1016.752308,204.333988,3.753751,6.527004,15.721569,2017.499943
std,0.0,4.333985,1.023824,4.107101,3.983073,4.851610,111.853234,2.539411,3.447583,8.795293,0.500014
min,4.0,0.000000,0.000000,-12.200000,-1.000000,987.300000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,4.0,11.700000,1.833333,7.800000,0.000000,1013.600000,120.000000,2.100000,4.000000,8.000000,2017.000000
50%,4.0,14.400000,1.833333,10.600000,0.000000,1016.300000,260.000000,3.600000,7.000000,16.000000,2017.000000
75%,4.0,17.200000,2.000000,12.800000,0.000000,1019.700000,290.000000,5.700000,10.000000,23.000000,2018.000000
max,4.0,38.300000,9.000000,19.400000,130.000000,1035.900000,360.000000,18.000000,12.000000,31.000000,2018.000000

# wind_speed site_id=5

In [499]:
weather_wind_speed5=wind_dir_filled[wind_dir_filled['site_id']==5]

In [500]:
weather_wind_speed5.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17241.0,17241.000000,17241.000000,17241.000000,17241.0,17241.0,17241.000000,17240.000000,17241.000000,17241.000000,17241.000000
mean,5.0,11.155443,0.433514,8.433527,0.0,0.0,209.924578,4.886265,6.476712,15.671481,2017.492779
std,0.0,5.379051,1.126972,4.831054,0.0,0.0,94.937855,2.430906,3.443165,8.840365,0.499962
min,5.0,-6.000000,0.000000,-13.000000,0.0,0.0,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,5.0,7.000000,0.000000,5.000000,0.0,0.0,120.000000,3.100000,3.000000,8.000000,2017.000000
50%,5.0,11.000000,0.433514,9.000000,0.0,0.0,250.000000,4.600000,6.000000,16.000000,2017.000000
75%,5.0,15.000000,0.433514,12.000000,0.0,0.0,280.000000,6.200000,9.000000,23.000000,2018.000000
max,5.0,30.000000,9.000000,20.000000,0.0,0.0,360.000000,16.500000,12.000000,31.000000,2018.000000

In [501]:
weather_wind_speed5_mean=weather_wind_speed5['wind_speed'].mean()
weather_wind_speed5['wind_speed'].fillna(weather_wind_speed5_mean,inplace=True)

In [502]:
weather_wind_speed5_mean

4.886264501160132

In [503]:
weather_wind_speed5.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17241.0,17241.000000,17241.000000,17241.000000,17241.0,17241.0,17241.000000,17241.000000,17241.000000,17241.000000,17241.000000
mean,5.0,11.155443,0.433514,8.433527,0.0,0.0,209.924578,4.886265,6.476712,15.671481,2017.492779
std,0.0,5.379051,1.126972,4.831054,0.0,0.0,94.937855,2.430836,3.443165,8.840365,0.499962
min,5.0,-6.000000,0.000000,-13.000000,0.0,0.0,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,5.0,7.000000,0.000000,5.000000,0.0,0.0,120.000000,3.100000,3.000000,8.000000,2017.000000
50%,5.0,11.000000,0.433514,9.000000,0.0,0.0,250.000000,4.600000,6.000000,16.000000,2017.000000
75%,5.0,15.000000,0.433514,12.000000,0.0,0.0,280.000000,6.200000,9.000000,23.000000,2018.000000
max,5.0,30.000000,9.000000,20.000000,0.0,0.0,360.000000,16.500000,12.000000,31.000000,2018.000000

# wind_speed site_id=6

In [504]:
weather_wind_speed6=wind_dir_filled[wind_dir_filled['site_id']==6]

In [505]:
weather_wind_speed6.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17504.0,17504.000000,17504.000000,17504.000000,17504.000000,17504.000000,17504.000000,17453.000000,17504.000000,17504.000000,17504.000000
mean,6.0,15.235606,0.698623,7.866326,1.146048,1017.578311,127.857942,2.256947,6.525480,15.722006,2017.499714
std,0.0,9.761678,1.309143,11.178351,8.742044,7.214486,113.914939,1.895758,3.447624,8.796438,0.500014
min,6.0,-16.100000,0.000000,-23.900000,-1.000000,986.800000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,6.0,7.200000,0.000000,-1.100000,0.000000,1013.200000,0.000000,0.000000,4.000000,8.000000,2017.000000
50%,6.0,16.100000,0.000000,10.000000,0.000000,1017.500000,127.857942,2.100000,7.000000,16.000000,2017.000000
75%,6.0,23.300000,0.698623,17.800000,0.000000,1021.800000,200.000000,3.600000,10.000000,23.000000,2018.000000
max,6.0,36.700000,9.000000,26.100000,287.000000,1042.700000,360.000000,15.400000,12.000000,31.000000,2018.000000

In [506]:
weather_wind_speed6_mean=weather_wind_speed6['wind_speed'].mean()
weather_wind_speed6['wind_speed'].fillna(weather_wind_speed6_mean,inplace=True)

In [507]:
weather_wind_speed6_mean

2.25694722970225

In [508]:
weather_wind_speed6.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17504.0,17504.000000,17504.000000,17504.000000,17504.000000,17504.000000,17504.000000,17504.000000,17504.000000,17504.000000,17504.000000
mean,6.0,15.235606,0.698623,7.866326,1.146048,1017.578311,127.857942,2.256947,6.525480,15.722006,2017.499714
std,0.0,9.761678,1.309143,11.178351,8.742044,7.214486,113.914939,1.892994,3.447624,8.796438,0.500014
min,6.0,-16.100000,0.000000,-23.900000,-1.000000,986.800000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,6.0,7.200000,0.000000,-1.100000,0.000000,1013.200000,0.000000,0.000000,4.000000,8.000000,2017.000000
50%,6.0,16.100000,0.000000,10.000000,0.000000,1017.500000,127.857942,2.100000,7.000000,16.000000,2017.000000
75%,6.0,23.300000,0.698623,17.800000,0.000000,1021.800000,200.000000,3.600000,10.000000,23.000000,2018.000000
max,6.0,36.700000,9.000000,26.100000,287.000000,1042.700000,360.000000,15.400000,12.000000,31.000000,2018.000000

# wind_speed site_id=7

In [509]:
weather_wind_speed7=wind_dir_filled[wind_dir_filled['site_id']==7]

In [510]:
weather_wind_speed7.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,16573.0,16573.000000,16573.0,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000
mean,7.0,7.407512,0.0,2.106609,11.808013,1015.776287,205.988415,3.362167,6.447113,15.618295,2017.502444
std,0.0,12.211686,0.0,11.608555,6.981134,8.848635,101.454919,1.986871,3.401939,8.889502,0.500009
min,7.0,-28.100000,0.0,-31.600000,2.000000,973.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,7.0,-1.100000,0.0,-6.000000,11.808013,1010.200000,100.000000,2.100000,4.000000,8.000000,2017.000000
50%,7.0,7.700000,0.0,2.400000,11.808013,1015.600000,220.000000,3.100000,6.000000,15.000000,2018.000000
75%,7.0,17.800000,0.0,11.800000,11.808013,1021.300000,290.000000,4.600000,9.000000,23.000000,2018.000000
max,7.0,34.700000,0.0,24.600000,278.000000,1045.000000,360.000000,14.900000,12.000000,31.000000,2018.000000

In [511]:
weather_wind_speed7_mean=weather_wind_speed7['wind_speed'].mean()
weather_wind_speed7['wind_speed'].fillna(weather_wind_speed7_mean,inplace=True)

In [512]:
weather_wind_speed7_mean

3.362167380678694

In [513]:
weather_wind_speed7.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,16573.0,16573.000000,16573.0,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000
mean,7.0,7.407512,0.0,2.106609,11.808013,1015.776287,205.988415,3.362167,6.447113,15.618295,2017.502444
std,0.0,12.211686,0.0,11.608555,6.981134,8.848635,101.454919,1.986871,3.401939,8.889502,0.500009
min,7.0,-28.100000,0.0,-31.600000,2.000000,973.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,7.0,-1.100000,0.0,-6.000000,11.808013,1010.200000,100.000000,2.100000,4.000000,8.000000,2017.000000
50%,7.0,7.700000,0.0,2.400000,11.808013,1015.600000,220.000000,3.100000,6.000000,15.000000,2018.000000
75%,7.0,17.800000,0.0,11.800000,11.808013,1021.300000,290.000000,4.600000,9.000000,23.000000,2018.000000
max,7.0,34.700000,0.0,24.600000,278.000000,1045.000000,360.000000,14.900000,12.000000,31.000000,2018.000000

# wind_speed site_id=8

In [514]:
weather_wind_speed8=wind_dir_filled[wind_dir_filled['site_id']==8]

In [515]:
weather_wind_speed8.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17518.000000,17520.000000,17520.000000,17520.000000
mean,8.0,22.699104,2.975945,17.660725,1.169297,1017.929754,150.531597,3.399675,6.526027,15.720548,2017.500000
std,0.0,5.822209,1.598494,6.664774,12.581043,4.528139,112.418012,2.190697,3.447950,8.796498,0.500014
min,8.0,-2.800000,0.000000,-10.600000,-1.000000,981.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,8.0,19.400000,2.000000,14.400000,0.000000,1015.300000,60.000000,2.100000,4.000000,8.000000,2017.000000
50%,8.0,23.900000,2.975945,19.400000,0.000000,1017.929754,140.000000,3.100000,7.000000,16.000000,2017.500000
75%,8.0,26.700000,4.000000,22.800000,0.000000,1020.300000,240.000000,4.600000,10.000000,23.000000,2018.000000
max,8.0,35.000000,9.000000,26.700000,597.000000,1036.300000,360.000000,24.200000,12.000000,31.000000,2018.000000

In [516]:
weather_wind_speed8_mean=weather_wind_speed8['wind_speed'].mean()
weather_wind_speed8['wind_speed'].fillna(weather_wind_speed8_mean,inplace=True)

In [517]:
weather_wind_speed8_mean

3.3996746203896913

In [518]:
weather_wind_speed8.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17520.0,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000
mean,8.0,22.699104,2.975945,17.660725,1.169297,1017.929754,150.531597,3.399675,6.526027,15.720548,2017.500000
std,0.0,5.822209,1.598494,6.664774,12.581043,4.528139,112.418012,2.190572,3.447950,8.796498,0.500014
min,8.0,-2.800000,0.000000,-10.600000,-1.000000,981.000000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,8.0,19.400000,2.000000,14.400000,0.000000,1015.300000,60.000000,2.100000,4.000000,8.000000,2017.000000
50%,8.0,23.900000,2.975945,19.400000,0.000000,1017.929754,140.000000,3.100000,7.000000,16.000000,2017.500000
75%,8.0,26.700000,4.000000,22.800000,0.000000,1020.300000,240.000000,4.600000,10.000000,23.000000,2018.000000
max,8.0,35.000000,9.000000,26.700000,597.000000,1036.300000,360.000000,24.200000,12.000000,31.000000,2018.000000

# wind_speed site_id=9

In [519]:
weather_wind_speed9=wind_dir_filled[wind_dir_filled['site_id']==9]

In [520]:
weather_wind_speed9.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17481.0,17481.000000,17481.000000,17481.000000,17481.000000,17481.000000,17481.000000,17228.000000,17481.000000,17481.000000,17481.000000
mean,9.0,21.303994,0.582447,13.460350,0.786026,1016.293263,126.860099,2.194120,6.520966,15.720725,2017.499514
std,0.0,8.618335,1.025296,8.426519,9.096148,6.338719,98.243150,1.509227,3.446490,8.797683,0.500014
min,9.0,-7.800000,0.000000,-16.100000,-1.000000,995.700000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,9.0,15.600000,0.000000,7.800000,0.000000,1012.200000,20.000000,1.500000,4.000000,8.000000,2017.000000
50%,9.0,22.800000,0.582447,16.700000,0.000000,1015.500000,126.860099,2.100000,7.000000,16.000000,2017.000000
75%,9.0,27.200000,0.582447,20.000000,0.000000,1019.700000,170.000000,3.100000,10.000000,23.000000,2018.000000
max,9.0,42.800000,9.000000,25.600000,363.000000,1043.800000,360.000000,9.300000,12.000000,31.000000,2018.000000

In [521]:
weather_wind_speed9_mean=weather_wind_speed9['wind_speed'].mean()
weather_wind_speed9['wind_speed'].fillna(weather_wind_speed9_mean,inplace=True)

In [522]:
weather_wind_speed9_mean

2.1941200371483993

In [523]:
weather_wind_speed9.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17481.0,17481.000000,17481.000000,17481.000000,17481.000000,17481.000000,17481.000000,17481.000000,17481.000000,17481.000000,17481.000000
mean,9.0,21.303994,0.582447,13.460350,0.786026,1016.293263,126.860099,2.194120,6.520966,15.720725,2017.499514
std,0.0,8.618335,1.025296,8.426519,9.096148,6.338719,98.243150,1.498265,3.446490,8.797683,0.500014
min,9.0,-7.800000,0.000000,-16.100000,-1.000000,995.700000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,9.0,15.600000,0.000000,7.800000,0.000000,1012.200000,20.000000,1.500000,4.000000,8.000000,2017.000000
50%,9.0,22.800000,0.582447,16.700000,0.000000,1015.500000,126.860099,2.100000,7.000000,16.000000,2017.000000
75%,9.0,27.200000,0.582447,20.000000,0.000000,1019.700000,170.000000,3.100000,10.000000,23.000000,2018.000000
max,9.0,42.800000,9.000000,25.600000,363.000000,1043.800000,360.000000,9.300000,12.000000,31.000000,2018.000000

# wind_speed site_id=10

In [524]:
weather_wind_speed10=wind_dir_filled[wind_dir_filled['site_id']==10]

In [525]:
weather_wind_speed10.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17476.0,17476.000000,17476.000000,17476.000000,17476.000000,17476.000000,17476.000000,17384.000000,17476.000000,17476.00000,17476.000000
mean,10.0,11.734274,0.319781,-0.498615,0.301296,1015.426970,183.209373,3.072463,6.518654,15.71046,2017.499714
std,0.0,11.235452,0.961948,5.752474,2.755533,8.167215,99.649937,2.005543,3.444545,8.79012,0.500014
min,10.0,-19.400000,0.000000,-23.900000,-1.000000,988.700000,0.000000,0.000000,1.000000,1.00000,2017.000000
25%,10.0,2.800000,0.000000,-4.400000,0.000000,1010.000000,160.000000,2.100000,4.000000,8.00000,2017.000000
50%,10.0,10.600000,0.000000,-0.600000,0.000000,1014.400000,180.000000,3.100000,7.000000,16.00000,2017.000000
75%,10.0,20.600000,0.319781,3.300000,0.000000,1020.300000,250.000000,4.100000,10.000000,23.00000,2018.000000
max,10.0,38.300000,9.000000,17.200000,102.000000,1050.100000,360.000000,17.000000,12.000000,31.00000,2018.000000

In [526]:
weather_wind_speed10_mean=weather_wind_speed10['wind_speed'].mean()
weather_wind_speed10['wind_speed'].fillna(weather_wind_speed10_mean,inplace=True)

In [527]:
weather_wind_speed10_mean

3.0724631845368098

In [528]:
weather_wind_speed10.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17476.0,17476.000000,17476.000000,17476.000000,17476.000000,17476.000000,17476.000000,17476.000000,17476.000000,17476.00000,17476.000000
mean,10.0,11.734274,0.319781,-0.498615,0.301296,1015.426970,183.209373,3.072463,6.518654,15.71046,2017.499714
std,0.0,11.235452,0.961948,5.752474,2.755533,8.167215,99.649937,2.000256,3.444545,8.79012,0.500014
min,10.0,-19.400000,0.000000,-23.900000,-1.000000,988.700000,0.000000,0.000000,1.000000,1.00000,2017.000000
25%,10.0,2.800000,0.000000,-4.400000,0.000000,1010.000000,160.000000,2.100000,4.000000,8.00000,2017.000000
50%,10.0,10.600000,0.000000,-0.600000,0.000000,1014.400000,180.000000,3.100000,7.000000,16.00000,2017.000000
75%,10.0,20.600000,0.319781,3.300000,0.000000,1020.300000,250.000000,4.100000,10.000000,23.00000,2018.000000
max,10.0,38.300000,9.000000,17.200000,102.000000,1050.100000,360.000000,17.000000,12.000000,31.00000,2018.000000

# wind_speed site_id=11

In [529]:
weather_wind_speed11=wind_dir_filled[wind_dir_filled['site_id']==11]

In [530]:
weather_wind_speed11.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,16573.0,16573.000000,16573.0,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000,16573.000000
mean,11.0,7.407512,0.0,2.106609,11.808013,1015.776287,205.988415,3.362167,6.447113,15.618295,2017.502444
std,0.0,12.211686,0.0,11.608555,6.981134,8.848635,101.454919,1.986871,3.401939,8.889502,0.500009
min,11.0,-28.100000,0.0,-31.600000,2.000000,973.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,11.0,-1.100000,0.0,-6.000000,11.808013,1010.200000,100.000000,2.100000,4.000000,8.000000,2017.000000
50%,11.0,7.700000,0.0,2.400000,11.808013,1015.600000,220.000000,3.100000,6.000000,15.000000,2018.000000
75%,11.0,17.800000,0.0,11.800000,11.808013,1021.300000,290.000000,4.600000,9.000000,23.000000,2018.000000
max,11.0,34.700000,0.0,24.600000,278.000000,1045.000000,360.000000,14.900000,12.000000,31.000000,2018.000000

# wind_speed site_id=12

In [531]:
weather_wind_speed12=wind_dir_filled[wind_dir_filled['site_id']==12]

In [532]:
weather_wind_speed12.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17279.0,17279.000000,17279.000000,17279.000000,17279.0,17279.000000,17279.000000,17279.000000,17279.000000,17279.000000,17279.000000
mean,12.0,10.017796,5.645881,6.781289,0.0,1013.811542,209.343019,5.485092,6.477285,15.673997,2017.493605
std,0.0,5.186032,2.274425,4.500680,0.0,11.647678,80.129194,2.682558,3.441715,8.838032,0.499974
min,12.0,-4.800000,0.000000,-8.600000,0.0,973.700000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,12.0,6.400000,4.000000,3.500000,0.0,1006.700000,150.000000,4.000000,4.000000,8.000000,2017.000000
50%,12.0,10.100000,7.000000,7.100000,0.0,1015.200000,230.000000,5.000000,6.000000,16.000000,2017.000000
75%,12.0,13.700000,7.000000,10.000000,0.0,1021.800000,260.000000,7.000000,9.000000,23.000000,2018.000000
max,12.0,26.300000,9.000000,18.800000,0.0,1041.500000,360.000000,23.000000,12.000000,31.000000,2018.000000

In [533]:
weather_wind_speed12_mean=weather_wind_speed12['wind_speed'].mean()
weather_wind_speed12['wind_speed'].fillna(weather_wind_speed12_mean,inplace=True)

In [534]:
weather_wind_speed12_mean

5.485091729845478

In [535]:
weather_wind_speed12.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17279.0,17279.000000,17279.000000,17279.000000,17279.0,17279.000000,17279.000000,17279.000000,17279.000000,17279.000000,17279.000000
mean,12.0,10.017796,5.645881,6.781289,0.0,1013.811542,209.343019,5.485092,6.477285,15.673997,2017.493605
std,0.0,5.186032,2.274425,4.500680,0.0,11.647678,80.129194,2.682558,3.441715,8.838032,0.499974
min,12.0,-4.800000,0.000000,-8.600000,0.0,973.700000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,12.0,6.400000,4.000000,3.500000,0.0,1006.700000,150.000000,4.000000,4.000000,8.000000,2017.000000
50%,12.0,10.100000,7.000000,7.100000,0.0,1015.200000,230.000000,5.000000,6.000000,16.000000,2017.000000
75%,12.0,13.700000,7.000000,10.000000,0.0,1021.800000,260.000000,7.000000,9.000000,23.000000,2018.000000
max,12.0,26.300000,9.000000,18.800000,0.0,1041.500000,360.000000,23.000000,12.000000,31.000000,2018.000000

# wind_speed site_id=13

In [536]:
weather_wind_speed13=wind_dir_filled[wind_dir_filled['site_id']==13]

In [537]:
weather_wind_speed13.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17519.0,17519.000000,17519.000000,17519.000000,17519.000000,17519.000000,17519.000000,17517.000000,17519.000000,17519.000000,17519.000000
mean,13.0,8.732608,2.730284,2.553845,0.771854,1016.692966,186.965364,4.069772,6.525829,15.719904,2017.500029
std,0.0,12.879347,1.954418,11.839649,7.111564,8.288079,109.463467,2.243461,3.447948,8.796336,0.500014
min,13.0,-26.100000,0.000000,-30.000000,-1.000000,987.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,13.0,-1.100000,2.000000,-5.800000,0.000000,1011.500000,110.000000,2.600000,4.000000,8.000000,2017.000000
50%,13.0,8.900000,2.730284,2.200000,0.000000,1016.300000,186.965364,3.600000,7.000000,16.000000,2018.000000
75%,13.0,20.000000,2.730284,13.300000,0.000000,1021.200000,290.000000,5.700000,10.000000,23.000000,2018.000000
max,13.0,37.800000,9.000000,25.600000,434.000000,1046.500000,360.000000,17.000000,12.000000,31.000000,2018.000000

In [538]:
weather_wind_speed13_mean=weather_wind_speed13['wind_speed'].mean()
weather_wind_speed13['wind_speed'].fillna(weather_wind_speed13_mean,inplace=True)

In [539]:
weather_wind_speed13_mean

4.069772221270249

In [540]:
weather_wind_speed13.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17519.0,17519.000000,17519.000000,17519.000000,17519.000000,17519.000000,17519.000000,17519.000000,17519.000000,17519.000000,17519.000000
mean,13.0,8.732608,2.730284,2.553845,0.771854,1016.692966,186.965364,4.069772,6.525829,15.719904,2017.500029
std,0.0,12.879347,1.954418,11.839649,7.111564,8.288079,109.463467,2.243333,3.447948,8.796336,0.500014
min,13.0,-26.100000,0.000000,-30.000000,-1.000000,987.200000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,13.0,-1.100000,2.000000,-5.800000,0.000000,1011.500000,110.000000,2.600000,4.000000,8.000000,2017.000000
50%,13.0,8.900000,2.730284,2.200000,0.000000,1016.300000,186.965364,3.600000,7.000000,16.000000,2018.000000
75%,13.0,20.000000,2.730284,13.300000,0.000000,1021.200000,290.000000,5.700000,10.000000,23.000000,2018.000000
max,13.0,37.800000,9.000000,25.600000,434.000000,1046.500000,360.000000,17.000000,12.000000,31.000000,2018.000000

# wind_speed site_id=14

In [541]:
weather_wind_speed14=wind_dir_filled[wind_dir_filled['site_id']==14]

In [542]:
weather_wind_speed14.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17516.0,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000,17488.000000,17516.000000,17516.000000,17516.000000
mean,14.0,13.035115,0.724156,6.831649,1.179078,1016.724179,183.196971,3.112992,6.526433,15.721226,2017.499943
std,0.0,10.241496,1.299246,10.971421,9.057952,7.851439,119.597947,2.068353,3.447769,8.795516,0.500014
min,14.0,-17.200000,0.000000,-26.100000,-1.000000,982.600000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,14.0,5.000000,0.000000,-2.200000,0.000000,1012.100000,70.000000,1.500000,4.000000,8.000000,2017.000000
50%,14.0,13.300000,0.724156,7.800000,0.000000,1016.700000,200.000000,3.100000,7.000000,16.000000,2017.000000
75%,14.0,21.700000,0.724156,16.700000,0.000000,1021.400000,290.000000,4.100000,10.000000,23.000000,2018.000000
max,14.0,35.600000,9.000000,25.600000,394.000000,1043.400000,360.000000,13.400000,12.000000,31.000000,2018.000000

In [543]:
weather_wind_speed14_mean=weather_wind_speed14['wind_speed'].mean()
weather_wind_speed14['wind_speed'].fillna(weather_wind_speed14_mean,inplace=True)

In [544]:
weather_wind_speed14_mean

3.112991765781565

In [545]:
weather_wind_speed14.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17516.0,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000,17516.000000
mean,14.0,13.035115,0.724156,6.831649,1.179078,1016.724179,183.196971,3.112992,6.526433,15.721226,2017.499943
std,0.0,10.241496,1.299246,10.971421,9.057952,7.851439,119.597947,2.066699,3.447769,8.795516,0.500014
min,14.0,-17.200000,0.000000,-26.100000,-1.000000,982.600000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,14.0,5.000000,0.000000,-2.200000,0.000000,1012.100000,70.000000,1.500000,4.000000,8.000000,2017.000000
50%,14.0,13.300000,0.724156,7.800000,0.000000,1016.700000,200.000000,3.100000,7.000000,16.000000,2017.000000
75%,14.0,21.700000,0.724156,16.700000,0.000000,1021.400000,290.000000,4.100000,10.000000,23.000000,2018.000000
max,14.0,35.600000,9.000000,25.600000,394.000000,1043.400000,360.000000,13.400000,12.000000,31.000000,2018.000000

# wind_speed site_id=15

In [546]:
weather_wind_speed15=wind_dir_filled[wind_dir_filled['site_id']==15]

In [547]:
weather_wind_speed15.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17201.0,17201.000000,17201.000000,17201.000000,17201.000000,17201.000000,17201.000000,17189.000000,17201.000000,17201.000000,17201.000000
mean,15.0,8.942191,1.082078,4.695881,3.335574,1017.295521,186.709004,3.606830,6.503168,15.677402,2017.504680
std,0.0,10.804599,1.126459,10.523600,6.625860,7.648406,107.347423,2.357661,3.440644,8.815192,0.499993
min,15.0,-21.700000,0.000000,-23.900000,-1.000000,984.500000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,15.0,0.600000,0.000000,-3.900000,3.335574,1012.900000,120.000000,2.100000,4.000000,8.000000,2017.000000
50%,15.0,9.000000,1.082078,5.600000,3.335574,1017.295521,180.000000,3.100000,7.000000,16.000000,2018.000000
75%,15.0,17.800000,1.082078,13.900000,3.335574,1022.000000,290.000000,5.100000,9.000000,23.000000,2018.000000
max,15.0,34.400000,9.000000,23.900000,442.000000,1044.600000,360.000000,14.900000,12.000000,31.000000,2018.000000

In [548]:
weather_wind_speed15_mean=weather_wind_speed15['wind_speed'].mean()
weather_wind_speed15['wind_speed'].fillna(weather_wind_speed15_mean,inplace=True)

In [549]:
weather_wind_speed15_mean

3.6068299493854394

In [550]:
weather_wind_speed15.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,17201.0,17201.000000,17201.000000,17201.000000,17201.000000,17201.000000,17201.000000,17201.000000,17201.000000,17201.000000,17201.000000
mean,15.0,8.942191,1.082078,4.695881,3.335574,1017.295521,186.709004,3.606830,6.503168,15.677402,2017.504680
std,0.0,10.804599,1.126459,10.523600,6.625860,7.648406,107.347423,2.356839,3.440644,8.815192,0.499993
min,15.0,-21.700000,0.000000,-23.900000,-1.000000,984.500000,0.000000,0.000000,1.000000,1.000000,2017.000000
25%,15.0,0.600000,0.000000,-3.900000,3.335574,1012.900000,120.000000,2.100000,4.000000,8.000000,2017.000000
50%,15.0,9.000000,1.082078,5.600000,3.335574,1017.295521,180.000000,3.100000,7.000000,16.000000,2018.000000
75%,15.0,17.800000,1.082078,13.900000,3.335574,1022.000000,290.000000,5.100000,9.000000,23.000000,2018.000000
max,15.0,34.400000,9.000000,23.900000,442.000000,1044.600000,360.000000,14.900000,12.000000,31.000000,2018.000000

# for the final step save the dataset as weather_train2

In [551]:
weather_test2=pd.concat([weather_wind_speed0,weather_wind_speed1,weather_wind_speed2,
                           weather_wind_speed3,weather_wind_speed4,weather_wind_speed5,
                           weather_wind_speed6,weather_wind_speed7,weather_wind_speed8,
                           weather_wind_speed9,weather_wind_speed10,weather_wind_speed11,
                           weather_wind_speed12,weather_wind_speed13,weather_wind_speed14,
                           weather_wind_speed15], axis=0)

In [552]:
weather_test2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,277243.000000,277243.000000,277243.000000,277243.000000,277243.000000,277243.000000,277243.000000,277243.000000,277243.000000,277243.00000,277243.000000
mean,7.484654,14.277772,1.660489,7.488916,2.136486,953.012634,179.012567,3.547194,6.505362,15.69658,2017.499266
std,4.616959,10.740123,2.118598,10.149690,8.162613,245.528662,108.317539,2.315715,3.440583,8.81615,0.500000
min,0.000000,-28.100000,0.000000,-31.600000,-1.000000,0.000000,0.000000,0.000000,1.000000,1.00000,2017.000000
25%,3.000000,7.200000,0.000000,0.600000,0.000000,1010.400000,90.000000,2.100000,4.000000,8.00000,2017.000000
50%,7.000000,15.000000,0.698623,8.400000,0.000000,1015.800000,183.196971,3.100000,7.000000,16.00000,2017.000000
75%,12.000000,22.200000,2.730284,15.000000,0.000000,1020.300000,270.000000,4.600000,9.000000,23.00000,2018.000000
max,15.000000,48.300000,9.000000,26.700000,597.000000,1050.100000,360.000000,24.200000,12.000000,31.00000,2018.000000

In [553]:
weather_test2.head()

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
0,0,2017-01-01 00:00:00,17.8,4.0,11.7,1.169297,1021.4,100.0,3.6,1,1,2017
1,0,2017-01-01 01:00:00,17.8,2.0,12.8,0.000000,1022.0,130.0,3.1,1,1,2017
2,0,2017-01-01 02:00:00,16.1,0.0,12.8,0.000000,1021.9,140.0,3.1,1,1,2017
3,0,2017-01-01 03:00:00,17.2,0.0,13.3,0.000000,1022.2,140.0,3.1,1,1,2017
4,0,2017-01-01 04:00:00,16.7,2.0,13.3,0.000000,1022.3,130.0,2.6,1,1,2017

In [554]:
# final_save_train=pd.DataFrame({'building_id':train['building_id'],
#                         'meter':train['meter'],
#                         'meter_reading':train['meter_reading'],
#                         'site_id':train['site_id'],
#                         'primary_use':train['primary_use'],
#                         'square_feet':train['square_feet'],
#                       'year_built':train['year_built'],
#                         'floor_count':train['floor_count'],
#                         'air_temperature':train['air_temperature'],
#                         'cloud_coverage':train['cloud_coverage'],
#                         'dew_temperature':train['dew_temperature'],
#                         'precip_depth_1_hr':train['precip_depth_1_hr'],
#                         'sea_level_pressure':train['sea_level_pressure'],
#                         'wind_direction':train['wind_direction'],
#                         'wind_speed':train['wind_speed'],
#                         'month_datetime':train['month_datetime'],
#                         'weekofyear_datetime':train['weekofyear_datetime'],
#                         'dayofyear_datetime':train['dayofyear_datetime'],
#                         'hour_datetime':train['hour_datetime'],
#                         'day_week':train['day_week'],
#                         'day_month_datetime':train['day_month_datetime']})
# final_save_train.head()

In [555]:
weather_test2=pd.DataFrame({
    'site_id':weather_test2['site_id'],
    'timestamp':weather_test2['timestamp'],
    'air_temperature':weather_test2['air_temperature'],
    'cloud_coverage':weather_test2['cloud_coverage'],
    'dew_temperature':weather_test2['cloud_coverage'],
    'precip_depth_1_hr':weather_test2['precip_depth_1_hr'],
    'sea_level_pressure':weather_test2['sea_level_pressure'],
    'wind_direction':weather_test2['wind_direction'],
    'wind_speed':weather_test2['wind_speed'],
    'Month':weather_test2['Month'],
    'Day_date':weather_test2['Day_date'],
    'year':weather_test2['year']
})

weather_test2.head()

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
0,0,2017-01-01 00:00:00,17.8,4.0,4.0,1.169297,1021.4,100.0,3.6,1,1,2017
1,0,2017-01-01 01:00:00,17.8,2.0,2.0,0.000000,1022.0,130.0,3.1,1,1,2017
2,0,2017-01-01 02:00:00,16.1,0.0,0.0,0.000000,1021.9,140.0,3.1,1,1,2017
3,0,2017-01-01 03:00:00,17.2,0.0,0.0,0.000000,1022.2,140.0,3.1,1,1,2017
4,0,2017-01-01 04:00:00,16.7,2.0,2.0,0.000000,1022.3,130.0,2.6,1,1,2017

In [556]:
file_name='weather_test2.csv'
weather_test2.to_csv(file_name,index=False)
print('Saved file:'+file_name)

Saved file:weather_test2.csv

In [557]:
weather_test2.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,Month,Day_date,year
count,277243.000000,277243.000000,277243.000000,277243.000000,277243.000000,277243.000000,277243.000000,277243.000000,277243.000000,277243.00000,277243.000000
mean,7.484654,14.277772,1.660489,1.660489,2.136486,953.012634,179.012567,3.547194,6.505362,15.69658,2017.499266
std,4.616959,10.740123,2.118598,2.118598,8.162613,245.528662,108.317539,2.315715,3.440583,8.81615,0.500000
min,0.000000,-28.100000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,1.000000,1.00000,2017.000000
25%,3.000000,7.200000,0.000000,0.000000,0.000000,1010.400000,90.000000,2.100000,4.000000,8.00000,2017.000000
50%,7.000000,15.000000,0.698623,0.698623,0.000000,1015.800000,183.196971,3.100000,7.000000,16.00000,2017.000000
75%,12.000000,22.200000,2.730284,2.730284,0.000000,1020.300000,270.000000,4.600000,9.000000,23.00000,2018.000000
max,15.000000,48.300000,9.000000,9.000000,597.000000,1050.100000,360.000000,24.200000,12.000000,31.00000,2018.000000